<h2 class="extra-margin-tb-xl survey__title">View Survey Results</h2>
<h3 class="extra-margin-tb-xl survey__subtitle">Check out our <a href="files/Annual-Fatherhood-Survey.pdf" target="_self">full report</a> and read more in   <a href="http://www.telegraph.co.uk/news/2016/08/17/the-nappy-change-gap-how-parenting-preparation-for-new-fathers-i/" target="_blank">  <span class="logo__telegraph"></span></a></h3>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="infographics__people"></div>
    <div class="">
      <span class="survey__percentile">68%</span>
      <p class="survey__info-text">of fathers felt unsupported</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="infographics__pie-one"></div>
    <span class="survey__vs">Vs.</span>
    <div class="">
      <span class="survey__percentile">64%</span>
      <p class="survey__info-text">of high income fathers felt prepared for fatherhood</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="infographics__pie-two"></div>
    <div class="">
      <span class="survey__percentile">46%</span>
      <p class="survey__info-text">of poorer fathers who felt unprepared</p>
    </div>
  </div>
</div>