<h2 class="extra-margin-tb-xl survey__title">View Statistics</h2>
<div class="background--pink content--padded">
  <div class="row">
    <div class="col-md-6">
      <img src="build/images/opinion/unheard-1.png" class="img-responsive" alt="Unheard Statistics" />
    </div>
    <div class="col-md-6">
      <img src="build/images/opinion/unheard-2.png" class="img-responsive" alt="Unheard Statistics" />
    </div>
  </div>
</div>