﻿<h1>How healthy are the GP surgeries in your area?</h1>
<p>Your family's well being is a top priority. Find, rate and read about the best and worst local surgeries.</p>
<%- contentFor('head') %>
<meta name="description" content="Rate & compare GP surgeries with B.heard, the first value comparison site. Find the best service based on patients'
impartial advice on quality">
