.gravatar {
    &__icon {
        // TODO TEST THIS
        @include image-2x($images-path + "generic-avatar", "png", 80px, 80px);
        height: 80px;
        width: 80px;
        border-radius: 40px;

        // move these (below) elsewhere if want to reuse this (these are used on personalinfo page)
        float: left;
        margin-right: 20px;
    }
}

// TODO @JONATHANSMITH I have been using these in a lot of places so refactored to this
// todo we might want to call it something else
.layout-component {

    &__page {
        margin-top: 120px;
    }

    &__title {
        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        font-size: $font-size-h1;

        &--center {
            text-align: center;
        }
    }

    &__subtitle {
        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        font-size: $font-size-h3
    }

    &__box {
        .form-control {
            @include box-shadow(0,0,0,0,$gray-dark,0); // this is overriding bootstrap, maybe better to just remove it
        }

        padding: 35px;
        margin-bottom:75px;
        border-radius: $border-radius-med;

        @include box-shadow();
        border: $boxes-border;

        .table-responsive {
            border: none !important;
        }
    }

    &__side-menu {
        // wonder if it would be better to add BEM classes to the a tags instead...
        // I think it probably would...
        li a {
            background-color: $gray-med;
            border-radius: $border-radius-small;
            padding: 16px;
            margin-bottom: 14px;

            display: block;

            &.active {
                background-color: $gray-light;
            }

            &:hover {
                background-color: $gray-dark;
                cursor: pointer; cursor: hand;
            }
        }
    }
}