.dropdown-menu {
	padding: 0;

	li {

		a {
			padding: 13px;
			
			&:hover {
				background: $gray-lighter;
			}
		}	
	}

	li.active {

		a {
			background-color: #fff;
			color: #000;
		}

		a:hover, a:focus {
			background-color: $gray-lighter;
			color: #000;
		}
	}
}