footer {
	background: #000;
	color: #fff;
	padding: 36px 0;

	.footer--title  {
		color: #fff;
		cursor: pointer;
		font-size:$font-size-h3;
		font-weight: bold;
		line-height: 65px;
		margin: 0;

		@media (min-width: $screen-sm-min) {
			cursor: auto;
		}
	}

	li, a {
		color: #eee;
	}

	span, p, a:hover, a:visited, a:active {
		color: #fff;
	}

	.footer--social {
		list-style-type: none;
		padding: 0;

		li {
			float: left;
			margin-right: 10px;
		}

		.footer--icon {
			@include border-radius(50%);

			display: block;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			border: 1px solid #fff;
			font-size: ceil(($font-size-base * 1)); // ~16px

			&:hover {
				color: $brand-accent;
				border-color: $brand-accent;
			}
		}
	}

	.footer--copyright {
		border: 0;
		padding-top: 30px;
		text-align: center;

		p {
			margin: 0;
		}
	}

	.collapse {
		display: none;

		@media (min-width: $screen-sm-min) {
			display: block;
		}
	}
}
