.header-banner {
    display: flex;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;

    background: no-repeat center left scroll;
    background-size: cover;

    padding: 0 16px;

    &__bubble {
        width: 100%;

        @media (min-width: 420px) {
            width: 420px - 32px;
        }
    }

    // modifier to make the header banner area smaller
    &--small {
        height: 50vh;
        padding: 20px 200px;
    }

    &--large {
        height: 150vh;

        .header-banner__down-arrow {
            @media (max-width: $screen-xs-max) {
                display: none;
            }
        }

        @media (min-width: $screen-sm-min) {
            height: 100vh;
        }
    }

    &--home {
        background-image: url($images-path + "/landing-banners/home/home-banner-background.jpg");
    }

    &--opinion {
        background-image: url($images-path + "header-banners/opinion.jpg");
    }

    &--fatherhood {
        background-image: url($images-path + "opinion/header-banners/fatherhood.jpg");
    }

    &--unheard {
        background-image: url($images-path + "opinion/header-banners/unheard.jpg");
    }

    &--dependability {
        background-image: url($images-path + "opinion/header-banners/dependability.jpg");
    }

    &--see-results {
        background-image: url($images-path + "/landing-banners/seeresults/results-banner.jpg");
    }

    &--about-us {
        background-image: url($images-path + "/landing-banners/home/home-banner-background.jpg");
    }

    &--about-us {
        height: 100vh;

        @media (min-width: $screen-md-min) {
            height: 441px;
        }
    }

    &__down-arrow {
        height: 60px;
        width: 60px;
        background: no-repeat center center scroll;
        background-image: url($images-path + "icons/down-arrow.png");
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto 35px;
    }

    &__buttons-container--fatherhood {
        position: relative;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto 2vh;
        }
    }

    &__button {
        height: 72px;
        width: 72px;
        background: no-repeat center center scroll;
        display:inline-block;

        &-responses {
            background-image: url($images-path + "/opinion/icons/See-responses.png");
        }

        &-research {
            background-image: url($images-path + "/opinion/icons/join-research.png");
        }

        &-results {
            background-image: url($images-path + "/opinion/icons/view-results.png");
        }
        &-video {
            background-image: url($images-path + "/opinion/icons/Video.png");
        }

        &__caption {
            color: #fff;
            font-family: $font-family-crete-round;
            font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
            font-style: italic;
        }
    }
}
