.lp-banner {
	width: 100%;
	overflow: hidden;
  padding-top: 30px;
}

.lpb-container {
  padding-bottom:60px;
  @media (min-width: $screen-xs-min) {
    padding-bottom:100px;
  }
}

.lpb-bubble {
  padding:30px;
  background: #fff;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  color: #1d1d1b;
  position: relative;
  min-height: 310px;

  @media (min-width: $screen-xs-min) {
    padding: 40px;
  }

  @media (min-width: $screen-md-min) {
    min-height: 400px;
  }

    h3 {
      font-family: $font-family-crete-round;
      font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
      font-style: italic;
      font-size: 40px;
      margin:0px;

      @media (min-width: $screen-xs-min) {
        font-size: 60px;
      }
    }

    h6 {
      font-family: $font-family-crete-round;
      font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
      font-style: italic;
      font-size: 20px;
      line-height:24px;
      margin:0px;
      margin-top: 20px;
      color: $brand-accent;
      @media (min-width: $screen-xs-min) {
        font-size: 30px;
        line-height:36px;
      }
    }

    .banner-search-form {
    	padding: 0;
    	margin-top: 36px;
    	height: auto;
    	position: relative;
    	@include clearfix;

    	&.bsf-map {
    		margin-top: 0;
    	}

    	.dropdown-menu {
    		right: 0;
    	}
    }

    .banner-search-button {
      border: 0;
      padding: 12px 14px 10px;
      font-size: 15px;
      line-height: 24px;
      background: none;
      position: absolute;
      right: -4px;
      top: 4px;
      color: $gray;
      @media (min-width: $screen-xs-min) {
        font-size: 25px;
        right: 10px;
        top: 5px;
      }
    }
}

.lpb-bubble::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;

    bottom: -60px;
    left: 60px;
    border-width: 60px 60px 0 0;
    border-radius: 0 0 0 6px;
    @media (min-width: $screen-xs-min) {
      bottom: -100px;
      left: 100px;
      border-width: 100px 100px 0 0;
    }

}

.lpb-base {
  padding-right: 20px;
  float: left;
  padding-top:10px;

  img {
    width: 300px;
  }
}

.lpb-search {
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  border: solid 2px $gray-light;
  width: 100%;

  @media (min-width: $screen-xs-min) {
    font-size: 20px;
  }
  @media (min-width: $screen-md-min) {
    width: 514px;
  }
  @media (min-width: $screen-lg-min) {
    width: 714px;
  }
}

// Sector specific styles
// ======================

// HOME
.lpb-home {
  background: $brand-home;
}
.lpbb-home {
  img {
      content: url('../images/landing-banners/home/home-bubble-image.png');
  }
}

// ENERGY
.lpb-energy {
	background: $brand-energy;
}

.lpbb-energy {
  img {
    content: url('../images/landing-banners/energy/energy-bubble-image.png');
  }
}


// HEALTHCARE
.lpb-healthcare {
  background: $brand-healthcare;
}

.lpbb-healthcare {
  img {
    content: url('../images/landing-banners/healthcare/healthcare-bubble-image.png');
  }
}

// MONEY
.lpb-money {
	background: $brand-money;
}

.lpbb-money {
  img {
    content: url('../images/landing-banners/money/money-bubble-image.png');
  }
}

// EDUCATION
.lpb-education {
	background: $brand-education;
}

.lpbb-education {
  img {
    content: url('../images/landing-banners/education/education-bubble-image.png');
  }

  // DIRTY HACK. VOM VOM
  .banner-search-form {
    margin-top:14px;
  }
}

// INSURANCE
.lpb-insurance {
	background: $brand-insurance;
}

.lpbb-insurance {
  img {
    content: url('../images/landing-banners/insurance/insurance-bubble-image.png');
  }
}

// GOVERNMENT
.lpb-government {
	background: $brand-government;
}

.lpbb-government {
  img {
    content: url('../images/landing-banners/government/government-bubble-image.png');
  }
}

// PHONE
.lpb-phoneandinternet {
	background: $brand-phone;
}

.lpbb-phoneandinternet {
  img {
    content: url('../images/landing-banners/phone/phone-bubble-image.png');
  }
}


// HAVE YOUR SAY
.lpb-haveyoursay {
	background: $brand-home;
  .lpb-container {
    min-height: 400px;
  }
}

.lpbb-haveyoursay {
  min-height:200px;
  img {
    width: 200px;
    content: url('../images/landing-banners/haveyoursay/haveyoursay-bubble-image.png');
  }
}


// FOR COMPANIES
.lpb-forcompanies {
	background: $brand-home;
  .lpb-container {
    min-height: 400px;
  }
}

.lpbb-forcompanies {
  min-height:200px;
  img {
  width: 200px;
    content: url('../images/landing-banners/home/home-bubble-image.png');
  }
}


// CHANGECOINS
.lpb-changecoins {
	background: $brand-home;
}

.lpbb-changecoins {
  img {
    content: url('../images/landing-banners/changecoins/changecoins-bubble-image.png');
  }
}

// NEWS
.lpb-blog {
	background: $brand-home;
}

.lpbb-blog {
  img {
    content: url('../images/landing-banners/news/news-bubble-image.png');
  }
}
