.lp-backimage {
	width: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	@include clearfix;
}

//.lpbi-home {
//    background-image: url('../images/landing-banners/home/NEW-home-banner-large.png');
//    background-size: auto 420px;
//    background-position: 50% 0;
//    background-repeat: repeat-x;
//
//    @media (min-width: $screen-md-min) {
//        background-size: auto 440px;
//    }
//
//    @media (min-width: $screen-lg-min) {
//        background-size: auto 420px;
//    }
//}

// .lpbi-energy {
// 	background-image: url('../images/landing-banners/energy/energybanner.png');
// 	background-size: cover;
// }

// .lpbi-healthcare {
// 	background-image: url('../images/landing-banners/healthcare/healthcarebanner.png');
// 	background-size: cover;
// }

// .lpbi-money {
// 	background-image: url('../images/landing-banners/money/moneybanner.png');
// 	background-size: cover;
// }

// .lpbi-education {
// 	background-image: url('../images/landing-banners/education/educationbanner.png');
// 	background-size: cover;
// }

// .lpbi-insurance {
// 	background-image: url('../images/landing-banners/insurance/insurancebanner.png');
// 	background-size: cover;
// }

// .lpbi-phone {
// 	background-image: url('../images/landing-banners/phone/phonebanner.png');
// 	background-size: cover;
// }

// .lpbi-price {
// 	background-image: url('../images/landing-banners/price/pricebanner.png');
// 	background-size: cover;
// }

// .lpbi-government {
// 	background-image: url('../images/landing-banners/government/governmentbanner.png');
// 	background-size: cover;
// }

// .lpbi-changecoins {
// 	background-image: url('../images/landing-banners/changecoins/changecoinsbanner.png');
// 	background-size: cover;
// }

// .lpbi-aboutus {
// 	background-image: url('../images/landing-banners/aboutus/aboutusbanner_new.png');
// 	background-size: cover;
// }

//.lpbi-blog {
//    background-image: url('../images/landing-banners/blog/blog-background-image2.jpg');
//    background-size: auto;
//    background-position: 50% -350px;
//    background-color: $gray-lightest;
//
//    @media (min-width: $screen-md-min) {
//        background-size: contain;
//
//        &.lpbi-blogpost {
//            background-size: cover;
//        }
//    }
//}

// supplier listing page backgrounds!!!

.energy-suppliers,
.money-products-currentaccounts,
.money-products-savingaccounts,
.money-products-unsecuredloans,
.money-products-creditcards,
.phoneandinternet-suppliers,
*[class^="insurance"],
.insurance-suppliers {
	.banner-container {
		width: 100%;
		padding: 70px 0 20px;
		background-size: cover;
	}
}

.energy-suppliers .banner-container {
	background-image: url("../images/landing-banners/energy/energy-banner-background.jpg");
}

.money-products-currentaccounts, .money-products-savingaccounts, .money-products-unsecuredloans, .money-products-creditcards {
	.banner-container {
		background-image: url('../images/landing-banners/money/money-banner-background.jpg');
	}
}

.phoneandinternet-suppliers .banner-container {
	background-image: url("/build/images/landing-banners/phone/phone-banner-background.jpg");
}

*[class^="insurance"] .banner-container {
	background-image: url("/build/images/landing-banners/insurance/insurance-banner-background.jpg");
	background-position: bottom right;
}

.energy-suppliers .banner-container {
	background-image: url("../images/landing-banners/energy/energy-banner-background.jpg");
}

.money-products-currentaccounts, .money-products-savingaccounts, .money-products-unsecuredloans, .money-products-creditcards {
	.banner-container {
		background-image: url('../images/landing-banners/money/money-banner-background.jpg');
	}
}

.phoneandinternet-suppliers .banner-container {
	background-image: url("/build/images/landing-banners/phone/phone-banner-background.jpg");
}
