.logos-strip {
	margin-top: 24px;
}

.logos-box {
	margin-bottom: 24px;
	position: relative;
	width: 100%;
	@include clearfix;
}

.ls-head {
	text-align: center;
}

.ls-content {
	margin: 0;
	padding: 12px 24px;
	@include clearfix;
}

.ls-content-item {
	margin-top: 12px;
	margin-bottom:12px;
	text-align: center;
}

.ls-ci-link {
	display: table;
	padding: 10px 12px;
	width: 100%;
	height: 80px;
	max-height: 80px;
	text-align: center;
	background: $gray-lighter;
	color: $gray;
	text-decoration: none;
	overflow: hidden;

	.ls-ci-text {
		display: table-cell;
		line-height: 13px;
		width: 100%;
		text-align: center;
		vertical-align: middle;
		word-wrap: break-word;
		font-size: ceil(($font-size-base * 0.75)); // ~12px

		@media (min-width: $screen-md-min) {
			line-height: 20px;
			font-size: $font-size-base;
		}
	}

	&:hover {
		background: $brand-insurance;
		color: #fff;
		text-decoration: none;
	}
}