.nav-login {
	position: relative;
}

.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 20;
    display: block;

    @media (min-width: $screen-sm-min) {
	    position: absolute;
		padding: 18px;
	    top: 40px;
	    right: -23px;
	    left: auto;
	    width: 360px;
    }

    @media (min-width: $screen-md-min) {
	    position: absolute;
		padding: 18px;
	    top: 40px;
	    //left: -20px;
	    //right: auto;
	    width: 360px;
    }
}

.lp-int {
	position: relative;
	margin: 0;
    padding: 0;
	@extend .content-block;

	&::before {

		@media (min-width: $screen-sm-min) {
			display: block;
			position: absolute;
			right: 13px;
			top: -18px;
			width: 0; 
			height: 0; 
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 18px solid $gray-lighter;
			content: ' ';
		}

		@media (min-width: $screen-md-min) {
			display: block;
			position: absolute;
			//left: 13px;
			top: -18px;
			width: 0; 
			height: 0; 
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 18px solid $gray-lighter;
			content: ' ';
		}
	}
}

.lp-content {
	padding: 0px 18px 12px;
	border-bottom: 1px solid $gray-light;
}

.lp-social-buttons {
	padding: 12px 0;
}

.lp-foot {
	padding: 0px 18px;
	height: 48px;
	background: $gray-lighter;
	text-align: center;

	p {
		margin: 0;
		line-height: 48px;
	}
}