.no-feature .nav, .nav.page-not-found {
    background: #000;


    @media (min-width: $screen-md-min) {
        padding: 5px 0;
        height: 61px;
    }

    .nav__items li > a {
        padding: 21px 26px;
    }

    .nav__items li {

        a.nav__item--dropdown {
            padding: 21px 26px 21px 6px;
        }

        .nav__item--subnav li a {
                padding: 5px 0;
        }
    }

    &--scrolled {
        .nav__items li a {
            padding: 10px 26px;
        }

        .nav__items li a.nav__item--dropdown {
            padding: 10px 26px 10px 6px;
        }

        .nav__login {
            margin: 0 0 5px;
        }
    }


    .nav__login {
        @media (min-width: $screen-md-min) {
            margin: 7px 0;
        }
    }
}

.nav {
    background: rgba(0,0,0,0.9);
    text-align: center;
    padding-top: 10px;
    position: fixed;
    z-index: 1030;
    width: 100%;

    @media (min-width: $screen-md-min) {
        background: linear-gradient(rgba(0,0,0,0.75), transparent);
        height: 39px;

        &--scrolled {
            background: rgba(0,0,0,0.75);
            height: auto;
            padding: 5px 0 2px;

            .nav__logo {
                width: 36px;
                height: 27px;
            }

            .nav__login span {
                height: 13px;
                width: 8px;
            }

            .nav__gravatar img {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.nav__gravatar {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 22px;
    overflow: hidden;

    img {
        width: 32px;
        height: 32px;
    }
}

.nav__topbar {
    margin: 0 -13px;
    padding: 0 13px;
    position: relative;

    @media (min-width: $screen-md-min) {
        border-bottom: none;
        margin: 0;
        padding: 0;
    }
}

.nav__menu-button {
    background-color: transparent;
    border: 0;
    float: left;
    margin-top: 7px;
    position: relative;
    width: 24px;
    height: 18px;

    @media (min-width: $screen-md-min) {
        display: none;
    }

    &--open {
        span {
            &:nth-child(1) {
                top: 16px;
                width: 0%;
                left: 50%;
            }

            &:nth-of-type(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &:nth-of-type(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &:nth-of-type(4) {
                top: 16px;
                width: 0%;
                left: 50%;
            }
        }
    }

    span {
        height: 2px;
        width: 24px;
        background-color: #fff;
        display: block;
        left: 0;
        position: absolute;

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-of-type(1) {
            top: 0px;
        }

        &:nth-of-type(2), &:nth-of-type(3) {
            top: 8px;
        }

        &:nth-of-type(4) {
            top: 16px;
        }
    }
}

.nav__logo {
    background: url(../images/logos/bheard-darkbg.svg) no-repeat;
    background-size: cover;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 42px;
    height: 31px;
    z-index: 200;

    @media (min-width: $screen-md-min) {
        left: 0;
        width: 45px;
        height: 50px;
        transform: translateX(0);
    }

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}

.nav__items {
    border-top: solid 1px rgba(255,255,255,0.3);
    display: none;
    margin: 0 -13px;

    position: static;

    &--open {
        display: block;
    }

    @media (min-width: $screen-md-min) {
        border-top: none;
        display: block;
        left: 0;
        margin: 0 auto;
        position: absolute;
        top: 0;
        width: 100%;
    }

    ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (min-width: $screen-md-min) {
            display: inline-block;
        }
    }

    li {
        border: none;
        border-bottom: solid 1px rgba(255,255,255,0.3);
        float: none;
        position: relative;
        text-align: left;

        @media (min-width: $screen-md-min) {
            float: left;
            border-left: solid 1px rgba(255,255,255,0.3);
            border-bottom: none;
        }

        &:last-child {
            border-right: none;

            @media (min-width: $screen-md-min) {
                border-right: solid 1px rgba(255,255,255,0.3);
            }
        }

        &:hover {
            background: #222;

            .nav__item--subnav {
                display: block !important;
            }
        }

        &.close .nav__item--subnav {
            display: none;
        }

        a {
            display: block;
            padding: 10px 13px;
            text-transform: uppercase;

            text-decoration: none;
            color: #fff;
            font-size: 14px;
            letter-spacing: 2px;

            @media (min-width: $screen-md-min) {
                padding: 10px 26px;
            }

            &.nav__item--active {
                background: #222;
            }

            &.nav__item--dropdown {
                padding: 10px 13px 10px 13px;

                @media (min-width: $screen-md-min) {
                    padding: 10px 26px 10px 6px;
                }

                &:hover {
                    border-color: #222;
                }

                .fa {
                    float: right;
                    line-height: 17px;
                    margin-left: 15px;
                    margin-right: 0;

                    @media (min-width: $screen-md-min) {
                        float: left;
                        margin-right: 15px;
                    }
                }
            }
        }

        .nav__item--subnav {
            background: #222;
            display: none;
            margin: 0;
            padding: 0 0 11px 0;
            position: static;
            text-align: left;
            width: 100%;

            @media (min-width: $screen-md-min) {
                left: 0;
                padding: 15px 15px;
                position: absolute;
                width: 200%;
            }

            h5 {
                color: $brand-quaternary;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
            }

            ul {
                list-style-type: none;
                padding: 0;

            }

            li {
                border: none;
                float: none;

                a {
                    border-bottom: 1px solid #222;
                    font-size: 12px;
                    padding: 5px 0;
                    text-transform: none;

                    &:hover {
                        border-bottom: 1px solid #fff;
                    }

                    &.active {
                        border-bottom: 1px solid $brand-quaternary;
                    }
                }
            }
        }
    }
}

.nav__login {
    border: 1px solid rgba(255,255,255,0.8);
    @include border-radius(50%);
    margin-bottom: 10px;
    padding: 6px 9px;
    display: block;
    position: relative;
    float: right;
    z-index: 200;

    @media (min-width: $screen-md-min) {
        margin-bottom: 5px;
    }

    span {
       background: url(../images/icons/us-icon-nav.png) no-repeat;
       background-size: cover;
       display: block;
       height: 20px;
       text-indent: -9999px;
       width: 14px;
    }

    &:hover {
        border-color: #fff;
    }
}
