.cf::before, .cf::after {content: " ";display: table;}
.cf::after {clear: both;}
.cf {*zoom: 1;}

a, button, a:focus, button:focus {
   outline: 0;
}

img.center {
  display: block;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.site-container {
  width: 100%;
}

.main-content {
  background:$gray-light;
  background: #ffffff;
//  padding-top:68px;
  @media (min-width: $screen-md-min) {
//    padding-top: 60px;
  }

  &--opinion {
      background: #fff;
  }
}

// todo this wont be needed when all site backgrounds are made white
.seeresults, .account-personalinformation, .account-changecoinsaccount, .account-myratings,
.account-changeemailaddress, .account-changepassword, .login, .register, .resetpassword, .register-step2,
.account-changeemailaddress-step2 .main-content {
    background: #fff;
}

.content {
  padding: 60px 0;

  &--padded {
    padding: 30px;
  }
}

.no-relative-xs {
  position: static;

  @media (min-width: $screen-sm-min) {
    position: relative;
  }
}



/*---------------------------------------------*/
/* Margin and Padding
/*---------------------------------------------*/
.margin--none {
  margin: 0 !important;
}

.padding--none {
  padding: 0 !important;
}

// Generate margins on all sides
$i: 5;

@while $i <= 40 {
  @each $margin in top, left, bottom, right {
    .margin--#{$margin}#{$i} {
      @include margin($margin, 1px * $i)
    }
  }

  $i: $i + 5;
}

// Generate padding on all sides
$i: 5;

@while $i <= 40 {
  @each $padding in top, left, bottom, right {
    .padding--#{$padding}#{$i} {
      @include padding($padding, 1px * $i)
    }
  }

  $i: $i + 5;
}


.corporate-jobs, .corporate-goals, .corporate-changecoins, .corporate-investors, .corporate-company {
  .main-content {
    padding-top: 65px;
  }
}

.large-subhead {
  font-size: ceil(($font-size-base * 1.285)); // ~18px
}

.qmark {
  display: inline-block;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  font-size: 14px;
  font-weight: bold;
  background: $gray-light;
  color: $gray-darker;
  text-align: center;
  line-height: 17px;
  top: -5px;
  @include border-radius(50%);

  @media (min-width: $screen-md-min) {
    display: inline-block;
    position: relative;
  }

  &--centred {
      top: 50%;
      position: absolute;
  }
}

//todo not sure if this should be here, add the qmark?
.byob {
  background: $brand-byob;
}

.row-spacer {
	margin-bottom: 12px;
}

.btn-spacer {
	margin-bottom: 12px;
}

.btn-xs-spacer {
	@media (max-width: $screen-xs-max) {
		margin-bottom: 12px;
	}
}

.btn-sm-spacer {
	@media (max-width: $screen-sm-max) {
		margin-bottom: 12px;
	}
}

.section {
  margin: 60px auto 0;
}

.content-block {
	margin-top: 24px;
	padding: 0 12px 24px;
	width: 100%;
	background: $page-bg;
	border: 1px solid $gray-lightest;
	@include box-shadow(0px, 1px, 4px, 0px, $gray-light, 1);
	@include clearfix;
}

.form-healthcare {
  background: $btn-healthcare-bg;
  color: $btn-healthcare-color;
  border-color: $btn-healthcare-border;
}

.form-education {
  background: $btn-education-bg;
  color: $btn-education-color;
  border-color: $btn-education-border;
}

// form error messages

.bg-danger.text-danger {
  margin-top: 5px;
  padding: 4px 8px;
}
