<div class="hero hero--review hero--with-nav">
    <div class="hero__bubble-container">
        <!-- Placeholder for review-bubble directive -->
        <b-card b-title="View and share reviews for the sectors you value most" b-subtitle="Choose a sector below to see the results or search for a company" b-speech></b-card>
    </div>


    <div class="hero__nav-wrapper">
        <div class="hero__nav">
            <a ng-repeat="sector in model.sectors" class="hero__nav-link" ui-sref="{{sector.link}}">
                <img class="hero__nav-img" ng-src="/build/images/review/{{sector.key}}.svg" width="80" height="80">

                <h3 class="hero__nav-title">{{sector.title}}</h3>
            </a>
        </div>
    </div>
</div>