<div class="lp-backimage layout-component__page">
    <div class="lp-boxes">
      <div class="container">
        <b-single-review ng-model="::model.review" b-title="Review of {{::model.review.supplier.name}}" b-text="{{::model.review.text}}" b-overall="{{::model.review.overallOpinion}}"></b-single-review>
      </div>
        <div class="container">
            <b-skimmed-reviews ng-model="model.reviews"></b-skimmed-reviews>
        </div>
    </div>
</div>
