@mixin bg-gradient($first-color, $second-color, $percent-middle)  {
	background: $first-color;
	background: -moz-linear-gradient(top,  $first-color 0%, $first-color $percent-middle, $second-color $percent-middle, $second-color $percent-middle, $second-color 100%);
	background: -webkit-linear-gradient(top,  $first-color 0%,$first-color $percent-middle,$second-color $percent-middle,$second-color $percent-middle,$second-color 100%);
	background: linear-gradient(to bottom,  $first-color 0%,$first-color $percent-middle,$second-color $percent-middle,$second-color $percent-middle,$second-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first-color', endColorstr='$second-color',GradientType=0 );
}
