@mixin border-radius($radius: 5px) {
    border-radius: $radius;

    // stops bg color from leaking outside the border
    background-clip: padding-box;
}

// Single side border-radius

@mixin border-top-radius($radius) {
    border-top-left-radius: $radius;
    background-clip: padding-box;
}

@mixin border-right-radius($radius) {
    border-top-right-radius: $radius;
    background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}

@mixin border-left-radius($radius) {
    border-top-left-radius: $radius;
    background-clip: padding-box;
}

@mixin table-border-radius($radius) {
    td:first-child, th:first-child {
        -moz-border-radius-topleft: $radius;
        -moz-border-radius-bottomleft: $radius;
        -webkit-border-top-left-radius: $radius;
        -webkit-border-bottom-left-radius: $radius;
    }

    td:last-child, th:last-child {
        -moz-border-radius-topright: $radius;
        -moz-border-radius-bottomright: $radius;
        -webkit-border-top-right-radius: $radius;
        -webkit-border-bottom-right-radius: $radius;
    }
}
