// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant-bheard($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $gray-dark;
    background-color: $gray-light;
        border-color: $gray-light;
  }
  &:hover {
    color: $gray-dark;
    background-color: $gray-light;
        border-color: $gray-light;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $gray-dark;
    background-color: $gray-light;
        border-color: $gray-light;

    &:hover,
    &:focus,
    &.focus {
      color: $gray-dark;
      background-color: $gray-light;
          border-color: $gray-light;
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
