@mixin box-shadow($horizontal: 0px, $vertical: 3px, $radius: 3px, $spread: -1px, $color: $gray-dark, $opacity: 1, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $horizontal $vertical $radius $spread rgba($color, $opacity);
    -moz-box-shadow:inset $horizontal $vertical $radius $spread rgba($color, $opacity);
    box-shadow:inset $horizontal $vertical $radius $spread rgba($color, $opacity);
  } @else {
    -webkit-box-shadow: $horizontal $vertical $radius $spread rgba($color, $opacity);
    -moz-box-shadow: $horizontal $vertical $radius $spread rgba($color, $opacity);
    box-shadow: $horizontal $vertical $radius $spread rgba($color, $opacity);
  }
}