// mixin for retina background images

@mixin image-2x($file, $type, $width, $height) {
    background-image: url($file + '.' + $type);
    background-size: $width $height;

    // 1dppx = 96dpi (CSS pixel baseline)
    @media (min-resolution: 2dppx) {
        background-image: url($file + '@2x.' + $type);
    }
}
