﻿<h1>Let's hear it for charity</h1>
<p>With B.heard, you're not only helping people choose the right service, but also supporting great charities.</p>
<%- contentFor('head') %>
<meta name="description" content="For each comment you leave on B.heard, we'll give you Changecoin&reg;. See how you can use your Changecoin&reg; to
make a difference">
