<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Made for Change</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="https://www.gov.uk/government/news/new-initiative-launched-to-rehabilitate-female-offenders" target="_blank" title="Link to Made for Change charity info page">
                <img src="/images/charities/madeforchange.png" alt="Made for Change" width="100%" />
            </a>
        </div>
        <div class="col-xs-12 col-md-9">
            <p>An innovative collaboration between London College of Fashion and the Ministry of Justice has been established at HMP Holloway, a female prison in London.</p>
            <p>The Fashion Training and Manufacture Unit is a social enterprise initiative aimed at providing skills and meaningful employment for serving and recently released offenders.</p>
            <p>This exciting project, which has been set up to help female offenders turn their backs on a life of crime, fills a recognised skills gap within the London area. It aims to train and employ up to 20 female offenders on a regular basis within Holloway prison and supports them on release to gain work placements and employment within the fashion manufacture sector in the UK.</p>
            <p>The social enterprise aims to deliver a structured training module that sees participants studying for NVQ qualifications as well as work on commercial contracts which will be secured to generate income and to run the project on a sustainable basis.</p>
            <p>The project, which has been generously supported by Sir John Cass's Foundation, employs a Specialist Production Instructor and a Cutting Room Lecturer to train the female offenders and run the social enterprise.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div fb-like="'https://bheard.com/charities/madeforchange'"></div>
        </div>
        <div class="col-xs-3">
            <div tweet="'Made for Change #bheard'" tweet-url="'https://bheard.com/charities/madeforchange'"></div>
        </div>
        <div class="col-xs-3">
            <div google-plus="'https://bheard.com/charities/madeforchange'"></div>
        </div>
    </div>
</section>
