<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Against Breast Cancer</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="http://www.againstbreastcancer.org.uk/get-involved/fundraising/recycling/515/mobile-phone-recycling/" target="_blank" title="Link to Against Breast Cancer charity info page">
                <img src="/images/charities/againstbreastcancer.png" alt="Against Breast Cancer" width="100%" />
            </a>
        </div>
        <div class="col-xs-12 col-md-9">
            <h2 class="layout-component__subtitle">Why we chose Against Breast Cancer in Phone &amp; Internet</h2>
            <p>Against Breast Cancer has the vision to see an increased survival rate of all breast cancer patients and to discover the vaccine against breast cancer. We really admire such big visions, and the personal story of Dr Anthony &amp; Patricia Leatham, founders of the charity.</p>
            <h2 class="layout-component__subtitle">How we are helping</h2>
            <p>Against Breast Cancer raises innovatively raised funds through recycling of mobile phones we think this is great because it makes use of otherwise old and unused equipment, and because ultimately it provides vital funds for breast cancer research. Your changcoins help to support Against Breast Cancer, whether its through making use of old mobile phones or through a cash donation to the charity.</p>
            <h2 class="layout-component__subtitle">About Changecoin&reg;</h2>
            <p>Changecoin&reg; help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Changecoin&reg; that you can use to support frontline charities with cold hard cash.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div fb-like="'https://bheard.com/charities/againstbreastcancer'"></div>
        </div>
        <div class="col-xs-3">
            <div tweet="'Against Breast Cancer #bheard'" tweet-url="'https://bheard.com/charities/againstbreastcancer'"></div>
        </div>
        <div class="col-xs-3">
            <div google-plus="'https://bheard.com/charities/againstbreastcancer'"></div>
        </div>
    </div>
</section>
