<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Emmaus</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="https://www.emmaus.org.uk/" target="_blank" title="Link to Emmaus charity info page">
                <img src="/images/charities/emmaus.png" alt="Emmaus" width="100%" />
            </a>
        </div>
        <div class="col-xs-12 col-md-9">
            <h2 class="layout-component__subtitle">Why we chose Emmaus in Local Government</h2>
            <p>Emmaus looks to end homelessness. There are a wide range of reasons that people become homeless, one of the common reasons contributing to this can be a relationship breakdown, or for younger individuals, being asked to leave home by their parents. Emmaus doesn't just offer a bed for the night, they offer a home and meaningful work in social enterprises.</p>

            <h2 class="layout-component__subtitle">How we are helping</h2>
            <p>Your Changcoin&reg; help support Emmaus' communities, which provide a home and meaningful work to those people who have experienced homelessness and exclusion. There are currently 25 Emmaus communities spread across the UK supporting around 623 formerly homeless people, and we hope that your Changecoin&reg; help Emmaus reach their target of offering at least 750 companion places by 2017.</p>

            <h2 class="layout-component__subtitle">About Changecoin&reg;</h2>
            <p>Changecoin&reg; help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Changecoin&reg; that you can use to support frontline charities with cold hard cash.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div fb-like="'https://bheard.com/charities/emmaus'"></div>
        </div>
        <div class="col-xs-3">
            <div tweet="'Emmaus #bheard'" tweet-url="'https://bheard.com/charities/emmaus'"></div>
        </div>
        <div class="col-xs-3">
            <div google-plus="'https://bheard.com/charities/emmaus'"></div>
        </div>
    </div>
</section>
