<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Crosslight</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="http://www.crosslightadvice.org/" target="_blank" title="Link to Crosslight charity info page">
                <img src="/images/charities/crosslight.png" alt="Crosslight" width="100%" />
            </a>
        </div>
        <div class="col-xs-12 col-md-9">
            <h2 class="layout-component__subtitle">Why we chose Crosslight in Money</h2>
            <p>Crosslight provides advice to anyone who is suffering under the burden of debt. The service they provide is completely free, and as a licensed centre, they are able to work with all creditors. Although the charity is London based, anyone is welcome.</p>
            <p>If you are looking for debt advice and aren't able to access Crosslight's resources, you can <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator" target="_blank">click here to find free debt advice near you</a>.</p>
            <h2 class="layout-component__subtitle">How we are helping</h2>
            <p>We want to see people being freed from the burden of debt, and believe that Crosslight's work (as well as the work of many other amazing advice services across the UK) is a very practical way of relieving this burden. Your Changecoin&reg; allow us to support Crosslight in this mission.</p>
            <h2 class="layout-component__subtitle">About Changecoin&reg;</h2>
            <p>Changecoin&reg; help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Changecoin&reg; that you can use to support frontline charities with cold hard cash.</p>
            <p>How does it work? Each time you change supplier, we receive a commission from your new supplier. Some commissions are larger than others to make it clear that we don't favour the suppliers who hand out the biggest commissions, we only take an averaged amount from each commission and use what's left over to top up the Changecoin&reg; fund. When you spend your Changecoin&reg; balance on your chosen campaigns, we donate a proportional amount from the cash fund to the deserving charity.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div fb-like="'https://bheard.com/charities/crosslight'"></div>
        </div>
        <div class="col-xs-3">
            <div tweet="'Crosslight #bheard'" tweet-url="'https://bheard.com/charities/crosslight'"></div>
        </div>
        <div class="col-xs-3">
            <div google-plus="'https://bheard.com/charities/crosslight'"></div>
        </div>
    </div>
</section>
