<div class="container layout-component__page">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <aside class="useraccount-side layout-component__box">
                <header>
                    <h1 class="layout-component__subtitle">Our charities</h1>
                </header>
                <ul class="list-unstyled layout-component__side-menu extra-margin-tb-lg">
                    <li><a ui-sref="charities.spear">Spear</a></li>
                    <li><a ui-sref="charities.mind">Mind</a></li>
                    <li><a ui-sref="charities.crosslight">Crosslight</a></li>
                    <li><a ui-sref="charities.insurancecharities">The Insurance Charities</a></li>
                    <li><a ui-sref="charities.emmaus">Emmaus</a></li>
                    <li><a ui-sref="charities.againstbreastcancer">Against Breast Cancer</a></li>
                    <li><a ui-sref="charities.madeforchange">Made for Change</a></li>
                    <li><a ui-sref="charities.recyclinglives">Recycling Lives</a></li>
                </ul>
            </aside>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div ui-view></div>
        </div>
    </div>
</div>
