<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">The Insurance Charities</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="http://www.theinsurancecharities.org.uk/" target="_blank" title="Link to The Insurance Charities charity info page">
                <img src="/images/charities/insurancecharities.png" alt="The Insurance Charities" width="100%" />
            </a>
        </div>
        <div class="col-xs-12 col-md-9">
            <h2 class="layout-component__subtitle">Why we chose The Insurance Charities in Insurance</h2>
            <p>The Insurance Charities supports those individuals who may not have sufficient income to meet essential costs, whether it be a piece of equipment to help someone with reduced mobility, a therapy /other treatment for a particular condition, or any other pressing matter. The charity provides practical support for managing cash-flow, and assists with the application for state support for which individuals are entitled.</p>
            <h2 class="layout-component__subtitle">How we are helping</h2>
            <p>The Insurance Charities provides support for individuals who are past and present employees in the Insurance industry. We think that anyone who is struggling to meet their essential costs should have access to basic state support, and your Changecoin&reg; help to achieve this through The Insurance Charities.</p>
            <h2 class="layout-component__subtitle">About Changecoin&reg;</h2>
            <p>Changecoin&reg; help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Changecoin&reg; that you can use to support frontline charities with cold hard cash.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div fb-like="'https://bheard.com/charities/insurancecharities'"></div>
        </div>
        <div class="col-xs-3">
            <div tweet="'The Insurance Charities #bheard'" tweet-url="'https://bheard.com/charities/insurancecharities'"></div>
        </div>
        <div class="col-xs-3">
            <div google-plus="'https://bheard.com/charities/insurancecharities'"></div>
        </div>
    </div>
</section>
