<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Mind</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="http://www.mind.org.uk/about-us/" target="_blank" title="Link to Mind charity info page">
                <img src="/images/charities/mind.png" alt="Mind" width="100%" />
            </a>
        </div>
        <div class="col-xs-12 col-md-9">
            <h2 class="layout-component__subtitle">Why we chose Mind in Healthcare</h2>
            <p>Mind raises the awareness of mental health, campaigning to improve services and promote understanding. The charity takes a local approach, supporting 400,000 people across England &amp; Wales in housing, crisis helplines, drop-in centres, employment and training schemes, counselling &amp; befriending.</p>
            <h2 class="layout-component__subtitle">How we are helping</h2>
            <p>We love our health system, and want to see changes in attitudes towards mental health. Your Changecoin&reg; allow us to support Mind's work of supporting individuals with mental health problems, as well as influencing government policy.</p>
            <h2 class="layout-component__subtitle">About Changecoin&reg;</h2>
            <p>Changecoin&reg; help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Changecoin&reg; that you can use to support frontline charities with cold hard cash.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div fb-like="'https://bheard.com/charities/mind'"></div>
        </div>
        <div class="col-xs-3">
            <div tweet="'Mind #bheard'" tweet-url="'https://bheard.com/charities/mind'"></div>
        </div>
        <div class="col-xs-3">
            <div google-plus="'https://bheard.com/charities/mind'"></div>
        </div>
    </div>
</section>
