<div class="ed-map">
    <b-map></b-map>
</div>
<div class="container ua-container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <section class="useraccount-main layout-component__box">
                <header>
                    <h1 class="layout-component__title">Contact us</h1>
                </header>
                <div class="row ua-content">
                    <div class="col-xs-12 col-sm-8">
                        <form name="form" novalidate ng-show="!model.formSubmitted" ng-submit="form.$valid && submit(model)">
                            <p>If you’d like to get in touch with the people at B.heard, please fill in the contact form below and we will get back to you as soon as we can.</p>
                            <section>
                                <h3 class="layout-component__subtitle">Get in contact</h3>
                                <div class="row mr-form-content">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="layout-component__subtitle" for="cont-name">Name:</label>
                                            <input class="input-box" id="cont-name" name="name" required type="text" ng-model="model.form.name" ng-model-options="{ updateOn: 'blur' }">
                                            <p class="text-danger bg-danger" ng-show="form.$submitted && form.name.$error.required">"Name" is required</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="layout-component__subtitle" for="cont-email">Email:</label>
                                            <input class="input-box" id="cont-email" name="email" required type="email" ng-model="model.form.email" ng-model-options="{ updateOn: 'blur' }">
                                            <p class="text-danger bg-danger" ng-show="form.$submitted && (form.email.$error.required || form.email.$error.email)">"Email" is required</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="layout-component__subtitle" for="cont-enquiry">Nature of enquiry:</label>
                                            <select class="form-control" id="cont-enquiry" name="natureOfEnquiry" required ng-model="model.form.natureOfEnquiry">
                                                <option>Energy Enquiry</option>
                                                <option>Money Enquiry</option>
                                                <option>Insurance Enquiry</option>
                                                <option>Education Enquiry</option>
                                                <option>Government Enquiry</option>
                                                <option>Healthcare Enquiry</option>
                                                <option>Changecoin&reg;/Charity Enquiry</option>
                                                <option>General Enquiry</option>
                                                <option>Marketing Enquiry</option>
                                                <option>Press Enquiry</option>
                                                <option>Commercial Enquiry</option>
                                                <option>Make a Complaint</option>
                                            </select>
                                            <p class="text-danger bg-danger" ng-show="form.$submitted && form.natureOfEnquiry.$error.required">"Nature of enquiry" is required</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="layout-component__subtitle" for="cont-message">Message:</label>
                                            <textarea class="input-box input-box--textarea" id="cont-message" name="message" required rows="5" ng-maxlength="1000" ng-model="model.form.message" ng-model-options="{ updateOn: 'blur' }"></textarea>
                                            <p class="text-danger bg-danger" ng-show="form.$submitted && form.message.$error.required">"Message" is required</p>
                                            <p class="text-danger bg-danger" ng-show="form.$submitted && form.message.$error.maxlength">"Message" must be 1000 characters or less</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mr-form-button">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-tertiary btn-lg btn-block button">Send message</button>
                                    </div>
                                </div>
                            </section>                
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <p ng-show="model.formSubmitted">We've received your message, thank you!</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-4">
            <aside class="useraccount-side layout-component__box">
                <header>
                    <h2 class="layout-component__subtitle">Get in touch</h2>
                </header>
                <p>B.heard HQ,<br />Mappin House,<br />4 Winsley Street,<br />London W1W 8HF,<br />United Kingdom</p>
                <p><a href="mailto:enquiries@bheard.com">enquiries@bheard.com</a></p>
                <p>+44 (0) 203 286 7217</p>
                <p><a href="https://bheard.com">bheard.com</a></p>
                <h3 class="layout-component__subtitle">For press enquiries</h3>
                <p>For all media enquiries, please contact Simran Maini at W Communications:</p>
                <p><a href="mailto:simran@wcommunications.co.uk">simran@wcommunications.co.uk</a><br />or 07545 100 072</p>
                <h3 class="layout-component__subtitle">For investor enquiries</h3>
                <p><a href="mailto:investor@bheard.com">investor@bheard.com</a></p>
            </aside>
        </div>
    </div>
</div>
