<!-- TODO: add testimonials -->
<!-- TODO: add angular form validation vs browser validation? -->

<div class="hero hero--generic">
    <div class="hero__bubble-container">
        <b-card b-speech b-title="Relationship building" b-subtitle="Are you interesting in finding out what your customers are saying?"></b-card>
    </div>
</div>

<div class="forcompanies-page">
    <div class="forcompanies-page__we-can-help">
        <div class="forcompanies-page__form">
            <b-card>
                <p>B.heard helps build relationships between companies and customers, We provide customer feedback for
                companies, giving you valuable insight about what your customers think, keep them happy and providing
                better value for money. If you would like to know more about keeping your customers happy then we can
                help.</p>

                <h3>We can help</h3>

                <form name="form" ng-submit="form.$valid && submit(model)" ng-show="!model.formSubmitted">
                    <label class="forcompanies-page__label">Company name <input ng-model="model.form.companyName" type="text"
                    required class="input-text"></label>

                    <label class="forcompanies-page__label">Name <input ng-model="model.form.yourName" type="text" required
                    class="input-text"></label>

                    <label class="forcompanies-page__label">Email <input ng-model="model.form.email" type="email" required
                    class="input-text"></label>

                    <button class="button" type="submit">I am interested</button>

                    <p class="forcompanies-page__disclaimer">
                        <small>By clicking on "I am interested" you are agreeing to our <a href="/terms">Terms &amp; Conditions</a></small>
                    </p>
                </form>

                <p ng-show="model.formSubmitted">We've reveived your request and will be in touch!</p>
            </b-card>
        </div>
    </div>

    <h3 class="forcompanies-page__header">People we&rsquo;ve worked with</h3>

    <div class="forcompanies-page__logos-wrapper">
        <picture>
            <source media="(min-width: 640px)" srcset="/build/images/logos/forcompanies/logos-wide.png 1161w, /images/logos/forcompanies/logos-wide@2x.png 2322w" sizes="100vw">
            <source srcset="/build/images/logos/forcompanies/logos.png 732w" sizes="100vw">

            <img class="forcompanies-page__logos" src="/images/logos/logos.png">
        </picture>
    </div>
</div>
