<div class="header-banner header-banner--home">
    <b-card class="header-banner__bubble" b-speech b-title="Have your say" b-subtitle="Got a problem with a company or a service? Tell us about it&hellip;"></b-card>

    <a href="#more" du-smooth-scroll class="header-banner__down-arrow"><span></span></a>
</div>

<div class="lp-backimage lpbi-haveyoursay">
    <div class="lp-boxes lpbx-haveyoursay">
        <div id="more" class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <div class="lp-box lpbx-text-content">
                        <div class="make-right-container layout-component__box">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="make-right" name="form" novalidate ng-show="!model.formSubmitted" ng-submit="form.$valid && submit(model)">
                                        <section>
                                            <header>
                                                <h1 class="layout-component__title">We can help</h1>
                                            </header>
                                            <div class="row mr-form-content">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <textarea placeholder="What happened?" class="form-control" id="whatHappened" name="whatHappened" ng-maxlength="1000" ng-model="model.form.whatHappened" ng-model-options="{ updateOn: 'blur' }" required rows="5"></textarea>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.whatHappened.$error.required">"What happened" is required</p>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.whatHappened.$error.maxlength">"What happened" must be 1000 characters or less</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <input placeholder="Which organisation was it?" class="form-control" id="whichOrg" name="whichOrganisationWasIt" ng-maxlength="140" ng-model="model.form.whichOrganisationWasIt" ng-model-options="{ updateOn: 'blur' }" required type="text">
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.whichOrganisationWasIt.$error.required">"Which organisation was it" is required</p>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.whichOrganisationWasIt.$error.maxlength">"Which organisation was it" must be 140 characters or less</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" id="emailAdd" name="email" ng-model="model.form.email" ng-model-options="{ updateOn: 'blur' }" required placeholder="Email" type="email">
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.email.$error.required">"Email" is required</p>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.email.$error.email">"Email" is invalid</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mr-form-button">
                                                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                                    <button type="submit" class="btn pink btn-block">Make it right, please!</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p class="text-center">By clicking on "Make it right, please!" you are agreeing to our <a ui-sref="terms" class="pink-text">Terms&amp;Conditions</a></p>
                                                </div>
                                            </div>
                                        </section>
                                    </form>
                                    <div class="mr-extra-margin">
                                        <p class="layout-component__subtitle" ng-show="model.formSubmitted">We've received your request and will be in touch!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
