<div class="lp-backimage lpbi-home">
    <b-banner b-title="Can't see your brand or sector?" b-text="Send us a brand or sector you'd like to see on the site."></b-banner>
    <div class="lp-boxes lpbx-home">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <div class="lp-box lpbx-text-content">
                        <div class="make-right-container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="make-right" name="form" novalidate ng-show="!model.formSubmitted" ng-submit="form.$valid && submit(model)">
                                        <section>
                                            <header>
                                                <h1>Add your details below</h1>
                                            </header>
                                            <div class="row mr-form-content">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="whichSector">Which sector?</label>
                                                        <input class="form-control" id="whichSector" name="whichSector" ng-maxlength="140" ng-model="model.form.whichSector" ng-model-options="{ updateOn: 'blur' }" required type="text">
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.whichSector.$error.required">"Which sector" is required</p>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.whichSector.$error.maxlength">"Which sector" must be 140 characters or less</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="whichBrand">Which brand?</label>
                                                        <input class="form-control" id="whichBrand" name="whichBrand" ng-maxlength="140" ng-model="model.form.whichBrand" ng-model-options="{ updateOn: 'blur' }" required type="text">
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.whichBrand.$error.required">"Which brand" is required</p>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.whichBrand.$error.maxlength">"Which brand" must be 140 characters or less</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="moreInfo">Give us some more information</label>
                                                        <textarea class="form-control" id="moreInfo" name="moreInfo" ng-maxlength="1000" ng-model="model.form.moreInfo" ng-model-options="{ updateOn: 'blur' }" required rows="5"></textarea>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.moreInfo.$error.required">"Give us some more information" is required</p>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.moreInfo.$error.maxlength">"Give us some more information" must be 1000 characters or less</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="emailAdd">Email<span class="small">optional</span></label>
                                                        <input class="form-control" id="emailAdd" name="email" ng-model="model.form.email" ng-model-options="{ updateOn: 'blur' }" placeholder="Email" type="email">
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && (form.email.$error.required || form.email.$error.email)">"Email" is invalid</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mr-form-button">
                                                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                                    <button type="submit" class="btn btn-quinary btn-lg btn-block">Submit my suggestion</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p class="text-center">By clicking on "Submit my suggestion" you are agreeing to our <a ui-sref="terms">Terms&amp;Conditions</a></p>
                                                </div>
                                            </div>
                                        </section>                
                                    </form>
                                    <p ng-show="model.formSubmitted">We've received your request and will be in touch!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
