﻿<div class="header-banner header-banner--home header-banner--large">
    <div class="speech-bubble speech-bubble--full-width">
        <h3 class="speech-bubble__title speech-bubble__title--large">Firstly, thank you for being a valued investor of B.heard</h3>
        <p class="speech-bubble__subtitle">We would love to hear some feedback from you and in true B.heard style, it would be great if you would record your answer to camera below.</p>
        <br>
        <p class="speech-bubble__subtitle">It would be helpful to hear your answers to the following questions:</p>
        <br>
        <ol>
            <li class="investors__list-item">What appealed to you most about B.heard as an investor?</li>
            <li class="investors__list-item">What makes you most excited about B.heard’s potential?</li>
        </ol>
    </div>

    <a href="#more" du-smooth-scroll class="header-banner__down-arrow"><span></span></a>
</div>

<div class="gradients__bg">
    <div class="gradients__small-top"></div>
    <div id="more" class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="investors__subheading">Record it here</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div style="text-align: center;">
                    <style type="text/css">#vpm-iframe {
                        width: 260px;
                        height: 325px;
                        margin: 10px 0
                    }

                    #vpm-iframe.fix-iframe {
                        width: 640px;
                        height: 480px;
                        margin: 10px 0
                    }

                    @media (min-width: 501px) {
                        #vpm-iframe {
                            width: 500px;
                            height: 375px;
                            margin: 10px 0
                        }
                    }

                    @media (min-width: 641px) {
                        #vpm-iframe {
                            width: 640px;
                            height: 480px;
                            margin: 10px 0
                        }
                    }</style>
                    <iframe allowfullscreen="" frameborder="0" height="480" id="vpm-iframe" scrolling="no"
                            src="https://www.voxpopme.com/record/d5a1b188649b159cd3ce8aef64e33c38?layout=simple" width="100%"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="investors__separator">
                <h2 class="investors__subheading">Director's Tips</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>You can use your webcam or mobile camera to record your video response</p>
            </div>
            <div class="col-md-4">
                <p>Ensure your video is 15 to 60 seconds long <br>Make sure you have plenty of light so we can clearly see you</p>
            </div>
            <div class="col-md-4">
                <p>Avoid places with lots of background noise so we can clearly hear you</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="investors__bottom-padding"></div>
            </div>
        </div>
    </div>
</div>