<!-- todo change see-results to something more global -->
<div class="hero hero--with-nav hero--switch">
    <div class="hero__bubble-container">
        <b-card b-speech b-title="Switch to the companies you value most" b-subtitle="Let your money do the talking&hellip; Choose a sector and find the companies who rank best"></b-card>
    </div>

    <div class="hero__nav-wrapper">
        <div class="hero__nav">
            <a ng-repeat="sector in model.services" class="hero__nav-link" ui-sref="{{sector.link}}">
                <img class="hero__nav-img" ng-src="/build/images/switch/switch-{{sector.class}}-pink.svg" width="80" height="80">

                <h3 class="hero__nav-title">{{sector.title}}</h3>
            </a>
        </div>
    </div>
</div>
