﻿<h1>Our views on the things that really matter to you</h1>
<p>Things that we have found that you may find interesting too.</p>
<ol>
    <% for (var i = 0; i < items.length; i++) { %>
        <li>
            <h2><a href="/news/<%= items[i].id %>"><%= items[i].title %></a></h2>
            <%- items[i].content %>
            <p><%= items[i].published %></p>
        </li>
    <% } %>
</ol>
