﻿<h1>Our views on the things that really matter to you</h1>
<p>Things that we have found that you may find interesting too.</p>
<h2><%= title %></h2>
<%- content %>
<p><%= published %></p>
<%- contentFor('head') %>
<meta property="og:title" content="<%= title %>" />
<meta property="og:site_name" content="B.heard"/>
<meta property="og:url" content="https://bheard.com/news/<%= id %>" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
