<div>
    <div class="ui-demo__container">
        <h2 class="ui-demo__heading">Headings</h2>

        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>

        <h2 class="ui-demo__heading">Body text</h2>

        <p>The quick brown fox jumps over the lazy dog.</p>

        <small>Low-priority text</small>

        <h2 class="ui-demo__heading">Tooltips</h2>

        <b-tooltip-text b-revealer="Tooltip">Example tooltip content</b-tooltip-text>

        <h3 class="ui-demo__heading">Suspended tooltip</h3>

        <b-tooltip-text b-suspended b-revealer="Suspended tooltip">Example tooltip content</b-tooltip-text>

        <h3 class="ui-demo__heading">Wrap arbitrary elements</h3>

        <div class="b-tooltip">
            <div class="b-tooltip__revealer b-tooltip__revealer--no-border"><button>Proceed</button></div>

            <div class="b-tooltip__scrim"></div>

            <div class="b-tooltip__content-wrapper b-tooltip__content-wrapper--suspended">
                <b-card b-compact class="b-tooltip__content">
                    Make sure you have read the terms and conditions
                </b-card>
            </div>
        </div>

        <h2 class="ui-demo__heading">Cards</h2>

        <b-card b-title="Title" b-subtitle="Subtitle">Content</b-card>

        <h3 class="ui-demo__heading">Compact card</h3>

        <b-card b-compact b-title="Title" b-subtitle="Subtitle">Very compact</b-card>

        <h3 class="ui-demo__heading">Speech card</h3>

        <b-card b-speech b-title="Speech card" b-subtitle="Subtitle"></b-card>

        <h2 class="ui-demo__heading">Feature list</h2>

        <ul class="feature-list">
            <li class="feature-list__feature">
                <i class="fa fa-check feature-list__icon feature-list__icon--yes"></i>
                Mobile App
            </li>

            <li class="feature-list__feature">
                <i class="fa fa-check feature-list__icon feature-list__icon--yes"></i>
                Online Banking
            </li>

            <li class="feature-list__feature">
                <i class="fa fa-remove feature-list__icon feature-list__icon--no"></i>
                Free Refreshments
            </li>
        </ul>

        <h2 class="ui-demo__heading">Inputs</h2>

        <h3 class="ui-demo__heading">Text</h3>

        <input class="input-text" type="text">

        <h4 class="ui-demo__heading">Text with label</h4>

        <label>
            This is a label
            <input class="input-text" type="text">
        </label>

        <h2 class="ui-demo__heading">Pages</h2>

        <h3 class="ui-demo__heading">Animated</h3>

        <b-pages id="pages-animated" b-selected="1" b-animated style="height: 80px">
            <div class="b-pages__page" b-name="1">
                <b-card>Page 1</b-card>
            </div>

            <div class="b-pages__page" b-name="2">
                <b-card>Page 2</b-card>
            </div>

            <div class="b-pages__page" b-name="3">
                <b-card>Page 3</b-card>
            </div>

            <div class="b-pages__page" b-name="4">
                <b-card>Page 4</b-card>
            </div>

            <div class="b-pages__page" b-name="5">
                <b-card>Page 5</b-card>
            </div>
        </b-pages>

        <button id="button-page-animated-prev">Previous</button>
        <button id="button-page-animated-next">Next</button>

        <h3 class="ui-demo__heading">Non-animated</h3>

        <b-pages id="pages" b-selected="1" style="height: 80px">
            <div class="b-pages__page" b-name="1">
                <b-card>Page 1</b-card>
            </div>

            <div class="b-pages__page" b-name="2">
                <b-card>Page 2</b-card>
            </div>

            <div class="b-pages__page" b-name="3">
                <b-card>Page 3</b-card>
            </div>

            <div class="b-pages__page" b-name="4">
                <b-card>Page 4</b-card>
            </div>

            <div class="b-pages__page" b-name="5">
                <b-card>Page 5</b-card>
            </div>
        </b-pages>

        <button id="button-page-prev">Previous</button>
        <button id="button-page-next">Next</button>

        <script>
            var $ = document.querySelector.bind(document);

            var animatedPages = $('#pages-animated');
            var normalPages = $('#pages');

            var prevAnimatedPageButton = $('#button-page-animated-prev');
            var nextAnimatedPageButton = $('#button-page-animated-next');

            var prevPageButton = $('#button-page-prev');
            var nextPageButton = $('#button-page-next');

            prevAnimatedPageButton.addEventListener('click', () => {
                animatedPages.goToPrev();
            });

            nextAnimatedPageButton.addEventListener('click', () => {
                animatedPages.goToNext();
            });

            prevPageButton.addEventListener('click', () => {
                pages.goToPrev();
            });

            nextPageButton.addEventListener('click', () => {
                pages.goToNext();
            });
        </script>
    </div>
</div>
