<div class="container ua-container layout-component__page" ng-show="!model.formSubmitted">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <section class="useraccount-main layout-component__box">

                <div class="row">
                    <header class="col-xs-12">
                        <h1 class="pull-left layout-component__title">Register for B.heard</h1>
                        <p class="pull-right extra-margin-tb-sm">Already registered? <a class="pink-text" ui-sref="login">Login now</a></p>
                    </header>
                </div>

                <hr>

                <div class="row ua-social-buttons">
                    <div class="col-xs-12 col-md-4">
                        <button type="button" class="btn btn-twitter btn-block extra-margin-tb-sm" ng-click="loginWithTwitter()">
                            <i class="fa fa-twitter"></i> Register with twitter</button>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <button type="button" class="btn btn-facebook btn-block extra-margin-tb-sm" ng-click="loginWithFacebook()">
                            <i class="fa fa-facebook-square"></i> Register with facebook</button>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <button type="button" class="btn btn-google btn-block extra-margin-tb-sm" ng-click="loginWithGoogle()">
                            <i class="fa fa-google-plus"></i> Register with google</button>
                    </div>
                </div>
                <hr>
                <div class="row ua-content">
                    <div class="col-xs-12 col-sm-8">
                        <!--<h3>Or register with your email address</h3>-->
                        <form name="form" novalidate ng-submit="form.$valid && register(model)">
                            <div class="form-group">
                                <input placeholder="First name" class="form-control" id="reg-first-name" name="firstName" required type="text" ng-model="model.form.firstName" ng-model-options="{ updateOn: 'blur' }" />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && form.firstName.$error.required">"First name" is required</p>
                            </div>
                            <div class="form-group">
                                <input placeholder="Last name" class="form-control" id="reg-last-name" name="lastName" required type="text" ng-model="model.form.lastName" ng-model-options="{ updateOn: 'blur' }" />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && form.lastName.$error.required">"Last name" is required</p>
                            </div>
                            <div class="form-group">
                                <input placeholder="Postcode" class="form-control" id="reg-post-code" name="postcode" type="text" ng-minlength="5" ng-maxlength="8" ng-pattern="/^[0-9A-Z]*\s?[0-9A-Z]*$/i" ng-model="model.form.postcode" ng-model-options="{ updateOn: 'blur' }" />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && form.postcode.$invalid">"Postcode" is invalid</p>
                            </div>
                            <div class="form-group">
                                <input placeholder="Email" class="form-control" id="reg-email" name="unconfirmedEmail" required type="email" ng-model="model.form.unconfirmedEmail" ng-model-options="{ updateOn: 'blur' }" b-server-validate />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && (form.unconfirmedEmail.$error.required || form.unconfirmedEmail.$error.email)">"Email" is required</p>
                                <p class="text-danger bg-danger" ng-repeat="errorMessage in form.unconfirmedEmail.$error.server">{{errorMessage}}</p>
                            </div>
                            <div class="form-group">
                                <input placeholder="Password" class="form-control" id="reg-password" name="password" required type="password" ng-model="model.form.password" ng-model-options="{ updateOn: 'blur' }" />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && form.password.$error.required">"Password" is required</p>
                            </div>
                            <div class="form-group">
                                <input placeholder="Confirm Password" class="form-control" id="reg-conf-password" name="confirmPassword" required type="password" ng-model="model.form.confirmPassword" ng-model-options="{ updateOn: 'blur' }" b-match="model.form.password" />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && form.confirmPassword.$error.required">"Confirm password" is required</p>
                                <p class="text-danger bg-danger" ng-show="form.$submitted && form.confirmPassword.$error.match">"Confirm password" must match "Password"</p>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="reg-terms" name="hasAgreedToTermsAndConditions" required type="checkbox" ng-model="model.form.hasAgreedToTermsAndConditions"> I agree to B.heard's <a href="" target="_blank" ui-sref="terms">Terms&amp;Conditions</a> and <a href="" target="_blank" ui-sref="guidelines">User Guidelines</a>
                                </label>
                                <p class="text-danger bg-danger" ng-show="form.$submitted && form.hasAgreedToTermsAndConditions.$invalid">Please agree to B.heard's Terms&amp;Conditions and User Guidelines</p>
                            </div>
                            <div class="row col-xs-12 col-sm-10 ua-button">
                                <button id="reg-submit" type="submit" class="btn pink btn-exlg btn-block extra-margin-tb-lg">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="reg-conf-message" class="ua-container layout-component__page" ng-show="model.formSubmitted">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <section class="useraccount-main  layout-component__box">
                    <header class="row col-xs-12 col-sm-8">
                        <h1 class="pull-left layout-component__title">Thank you</h1>
                    </header>
                    <div class="row ua-content">
                        <div class="col-xs-12 col-sm-8">
                            <p>We've sent you an email with instructions on how to activate your account.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>