<div class="container layout-component__page">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <section class="useraccount-main layout-component__box">
                <header class="row col-xs-12">
                    <h1 id="reg-complete"  class="pull-left layout-component__title">Thank you for registering</h1>
                </header>
                <div class="row ua-content">
                    <div class="col-xs-12 col-sm-8">
                    	<p>Please <a ui-sref="login" class="pink-text">login to B.heard</a>.</p>
                    </div>
                </div>
			</section>
		</div>
	</div>
</div>