<div class="ed-map">
	<div class="ed-map-search">
		<div class="container">
			<div class="row" ng-class="{ 'ed-map-start': !model.isTouched }">
				<div class="col-xs-12 col-md-8">
					<p class="ems-text">To see GP surgeries in your area, please enter your postcode or town name</p>
				</div>
				<div class="col-xs-12 col-md-4">
                    <form class="ed-map-pos" ng-submit="search(model.options)">
                        <div class="form-control banner-search-form bsf-map">
                            <input type="text" placeholder="eg. NH13 4EL" ng-model="model.options.postcode" ng-model-options="{ updateOn: 'blur' }" class="banner-search-input">
                            <button type="submit" class="banner-search-button" alt="Search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>
    <b-surgeries-map ng-click="model.isTouched = true" ng-model="model" ng-if="model.surgeries.length"></b-surgeries-map>
	<div class="ed-map-options" ng-show="model.surgeries.length">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<form class="form-inline emo-form">
						<div class="form-group emo-group">
							<p class="emo-text">Only show surgeries rated:</p>
						</div>
						<div class="form-group emo-group">
                            <select name="rating" class="form-control emo-input" ng-change="change(model.options)" ng-model="model.options.rating">
                                <option value="">All</option>
                                <option value="80">80%+</option>
                                <option value="60">60%+</option>
                                <option value="40">40%+</option>
                                <option value="20">20%+</option>
                            </select>
						</div>
					</form>
				</div>
			</div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="ed-map-key">
                        <p><b>Percentage rated surgery good / very good</b></p>
                        <ul class="list-unstyled list-inline emk-list">
                            <li class="emk-list-item">
                                <img src="images/key/green-dot.png" srcset="images/key/green-dot.png 1x, images/key/green-dot@2x.png 2x" width="32" alt="Outstanding" />
                                <!-- <span class="emk-item emk-1">1</span> --><span>80% +</span>
                            </li>
                            <li class="emk-list-item">
                                <img src="images/key/yellow-dot.png" srcset="images/key/yellow-dot.png 1x, images/key/yellow-dot@2x.png 2x" width="32" alt="Good" />
                                <!-- <span class="emk-item emk-2">2</span> --><span>60% - 79%</span>
                            </li>
                            <li class="emk-list-item">
                                <img src="images/key/orange-dot.png" srcset="images/key/orange-dot.png 1x, images/key/orange-dot@2x.png 2x" width="32" alt="Needs Improvement" />
                                <!-- <span class="emk-item emk-3">3</span> --><span>40% - 59%</span>
                            </li>
                            <li class="emk-list-item">
                                <img src="images/key/purple-dot.png" srcset="images/key/purple-dot.png 1x, images/key/purple-dot@2x.png 2x" width="32" alt="Inadequate" />
                                <!-- <span class="emk-item emk-4">4</span> --><span>20% - 39%</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <section class="tariff-ov">
                <div class="tariff-table-responsive-healthcare" ng-if="model.surgeries.length">
                    <table class="table table-condensed">
                        <caption class="sr-only">Nearest Surgeries</caption>
                        <thead>
                            <tr class="tariff-head">
                                <th scope="col" class="th-title">Surgery</th>
                                <th scope="col" class="th-title">Overall</th>
                                <th scope="col" class="th-title th-pers-ex hidden-xs">Personal Experience</th>
                                <th scope="col" class="th-title">Review</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tariff-box" ng-repeat="surgery in model.surgeries">
                                <td class="tb-content tb-content-tariff">
                                    <h4><a ui-sref="healthcare.supplier({ id: surgery._id })">{{::surgery.name}}</a></h4>
                                    <p>Tel: {{::surgery.telephoneNumber}}</p>
                                    <p>{{::surgery.addressLine1}}, {{::surgery.city}}, {{::surgery.postcode}}</p>
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <a ui-sref="healthcare.supplier({ id: surgery._id })" class="btn btn-primary btn-block btn-sm">Rate surgery</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="tb-content tbc-ed-rating">
                                    <b-bar-rating b-rating="surgery.personalExperiencePercentageGood" b-text="Overall"></b-bar-rating>
                                </td>
                                <td class="tb-content tbc-ed-personal hidden-xs">
                                    <div class="tb-content-ed-rating tbc-rating-outstanding">
                                        <b-bar-rating b-rating="surgery.personalExperienceVeryGoodPercent" b-show-rating-text="false" b-size="small" b-text="Very good" ></b-bar-rating>
                                    </div>
                                    <div class="tb-content-ed-rating tbc-rating-good">
                                        <b-bar-rating b-rating="surgery.personalExperienceFairlyGoodPercent" b-show-rating-text="false" b-size="small" b-text="Fairly good" ></b-bar-rating>
                                    </div>
                                    <div class="tb-content-ed-rating tbc-rating-average">
                                        <b-bar-rating b-rating="surgery.personalExperienceNeutralPercent" b-show-rating-text="false" b-size="small" b-text="Neutral" ></b-bar-rating>
                                    </div>
                                    <div class="tb-content-ed-rating tbc-rating-poor">
                                        <b-bar-rating b-rating="surgery.personalExperienceFairlyPoorPercent" b-show-rating-text="false" b-size="small" b-text="Fairly poor" ></b-bar-rating>
                                    </div>
                                    <div class="tb-content-ed-rating tbc-rating-terrible">
                                        <b-bar-rating b-rating="surgery.personalExperienceVeryPoorPercent" b-show-rating-text="false" b-size="small" b-text="Very poor" ></b-bar-rating>
                                    </div>
                                </td>
                                <td class="tb-content tb-content-tariff">
                                    <div ng-if="::surgery.latestReview">
                                        <p><a href="" ui-sref="singlereview({ id: surgery.latestReview.id })">{{::surgery.latestReview.title}}</a></p>
                                        <p ng-if="::surgery.latestReview.user">{{::surgery.latestReview.user.firstName}} {{::surgery.latestReview.user.lastName}}</p>
                                        <p ng-if="::!surgery.latestReview.user">Anonymous</p>
                                    </div>
                                    <div ng-if="::!surgery.latestReview">
                                        <p><a class="review-link" ui-sref="healthcare.supplier({ id: surgery._id })">{{::surgery.reviewCount|isNull:0}} reviews</a></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-md-offset-4 col-md-8" ng-if="!model.surgeries.length">Sorry there aren't any surgeries near that location.</div>
            </section>
        </div>
    </div>
</div>
