﻿<div class="provider-overview reviewer reviewer--{{::$root.sector || $root.siteArea || 'home'}}">
    <div class="container">
        <section class="po">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="po-logo">
                        <b-logo ng-model="model.surgery"></b-logo>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.network.score.overallOpinionPercent" b-text="Overall"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-bar-rating b-show-rating-text="false" b-rating="(model.surgery.caring + model.surgery.overall + model.surgery.personalExperiencePercentageGood)/3" b-text="OVERALL"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">OVERALL</p>
                                            <!--<p>This overall score combines your opinion, NHS Patient Experience Scores and NHS GP Patient Survey results to give you an overall view.</p>-->
                                            <p>This overall score combines your opinion, NHS Patient Experience Scores and NHS GP Patient Survey results to give you an overall view.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.network.score.customerOpinionPercent" b-text="Your opinion"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-bar-rating b-show-rating-text="false" b-rating="model.surgery.personalExperiencePercentageGood" b-text="GB Patient survey"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Your opinion</p>
                                            <!--<p>This is your opinion, taken from ratings on the site when five or more reviews have been provided.</p>-->
                                            <p>This is your opinion, taken from ratings on the site when five or more reviews have been provided.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.network.score.customerServicePercent" b-text="Service score"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-bar-rating b-show-rating-text="false" b-rating="model.surgery.caring" b-text="Caring"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Service score</p>
                                            <!--<p>We are aiming to include the Care Quality Commission's inspection data here so please bear with us until we have collated these figures.</p>-->
                                            <p>We are aiming to include the Care Quality Commission's inspection data here so please bear with us until we have collated these figures.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.surgery.personalExperiencePercentageGood" b-text="Satisfaction score"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-bar-rating b-show-rating-text="false" b-rating="model.surgery.safe" b-text="Safe"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Satisfaction score</p>
                                            <!--<p>This is taken from results of the NHS GP patient survey.</p>-->
                                            <p>This is taken from results of the NHS GP patient survey.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-1 po-pop-surround sr-only">
                    <div class="po-pop">
                        <span class="qmark qmark-pop" b-qmark><span class="qmark-circle-open">?</span>
                            <div class="pop-main">
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-7">
                                                <p>The dials signify a GP rating, based on your reviews and information gathered from the National Health Service GP Patient Survey and Overall Patient experience scores; the National Survey for Wales; GP Patient Experience Survey and Inpatient Patient Experience Survey For Scotland. By analysing this information and listening to your voice, B.heard sets out to change the face of your experience by rewarding health providers that get it right and challenging those that don't.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="qmark qmark-pop qmark-close">x<span class="sr-only">close</span></span>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <a href="#more" du-smooth-scroll="" class="header-banner__down-arrow"><span></span></a>
</div>

<div id="more" class="container section">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <b-supplier-review-form ng-model="model.surgery"></b-supplier-review-form>
        </div>
        <div class="col-xs-12 col-sm-4">
            <b-rankings b-supplier="model.surgery" b-suppliers="model.suppliers"></b-rankings>
        </div>
    </div>
    <b-skimmed-reviews ng-model="model.reviews"></b-skimmed-reviews>
</div>
