<div class="lp-backimage lpbi-healthcare">
  <div class="reviewer reviewer--healthcare">
    <div class="container reviewer__bubble-container">
      <div class="col-md-8 col-md-offset-2">
        <div class="reviewer__bubble animated">
          <img class="reviewer__image reviewer__image--home hidden-sm hidden-xs" />
          <h3 class="reviewer__title" >How healthy is your GP surgery?</h3>
          <h6 class="reviewer__caption">Tell us about it...</h6>
          <b-search-area destination="healthcare.suppliers"></b-search-area>
        </div>
      </div>
    </div>
  </div>
  <a href="#more" du-smooth-scroll class="reviewer__down-arrow"><span></span></a>
</div>
<b-skimmed-reviews id="more" ng-model="model.reviews"></b-skimmed-reviews>
<b-regulatory-banner></b-regulatory-banner>
