<div class="header-banner header-banner--about-us">
    <b-card class="header-banner__bubble" b-speech b-title="Manifesto for Fixing Capitalism" b-subtitle="Democracy 2.0"></b-card>
</div>

<div class="about-container about-container--left">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="layout-component__box">

                    <a class="about-links">
                        <div class="icon democracy--pink"></div>
                    </a>

                    <h2 class="layout-component__title pink-text">1. VALUE PEOPLE AS WELL AS PROFIT</h2>
                    <p>If capitalism is going to survive it must benefit the entire population. That means inclusive capitalism is a necessity. Companies and individuals accept their social contract to behave ethically, and if consumers get to a point where, as individuals, they accept their responsibilities to society whether it be as consumers, investors or chief executives — consumers will be heading in the right direction. Inclusive capitalism means that a company understands its responsibility to its customers, employees, society and the environment. A company is not just an entitlement but a company receives limited liability because it has obligations to society.</p>

                    <h2 class="layout-component__title pink-text">2. GREED IS BAD</h2>
                    <p>The companies that think their only purpose of existence is for profit untrustworthy. These companies do not survive in the long-term, of course profit is necessary, but it is not the sole purpose of the company.</p>

                    <h2 class="layout-component__title pink-text">3. CONSUME CONSCIOUSLY</h2>
                    <p>Consumers have an obligation to make capitalism inclusive. If they are upset by companies that don’t pay their taxes in Britain, then they should not buy those products. That’s the loudest signal that anyone can make. It’s our obligation to exercise our value system in how we consume. If consumers want companies to change their behaviour, then investors should say so.</p>

                    <h2 class="layout-component__title pink-text">4. BANK BETTER</h2>
                    <p>More importantly, consumers should stop using banks that do unethical things. Rather than make it a us-against-them debate, I believe that we should all step in and exercise whatever power we have, finding companies where it is not simply a zero-sum game but a fair and ethical business. Consumers have more power than they think.</p>

                    <h2 class="layout-component__title pink-text">5. REFORM TAX</h2>
                    <p>Tax is necessary and reasonable taxes that produce positive societal results won’t be opposed by anyone. But tax systems all around the world have to be reformed. It is wrong to by angry only towards the companies acting under the law, and for us not to be angry at the law-makers that don’t fix the problem. Companies should be careful with their reputation if they are not paying taxes on the revenue they are generating but it is really incumbent on law-makers to change the law.</p>

                    <h2 class="layout-component__title pink-text">6. CLEAN UP CRONY CAPITALISM</h2>
                    <p>Money is a great incentive, especially in politics. The trouble in the influence of money in politics is creating “crony capitalism.” Condemning the politicians that raise money is not an option that is the system, nonetheless the laws need to change.</p>

                    <h2 class="layout-component__title pink-text">7.  DIVERSIFY: GENDER and COLOUR,</h2>
                    <p>Repeatedly diversity has been proven to improve corporate results, diversity covers gender, and race, and diversity is good for an organisation. The most important thing that a company needs to understand is that it is part of a broader society, and if it is going to succeed it has to take its role in society seriously.</p>

                    <h2 class="layout-component__title pink-text">8. BE A FORCE FOR GOOD</h2>
                    <p>Businesses are not here to solve society’s problems, but when society views businesses as a problem that is when it stops being a force for good. There are some complications in society that can be fixed only by governments and philanthropy. Philanthropy is essential for the bigger issues, that the market cannot solve. That’s where Changecoin come in….</p>

                    <h2 class="layout-component__title pink-text">9. GLOBAL GIVING</h2>
                    <p>Globalisation has reduced the number of people living in poverty by over 700 million over the last fifty years. The problem that this causes for developed economies is displacing the work force by cheaper places for production. Forcing business and governments to work together to provide training needed in the developed economies to keep the jobs from being sent overseas. Allowing the opportunity for developed countries to be innovative. Capitalisms proved to be the most efficient engine of innovation.</p>

                    <h2 class="layout-component__title pink-text">10. NURTURE, RETRAIN, MENTOR</h2>
                    <p>Nurturing the new, holding onto the proven values of the past while adapting to the age of innovations, to save capitalism and bring change to the current system mentorship of the new and the old is essential.</p>

                    <p>Source: Lynn Forester de Rothschild</p>
                </div>
            </div><!--/.col-sm-8.col-sm-offset-2-->
        </div><!--/.row-->
    </div>
</div>
