<div class="header-banner header-banner--about-us">
    <div class="speech-bubble">
        <h1 class="speech-bubble__title">Democracy 2.0</h1>
        <p class="speech-bubble__subtitle">Find out what makes us tick</p>
    </div>
</div>

<div class="about-container about-container--left">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="layout-component__box">
                    <h2 class="layout-component__title pink-text">Our Purpose is to become the change; we hope to see in the world.</h2>

                    <p>Big breakthroughs happen when what is suddenly possible meets what is desperately necessary.</p>

                    <h2 class="layout-component__title pink-text">Did you know, your voice can make a difference?</h2>

                    <p>Political instability and permanent economic volatility is the new normal. Your opinion as a voting citizen and purchasing decisions as a consumer, have more power than you realise…</p>

                    <h2 class="layout-component__title pink-text">B.heard are: Opinions, actioned.</h2>

                    <p>The percentage of companies new to the Fortune 1000 has grown from 35% to 70% in the last 4 decades. Your opinion actioned, can change the status quo.</p>

                    <p>From transforming the banking system, revolutionising education to supporting new energy solutions, or harnessing media for necessary and compelling stories. With the power of your opinions behind us, we imagine a different world and then commit to making it happen.  From Helsinki to Havana, from Stockholm to Sydney, from London to Libya… we join the people, organisations and opportunities that are disrupting the status quo and creating the change we hope to see in our world.</p>
                </div>
            </div><!--/.col-sm-8.col-sm-offset-2-->
        </div><!--/.row-->

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="layout-component__title layout-component__title--center">Seven areas of culture manifestos</h1>
            </div>
        </div>

        <div class="row about-link-section about-link-section--center">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-sm-3">
                    <a ui-sref="democracy.capitalism" class="about-links clearfix">
                        <div class="icon d-business"></div>
                        <h3>Business</h3>
                        <span>Read More...</span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="" class="about-links clearfix">
                        <div class="icon d-government"></div>
                        <h3>Government</h3>
                        <span>TBC</span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="" class="about-links clearfix">
                        <div class="icon d-education"></div>
                        <h3>Education</h3>
                        <span>TBC</span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="" class="about-links clearfix">
                        <div class="icon d-health"></div>
                        <h3>Health</h3>
                        <span>TBC</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row about-link-section about-link-section--center">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-sm-offset-1 col-sm-3">
                    <a ui-sref="" class="about-links clearfix">
                        <div class="icon d-media"></div>
                        <h3>Media</h3>
                        <span>TBC</span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="" class="about-links clearfix">
                        <div class="icon d-family"></div>
                        <h3>Family</h3>
                        <span>TBC</span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a ui-sref="" class="about-links clearfix">
                        <div class="icon d-faith"></div>
                        <h3>Faith</h3>
                        <span>TBC</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>