<div class="header-banner header-banner--about-us">
    <b-card class="header-banner__bubble" b-speech b-title="About us" b-subtitle="Find out what makes us tick"></b-card>
</div>

<div class="about-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="about__title">We action your opinions.
                    <br/>Be it your opinion on a political, economic, or social matter. Or simply the likes and dislikes you might have about a company or institution. We believe your opinions can make a difference.</h3>
                </div><!--/.col-sm-8.col-sm-offset-2-->
            </div><!--/.row-->

            <div class="row about-link-section">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-sm-3">
                        <a ui-sref="forcompanies" class="about-links clearfix">
                            <div class="icon for-companies"></div>
                            <h3>For Companies</h3>
                            <span>Read More...</span>
                        </a>
                    </div><!--/.col-sm-3-->

                    <div class="col-sm-3">
                        <a ui-sref="news" class="about-links">
                            <div class="icon news"></div>
                            <h3>News</h3>
                            <span>Read More...</span>
                        </a>
                    </div><!--/.col-sm-3-->

                    <div class="col-sm-3">
                        <a ui-sref="changecoins" class="about-links">
                            <div class="icon changecoin"></div>
                            <h3>Changecoin&reg;</h3>
                            <span>Read More...</span>
                        </a>
                    </div><!--/.col-sm-3-->

                    <div class="col-sm-3">
                        <a ui-sref="democracy" class="about-links">
                            <div class="icon democracy"></div>
                            <h3>Democracy 2.0</h3>
                            <span>Read More...</span>
                        </a>
                    </div><!--/.col-sm-4-->
                </div><!--/.col-md-8.col-md-offset-2-->
            </div><!--/.row.about-link-section-->
        </div><!--/.container-->

        <h2 class="team__title">Meet the team</h2>
        <div class="team clearfix">
            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Ramsey El-Khazen</h3>
                        <p>Technologist</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Ramsey.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Sir John Hegarty</h3>
                        <p>Investor | Advisor</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/SirJohnHegarty2.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Oscar Vickerman</h3>
                        <p>Founder &amp; CEO</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Oscar.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Nick Johnson</h3>
                        <p>COO</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Nick.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Simran Maini</h3>
                        <p>PR &amp; Communications</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Simvan.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Richard Helyar</h3>
                        <p>Head of Research</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Richard-H.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Jessica Christie</h3>
                        <p>Head of Social Media</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Jazz.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Tom Teichman</h3>
                        <p>Investor | Advisor</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Tom-T.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Gretchen Lennon</h3>
                        <p>Head of Legal</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Gretchen.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Michael Salmon</h3>
                        <p>Head of Interactive Design</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Michael.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Timothy Coleman</h3>
                        <p>Technologist</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Tim.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Nicholas Nicolaides</h3>
                        <p>Investor | Advisor</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Nicholas-nic.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Jonathan Smith</h3>
                        <p>Technologist</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Jonathan.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Becky Charles</h3>
                        <p>PR &amp; Communications</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Becky.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Dr Antti-Ville Suni</h3>
                        <p>Head of Policy &amp; Regulation</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Antti.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Peter Hunn</h3>
                        <p>Consumer Rights Advisor</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Peter.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Onur Ibrahim</h3>
                        <p>Opinion Evangelist</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Onur-Ib.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Israel Oyelumade</h3>
                        <p>Head of Media</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Israel.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Dr Marcus Quierin</h3>
                        <p>Head of International Development</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Marcus.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Nick Kendall</h3>
                        <p>Investor &amp; Group Strategy Director BBH</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Nick-K.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Richard Briance</h3>
                        <p>Investor | Advisor</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Richard-B.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Kevin Brown</h3>
                        <p>Investor &amp; Global Engagement Planning Director BBH</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Kevin.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Paul Curtis</h3>
                        <p>Acting CTO</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Paul.png" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Yury Moskaltsov</h3>
                        <p>Investor &amp; Financial Controller</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Yury.jpg" alt="" />
            </div><!--/.member-->

            <div class="member">
                <div class="overlay">
                    <div class="overlay__info">
                        <h3>Melissa Gilmour</h3>
                        <p>Head of Business Engagement and Development</p>
                    </div>
                </div>

                <img src="/build/images/aboutus/Melissa.jpg" alt="" />
            </div><!--/.member-->
        </div>
    </div>
