<div class="row">
    <div class="col-xs-12">

        <!-- comparison header -->
        <section class="head-box">
            <div class="row row-spacer">
                <!-- <div class="col-xs-12 col-sm-6 col-md-5">
                    <h1 class="hb-large-text">With our voice...</h1>
                    <p class="hb-large-text">about us.</p>
                </div> -->
            </div>
        </section>

        <!-- end of comparison header -->
    </div>
</div>