<section class="useraccount-main layout-component__box" ng-show="!model.formSubmitted">
    <header>
        <h1 class="layout-component__title">Change your email</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-sm-8">
            <p>Just write the new email you want to use below</p>
            <form name="form" novalidate ng-submit="form.$valid && save(model)">
                <fieldset>
                    <div class="form-group row col-xs-12 col-sm-10">
                        <input class="form-control" id="reg-email" name="unconfirmedEmail" placeholder="Email" required type="email" ng-model="model.form.unconfirmedEmail" ng-model-options="{ updateOn: 'blur' }" b-server-validate />
                        <p class="text-danger bg-danger" ng-show="form.$submitted && (form.unconfirmedEmail.$error.required || form.unconfirmedEmail.$error.email)">"Email" is required</p>
                        <p class="text-danger bg-danger" ng-repeat="errorMessage in form.unconfirmedEmail.$error.server">{{errorMessage}}</p>
                    </div>
                    <div class="row col-xs-12 col-sm-10 ua-button">
                        <button type="submit" class="btn pink btn-block">Update</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
<div ng-show="model.formSubmitted">
    <!--<div class="container">-->
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <section class="useraccount-main layout-component__box">
                    <header class="row col-xs-12 col-sm-12">
                        <h1 class="pull-left layout-component__title">Thank you</h1>
                    </header>
                    <div class="row ua-content">
                        <div class="col-xs-12 col-sm-8">
                            <p>We've sent you an email with instructions on how to activate your new email address.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    <!--</div>-->
</div>