<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title extra-margin-tb-lg">Personal information</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-sm-8">
            <p class="small-bold">Update your personal information</p>
            <form name="form" novalidate ng-submit="form.$valid && save(model)">
                <fieldset>
                    <div class="row col-xs-12 col-sm-10 form-group">
                        <input type="text" class="form-control" id="uaFirstName" name="firstName" placeholder="First name" required ng-model="model.firstName" ng-model-options="{ updateOn: 'blur' }">
                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.firstName.$error.required">"First name" is required</p>
                    </div>
                    <div class="row col-xs-12 col-sm-10 form-group">
                        <input type="text" class="form-control" id="uaLastName" name="lastName" placeholder="Last name" required ng-model="model.lastName" ng-model-options="{ updateOn: 'blur' }">
                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.lastName.$error.required">"Last name" is required</p>
                    </div>
                    <div class="row col-xs-12 col-sm-6 form-group">
                        <input type="text" class="form-control" id="uaPostCode" name="postcode" placeholder="Post code" ng-minlength="5" ng-maxlength="8" ng-pattern="/^[0-9A-Z]*\s?[0-9A-Z]*$/i" ng-model="model.postcode" ng-model-options="{ updateOn: 'blur' }">
                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.postcode.$invalid">"Postcode" is invalid</p>
                    </div>
                    <div class="row col-xs-12 col-sm-10 ua-button">
                        <button type="submit" class="btn pink btn-block">Update</button>
                    </div>
                </fieldset>
            </form>
            <div ng-if="::!currentUser.isSocial" class="row col-xs-12 col-sm-10">
                <h2 class="layout-component__subtitle">Want a custom avatar?</h2>
                <img gravatar-src="currentUser.email" gravatar-size="100" class="gravatar__icon" />

                <p>B.heard will use the avatar you have set for {{::currentUser.email}} on
                    <a class="pink-text" href="https://www.gravatar.com" target="_blank">Gravatar</a>.</p>
            </div>
        </div>
    </div>
</section>