<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Changecoin&reg;</h1>
    </header>
    <div class="row ua-content ua-changecoins">
        <div class="col-xs-12 col-sm-8">
            <h3 class="layout-component__subtitle">You have earned...</h3>
            <img class="changecoin__icon" />
            <p class="changecoin__counter">{{::currentUser.changeCoins}}</p>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="layout-component__subtitle">Your statement</h3>
            <div class="table-responsive">
                <table class="table ua-cc-table changecoin__table">
                    <caption class="sr-only">Your Changecoin&reg; statement</caption>
                    <thead>
                        <tr class="changecoin__table-header">
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Coins in</th>
                            <th scope="col">Coins out</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="transaction in ::model.changeCoinsLedger" ng-switch on="transaction.event"
                           class="changecoin__table-item">
                        <tr class="cc-out changecoin__table-item-row" ng-switch-when="donationsent">
                            <td>{{::transaction.entryDate|date:'dd/MM/yy'}}</td>
                            <td>Donation to {{::transaction.charity.name}}</td>
                            <td></td>
                            <td>{{::transaction.coins}}</td>
                            <td>{{::transaction.balance}}</td>
                        </tr>
                        <tr class="cc-in changecoin__table-item-row" ng-switch-default>
                            <td>{{::transaction.entryDate|date:'dd/MM/yy'}}</td>
                            <td>{{::transaction.event|changeCoinEventText}}</td>
                            <td>{{::transaction.coins}}</td>
                            <td></td>
                            <td>{{::transaction.balance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a ui-sref="changecoins" class="btn pink btn-block">What are Changecoin&reg;?</a>
        </div>
    </div>
</section>