<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Change your password</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-sm-8">
            <p>Enter your old and new passwords below and hit the big pink button</p>
            <form name="form" novalidate ng-submit="form.$valid && save(model)">
                <fieldset>
                    <div class="form-group row col-xs-12 col-sm-10">
                        <input type="password" class="form-control" id="uaOldPassword" placeholder="Enter your old password" name="oldPassword" required ng-model="model.oldPassword" ng-model-options="{ updateOn: 'blur' }" b-server-validate>
                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.oldPassword.$error.required">"Old password" is required</p>
                        <p class="text-danger bg-danger" ng-repeat="errorMessage in form.oldPassword.$error.server">{{errorMessage}}</p>
                    </div>
                    <div class="form-group row col-xs-12 col-sm-10">
                        <input type="password" class="form-control" id="uaNewPassword" placeholder="Add password here" name="newPassword" required ng-model="model.newPassword" ng-model-options="{ updateOn: 'blur' }">
                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.newPassword.$error.required">"New password" is required</p>
                    </div>
                    <div class="form-group row col-xs-12 col-sm-10">
                        <input type="password" class="form-control" id="uaReNewPassword" placeholder="Then retype it here" name="confirmNewPassword" required ng-model="model.confirmNewPassword" ng-model-options="{ updateOn: 'blur' }" b-match="model.newPassword">
                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.confirmNewPassword.$error.required">"Retype new password" is required</p>
                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.confirmNewPassword.$error.match">"Retype new password" must match "New password"</p>
                    </div>
                    <div class="row col-xs-12 col-sm-10 ua-button">
                        <button type="submit" class="btn pink btn-block">Update</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>