<div class="row">
    <div class="col-xs-12">
        <section class="head-box hb-compare">
            <div class="row row-spacer">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <h1 class="hb-large-text">With our voice...</h1>
                    <p class="hb-large-text">update your account</p>
                </div>
            </div>
        </section>
    </div>
</div>