<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Your opinions &amp; reviews</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-sm-8">
            <h3 class="layout-component__subtitle">Summary</h3>
            <p>You have {{::model.reviews.length}} reviews</p>
        </div>
    </div>
    <div class="row" ng-if="::model.reviews.length">
        <div class="col-xs-12">
            <h3>Your reviews</h3>
            <div class="col-xs-12 col-sm-12 col-md-6" ng-repeat="review in ::model.reviews">
                <b-semi-skimmed-review ng-model="review"></b-semi-skimmed-review>
            </div>
        </div>
    </div>
</section>
