<div class="container layout-component__page">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <aside class="useraccount-side layout-component__box">
                <header>
                    <h1 class="layout-component__subtitle">My Account</h1>
                </header>
                <ul class="list-unstyled layout-component__side-menu extra-margin-tb-lg">
                    <li>
                        <a ui-sref-active='active' ui-sref="account.personalinformation" >Personal information</a>
                    </li>
                    <li>
                        <a ui-sref-active='active' ui-sref="account.changecoinsaccount">Changecoin&reg; account</a>
                    </li>
                    <!--<li>-->
                        <!--<a ui-sref-active='active' ui-sref="account.myratings">My ratings&amp;reviews</a>-->
                    <!--</li>-->
                    <li>
                        <a ui-sref-active='active' ui-sref="account.changeemailaddress">Change email address</a>
                    </li>
                    <li>
                        <a ui-sref-active='active' ui-sref="account.changepassword">Change password</a>
                    </li>
                </ul>
                <div class="">
                    <a class="pull-right" ui-sref="logout">Logout</a>
                </div>
            </aside>
            <!--<aside class="useraccount-side">
                <header>
                    <h1>Changecoin&reg;</h1>
                </header>
                <div class="ua-side-content">
                    <p>Hi {{::currentUser.firstName}}, you have 0 Changecoin&reg;</p>
                </div>
            </aside>-->
        </div>
        <div class="col-xs-12 col-sm-8">
            <div ui-view></div>
        </div>
    </div>
</div>
