<section class="useraccount-main terms-conditions layout-component__box">
	<header>
		<h1 class="layout-component__title">Complaints Procedure</h1>
	</header>
	<div class="row ua-content">
		<div class="col-xs-12 col-sm-12">
			<p>
				If for any reason you feel dissatisfied with any aspect of our service, in the first instance you should
				contact our client services team on:<br><br>
				<a href="tel:+442032867217">+44 (0) 203 286 7217</a><br><br>
				or email <a href="mailto:complaints@bheard.com">complaints@bheard.com</a><br><br>
			</p>
			<p>The vast majority of complaints can be dealt with within 24 hours.</p>
			<p>
				We will do everything we can to address your complaint within 24 hours and attempt to put things right
				as quickly as possible. If we are unable to resolve the matter then we will let you know and treat your
				dissatisfaction as a formal complaint.
			</p>
			<p>
				We will carry out an impartial review of the complaint with a view to understanding what did or did not
				happen and to assess whether we have acted fairly within our rights and have met our contractual and
				other obligations. A full written response will be provided within eight weeks of receiving the
				complaint. We will keep you regularly updated with the progress of your complaint.
			</p>
			<p>
				If you are classified as a retail client, and you do not feel that your complaint has been resolved
				satisfactorily by the compliance department, you are able to refer your complaint to the Financial
				Ombudsman Service. The Financial Ombudsman Service is an independent organisation that was established
				to resolve disputes between financial institutions and their customers.
			</p>
			<p>
				Any reference to the Financial Ombudsman Service must take place within six months of our final
				response letter, and you should also note that the Financial Ombudsman Service will not consider a
				complaint until we have had the opportunity to address the complaint.
			</p>
			<p>
				The full contact details of the Financial Ombudsman Service are:<br><br>
				Address:

				<div translate="no" typeof="schema:PostalAddress">
					<span property="schema:name">Financial Ombudsman Service</span><br>
					<span property="schema:streetAddress">Exchange Tower</span><br>
					<span property="schema:addressLocality">London</span><br>
					<span property="schema:postalCode">E14 9SR</span><br>
					<abbr property="schema:addressCountry">UK</abbr>
				</div><br>

				Telephone numbers:<br><br>
				<a href="tel:0800 023 4 567">0800 023 4 567</a>
				- calls to this number are now free on mobile phones and landlines<br><br>
				<a href="tel:0300 123 9 123">0300 123 9 123</a>
				- calls to this number cost no more than calls to 01 and 02 numbers<br><br>
				These numbers may not be available from outside the UK – so please call from abroad on
				<a href="tel:+44 20 7964 0500">+44 20 7964 0500</a>.<br><br>

				Email:
				<a href="mailto:complaint.info@financial-ombudsman.org.uk">
					complaint.info@financial-ombudsman.org.uk</a><br><br>
				Website:
				<a href="mailto:http://www.financial-ombudsman.org.uk">http://www.financial-ombudsman.org.uk</a>
			</p>
		</div>
	</div>
</section>
