<section class="useraccount-main terms-conditions layout-component__box">
	<header>
		<h1 class="layout-component__title">Cookies Policy</h1>
	</header>
	<div class="row ua-content">
		<div class="col-xs-12 col-sm-12">

<h4 class="layout-component__subtitle">Use of Cookies</h4>

<p>A cookie is a small text file which is placed onto your computer (or other electronic device) when you access our website. We may use cookies on this website to:</p>

<ul>
	<li>recognise you whenever you 	visit this website (this speeds up your access to the website as you do not have to log on each time)</li>
	<li>obtain information about your preferences, online movements and use of the internet</li>
	<li>carry out research and statistical analysis to help improve our content, products and services and to help us better understand our visitor requirements and interests</li>
	<li>target our marketing and advertising campaigns and those of our partners more effectively by providing interest-based advertisements that are personalised to your interests, and</li>
	<li>make your online experience more efficient and enjoyable.</li>
</ul>

<p>The information we obtain from our use of cookies will not usually contain your personal data. Although we may obtain information about your computer or other electronic device such as your IP address, your browser and/or other internet log information, this will not usually identify you personally.</p>

<p>In certain circumstances we may collect personal information about you—but only where you voluntarily provide it (eg by completing an online form) [or where you purchase goods or services from us].</p>

<p>In most cases we will need your consent in order to use cookies on this website. The exception is where the cookie is essential in order for us to provide you with a service you have requested (eg to enable you to put items in your shopping basket and use our check-out process).</p>

<h4 class="layout-component__subtitle">Notification</h4>

<p>There is a notice on our home page which describes how we use cookies and which also provides a link to our Website privacy policy. If you use this website after this notification has been displayed to you, we will assume that you consent to our use of cookies for the purposes described in our Website cookie policy and Website privacy policy.</p>

<h4 class="layout-component__subtitle">Third Party Cookies</h4>

<p>We may work with third-party suppliers who may also set cookies on our website, for example [eg Facebook, Twitter, YouTube and Adobe Flash player which we use to display video content]. These third-party suppliers are responsible for the cookies they set on our site. If you want further information please go to the website for the relevant third party. You will find additional information in the table below.</p>

<h4 class="layout-component__subtitle">Description of Cookies</h4>

<p>The table below is designed to provide more information about the cookies we use and why:</p>

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th width="20%">Name of cookie</th>
				<th width="15%">Owner</th>
				<th>Purpose for the cookie</th>
			</tr>
		</thead>
		<tr>
			<td>eg Google Analytics</td>
			<td>Google</td>
			<td>eg: This is a web analytics service provided by Google, Inc which uses cookies to show us how visitors found and explored our site, and how we can enhance their experience. It provides us with information about the behaviour of our visitors (eg how long they stayed on the site, the average 	number of pages viewed) and also tells us how many visitors we have had.</td>
		</tr>
	</table>
</div>

<h4 class="layout-component__subtitle">How to Turn Off Cookies</h4>

<p>If you do not want to accept cookies, you can change your browser settings so that cookies are not accepted. If you do this, please be aware that you may lose some of the functionality of this website. For further information about cookies and how to disable them please go to: <a href="http://www.aboutcookies.org" target="_blank">www.aboutcookies.org</a> or <a href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>.</p>

		</div>
	</div>

</section>
