<section class="useraccount-main terms-conditions layout-component__box">
	<header>
		<h1 class="layout-component__title">B.heard Review Guidelines</h1>
	</header>
	<div class="row ua-content">
		<div class="col-xs-12 col-sm-12">

<h3 class="layout-component__subtitle">B.heard wants your voice to be heard</h3>
<p>As a B.heard user, we want to encourage you to share your opinion on the companies and services that you use, both favourable and unfavourable. At the core, our values are to promote transparency and to offer genuine value on the foundation of integrity.</p>

<h3 class="layout-component__subtitle">Who can post a review?</h3>
<p>B.heard allows you to post a review on the companies and services that you use. We ask that you only post a review based on your own experience and which reflects a genuine opinion. You are not allowed to write a review on a Service/Company if you are, or were, an employee of that organization, or if you are/have been an owner, officer or a family member of someone who is. We have a zero tolerance on users posting fabricated reviews, which is a material breach of the Terms&amp;Conditions agreed to upon signing up to the website.</p>

<h3 class="layout-component__subtitle">What can you write?</h3>
<p>You are encouraged to write about your experiences with customer service and the value for money received, although you are not limited to just this when writing about your personal experiences with these companies and services.</p>
<p>A good review tends to have the following characteristics –</p>
<ul>
	<li>Specific to the companies / services being reviewed</li>
	<li>An appropriate length – typically between 50-250 words</li>
	<li>Authentic – based on a personal experience, whether it's a positive or negative review.</li>
</ul>
<p>The reviews posted on the website are those of B.heard users, and do not represent the view of B.heard.</p>

<h3 class="layout-component__subtitle">What can you not write?</h3>
<p>B.heard reserves the right to remove any reviews which include any of the following:</p>
<ul>
	<li>Objectionable material – such as defamatory, blasphemous, racist, sexual or incendiary content.</li>
	<li>Promotional content – such as advertisements, reviews written for any form of compensation, or sentiments written on behalf of a person or Company with a financial interest in the service/products or equivalent competing service/product.</li>
	<li>Inappropriate content – such as personal details (including phone numbers, URLs, email addresses, credit card information), reviews directed at other users, reviews not written in English, any material that has previously been published elsewhere, excessive ALL CAPs, formatting issues, repeated text, or inappropriate symbols.</li>
</ul>

<h3 class="layout-component__subtitle">Why hasn't my review been posted yet?</h3>
<p>Before being posted, reviews undergo a screening process to ensure that they comply with B.heards user guidelines and to maintain the integrity of the website. B.heard reserves the right to refuse or remove to post any review.</p>
<p>If we identify a review which does not meet the user guidelines, we may ask you to modify you review. As trust and integrity are essential to us, reviews that we deem to be false or fabricated will be deleted. When do we remove your review, your account on the site may also be blocked and in extreme circumstances may lead to a filing of a report with a relevant authority.</p>
<p>A blocked account will mean that a user is unable to sign into the website using a login, which includes the ability to rate and review, as well as the use of any Changecoin&reg;. Any existing user reviews are still available on the website, however, the user cannot access any of B.heard's services.</p>
<p>If you think we have not got it right, please contact us on <a href="mailto:compliance@bheard.com">compliance@bheard.com</a> and we can revisit the decisions made.</p>

<h3 class="layout-component__subtitle">What we do with your reviews</h3>
<p>The purpose of B.heard is to provide a platform for users and Companies to have a conversation. Your reviews are the start of this conversation, providing an informative and true view on a Company's customer service.</p>
<p>Reviews which are approved are shown on the review board for an organization, which is publically available for any user on the website to view.</p>
<p>In order to continue this conversation, we may share the results with the Company – responses will be used only for statistical tabulations, such as "75% of individuals considered a rating of 4 or more for the Company". Individual answers will not be revealed in a manner that gives details of your identity, in accordance with the Company's privacy policy.</p>

<h3 class="layout-component__subtitle">How to report a review</h3>
<p>Each review has a "helpful" and  "report" buttons in order to indicate a user's view on a posted review. Alternatively, you can report any concerns by emailing us on <a href="mailto:compliance@bheard.com">compliance@bheard.com</a>.</p>

<h3 class="layout-component__subtitle">How to delete your user profile</h3>
<p>If you decide to delete your user profile, you can go to "Your Profile", select "Account settings" to deregister from the site.</p>

<h3 class="layout-component__subtitle">Types of reviews that do not meet the guidelines</h3>
<p>To help illustrate, we provide below some examples of content that would not meet our guidelines:</p>
<ol>
	<li>A member of an organization posts a review of their own business, posing as an unbiased customer</li>
	<li>An individual who has had an unsatisfactory experience with an organization posts multiple negative posts on the same organization</li>
	<li>A customer posts a review for an organization, in exchange for consideration from the organization for posting the review.</li>
	<li>An organisation posts a positive review for a peer, in exchange for a positive review from their peer.</li>
	<li>An organization posts a negative review on a competitor organization</li>
	<li>Defamatory content has been included in a review.</li>
	<li>A user posts advertising material in a review.</li>
	<li>Inappropriate or excessive personal information is shared in a review</li>
</ol>

<h3 class="layout-component__subtitle">Any questions?</h3>
<p>If you have any further questions, you can contact us at <a href="mailto:enquiries@bheard.com">enquiries@bheard.com</a>.</p>

<h3 class="layout-component__subtitle">Ongoing changes to these guidelines</h3>
<p>We may from time-to-time make updates to these guidelines. Your continued use of the website after any modified version of these guidelines indicates your acceptance of such changes.</p>

		</div>
	</div>

</section>