<div class="container layout-component__page">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <aside class="useraccount-side layout-component__box">
                <header>
                    <h1 class="layout-component__subtitle">Legal</h1>
                </header>
                <ul class="list-unstyled layout-component__side-menu extra-margin-tb-lg">
                    <li><a ui-sref-active='active' ui-sref="terms">Terms and Conditions</a></li>
                    <li><a ui-sref-active='active' ui-sref="cookies">Cookies Policy</a></li>
                    <li><a ui-sref-active='active' ui-sref="guidelines">Review Guidelines</a></li>
                    <li><a ui-sref-active='active' ui-sref="privacy">Privacy Policy</a></li>
                    <li><a ui-sref-active='active' ui-sref="complaints">Complaints</a></li>
                </ul>
            </aside>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div ui-view></div>
        </div>
    </div>
</div>