<section class="useraccount-main terms-conditions layout-component__box">
	<header>
		<h1 class="layout-component__title">Privacy Policy</h1>
	</header>
	<div class="row ua-content">
		<div class="col-xs-12 col-sm-12">

<p>This website is brought to you by B.heard Limited. We take the privacy of our website users very seriously. We ask that you read this Privacy Policy ('the Policy') carefully as it contains important information about how we will use your personal data.</p>

<h4 class="layout-component__subtitle">Personal Data We May Collect</h4>
<p>We will obtain personal data about you (such as your name, address, email address) whenever you complete an online form. For example, we will obtain your personal data when you register to use this website, send us feedback, post material, contact us for any reason, sign up to our email mailing list. We may also obtain sensitive personal data about you if you volunteer it during the completion of an online form. 

We may monitor your use of this website through the use of cookies and similar tracking devices. For example, we may monitor how many times you visit, which pages you go to, traffic data, location data and the originating domain name of a user's internet service provider. This information helps us to build a profile of our users. Some of this data will be aggregated or statistical, which means that we will not be able to identify you individually.</p> 

<h4 class="layout-component__subtitle">How We Use Your Personal Data</h4>
<p>We will use your personal data for the purposes described in the data protection notice that was given to you at the time your data were obtained. These purposes include: to help us identify you and any accounts you hold with us; administration; research, statistical analysis and behavioural analysis; customer profiling and analysing your purchasing preferences; marketing - see 'Marketing&amp;Opting Out', below; fraud prevention and detection; billing and order fulfilment; customising this website and its content to your particular preferences; to notify you of any changes to this website or to our services that may affect you; security vetting; and improving our services.</p> 

<h4 class="layout-component__subtitle">Marketing&amp;Opting Out</h4>
<p>We will only contact you by email if you have consented to us doing so (such as by providing your email address). If you have changed your mind and would prefer us not to contact you, then you can opt out at any time. See further 'Your Rights', below.</p>

<h4 class="layout-component__subtitle">Disclosure of Your Personal Data</h4>
<p>We may disclose your personal data to: other companies within our group; our agents and service providers; law enforcement agencies in connection with any investigation to help prevent unlawful activity; and our business partners in accordance with the 'Marketing and Opting Out' section above.</p>

<h4 class="layout-component__subtitle">Keeping Your Data Secure</h4>
<p>While we will use efforts to safeguard your personal data, you acknowledge that the use of the internet is not entirely secure and for this reason we cannot guarantee the security or integrity of any personal data that are transferred from you or to you via the internet.</p>

<h4 class="layout-component__subtitle">Information About Other Individuals</h4>
<p>If you give us information on behalf of someone else, you confirm that the other person has appointed you to act on his/her behalf and has agreed that you can: give consent on his/her behalf to the processing of his/her personal data; receive on his/her behalf any data protection notices; give consent to the transfer of his/her personal data abroad; and give consent to the processing of his/her personal information.</p>

<h4 class="layout-component__subtitle">Transfers of Data Out of the EEA</h4>
<p>When you signup to our mailing list you agreed that we may transfer your personal data to countries outside the European Economic Area. Rest assured that we will always ensure any transfer is subject to appropriate security measures to safeguard your personal data.</p>

<h4 class="layout-component__subtitle">Your Rights</h4>
<p>You have the right, subject to the payment of a small fee (currently £10), to request access to personal data that we may process about you. If you wish to exercise this right, you should: put your request in writing; include proof of your identity and address (eg a copy of your driving licence or passport, and a recent utility or credit card bill); attach a cheque in the amount of £10 (contact us for payee details); specify the personal data you want access to, including any account or reference numbers where applicable.</p>

<p>You have the right to require us to correct any inaccuracies in your data free of charge. If you wish to exercise this right, you should: put your request in writing; provide us with enough information to identify you (eg account number, username, registration details); and specify the information that is incorrect and what it should be replaced with.</p>

<p>You also have the right to ask us to stop processing your personal data for direct marketing purposes. If you wish to exercise this right, you should: put your request in writing (an email sent to info@bheard.com with a header that says 'Unsubscribe' is acceptable); provide us with enough information to identify you (eg account number, username, registration details); and if your objection is not to direct marketing in general, but to direct marketing by a particular channel (eg email or telephone), please specify the channel you are objecting to.</p>

<h4 class="layout-component__subtitle">Our Contact Details</h4>
<p>We welcome your feedback and questions. If you wish to contact us, please send an email to info@bheard.com, write to us at our registered office below or call us on ​+44 (020) 3289 9998.</p>

<p>We may change this privacy policy from time to time. You should check this policy occasionally to ensure you are aware of the most recent version that will apply each time you access this website.</p>

		</div>
	</div>

</section>