<section class="useraccount-main terms-conditions layout-component__box">
	<header>
		<h1 class="layout-component__title">Terms and Conditions</h1>
	</header>
	<div class="row ua-content">
		<div class="col-xs-12 col-sm-12">

<p>This website is brought to you by B.heard Limited ('B.heard').<br><br>
	B.heard Limited is a registered limited company of England and Wales (9082696) located at B.heard Limited, 21 - 27 Lambs Conduit Street, London, WC1N 3GS, United Kingdom<br>
	B.heard Limited is an Appointed Representative of Resolution Compliance Limited which is authorised and regulated by the Financial Conduct Authority (FRN:574048).<br><br>
	These terms and conditions of use explain how you may use this website ('the Site'). Please read them carefully are in full before using the Site.<br><br></p>

<h4 class="layout-component__subtitle">1. About</h4>

<p>1.1 References in these terms to the Site includes the websites at the following domains: www.bheard.com, www.bheard.com, www.heard.uk, www.bheard.co, www.vocho.co.uk and all associated web pages and subdomains.
								
<br/>1.2 By accessing/using this Site or otherwise indicating your consent, you agree to be bound by these terms and conditions and the documents referred to in them.
								
<br/>1.3 If you do not agree with or accept any of these terms or conditions, you should stop using the Site immediately.

<br/>1.4 If you have any questions about the Site, please contact <a target="_blank" href="mailto:enquiries@bheard.com">enquiries@bheard.com</a>.</br></p>

<h4 class="layout-component__subtitle">2. Definitions</h4>

<p>2.1 'Content' means any text, images, video, audio or other multimedia content, software or other information or material submitted to or on the Site;

<br/>2.2 'Unwanted Submission' has the meaning given to it in clause 5.1;
								
<br/>2.3 'Terms and Conditions of Use' means the <a ui-sref="terms">terms and conditions</a>, which will apply to you ordering goods using the Site;

<br/>2.4 'Privacy Policy' means the <a ui-sref="privacy">policy</a> governing how we process personal data collected from you;

<br/>2.5 'We','Us', or 'Our' means B.heard Limited, company registration number 9082696 and whose registered office is at 21 - 27 Lambs Conduit Street, London, WC1N 3GS, United Kingdom. References to us in these terms also includes our group companies from time to time;

<br/>2.6 'You' or 'Your' means the person accessing or using the Site or its Content.</p>

<h4 class="layout-component__subtitle">3. Services</h4>

<p>

	Our comparison Service allows you to research and compare financial, insurance or other products that may be available to you depending upon your circumstances.<br><br>
	B.heard Ltd is a credit broker (not a lender) and an Appointed Representative of Resolution Compliance Limited which is authorised and regulated by the Financial Conduct Authority  – this means we’re able to show you the products offered by lenders. We don’t take a fee from you if you use our service, instead we are paid by the lenders. We always aim to keep ourselves independent, and in the future will disclose to you the commission we receive should you switch to a particular lenders product. We don’t let the size of the commission affect how we present the products to you.<br><br>
	Opinions provided on this page are not regulated by the Financial Conduct Authority, and are not reflective of the views of B.heard Ltd.<br><br>
	Its important that you read and understand terms and conditions relating to a specific product or service before you enter into a contract with your chosen product provider, if you are not sure which is the right product for you, you should seek advice.<br><br>
	Please note that B.heard Ltd has no control over the third party providers listed in our comparison service. Accordingly, LMFS Limited specifically disclaims all liability for any damage or costs of any type arising out of or in any way connected with your use of a provider’s service or product included in our comparison Service.<br><br>
	We source our financial data on a non-advised basis from Moneyfacts Group Plc and <a target="_blank" href="http://moneyfacts.co.uk">Moneyfacts.co.uk</a>, which is also Authorised and Regulated by the Financial Conduct Authority.<br><br>
	We provide you with access to a representative range of financial products to provide a fair reflection of the market place. In other words, we are not restricted in showing you the credit card market, however, some lenders don’t want their products included on comparison sites, certain product characteristics such as geographic restrictions or unusual features mean that some products are excluded to prevent confusion.<br><br>

</p>

<h4 class="layout-component__subtitle">4. Using the Site</h4>

<p>4.1 You agree that you are solely responsible for:

<br/>4.1.1 all costs and expenses you may incur in relation to your use of the Site; and

<br/>4.1.2 keeping your password and other account details confidential.

<br/>4.2 The Site is intended for use only by those who can access it from within the UK. We may accept instructions from outside of the UK although this may depend on certain customs, legal and other practical restrictions. If you choose to access the Site from locations outside the UK you are responsible for compliance with local laws where they are applicable.

<br/>4.3 We seek to make the Site as accessible as possible. If you have any difficulties using the Site, please contact the webmaster.

<br/> 4.4 We may prevent or suspend your access to the Site if you do not comply with any part of these Website terms and conditions, any terms or policies to which they refer or any applicable law.</p>

<h4 class="layout-component__subtitle">5. Ownership, Use&amp;Intellectual Property</h4>

<p>5.1 This Site and all intellectual property rights in it including but not limited to any Content are owned by us. Intellectual property rights means rights such as: copyright, trade marks, domain names, design rights, database rights, patents and all other intellectual property rights of any kind whether or not they are registered or unregistered (anywhere in the world). We and our licensors (if any) reserve all of our rights in any intellectual property in connection with these terms and conditions. This means, for example, that we (and they, if applicable) remain owners of them and freely use them as we see fit.

<br/>5.2 Nothing in these terms and conditions grants you any legal rights in the Site other than as necessary to enable you to access the Site. You agree not to adjust to try to circumvent or delete any notices contained on the Site (including any intellectual property notices) and in particular in any digital rights or other security technology embedded or contained within the Site.

<br/>5.3 ‘B.Heard&reg;’ and ‘Changecoin&reg;’ are our trade marks. Other trade marks and trade names may also be used on this Site. The use of any trade marks on the Site is strictly prohibited unless you have our prior written permission.</p>

<h4 class="layout-component__subtitle">6. Submitting Information to the Site</h4>

<p>6.1 While we try to make sure that the Site is secure, we cannot guarantee the security of any information that you supply to us and therefore we cannot guarantee that it will be kept confidential. For that reason, you should not let us have any patentable ideas or patent applications, advertising or marketing suggestions, prototypes, or any other information that you regard as confidential, commercially sensitive or valuable ('Unwanted Submissions'). While we value your feedback, you agree not to submit any Unwanted Submissions.
<br/>6.2 We may use any Unwanted Submissions as we see reasonably fit on a free-of-charge basis (bear in mind that we have no way of knowing whether such information is confidential, commercially sensitive or valuable because we do not monitor the Site to check for these matters). Therefore, we will not be legally responsible for keeping any Unwanted Submissions confidential nor will we be legally responsible to you or anybody else for any use of such Unwanted Submissions.</p>

<h4 class="layout-component__subtitle">7. Accuracy of Data&amp;Availability of the Site</h4>

<p>7.1 While we try to make sure that the Site is accurate, up-to-date and free from bugs, we cannot promise that it will be. Furthermore, we cannot promise that the Site will be fit or suitable for any purpose. Any reliance that you may place on the information on this Site is at your own risk.

<br/>7.2 We may suspend or terminate operation of the Site at any time as we see fit.

<br/>7.3 Any Content is provided for your general information purposes only and to inform you about us and our products and news, features, services and other websites that may be of interest. It does not constitute technical, financial, investment or legal advice or any other type of advice and should not be relied on for any purposes.

<br/> 7.4 While we try to make sure that the Site is available for your use, we do not promise that the Site is available at all times nor do we promise the uninterrupted use by you of the Site.</p>

<h4 class="layout-component__subtitle">8. Hyperlinks&amp;Third Party Sites</h4>

<p>The Site may contain hyperlinks or references to third party websites other than the Site. Any such hyperlinks or references are provided for your convenience only. We have no control over third party websites and accept no legal responsibility for any content, material or information contained in them. The display of any hyperlink and reference to any third party website does not mean that we endorse that third party's website, products or services. Your use of a third party site may be governed by the terms and conditions of that third party site.</p>

<h4 class="layout-component__subtitle">9. Limitation of Our Liability</h4>

<p>9.1 No representation, warranty or undertaking is given by B.heard as to the accuracy or completeness of the Information by B.heard and no liability is accepted by B.heard for the accuracy or completeness of such Information. In no event will B.heard be liable to any person for any direct, indirect, special or consequential damages arising out of any use of the Information, or on any other hyper-linked site, including, without limitation, any lost profits, business interruption, loss of programs or data on your equipment, or otherwise, even if B.heard is expressly advised of the possibility or likelihood of such damages. This does not exclude or restrict any duty or liability that B.heard has to its customers under any regulatory system. You should be aware that the Internet is not a completely reliable transmission medium. B.heard does not accept any liability for any data transmission errors such as data loss or damage or alteration of any kind, including, but not limited to any direct, indirect or consequential damage, arising out of the use of the products or services referred to herein. This does not exclude or restrict any duty or liability that B.heard has to its customers under any regulatory system.

<br/>9.2 Except for:

<br/> 9.1.1 death or personal injury caused by our negligent acts or omissions (or those of any of our employees or agents);

<br/>9.1.2 fraud or fraudulent misrepresentation;

<br/>9.1.3 breach of any of the provisions implied into these terms and conditions under the Sale of Goods Act 1979 (or any other law);

<br/>we will only be liable for any loss or damage that is a reasonably foreseeable consequence of a breach of these terms and conditions. Losses are foreseeable where they could be contemplated by you and us at the time these terms and conditions and any additional agreements are entered into. We are not responsible for indirect losses that happen as a side effect of the main loss or damage and which are not foreseeable by you and us (such as loss of profits or loss of opportunity).

<br/>9.3 We take no responsibility for the content of any third party website, whether referring B.heard or any affiliate or via any link that may appear on the Site.</p>

<h4 class="layout-component__subtitle">10. Accuracy of Information</h4>

<p>The Information (including any expression of opinion or forecast) has been obtained from, or is based on, sources believed by B.heard, and any affiliated entity, to be reliable, but is not guaranteed as to its accuracy or completeness and should not be relied upon. The Information is provided without obligation on the part of B.heard and on the understanding that any person who acts upon it or changes his investment position in reliance on it does so entirely at his own risk. The Information does not constitute an offer to buy or sell or an invitation to make an offer to buy or sell any of the securities or shares in any fund referred to herein. Information is current only as at the date it is first posted and may no longer be true or complete when viewed by you. All Information may be changed or amended without prior notice although B.heard does not undertake to update this Site regularly. Some of the Information may be provided by third parties and B.heard, and any affiliated entities, accepts no responsibility or liability for the accuracy of such information.</p>

<h4 class="layout-component__subtitle">11. Indemnity</h4>
<p>You agree to indemnify, defend, and hold harmless B.heard, its affiliates and licensors, and the officers, partners, employees, and agents of B.heard and its affiliates and licensors, from and against any and all claims, liabilities, damages, losses, or expenses, including legal fees and costs, arising out of or in any way connected with your access to or use of this Site and the information within it.</p>

<h4 class="layout-component__subtitle">12. Material Interests</h4>

<p>You agree to indemnify, defend, and hold harmless B.heard, its affiliates and licensors, and the officers, partners, employees, and agents of B.heard and its affiliates and licensors, from and against any and all claims, liabilities, damages, losses, or expenses, including legal fees and costs, arising out of or in any way connected with your access to or use of this Site and the information within it.</p>

<h4 class="layout-component__subtitle">13. Events Beyond Our Control</h4>

<p>We shall have no liability to you for any breach of these terms caused by any event or circumstance beyond our reasonable control including, without limitation, strikes, lock-outs or other industrial disputes; breakdown of systems or network access; or flood, fire, explosion or accident.</p>

<h4 class="layout-component__subtitle">14. Rights of Third Parties</h4>

<p>No one other than a party to these terms and conditions has any right to enforce any of these terms and conditions.</p>

<h4 class="layout-component__subtitle">15. Intellectual Property</h4>

<p>Copyright, trademarks, database rights, patents and all similar rights in this Site and the information contained are owned by B.heard, its licensors or relevant third party providers. You may use the Information and reproduce it in hard copy for your personal reference only. The Information may not otherwise be reproduced, distributed, stored or transmitted without B.heard' written consent. Nothing on this Site should be considered as granting any license or right under any trademark of B.heard or any third party.</p>

<h4 class="layout-component__subtitle">16. Cookies</h4>

<p>B.heard may use cookies. A 'cookie' is a type of message given to a web browser by a web server. B.heard may use a persistent cookie to enable you to customise your use of the Site: this will be stored on your computer’s hard drive until it automatically expires or until you delete it. By using this Site you hereby give your consent to B.heard using cookies. Cookies are regulated by our Cookie Policy. If you require any help with cookies, please contact <a target="_blank" href="mailto:enquiries@bheard.com">enquiries@bheard.com</a>.</p>

<h4 class="layout-component__subtitle">17. Changes to These Terms</h4>

<p>These terms are dated 08/09/2016 . No changes to these terms are valid or have any effect unless agreed by us in writing. We reserve the right to vary these terms and conditions from time to time. Our new terms will be displayed on the Site and by continuing to use and access the Site following such changes, you agree to be bound by any variation made by us. It is your responsibility to check these terms and conditions from time to time to verify such variations.</p>

<h4 class="layout-component__subtitle">18. Entire Agreement</h4>

<p>You understand and agree that these terms and conditions constitute the entire general agreement between you and B.heard. You may be subject to additional terms and conditions when you use, purchase or access services, affiliate services or third-party content or material.</p>

<h4 class="layout-component__subtitle">19. Customer Service and Complaints</h4>

<p>We will try to resolve any disputes quickly and efficiently. If you are unhappy with the way we deal with any dispute and you want to take court proceedings, the relevant courts of the UK will have exclusive jurisdiction in relation to the Terms. Relevant UK law will apply to these Terms. If the court of law having jurisdiction rules that any provision of these terms is invalid, then that provision will be modified to the minimum extent possible so as to conform to relevant UK law and the remaining Terms will continue to be valid.</p>
<p>
	Although we try our very best to provide the most accurate data and that any comparison is presented in a fair and balanced way and is meaningful, if you’ve been contacted unexpectedly or have been given misleading information, you can make a complaint but contacting us at <a target="_blank" href="mailto:complaints@bheard.com">complaints@bheard.com</a> or contact us at our address: B.heard Ltd, 21-27 Lambs Conduit Street, London, WC1N 3GS.<br><br>
	We will do our best to resolve your complaint immediately, however, in some instances we may not be able to. In this case, we’ll let you know and keep you informed of the process through regular updates – we want you to know that you will be treated diligently and impartially. If you are unhappy with our response, you have the right to refer to the Financial Ombudsman (FOS), which is the independent Financial Services body for arbitration.<br><br>

	You can contact them in writing, by phone or send them an email.<br>
	<br>
	Write to them at:<br>
	Financial Ombudsman Service<br>
	South Quay Plaza<br>
	183 Marsh Wall<br>
	London<br>
	E14 9SR<br>
	<br>
	Call on:<br>
	0845 080 1800<br>
	<br>
	Email them at:<br>
	<a target="_blank" href="mailto:complaint.info@financial-ombudsman.org.uk">complaint.info@financial-ombudsman.org.uk</a><br>
</p>
		</div>
	</div>

</section>
