<div class="container layout-component__page">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <aside class="useraccount-side layout-component__box">
                <header>
                    <h1 class="layout-component__subtitle">Corporate Information</h1>
                </header>
                <ul class="list-unstyled layout-component__side-menu extra-margin-tb-lg">
                    <li><a ui-sref-active='active' ui-sref="corporate.aboutus">About us</a></li>
                    <li><a ui-sref-active='active' ui-sref="corporate.goals">Goals&amp;Strategy</a></li>
                    <li><a ui-sref-active='active' ui-sref="corporate.changecoins">Why Changecoin&reg;?</a></li>
                    <li><a ui-sref-active='active' ui-sref="corporate.investors">Investors</a></li>
                    <li><a ui-sref-active='active' ui-sref="corporate.company">Company information</a></li>
                    <li><a ui-sref-active='active' ui-sref="corporate.jobs">Jobs</a></li>
                </ul>
            </aside>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div ui-view></div>
        </div>
    </div>
</div>