<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Company information</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-md-9">
            <h2 class="layout-component__subtitle">Officers</h2>
            <p>Oscar Vickerman, Appointed on 12 June 2014</p>
            <p>Symvan Capital Limited, Appointed on 17 June 2015</p>

            <p>Contact a Director: <a href="mailto:oscar@bheard.com">oscar@bheard.com</a></p>

            <h2 class="layout-component__subtitle">Companies House Details</h2>
            <p><b>Company number:</b> 09082696</p>
            <p>Registered Office: 21 - 27, Lambs Conduit Street, London, WC1N 3GS</p>
            <p>Latest Filings: <a href="https://beta.companieshouse.gov.uk/company/09082696/filing-history" target="_blank">companieshouse.gov.uk</a></p>
        </div>
    </div>
</section>