<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Jobs</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-md-9">
            <h2 class="layout-component__subtitle">Copywriter with social media expertise</h2>
            <p><b>Salary:</b> £30,000-£40,000</p>
            <br />
            <p>B.heard believe business and institutions work best when accountable. Most times we feel too small and that ‘it’s not worth it’ but our voice matters if we make it matter.</p>
            <p>B.heard creates a new voice. It lets every citizen in the land support companies doing the right thing - and challenge companies that are not. And everyone gets listened to.</p>
            <p>This is an exciting opportunity to join a team that are developing cutting edge, jaw dropping digital solutions for consumers. We are looking for a talented copywriter with social media expertise to create inspirational narratives that stimulate the public into action, giving our users increasing trust and confidence that public opinion does make a difference.</p>

            <h3 class="layout-component__subtitle">Core responsibilities:</h3>
            <ul>
                <li>Copy writing, story telling, tweeting and laughing-out-loud</li>
            </ul>

            <h3 class="layout-component__subtitle">Qualifications:</h3>
            <ul>
                <li>A degree in public relations, marketing or business communications.</li>
                <li>Expertise in all forms of social media (Facebook, Twitter, LinkedIn and Blogs etc).</li>
                <li>Experience in successfully launching and running online media campaigns.</li>
                <li>Willing to work in an entrepreneurial, start-up environment.</li>
            </ul>

            <h3 class="layout-component__subtitle">Personal qualities:</h3>
            <ul>
                <li>Self-starter and fast learner.</li>
                <li>Attention to detail combined with the ability to hold the bigger picture.</li>
                <li>Proactive and adaptable.</li>
            </ul>
            <br />

            <p>As well as the standard stuff you get for turning up for work, we have some great clubs, a free breakfast and complimentary end of the week drinks.</p>
            <p>We think this is a genuinely great role for a talented digital creative writer and would love to tell you more. We look forward to hearing from you:
                <a class="pink-text" href="mailto:oscar@bheard.com">oscar@bheard.com</a>
            </p>
        </div>
    </div>
</section>
