<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Why Changecoin&reg;?</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-md-9">
            <img src="images/ChangeCoinBanner.png" srcset="images/ChangeCoinBanner.png 1x, images/ChangeCoinBanner@2x.png 2x" width="100%" alt="Keep your coins, I want change" /><br /><br />

            <p>Changecoin&reg; keep our intentions transparent to you, and more importantly, brings about the change in the areas that we want to see. There are some great charities out there already doing this work, so we want to support those which we believe in.</p>

            <h2 class="layout-component__subtitle">Don't see your charity here?</h2>

            <div class="row row-spacer">
                <div class="col-xs-12 col-md-6">
                    <a class="btn pink btn-block" ui-sref="nominate">Nominate a charity</a>
                </div>
            </div>

            <p>When you respond to a call to action, or even interact with the website, you'll receive Changecoin&reg;.</p>

            <p>Changecoin&reg; then allow you to vote on the charities you want to support. The value of these Changecoin&reg; is determined by how much we earn above a cap on the commission received from each time that you change your service provider.</p>
        </div>
    </div>
</section>
