<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Goals &amp; Strategy</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-md-9">
            <h2 class="layout-component__subtitle">Our Vision</h2>
            <p>Is to make sure that the companies and services that you depend on are dependable.</p>

            <h2 class="layout-component__subtitle">Our Mission</h2>
            <p>Is to be your value comparison site - to allow you to make informed decisions when you choose your provider.</p>

            <h2 class="layout-component__subtitle">Our Core Values</h2>
            <p>Integrity in making our decisions, transparency in the way that we show them, and always seeking genuine.</p>

            <h2 class="layout-component__subtitle">Why these values</h2>
            <ul>
                <li><b class="pink-text">Integrity</b> – we want to be the change that we want to see. You can't do this without having integrity as the cornerstone of your business decisions. When we face decisions, we want to also be taken back to "what is the right thing to do for you…"<br /><br /></li>
                <li><b class="pink-text">Transparency</b> – When we've made decisions, we want it to be clear how we reached them. Whether its at the board level or in determining the inputs into our ranking algorithm, we want you to see how and why we reached the decisions that we did. And when you think differently, we want to hear about it in our "Make it right" sections of our website.<br /><br /></li>
                <li><b class="pink-text">Genuine value</b> – As your value comparison site, we want to offer you true value that informs your provider decisions. We want to know about the things that you care about so that we can factor them in. Ultimately we want to facilitate the conversation that you need to have with your providers.</li>
            </ul>
        </div>
    </div>
</section>
