<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">Investors</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-6 col-sm-5 col-md-4 corp-investor">
            <a class="at-mem-btn-inv" ng-class="{ 'at-mem-btn-selected': model.selected === 'atInvestorJohn' }" ng-click="click('atInvestorJohn')" href="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="atInvestorJohn" title="Sir John Hegarty">
                <img class="at-mem-img" src="images/aboutus/SirJohnHegartythumb.png" srcset="images/aboutus/SirJohnHegartythumb.png 1x, images/aboutus/SirJohnHegartythumb@2x.png 2x" alt="Sir John Hegarty" />
            </a>
            <h3 class="layout-component__subtitle">Sir John Hegarty</h3>
            <p>Investor &amp; Founder of BBH (Creative)</p>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 corp-investor">
            <a class="at-mem-btn-inv" ng-class="{ 'at-mem-btn-selected': model.selected === 'atInvestorTom' }" ng-click="click('atInvestorTom')" href="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="atInvestorTom" title="Tom Teichman">
                <img class="at-mem-img" src="images/aboutus/TomTiechmanthumb.png" srcset="images/aboutus/TomTiechmanthumb.png 1x, images/aboutus/TomTiechmanthumb@2x.png 2x" alt="Tom Teichman" />
            </a>
            <h3 class="layout-component__subtitle">Tom Teichman</h3>
            <p>Chairman of Spark Ventures</p>
        </div>
        <div class="col-xs-12">
            <div class="" ng-class="{ 'collapse': model.selected !== 'atInvestorTom' }" id="atInvestorTom">
                <section class="at-member">
                    <div class="atm-content">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="atm-photo">
                                <img class="at-mem-img" src="images/aboutus/TomTiechman.png" srcset="images/aboutus/TomTiechman.png 1x, images/aboutus/TomTiechman@2x.png 2x" alt="Tom Teichman">
                            </div>
                            <!-- <div class="atm-social">
                                <ul class="list-inline list-unstyled">
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-linkedin"></i> <span class="sr-only">Linkedin</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-google-plus"></i> <span class="sr-only">Google+</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-facebook-square"></i> <span class="sr-only">Facebook</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <p>Tom is the Chairman of SPARK Venture Management and has a long track record in backing, chairing and developing some of Europe's most successful internet, technology, music, games and software businesses.</p>
                            <p>Tom sits on the boards of Hardly Ever Worn it (online portal for buying and selling previously owned luxury items), Moshimonsters.com (leading children's online game), notonthehighstreet.com (leading gifting site), Barmate (technology for hotel services), Mydeco.com (online furnishing and design), London Bridge Capital (investment banking advisory), and Kobalt Music Group, the world's largest independent music publisher, where he held the position of Chairman for 10 years from start-up to 2011.</p>
                            <p>In total, the companies Tom has backed have exited for a value of well over £1 billion.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="" ng-class="{ 'collapse': model.selected !== 'atInvestorJohn' }" id="atInvestorJohn">
                <section class="at-member">
                    <div class="atm-content">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="atm-photo">
                                <img class="at-mem-img" src="images/aboutus/SirJohnHegarty.png" srcset="images/aboutus/SirJohnHegarty.png 1x, images/aboutus/SirJohnHegarty@2x.png 2x" alt="Sir John Hegarty">
                            </div>
                            <!-- <div class="atm-social">
                                <ul class="list-inline list-unstyled">
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-linkedin"></i> <span class="sr-only">Linkedin</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-google-plus"></i> <span class="sr-only">Google+</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-facebook-square"></i> <span class="sr-only">Facebook</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <p>John Hegarty is one of the world's most awarded and respected admen. He has been at the forefront of the creative advertising industry from the early days of Saatchi and Saatchi to Bartle Bogle Hegarty, the global company he runs today.</p>
                            <p>BBH now has ofces in London, New York, Singapore, Sao Paulo, Shanghai and Mumbai and John oversees the creative output of all these ofces. BBH has won every Agency of the Year accolade and every creative award possible and has been at the forefront of the industry for twenty nine years.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 corp-investor">
            <a class="at-mem-btn-inv" ng-class="{ 'at-mem-btn-selected': model.selected === 'atInvestorKealan' }" ng-click="click('atInvestorKealan')" href="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="atInvestorKealan" title="Kealan Doyle">
                <img class="at-mem-img" src="images/aboutus/KealanDoyleThumb.png" srcset="images/aboutus/KealanDoyleThumb.png 1x, images/aboutus/KealanDoyleThumb@2x.png 2x" alt="Kealan Doyle" />
            </a>
            <h3 class="layout-component__subtitle">Kealan Doyle</h3>
            <p>Director, Symvan Capital</p>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 corp-investor">
            <a class="at-mem-btn-inv" ng-class="{ 'at-mem-btn-selected': model.selected === 'atInvestorNicholas' }" ng-click="click('atInvestorNicholas')" href="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="atInvestorNicholas" title="Nicholas Nicolaides">
                <img class="at-mem-img" src="images/aboutus/NicholasNicolaidesThumb.png" srcset="images/aboutus/NicholasNicolaidesThumb.png 1x, images/aboutus/NicholasNicolaidesThumb@2x.png 2x" alt="Nicholas Nicolaides" />
            </a>
            <h3 class="layout-component__subtitle">Nicholas Nicolaides</h3>
            <p>Investor &amp; Director, Symvan Capital</p>
        </div>
        <div class="col-xs-12">
            <div class="" ng-class="{ 'collapse': model.selected !== 'atInvestorKealan' }" id="atInvestorKealan">
                <section class="at-member">
                    <div class="atm-content">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="atm-photo">
                                <img class="at-mem-img" src="images/aboutus/KealanDoyle.png" srcset="images/aboutus/KealanDoyle.png 1x, images/aboutus/KealanDoyle@2x.png 2x" alt="Kealan Doyle">
                            </div>
                            <!-- <div class="atm-social">
                                <ul class="list-inline list-unstyled">
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-linkedin"></i> <span class="sr-only">Linkedin</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-google-plus"></i> <span class="sr-only">Google+</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-facebook-square"></i> <span class="sr-only">Facebook</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <p>Kealan is CEO and co-founder of Symvan Capital. He has worked with venture capital companies for 15 years, both in a corporate finance advisory capacity as well as a fund manager. He prefers to invest in a wide range of technology companies, but is also very interested in finding synergies within the Symvan portfolio of companies. Company interests include big data analytics, fintech, SaaS, 3D printing and network security. Before his involvement in venture capital investing, Kealan previously lead a structured equity products team at HSBC, and has worked at Deutsche Bank, Merrill Lynch and UBS. Together with Nicholas, he has since founded his own entrepreneurial businesses to focus on VC investing. Kealan holds degrees from the London School of Economics and the University of Toronto.</p>
                       </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="" ng-class="{ 'collapse': model.selected !== 'atInvestorNicholas' }" id="atInvestorNicholas">
                <section class="at-member">
                    <div class="atm-content">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="atm-photo">
                                <img class="at-mem-img" src="images/aboutus/NicholasNicolaides.png" srcset="images/aboutus/NicholasNicolaides.png 1x, images/aboutus/NicholasNicolaides@2x.png 2x" alt="Nicholas Nicolaides">
                            </div>
                            <!-- <div class="atm-social">
                                <ul class="list-inline list-unstyled">
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-linkedin"></i> <span class="sr-only">Linkedin</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-google-plus"></i> <span class="sr-only">Google+</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-facebook-square"></i> <span class="sr-only">Facebook</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <p>Nicholas is a Director and co-founder of Symvan Capital. He is passionate about technology and believes it has never been a more exciting time to invest in the sector. His early capital markets experience at Paribas seeded his involvement in the sector, working on numerous technology transactions including the IPO for Autonomy Corporation Plc. Most of his recent experience involves working with and investing in early stage technology SMEs.  He is particularly interested in big data, high performance computing and the opportunities to serve the quad play&amp;OTT markets.  Nicholas believes that both the quality of the management team and timing are the most important factors in determining success of a technology investment, and propounds that the Symvan mantra of "deeper not wider" is essential and requires the close involvement of the venture capital investor to nurture the businesses.  Prior to setting up his own VC businesses, Nicholas worked with AiM brokers and the ECM team at Lehman Brothers, focussing on European Telecom&amp;Media. Prior to that he worked in the TMT Corporate Finance and European Equity Capital Markets teams at BNP Paribas. Nicholas gained a BSc (Hons) in Statistics&amp;Economics from UCL and in a MBA from Imperial College Management School.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 corp-investor">
            <a class="at-mem-btn-inv" ng-class="{ 'at-mem-btn-selected': model.selected === 'atInvestorRichard' }" ng-click="click('atInvestorRichard')" href="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="atInvestorRichard" title="Richard Briance">
                <img class="at-mem-img" src="images/aboutus/RichardBriancethumb.png" srcset="images/aboutus/RichardBriancethumb.png 1x, images/aboutus/RichardBriancethumb@2x.png 2x" alt="Richard Briance" />
            </a>
            <h3 class="corporate__subtitle">Richard Briance</h3>
            <p>Investor</p>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 corp-investor">
            <a class="at-mem-btn-inv" ng-class="{ 'at-mem-btn-selected': model.selected === 'atInvestorJacob' }" ng-click="click('atInvestorJacob')" href="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="atInvestorJacob" title="Jacob John">
                <img class="at-mem-img" src="images/aboutus/JacobJohnThumb.png" srcset="images/aboutus/JacobJohnThumb.png 1x, images/aboutus/JacobJohnThumb@2x.png 2x" alt="Jacob John" />
            </a>
            <h3 class="corporate__subtitle">Jacob John</h3>
            <p>Investor</p>
        </div>
        <div class="col-xs-12">
            <div class="" ng-class="{ 'collapse': model.selected !== 'atInvestorRichard' }" id="atInvestorRichard">
                <section class="at-member">
                    <div class="atm-content">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="atm-photo">
                                <img class="at-mem-img" src="images/aboutus/RichardBriance.png" srcset="images/aboutus/RichardBriance.png 1x, images/aboutus/RichardBriance@2x.png 2x" alt="Richard Briance">
                            </div>
                            <!-- <div class="atm-social">
                                <ul class="list-inline list-unstyled">
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-linkedin"></i> <span class="sr-only">Linkedin</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-google-plus"></i> <span class="sr-only">Google+</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-facebook-square"></i> <span class="sr-only">Facebook</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <p>Richard Briance recently stepped down as the Chief Executive of Edmond de Rothschild Ltd. He was formerly Chief Executive and then Deputy Chairman of corporate finance advisory firm, Hawkpoint, and was previously Chief Executive of West Merchant Bank, Global Head of Fixed Income at UBS and a Managing Director at Credit Suisse First Boston. He has also served on the board of Mint Hotels and Oxford Analytica.</p>
                            <p>Briance has a wealth of experience in the charitable sector, having served as a trustee to the think tank Policy Exchange; as Chairman of Trinity Hospice, the UK's oldest hospice; and on the board of trustees at Legatum Institute and London Children's Ballet.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="" ng-class="{ 'collapse': model.selected !== 'atInvestorJacob' }" id="atInvestorJacob">
                <section class="at-member">
                    <div class="atm-content">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="atm-photo">
                                <img class="at-mem-img" src="images/aboutus/JacobJohn.png" srcset="images/aboutus/JacobJohn.png 1x, images/aboutus/JacobJohn@2x.png 2x" alt="Jacob John">
                            </div>
                            <!-- <div class="atm-social">
                                <ul class="list-inline list-unstyled">
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-linkedin"></i> <span class="sr-only">Linkedin</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-google-plus"></i> <span class="sr-only">Google+</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-facebook-square"></i> <span class="sr-only">Facebook</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <p>Jacob served in the Singapore Navy as a Gunnery Officer in the Missile Gun Boat Squadron before moving to the UK in 1976 where he trained as an accountant, providing management consultancy services to small and medium sized companies. Subsequently he founded an information retrieval company that implemented software portals for companies including Shell, Fujitsu the Royal Navy, ITN, RAC, GSK, and Pfizer. He is now retired and the National London Director for the Full Gospel Businessmen Group, who help men apply Christian principles in business. He is married to Ethel and has two married grown up sons.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 corp-investor">
            <a class="at-mem-btn-inv" ng-class="{ 'at-mem-btn-selected': model.selected === 'atInvestorNick' }" ng-click="click('atInvestorNick')" href="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="atInvestorNick" title="Nick Kendall">
                <img class="at-mem-img" src="images/aboutus/NickKendallthumb.png" srcset="images/aboutus/NickKendallthumb.png 1x, images/aboutus/NickKendallthumb@2x.png 2x" alt="Nick Kendall" />
            </a>
            <h3 class="layout-component__subtitle">Nick Kendall</h3>
            <p>Investor&amp;Group Strategy Director BBH</p>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 corp-investor">
            <a class="at-mem-btn-inv" ng-class="{ 'at-mem-btn-selected': model.selected === 'atInvestorKevin' }" ng-click="click('atInvestorKevin')" href="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="atInvestorKevin" title="Kevin Brown">
                <img class="at-mem-img" src="images/aboutus/KevinBrownthumb.png" srcset="images/aboutus/KevinBrownthumb.png 1x, images/aboutus/KevinBrownthumb@2x.png 2x" alt="Kevin Brown" />
            </a>
            <h3 class="layout-component__subtitle">Kevin Brown</h3>
            <p>Investor&amp;Global Engagement Planning Director BBH</p>
        </div>
        <div class="col-xs-12">
            <div class="" ng-class="{ 'collapse': model.selected !== 'atInvestorNick' }" id="atInvestorNick">
                <section class="at-member">
                    <div class="atm-content">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="atm-photo">
                                <img class="at-mem-img" src="images/aboutus/NickKendall.png" srcset="images/aboutus/NickKendall.png 1x, images/aboutus/NickKendall@2x.png 2x" alt="Nick Kendall">
                            </div>
                            <!-- <div class="atm-social">
                                <ul class="list-inline list-unstyled">
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-linkedin"></i> <span class="sr-only">Linkedin</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-google-plus"></i> <span class="sr-only">Google+</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-facebook-square"></i> <span class="sr-only">Facebook</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <p>Nick Kendall joined BBH in December 1986 to work on Levi's and later on Whitbread (Boddingtons, Murphy's) and Häagen Dazs. In the early 80s he was appointed to the board of BBH, and became frst head of department at BBH, then group planning director in September in the 90s, a role in which he was responsible for the planning product and departments of BBH across the globe.</p>
                            <p>As well as working on global brands such as Johnnie Walker and Dirt is Good Kendall now acts as group strategy director helping defne and refne BBH's future.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="" ng-class="{ 'collapse': model.selected !== 'atInvestorKevin' }" id="atInvestorKevin">
                <section class="at-member">
                    <div class="atm-content">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="atm-photo">
                                <img class="at-mem-img" src="images/aboutus/KevinBrown.png" srcset="images/aboutus/KevinBrown.png 1x, images/aboutus/KevinBrown@2x.png 2x" alt="Kevin Brown">
                            </div>
                            <!-- <div class="atm-social">
                                <ul class="list-inline list-unstyled">
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-linkedin"></i> <span class="sr-only">Linkedin</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-google-plus"></i> <span class="sr-only">Google+</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-facebook-square"></i> <span class="sr-only">Facebook</span></a></li>
                                    <li><a href="" class="atm-social-icons"><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <p>Kevin joined BBH as group media manager in 1990, becoming media director and board member in 1995.</p>
                            <p>He was the founding partner of BBH's media arm Motive and then became strategic development director of Starcom Motive. In 2000 he formed the new ad agency, Soul, which was later acquired by the Asian independent agency Nitro.</p>
                            <p>Brown then rejoined BBH to launch a new discipline called Engagement Planning - putting channel thinking up-front in the development of brand ideas.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
