<section class="useraccount-main layout-component__box">
    <header>
        <h1 class="layout-component__title">About us</h1>
    </header>
    <div class="row ua-content">
        <div class="col-xs-12 col-md-9">
            <h2 class="layout-component__subtitle">Who we are</h2>
            <p>We action your opinions. Be it your opinion on a political, economic, or social matter. Or simply the likes and dislikes you might have about a company or institution. We believe your opinions can make a difference.</p>

            <h2 class="layout-component__subtitle">Why we do what we do</h2>
            <p>Whilst anyone can have an opinion, there is wisdom in crowds. Because the world doesn’t need more information, it needs smarter information.</p>
            <p>Helping us all make wiser choices means more than simply being a bridge between companies and their customers. The answer has to be much wider than that.</p>

            <p>B.heard is realising how the power of our collective voice can reward companies and organisations getting it right and challenging those that are not.</p>

            <p>If you want to see and become the change we all hope for, help us make your opinion and personal experiences count.</p>

            <h2 class="layout-component__subtitle">What inputs we use</h2>
            <p>We arrive at our B.heard rating through inputs that we consider most relevant for you.</p>

            <h3 class="layout-component__subtitle">Energy</h3>
            <p>Complaints and Customer service data is subject to Crown Copyright, sourced from Ofgem’s supplier performance on consumer complaints.</p>
            <p>Fuel Mix has been sourced from the Fuel Mix disclosure tables of each UK Domestic Electricity Suppliers. All suppliers are required to provide information about the mix of fuels used to generate the electricity supplied to their customers as well as its environmental impact. All disclosures made by electricity suppliers are done so under the The Electricity (Fuel Mix Disclosure) Regulations 2005 and are available under the public domain.</p>
            <p>Value for money is derived from the tarrifs promoted by each Energy provider.</p>

            <h3 class="layout-component__subtitle">Health</h3>
            <p>Data has been sourced from the following, held under crown copyright:</p>
            <ul>
                <li>NHS England GP Patient Survey</li>
                <li>NHS England Overall Patient Experience Scores</li>
                <li>National Survey For Wales</li>
                <li>GP Patient Experience Survey For Scotland</li>
                <li>Inpatient Patient Experience Survey For Scotland</li>
            </ul>
            <p>Used in accordance with the terms of the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/1/open-government-licence.htm" target="_blank">Open Government License</a> which governs the terms for use and re-use of public sector information.</p>

            <h3 class="layout-component__subtitle">Money</h3>
            <p>Complaints data is subject to the copyright of the FCA, sourced from the FCA's Systems and Reporting data.</p>
            <p>Value for money is derived from the financial products promoted by each financial institution.</p>

            <h3 class="layout-component__subtitle">Education</h3>
            <p>Data has been sourced from the following, held under crown copyright:</p>
            <ul>
                <li>Department of Education School and College Performance Tables</li>
                <li>National Survey For Wales</li>
                <li>Scottish Government Statistical publications</li>
                <li>Education Scotland</li>
                <li>Parent review data (for England) is sourced from the Ofsted Parent View</li>
            </ul>
            <p>Used in accordance with the terms of the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/1/open-government-licence.htm" target="_blank">Open Government License</a> which governs the terms for use and re-use of public sector information.</p>

            <h3 class="layout-component__subtitle">Local Government</h3>
            <p>Data has been sourced from statistical data sets from the Department for Communities and Local Government, held under crown copyright.</p>
            <p>Used in accordance with the terms of the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/1/open-government-licence.htm" target="_blank">Open Government License</a> which governs the terms for use and re-use of public sector information.</p>

            <h3 class="layout-component__subtitle">Phone &amp; Internet</h3>
            <p>Complaints data is subject to the copyright of Ofcom, sourced from Telecoms and Pay TV Complaints Q2 Data.</p>
            <p>Customer Service data is copyright of Ofcom, sourced from the Quality of Customer Service Annual Report 2014.</p>
            <p>All intellectual property remains the property of its respective owner. B-Heard Limited does not represent or purport to hold intellectual property rights over any of the aforementioned data. The data outputs and analysis on this site as well as methods of creating those outputs and analyses may, however, be subject to the intellectual property rights of B-Heard Limited.</p>
        </div>
    </div>
</section>
