<div class="container layout-component__page">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <section class="content layout-component__box">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="layout-component__title">Site map</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <h3 class="layout-component__subtitle">Quick Links</h3>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/aboutus">About Us</a></li>
                            <li><a href="/news">News</a></li>
                            <li><a href="/terms">Terms &amp; Conditions</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/cookies">Cookies Policy</a></li>
                            <li><a href="/guidelines">Review Guidelines</a></li>
                            <li><a href="/opinion">Share Opinions</a></li>
                            <li><a href="/seeresults">See Results</a></li>
                            <li><a href="/investors">Investors</a></li>
                        </ul>


                        <h3 class="layout-component__subtitle">Your Experience</h3>
                        <ul>
                            <li>Private Sector
                                <ul>
                                    <li><a href="/energy">Energy Companies</a></li>
                                    <li><a href="/money">Banks</a></li>
                                    <li><a href="/insurance">Insurance Companies</a></li>
                                    <li><a href="/phoneandinternet">Phone &amp; Broadband</a></li>
                                </ul>
                            </li>

                            <li>Public Sector
                                <ul>
                                    <li><a href="/healthcare">Your local GP</a></li>
                                    <li><a href="/education">Local Schools</a></li>
                                    <li><a href="/government">Local Councils</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h3 class="layout-component__subtitle">Account</h3>
                        <ul>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/resetpassword">Reset Password</a></li>
                        </ul>

                        <h3 class="layout-component__subtitle">Corporate</h3>
                        <ul>
                            <li><a href="/corporate">Corporate</a></li>
                            <li><a href="/corporate/goals">Goals &amp; strategy</a></li>
                            <li><a href="/corporate/changecoins">Why Changecoin&reg;?</a></li>
                            <li><a href="/corporate/investors">Investors</a></li>
                            <li><a href="/corporate/company">Company information</a></li>
                            <li><a href="/corporate/jobs">Jobs</a></li>
                        </ul>
                        <h3 class="layout-component__subtitle">Charity</h3>

                        <ul>
                            <li><a href="/charities/againstbreastcancer">Against Breast Cancer</a></li>
                            <li><a href="/charities/crosslight">Crosslight</a></li>
                            <li><a href="/charities/emmaus">Emmaus</a></li>
                            <li><a href="/charities/insurancecharities">The Insurance Charities</a></li>
                            <li><a href="/charities/madeforchange">Made for Change</a></li>
                            <li><a href="/charities/mind">Mind</a></li>
                            <li><a href="/charities/recyclinglives">Recycling Lives</a></li>
                            <li><a href="/charities/spear">Spear</a></li>
                            <li><a href="/charities/williamwilberforce">William Wilberforce Trust</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h3 class="layout-component__subtitle">Changecoin&reg;</h3>

                        <ul>
                            <li><a href="/changecoins">Changecoin&reg;</a></li>
                            <li><a href="/nominate">Nominate your charity</a></li>
                        </ul>

                        <h3 class="layout-component__subtitle">Contact</h3>

                        <ul>
                            <li><a href="/contactus">Contact Us</a></li>
                            <li><a href="/haveyoursay">Have Your Say</a></li>
                            <li><a href="/forcompanies">For Companies</a></li>
                            <li><a href="/suggestion">Suggestion</a></li>
                            <li><a href="/corporate/company">Company information</a></li>
                            <li><a href="/corporate/jobs">Jobs</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>