<div class="header-banner header-banner--opinion">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="bubble">
          <h1 class="bubble__title">The great UK fatherhood debate</h1>
          <p class="bubble__subtitle"></p>
          <a class="button" href="#" ng-click="openVideoModal()">Watch the video</a>
        </div>
      </div><!--./col-md-8 col-md-offset-2-->
    </div><!--/.row-->
  </div><!--/.container-->
  
  <a href="#more" du-smooth-scroll class="header-banner__down-arrow"><span></span></a>
  
  <!-- <div class="header-banner__buttons-container--fatherhood">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <a href="#responses" du-smooth-scroll>
            <span class="header-banner__button header-banner__button-responses"></span>
            <p class="header-banner__button__caption">See responses</p>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="#results" du-smooth-scroll>
            <span class="header-banner__button header-banner__button-results"></span>
            <p class="header-banner__button__caption">Explore results</p>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="#research" du-smooth-scroll>
            <span class="header-banner__button header-banner__button-research"></span>
            <p class="header-banner__button__caption">Join the research</p>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="#video" du-smooth-scroll>
            <span class="header-banner__button header-banner__button-video"></span>
            <p class="header-banner__button__caption">Watch the video</p>
          </a>
        </div>
      </div>
    </div>
  </div> -->
</div>

<div ng-if="model.topic.id == 'fatherhood' || model.topic.id == 'dependabilityindex'" class="survey__video-container">
  <div class="container">
    <b-video-reviews id="more" reviews="model.opinions" topic="model.topic"></b-video-reviews>
  </div>
</div>

<button class="video-reviews__record__button" ng-click="openRecordModal()">
  <span class="video-reviews__record__icon"></span>
  <p class="video-reviews__record__caption">Record your opinion</p>
</button>

<section class="container survey__view-results">
  <ng-include src="model.topic.main.content.surveyTemplate"> </ng-include>

  <h2 id="research" class="survey__title">Share your opinion</h2>
  <div class="col-xs-12">
    <div class="survey__frame-container">
      <iframe b-iframe-resize ng-src="{{getSurveyUrl()}}" class="survey__frame"></iframe>
    </div>
  </div>
</section>

<!-- <b-skimmed-reviews id="responses" ng-model="model.opinions"></b-skimmed-reviews> -->