<div class="hero hero--opinion">
    <div class="hero__bubble-container">
        <b-card b-title="Explore and engage with the topics that matter" b-subtitle="Your opinion counts - don't be silent..." b-speech></b-card>
    </div>
</div>
<div class="cards-container container">
    <div masonry>
        <div class="masonry-brick card-wrapper col-xs-12 col-sm-6 col-md-3" ng-repeat="question in model.questions">
            <div class="card">
                <img class="card__image" ng-src="{{::question.imageUrl}}" alt="">
                <div class="card__main-container">
                    <div class="card__title">{{::question.title}}</div>

                    <!-- Type: yesno -->
                    <div ng-if="question.questionType == 'yesno'">
                        <div ng-if="question.showMode == 'question'">
                            <a ng-click="answerQuestion(4, question)" class="card__yesno-button">
                                <i class="card__yesno-button--yes fa fa-thumbs-up"></i>
                            </a>
                            <a ng-click="answerQuestion(1, question)" class="card__yesno-button">
                                <i class="card__yesno-button--no fa fa-thumbs-down"></i>
                            </a>
                        </div>
                        <!-- Results -->
                        <div ng-if="question.showMode == 'result'" class="card__yesno-stat">
                            <!--yes-->
                            <b-bar-rating b-rating="::question.stats.responsePercentages.yes" b-size="small" b-text="Yes"
                                        b-show-rating-text="false"></b-bar-rating>

                            <!--no-->
                            <b-bar-rating b-rating="::question.stats.responsePercentages.no" b-size="small" b-text="No"
                                        b-show-rating-text="false"></b-bar-rating>

                        </div>
                    </div>

                    <!-- Type: likert -->
                    <div ng-if="question.questionType == 'likert'">
                        <div ng-if="question.showMode == 'question'" class="row">
                            <a ng-click="answerQuestion(1, question)" class="card__likert-button col-xs-3">
                                <i class="card__likert-button--stronglydisagree fa fa-thumbs-down"></i>
                            </a>
                            <a ng-click="answerQuestion(2, question)" class="card__likert-button col-xs-3">
                                <i class="card__likert-button--disagree fa fa-thumbs-down"></i>
                            </a>
                            <a ng-click="answerQuestion(3, question)" class="card__likert-button col-xs-3">
                                <i class="card__likert-button--agree fa fa-thumbs-up"></i>
                            </a>
                            <a ng-click="answerQuestion(4, question)" class="card__likert-button col-xs-3">
                                <i class="card__likert-button--stronglyagree fa fa-thumbs-up"></i>
                            </a>
                        </div>
                        <!-- Results -->
                        <div ng-if="question.showMode == 'result'" class="card__likert-stat">
                            <!-- <b-bar-chart b-data="question.likertGraphData"></b-bar-chart> -->
                        </div>
                    </div>

                    <!-- Type: sentiment -->
                    <div ng-if="question.questionType == 'sentiment'">
                        <div ng-if="question.showMode == 'question'" class="row">
                            <a ng-click="answerQuestion(1, question)" class="card__likert-button col-xs-3">
                                <i class="emoji emoji__happy"></i>
                            </a>
                            <a ng-click="answerQuestion(2, question)" class="card__likert-button col-xs-3">
                                <i class="emoji emoji__worried"></i>
                            </a>
                            <a ng-click="answerQuestion(3, question)" class="card__likert-button col-xs-3">
                                <i class="emoji emoji__angry"></i>
                            </a>
                            <a ng-click="answerQuestion(4, question)" class="card__likert-button col-xs-3">
                                <i class="emoji emoji__neutral"></i>
                            </a>
                        </div>
                        <!-- Results -->
                        <div ng-if="question.showMode == 'result'" class="card__sentiment-stat">
                            <b-bar-rating b-rating="::question.stats.responsePercentages.happy" b-size="small" b-text="Happy"
                                        b-show-rating-text="false"></b-bar-rating>

                            <b-bar-rating b-rating="::question.stats.responsePercentages.worried" b-size="small" b-text="Worried"
                                        b-show-rating-text="false"></b-bar-rating>

                            <b-bar-rating b-rating="::question.stats.responsePercentages.angry" b-size="small" b-text="Angry"
                                        b-show-rating-text="false"></b-bar-rating>

                            <b-bar-rating b-rating="::question.stats.responsePercentages.neutral" b-size="small" b-text="Meh"
                                        b-show-rating-text="false"></b-bar-rating>


                            <!-- <b-bar-chart b-data="question.stats.sentimentGraphData"></b-bar-chart> -->
                        </div>
                    </div>

                    <!-- Type: multiplechoice -->
                    <div ng-if="question.questionType == 'multiplechoice'">
                        <div ng-if="question.showMode == 'question'" class="row">
                            <div ng-repeat="response in question.responses">
                                <a ng-click="answerQuestion(4, question)" class="card__multiplechoice-button col-xs-12">
                                    {{response}}
                                </a>
                            </div>
                        </div>
                        <!-- Results -->
                        <div ng-if="question.showMode == 'result'" class="card__multiplechoice-stat">
                            <b-bar-chart b-data="question.stats.multiplechoiceGraphData"></b-bar-chart>
                        </div>
                    </div>



                                <!--<div class="card__buttons">-->
                                <!--<div class="card__likert-buttons" ng-if="question.questionType == 'likert'">-->
                                <!--<div ng-if="question.showMode == 'question'">-->
                                <!--<a ng-click="answerQuestion(1, question)" class="card__likert-button">-->
                                    <!--<i class="card__likert-button__stronglydisagree fa fa-thumbs-down">-->
                                    <!--</i>-->
                                    <!--</a>-->

                                    <!--<a ng-click="answerQuestion(2, question)" class="card__likert-button">-->
                                    <!--<i class="card__likert-button__disagree fa fa-thumbs-down">-->
                                    <!--</i>-->
                                    <!--</a>-->
                                    <!--<a ng-click="answerQuestion(3, question)" class="card__likert-button">-->
                                    <!--<i class="card__likert-button__agree fa fa-thumbs-up">-->
                                    <!--</i>-->
                                    <!--</a>-->
                                    <!--<a ng-click="answerQuestion(4, question)" class="card__likert-button">-->
                                    <!--<i class="card__likert-button__stronglyagree fa fa-thumbs-up">-->
                                    <!--</i>-->
                                    <!--</a>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="card__stats" ng-if="question.showMode == 'result'">-->
                                    <!--<div class="card__likert-stats" ng-if="question.questionType == 'likert'">-->
                                    <!--<div class="card__likert-stat card__likert-stat__stronglydisagree">-->
                                    <!--<div class="card__likert-stat__text">-->
                                    <!--{{question.stats.responsePercentages.stronglydisagree}}-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--{{question.stats}}-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                </div><!-- end card main container -->
                <div ng-if="question.showMode == 'result'" class="card__back" ng-click="resetCard(question)">
                    &leftarrow;</div>
                <div ng-if="question.showMode == 'result'" class="" ng-click="resetCard(question)">
                    You answered: {{getUserAnswer(question)}}</div>
            </div><!-- end card -->
        </div> <!-- end masonry-brick and card wrapper -->
    </div><!-- end masonry -->
</div><!-- end cards-container -->