<div class="beta-banner">BETA</div>

<div id="more" class="cards-container container">
    <div class="row card-container" ng-repeat="item in model.items track by $index">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="card">
            <div><h2 class="card__title">{{item.question}}</h2></div>

            <div class="card__buttons" ng-if="item.showMode == 'answer'">
                <a ng-click="answerQuestion(1, item)" class="card__button">
                  <i class="card__button__stronglydisagree fa fa-thumbs-down">
                  </i>
                </a>
                <a ng-click="answerQuestion(2, item)" class="card__button">
                  <i class="card__button__disagree fa fa-thumbs-down">
                  </i>
                </a>
                <a ng-click="answerQuestion(3, item)" class="card__button">
                  <i class="card__button__skip fa fa-question-circle">
                  </i>
                </a>
                <a ng-click="answerQuestion(4, item)" class="card__button">
                  <i class="card__button__agree fa fa-thumbs-up">
                  </i>
                </a>
                <a ng-click="answerQuestion(5, item)" class="card__button">
                  <i class="card__button__stronglyagree fa fa-thumbs-up">
                  </i>
                </a>
            </div>

            <div class="card__stats" ng-if="item.showMode == 'result'">
              <div class="card__stats__caption">Strongly disagree</div>
              <uib-progressbar animate="false" value="item.stats.responsePercentages.stronglydisagree" type="stronglydisagree"><b>{{item.stats.responsePercentages.stronglydisagree}}%</b></uib-progressbar>

              <div class="card__stats__caption">Disagree</div>
              <uib-progressbar animate="false" value="item.stats.responsePercentages.disagree" type="disagree"><b>{{item.stats.responsePercentages.disagree}}%</b></uib-progressbar>

              <div class="card__stats__caption">Neutral</div>
              <uib-progressbar animate="false" value="item.stats.responsePercentages.skip" type="skip"><b>{{item.stats.responsePercentages.skip}}%</b></uib-progressbar>

              <div class="card__stats__caption">Agree</div>
              <uib-progressbar animate="false" value="item.stats.responsePercentages.agree" type="agree"><b>{{item.stats.responsePercentages.agree}}%</b></uib-progressbar>

              <div class="card__stats__caption">Strongly agree</div>
              <uib-progressbar animate="false" value="item.stats.responsePercentages.stronglyagree" type="stronglyagree"><b>{{item.stats.responsePercentages.stronglyagree}}%</b></uib-progressbar>
            </div>
          </div>
        </div>
    </div>
</div>
