<div class="header-banner header-banner--opinion">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="bubble">
          <h1 class="bubble__title">On fatherhood</h1>
          <p class="bubble__subtitle">What are the issues facing fathers in the UK today?</p>
          
          <!--<a ui-sref="youropinion.detail({topicId:'fatherhood'})" class="button">Get involved in the discussion here</a>-->
          <a href="/opinion/fatherhood#more" class="button">Get involved in the discussion here</a>
        </div><!--/.bubble-->
      </div><!--./col-md-8 col-md-offset-2-->
    </div><!--/.row-->
  </div><!--/.container-->
  
  <a href="#more" du-smooth-scroll class="header-banner__down-arrow"><span></span></a>
</div>

<div id="more" class="tiles-container container">
  <div class="col-xs-12 col-sm-6" ng-repeat="topic in model.topics">
    <div class="tile">
      <a href="" ng-click="goToTile(topic.id)">
        <h2 class="tile__title">{{topic.tile.title}}</h2>
        <img class="tile__image margin--bottom25" ng-src="{{topic.tile.imageUrl}}" />
        <p class="button">{{topic.tile.action}}</p>
      </a>
    </div>
  </div>
</div>