<div class="header-banner header-banner--see-results see-results-banner">
    <div class="bubble-container">
        <div class="bubble">
            <h1 class="bubble__title">See results for the sectors you value the most&hellip;</h1>

            <p class="bubble__subtitle">Choose a sector below to see the results</p>
        </div>
    </div>

    <div class="sector-nav-wrapper">
        <div class="sector-nav">
            <!-- private sector -->

            <a ng-repeat="sector in model.private" class="sector-nav__link" ui-sref="{{sector.link}}">
                <img class="sector-nav__img" ng-src="/build/images/seeresults/icon-{{sector.class}}.svg" width="80" height="80">

                <span>{{sector.title}}</span>
            </a>

            <!-- public sector -->

            <a ng-repeat="sector in model.public" class="sector-nav__link" ui-sref="{{sector.link}}">
                <img class="sector-nav__img" ng-src="/build/images/seeresults/icon-{{sector.class}}.svg" width="80" height="80">

                <span>{{sector.title}}</span>
            </a>
        </div>
    </div>
</div>
