﻿<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <section id="phoneandinternet-supplier-results" class="tariff-ov">
                <div class="tariff-table-responsive-phoneandinternet">
                    <table class="table table-condensed" infinite-scroll="more()">
                        <caption class="sr-only">Networks</caption>
                        <thead>
                            <tr class="tariff-head">
                                <th scope="col" class="th-title">Supplier</th>
                                <th scope="col" class="th-title">Supplier <abbr title="information">info</abbr></th>
                                <th scope="col" class="th-title">Supplier rating</th>
                                <th class="th-title"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="phoneandinternet-suppliers-{{::supplier._id}}" class="tariff-box"
                                ng-repeat="supplier in model.suppliers|limitTo:model.limitTo track by $index">
                                <td class="tb-content">
                                    <div class="tb-logo">
                                        <b-logo ng-model="supplier"></b-logo>

                                        <b-tooltip-text b-circle b-revealer="?" class="org-rating-hover">
                                            <h3 class="org-rating-hover__centered-text">Network rating</h3>

                                            <div class="row">
                                                <div class="hidden-xs col-xs-3 org-rating-hover__divider">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::supplier.score.overallOpinionPercent"
                                                                      b-size="small" b-text="Overall"></b-bar-rating>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::supplier.score.customerOpinionPercent"
                                                                      b-size="small" b-text="Your Opinion"></b-bar-rating>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::supplier.score.customerServicePercent"
                                                                      b-size="small" b-text="Customer Complaints"></b-bar-rating>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::supplier.score.valueForMoneyPercent"
                                                                      b-size="small" b-text="Value for money"></b-bar-rating>
                                                    </div>
                                                </div>
                                            </div>
                                        </b-tooltip-text>
                                    </div>
                                </td>
                                <td class="tb-content tb-content-tariff">
                                    <h4><a ui-sref="phoneandinternet.supplier({ id: supplier._id })">{{::supplier.name}}</a></h4>
                                    <p><a class="review-link" ui-sref="phoneandinternet.supplier({ id: supplier._id })">Supplier reviews</a></p>
                                </td>
                                <td class="tb-content tb-content-rating">
                                    <b-bar-rating b-rating="::supplier.score.overallOpinionPercent"></b-bar-rating>
                                </td>
                                <td class="tb-content tb-buttons">
                                    <div class="row">
                                        <ul class="list-unstyled">
                                          <li class="col-xs-12 col-lg-offset-1 col-lg-10"><a target="_blank" ng-if="::supplier.affiliateUrl" ng-href="{{::supplier.affiliateUrl}}" class="btn pink btn-sm btn-block btn-tariff">Go to site</a></li>
                                          <li class="col-xs-12 col-lg-offset-1 col-lg-10"><a target="_blank" ng-if="!supplier.affiliateUrl && supplier.compareSiteUrl" ng-href="{{::supplier.compareSiteUrl}}" class="btn pink btn-sm btn-block btn-tariff">Compare</a></li>
                                          <li class="col-xs-12 col-lg-offset-1 col-lg-10"><a class="btn btn-primary btn-sm btn-block btn-tariff" ui-sref="phoneandinternet.supplier({ id: supplier._id })">See more</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
