﻿<!-- TODO: Store product data in model -->
<!-- TODO: Mobile, Telephone, should these be plural? -->

<b-card b-title="Choose a service">
    <div class="product-categories">
        <a class="product-categories__link" ui-sref="phoneandinternet.suppliers({type: 'internet'})" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/phonelisting/internet.svg">

            <span>Internet</span>
        </a>

        <a class="product-categories__link" ui-sref="phoneandinternet.suppliers({type: 'mobile'})" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/phonelisting/mobile.svg">

            <span>Mobile</span>
        </a>

        <a class="product-categories__link" ui-sref="phoneandinternet.suppliers({type: 'telephone'})" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/phonelisting/phone.svg">

            <span>Telephone</span>
        </a>

        <a class="product-categories__link" ui-sref="phoneandinternet.suppliers({type: 'tv'})" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/phonelisting/tv.svg">

            <span>TV</span>
        </a>
    </div>
</b-card>
