<div class="lp-backimage lpbi-phone">
    <b-reviewer b-title="Got a phone-y Internet supplier?" b-text="Tell us about it..." b-show-suggestion="false"></b-reviewer>
</div>
<b-skimmed-reviews id="more" ng-model="model.reviews"></b-skimmed-reviews>
<b-regulatory-banner></b-regulatory-banner>