<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <section id="energy-tariff-results" class="tariff-ov">
                <div class="tariff-table-responsive-money">
                    <table class="table table-condensed" infinite-scroll="more(model)">
                        <caption class="sr-only">Current accounts</caption>
                        <thead>
                            <tr class="tariff-head">
                                <th scope="col" class="th-title">Organisation</th>
                                <th scope="col" class="th-title">Credit card</th>
                                <th scope="col" class="th-title">Card rating</th>
                                <th scope="col" class="th-title">Card rates</th>
                                <th class="th-title"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tariff-box" ng-repeat="creditCard in model.creditCards track by $index">
                                <td class="tb-content">
                                    <div class="tb-logo">
                                        <b-logo ng-model="::creditCard.bank" b-url-fragment="urlFragment"></b-logo>

                                        <b-tooltip-text b-circle b-revealer="?" class="org-rating-hover">
                                            <h3 class="org-rating-hover__centered-text">Organisation rating</h3>

                                            <div class="row">
                                                <div class="hidden-xs col-xs-3 org-rating-hover__divider">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::creditCard.bank.score.overallOpinionPercent"
                                                                      b-size="small" b-text="Overall" ></b-bar-rating>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::creditCard.bank.score.customerOpinionPercent"
                                                                      b-size="small" b-text="Your Opinion" ></b-bar-rating>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::creditCard.bank.score.customerServicePercent"
                                                                      b-size="small" b-text="Customer Service" ></b-bar-rating>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::creditCard.bank.score.valueForMoneyPercent"
                                                                      b-size="small" b-text="Price" ></b-bar-rating>
                                                    </div>
                                                </div>
                                            </div>
                                        </b-tooltip-text>
                                    </div>
                                </td>
                                <td class="tb-content tb-content-tariff">
                                    <h4><!--<a ui-sref="money.creditcard({ id: creditCard._id })">-->{{::creditCard.bank.name}}<!--</a>--></h4>
                                    <!--<p>{{::creditCard.cardName}}NA</p>-->
                                    <p><a ui-sref="money.supplier({ id: creditCard.bank._id, '#': urlFragment })" class="review-link">Account reviews</a></p>
                                </td>
                                <td class="tb-content tbc-money-rating">
                                    <b-bar-rating b-rating="::creditCard.score.overallOpinionPercent" ></b-bar-rating>
                                </td>
                                <td class="tb-content tbc-money-features">
                                    <div class="row">
                                        <!--<div class="col-xs-12">
                                            <ul class="list-unstyled">
                                                <li ng-repeat="rate in ::creditCard.rates|creditCardRates">
                                                    {{::rate.rateType}}: <b>{{::rate.yearlyRate|percentage}}</b>
                                                </li>
                                            </ul>
                                        </div>-->
                                        <div class="col-xs-12">
                                            <div class="account-value">
                                                <p class="text-center">Value for money:</p>
                                                <p class="av-cont av-{{::creditCard.score.valueForMoneyPercent|number:0}}"
                                                   title="{{::creditCard.score.valueForMoneyPercent|ratingText}}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="tb-content tb-buttons">
                                    <div class="row">
                                        <ul class="list-unstyled">
                                            <li class="col-xs-12 col-lg-offset-1 col-lg-10">
                                                <a target="_blank" ng-if="creditCard.bank.urls.creditCardListings"
                                                   ng-href="{{creditCard.bank.urls.creditCardListings}}"
                                                   class="btn pink btn-sm btn-block btn-tariff">Check out site</a></li>
                                            <li class="col-xs-12 col-lg-offset-1 col-lg-10">
                                                <a ui-sref="money.supplier({ id: creditCard.bank._id, '#': urlFragment })"
                                                   class="btn btn-primary btn-sm btn-block btn-tariff">See more</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
