<!-- TODO: Store product data in model -->

<b-card b-title="Choose a bank product">
    <div class="product-categories">
        <a class="product-categories__link" ui-sref="money.products.creditcards" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/moneylisting/creditcards.svg">

            <span>Credit card</span>
        </a>

        <a class="product-categories__link" ui-sref="money.products.currentaccounts" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/moneylisting/currentaccounts.svg">

            <span>Current account</span>
        </a>

        <a class="product-categories__link" ui-sref="money.products.unsecuredloans" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/moneylisting/unsecuredloans.svg">

            <span>Loan</span>
        </a>

        <a class="product-categories__link" ui-sref="money.products.savingaccounts" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/moneylisting/savingaccounts.svg">

            <span>Saving account</span>
        </a>
    </div>
</b-card>
