<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <section id="energy-tariff-results" class="tariff-ov">
                <div class="tariff-table-responsive-money">
                    <table class="table table-condensed" infinite-scroll="more(model)">
                        <caption class="sr-only">Current accounts</caption>
                        <thead>
                            <tr class="tariff-head">
                                <th scope="col" class="th-title">Organisation</th>
                                <th scope="col" class="th-title">Current account</th>
                                <th scope="col" class="th-title">Account rating</th>
                                <th scope="col" class="th-title">Account features</th>
                                <th class="th-title"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tariff-box" ng-repeat="currentAccount in model.currentAccounts track by $index">
                                <td class="tb-content">
                                    <div class="tb-logo">
                                        <b-logo ng-model="::currentAccount.bank" b-url-fragment="urlFragment"></b-logo>

                                        <b-tooltip-text b-circle b-revealer="?" class="org-rating-hover">
                                            <h3 class="org-rating-hover__centered-text">Organisation rating</h3>

                                            <div class="row">
                                                <div class="hidden-xs col-xs-3 org-rating-hover__divider">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::currentAccount.bank.score.overallOpinionPercent"
                                                                      b-size="small" b-text="Overall" ></b-bar-rating>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::currentAccount.bank.score.customerOpinionPercent"
                                                                      b-size="small" b-text="Your Opinion" ></b-bar-rating>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::currentAccount.bank.score.customerServicePercent"
                                                                      b-size="small" b-text="Customer Complaints" ></b-bar-rating>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="tb-content-ed-rating">
                                                        <b-bar-rating b-rating="::currentAccount.bank.score.valueForMoneyPercent"
                                                                      b-size="small" b-text="Value for money" ></b-bar-rating>
                                                    </div>
                                                </div>
                                            </div>
                                        </b-tooltip-text>
                                    </div>
                                </td>
                                <td class="tb-content tb-content-tariff">
                                    <h4><!--<a ui-sref="money.currentaccount({ id: currentAccount._id })">-->{{::currentAccount.bank.name}}<!--</a>--></h4>
                                    <!--<p>{{::currentAccount.accountOptionName}}NA</p>-->
                                    <p><a ui-sref="money.supplier({ id: currentAccount.bank._id, '#': urlFragment })"
                                          class="review-link">Account reviews</a></p>
                                </td>
                                <td class="tb-content tbc-money-rating">
                                    <b-bar-rating b-rating="::currentAccount.score.overallOpinionPercent" ></b-bar-rating>
                                </td>
                                <td class="tb-content tbc-money-features">
                                    <div class="row">
                                        <!--<div class="col-xs-12">
                                            <ul class="list-unstyled">
                                                <li>Card type: <b>{{::currentAccount.facilitySet.cardType}}</b></li>
                                                <li>Debit system: <b>{{::currentAccount.facilitySet.debitSystemType}}</b></li>
                                                <li>ATM limit: <b>{{::currentAccount.facilitySet.atmLimit}}</b></li>
                                            </ul>
                                        </div>-->
                                        <div class="col-xs-12">
                                            <div class="account-value">
                                                <p class="text-center">Value for money:</p>
                                                <p class="av-cont av-{{::currentAccount.score.valueForMoneyPercent|number:0}}"
                                                   title="{{::currentAccount.score.valueForMoneyPercent|ratingText}}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="tb-content tb-buttons">
                                    <div class="row">
                                        <ul class="list-unstyled">
                                            <!--<li class="col-xs-12 col-lg-offset-1 col-lg-10"><a ui-sref="money.currentaccount({ id: currentAccount._id })" class="btn btn-primary btn-sm btn-block btn-tariff">View Account</a></li>-->
                                            <li class="col-xs-12 col-lg-offset-1 col-lg-10">
                                                <a target="_blank" ng-if="currentAccount.bank.urls.currentAccountListings"
                                                   ng-href="{{currentAccount.bank.urls.currentAccountListings}}"
                                                   class="btn pink btn-sm btn-block btn-tariff">Check out site</a></li>
                                            <li class="col-xs-12 col-lg-offset-1 col-lg-10">
                                                <a ui-sref="money.supplier({ id: currentAccount.bank._id, '#': urlFragment })"
                                                   class="btn btn-primary btn-sm btn-block btn-tariff">See more</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
