<div class="products animated" b-product-switcher ng-show="
    products.creditCards.length > 0 ||
    products.currentAccounts.length > 0 ||
    products.savingsAccounts.length > 0 ||
    products.unsecuredLoans.length > 0">
    <b-card>
        <h3 class="products__header">Products</h3>

        <div class="product-categories cf">
            <div class="row">
                <div class="col-sm-3" ng-show="products.creditCards.length > 0">
                    <a id="credit-cards-button" ng-click="switchProduct('credit-cards', true)"
                       class="prod-cat credit-cards" ui-sref="money.supplier({'#': 'credit-cards'})">
                        <span></span>
                        Credit Cards
                    </a>
                </div>

                <div class="col-sm-3" ng-show="products.currentAccounts.length > 0">
                    <a id="current-accounts-button" ng-click="switchProduct('current-accounts', true)"
                       class="prod-cat current-accounts" ui-sref="money.supplier({'#': 'current-accounts'})">
                        <span></span>
                        Current Accounts
                    </a>
                </div>

                <div class="col-sm-3" ng-show="products.unsecuredLoans.length > 0">
                    <a id="loans-button" ng-click="switchProduct('loans', true)"
                       class="prod-cat loans" ui-sref="money.supplier({'#': 'loans'})">
                        <span></span>
                        Loans
                    </a>
                </div>

                <div class="col-sm-3" ng-show="products.savingsAccounts.length > 0">
                    <a id="savings-button" ng-click="switchProduct('savings', true)"
                       class="prod-cat savings" ui-sref="money.supplier({'#': 'savings'})">
                        <span></span>
                        Savings
                    </a>
                </div>
            </div>
        </div>

        <div ng-include="'/modules/money/views/supplierproducts/creditcards.html'"></div>
        <div ng-include="'/modules/money/views/supplierproducts/currentaccounts.html'"></div>
        <div ng-include="'/modules/money/views/supplierproducts/unsecuredloans.html'"></div>
        <div ng-include="'/modules/money/views/supplierproducts/savingsaccounts.html'"></div>
    </b-card>
</div>
