﻿<div class="widget">
    <div class="header">
        <h1>Changecoin&reg;</h1>
    </div>
    <div class="body">
        <table class="data" ng-if="model.changeCoinsLedger.length">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>User ID</th>
                    <th>Charity</th>
                    <th>Coins</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in ::model.changeCoinsLedger">
                    <td>{{::transaction.entryDate|date:'dd MMM yyyy HH:mm:ss'}}</td>
                    <td>{{::transaction.user._id}}</td>
                    <td>{{::transaction.charity.name}}</td>
                    <td>{{::transaction.coins}}</td>
                </tr>
            </tbody>
        </table>
        <div class="empty" ng-if="!model.changeCoinsLedger.length">
            There are currently no Changecoin&reg; donations.
        </div>
    </div>
</div>
