﻿<div id="header">
	<div id="logo">B.heard</div>
	<div id="nav">
		<ul>
			<li ng-class="{ 'on': $state.includes('admin.supplierreviews') }"><a ui-sref="admin.supplierreviews.unmoderated">Reviews</a></li>
			<li ng-class="{ 'on': $state.includes('admin.users') }"><a ui-sref="admin.users">Users</a></li>
            <li ng-class="{ 'on': $state.includes('admin.changecoins') }"><a ui-sref="admin.changecoins">Changecoin&reg;</a></li>
		</ul>
	</div>
	<div id="options">
		<ul>
			<li id="user">{{::currentUser.firstName}}</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
<div id="main" ui-view></div>
<div id="footer">
	B.heard &#169; {{::copyrightYear}}
</div>
<div toast></div>
