﻿<form name="form" novalidate ng-if="model.reviews.length" ng-submit="save(model.reviews)">
    <table class="data">
        <thead>
            <tr class="headings">
                <td></td>
                <th>Supplier</th>
                <th>Possible Name (if not in our DB)</th>
                <th>Overall Opinion</th>
                <th>Customer Service</th>
                <th>Value for Money</th>
                <th>Title</th>
                <th>User</th>
                <th>IP Address</th>
                <th>Approve</th>
            </tr>
        </thead>
        <tbody>
            <tr class="level-1 expandable" ng-repeat-start="review in model.reviews" ng-class-odd="'odd'">
                <th ng-click="review.isExpanded = !review.isExpanded"><i class="fa fa-chevron-right" ng-class="{'fa-chevron-down':review.isExpanded}"></i> {{::review.created|date:'dd MMM yyyy HH:mm:ss'}}</th>
                <td class="divider">{{::review.supplier.name}}</td>
                <td>{{::review.suggestedCompanyName}}</td>
                <td>{{::review.overallOpinion}}</td>
                <td>{{::review.customerService}}</td>
                <td>{{::review.valueForMoney}}</td>
                <td>{{::review.title|isNull:'-'}}</td>
                <td ng-if="::!review.user">Anonymous</td>
                <td ng-if="::review.user">{{::review.user.firstName}} {{::review.user.lastName}}</td>
                <td>{{::review.ipAddress|isNull:'-'}}</td>
                <td class="editor-field">
                    <select name="isApproved_{{::$index}}" ng-model="review.isApproved" ng-options="option.value as option.key for option in model.reviewOptions">
                    </select>
                </td>
            </tr>
            <tr class="level-2 expandable" ng-if="review.isExpanded" ng-class="{ odd: !($parent.$index%2) }">
                <td><b>Text</b></td>
                <td colspan="8"><p>{{::review.text|isNull:'-'}}</p></td>
            </tr>
            <tr class="level-2 expandable" ng-if="review.isExpanded" ng-class="{ odd: !($parent.$index%2) }">
                <td><b>Video Url</b></td>
                <td colspan="8"><input class="input-video-url" name="videoUrl_{{::$index}}" ng-model="review.videoUrl"></input></td>
            </tr>
            <tr ng-repeat-end ng-if="0"></tr>
        </tbody>
    </table>
    <div class="buttons">
        <button type="submit" class="button">Save</button>
    </div>
</form>
<div class="empty" ng-if="!model.reviews.length">
    There are currently no unmoderated reviews.
</div>
