﻿<div class="widget">
    <div class="tabs">
        <ul>
            <li ui-sref-active="on"><a ui-sref="admin.supplierreviews.unmoderated">Unmoderated Reviews</a></li>
            <li ui-sref-active="on"><a ui-sref="admin.supplierreviews.moderated">Moderated Reviews</a></li>
        </ul>
    </div>
    <div class="body">
        <div ui-view></div>
    </div>
</div>
