﻿<div class="widget">
    <div class="header">
        <h1>Users</h1>
    </div>
    <div class="body">
        <table class="data">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Unconfirmed email</th>
                    <th>Twitter ID</th>
                    <th>Facebook ID</th>
                    <th>Google ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Postcode</th>
                    <th>Changecoin&reg;</th>
                    <th>Role</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in ::model.users">
                    <td>{{::user._id}}</td>
                    <td>{{::user.email|isNull:'-'}}</td>
                    <td>{{::user.unconfirmedEmail|isNull:'-'}}</td>
                    <td>{{::user.twitterId|isNull:'-'}}</td>
                    <td>{{::user.facebookId|isNull:'-'}}</td>
                    <td>{{::user.googleId|isNull:'-'}}</td>
                    <td>{{::user.firstName}}</td>
                    <td>{{::user.lastName|isNull:'-'}}</td>
                    <td>{{::user.postcode|isNull:'-'}}</td>
                    <td>{{::user.changeCoins}}</td>
                    <td>{{::user.role|isNull:'-'}}</td>
                    <td>{{::user.created|date:'dd MMM yyyy HH:mm:ss'}}</td>
                    <td>{{::user.updated|date:'dd MMM yyyy HH:mm:ss'|isNull:'-'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="buttons">
            <a class="button" href="/admin/users.csv">Download</a>
        </div>
    </div>
</div>
