<div class="ed-map">
	<div class="ed-map-search">
		<div class="container">
			<div class="row" ng-class="{ 'ed-map-start': !model.isTouched }">
				<div class="col-xs-12 col-md-8">
					<p class="ems-text">To see government agencies in your area, please enter your postcode or town name</p>
				</div>
				<div class="col-xs-12 col-md-4">
                    <form class="ed-map-pos" ng-submit="search(model.options)">
                        <div class="form-control banner-search-form bsf-map">
                            <input type="text" placeholder="eg. NH13 4EL" ng-model="model.options.postcode" ng-model-options="{ updateOn: 'blur' }" class="banner-search-input">
                            <button type="submit" class="banner-search-button" alt="Search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>
    <b-councils-map ng-click="model.isTouched = true" ng-model="model" ng-if="model.councils.length"></b-councils-map>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <section class="tariff-ov">
                <div class="tariff-table-responsive-government" ng-if="model.councils.length">
                    <table class="table table-condensed">
                        <caption class="sr-only">Nearest Agencies</caption>
                        <thead>
                            <tr class="tariff-head">
                                <th scope="col" class="th-title">Agency</th>
                                <th scope="col" class="th-title">Overall</th>
                                <th scope="col" class="th-title th-pers-ex hidden-xs">Rank</th>
                                <th scope="col" class="th-title">Review</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tariff-box" ng-repeat="council in model.councils">
                                <td class="tb-content tb-content-tariff tbc-gov-agency">
                                    <h4><a ui-sref="government.supplier({ id: council._id })">{{::council.name}}</a></h4>
                                    <p>Tel: {{::council.telephoneNumber}}</p>
                                    <p>{{::council.addressLine1}}, {{::council.town}}, {{::council.postcode}}</p>

                                    <div class="row">
                                        <div class="col-xs-8">
                                            <a ui-sref="government.supplier({ id: council._id })" class="btn btn-primary btn-block btn-sm">Rate agency</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="tb-content tbc-ed-rating">
                                    <b-circle-rating b-rating="council.overallRank" b-show-rating-text="false" b-text="Overall"></b-circle-rating>
                                </td>
                                <td class="tb-content tbc-ed-personal hidden-xs">
                                    <div class="tb-content-ed-rating">
                                        <b-circle-rating b-rating="council.crimeRank" b-show-rating-text="false" b-size="small" b-text="Crime"></b-circle-rating>
                                    </div>
                                    <div class="tb-content-ed-rating">
                                        <b-circle-rating b-rating="council.planningRank" b-show-rating-text="false" b-size="small" b-text="Planning"></b-circle-rating>
                                    </div>
                                    <div class="tb-content-ed-rating">
                                        <b-circle-rating b-rating="council.deprivationRank" b-show-rating-text="false" b-size="small" b-text="Deprivation"></b-circle-rating>
                                    </div>
                                    <div class="tb-content-ed-rating">
                                        <b-circle-rating b-rating="council.fireRank" b-show-rating-text="false" b-size="small" b-text="Fire"></b-circle-rating>
                                    </div>
                                    <div class="tb-content-ed-rating">
                                        <b-circle-rating b-rating="council.homelessnessRank" b-show-rating-text="false" b-size="small" b-text="Homelessness"></b-circle-rating>
                                    </div>
                                </td>
                                <td class="tb-content tb-content-tariff">
                                    <div ng-if="::council.latestReview">
                                        <p><a href="" ui-sref="singlereview({ id: council.latestReview.id })">{{::council.latestReview.title}}</a></p>
                                        <p ng-if="::council.latestReview.user">{{::council.latestReview.user.firstName}} {{::council.latestReview.user.lastName}}</p>
                                        <p ng-if="::!council.latestReview.user">Anonymous</p>
                                    </div>
                                    <div ng-if="::!council.latestReview">
                                        <p><a class="review-link" ui-sref="government.supplier({ id: council._id, sector: 'government', return: true })">{{::council.reviewCount|isNull:0}} reviews</a></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-md-offset-4 col-md-8" ng-if="!model.councils.length">Sorry there aren't any councils near that location.</div>
            </section>
        </div>
    </div>
</div>
