﻿<div class="provider-overview reviewer reviewer--{{::$root.sector || $root.siteArea || 'home'}}">
    <div class="container">
        <section class="po">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="po-logo">
                        <b-logo ng-model="model.council"></b-logo>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.council.score.overallOpinionPercent" b-text="Overall"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-circle-rating b-rating="model.council.overallRank" b-show-rating-text="false" b-text="OVERALL" class="rating-bar"></b-circle-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">OVERALL</p>
                                            <p>This overall score combines your opinion, statistics sourced from the <a href="https://www.gov.uk/government/organisations/department-for-communities-and-local-government" target="_blank">Department for Communities and Local Government</a> to give you an overall view.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.council.score.customerOpinionPercent" b-text="Your opinion"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-circle-rating b-rating="model.council.planningRank" b-show-rating-text="false" b-text="Planning" class="rating-bar"></b-circle-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Your opinion</p>
                                            <p>Based on your views and how swiftly they are dealt with.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.council.score.customerServicePercent" b-text="Service score"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-circle-rating b-rating="model.council.deprivationRank" b-show-rating-text="false" b-text="Deprivation" class="rating-bar"></b-circle-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Service score</p>
                                            <p>This is a government figure, which we've sourced from the <a href="https://www.gov.uk/government/organisations/department-for-communities-and-local-government" target="_blank">Department for Communities and Local Government</a>.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.council.score.valueForMoneyPercent" b-text="Satisfaction score"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-circle-rating b-rating="model.council.homelessnessRank" b-show-rating-text="false" b-text="Homelessness" class="rating-bar"></b-circle-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Satisfaction score</p>
                                            <p>We are aiming to include Councils' performance statistics from the <a href="http://www.lgo.org.uk/" target="_blank">Local Government Ombudsman</a>, so please bear with us until we have collated these results.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-1 po-pop-surround">
                    <div class="po-pop">
                        <span class="qmark qmark-pop" b-qmark><span class="qmark-circle-open">?</span>
                            <div class="pop-main">
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-7">
                                                <p>The dials signify a council's rating, based on your reviews and information gathered from the <a href="https://www.gov.uk/government/organisations/department-for-communities-and-local-government" target="_blank">Department for Communities and Local Government</a>, responsible for creating places for people to live and work and giving a voice to residents in their local area. By analysing this information and listening to local residents, B.heard sets out to change how we hold local government to account.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="qmark qmark-pop qmark-close">x<span class="sr-only">close</span></span>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="po-foot">
            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <p>These rankings combine your opinion, consumer complaints logged with regulator and market pricing scores in order to give you an overall score for each supplier.<br />Please check our <a href="/corporate">corporate page</a> for more details.</p>
                </div>
                <div class="col-xs-12">

                    <section class="regulatory">
                        <p class="text-center"><b>Data provided by</b></p>
                        <ul class="list-inline">
                            <li class="col-xs-6 col-sm-3 col-md-offset-2 col-md-2 text-center">
                                <a href="http://www.ombudsman-services.org/" target="_blank" title="Ombudsman Services"><img src="images/reg/ombudsman-services.png" alt=""></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                                <a href="https://www.ofgem.gov.uk/" target="_blank" title="Ofgem"><img src="images/reg/ofgem.png" alt=""></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                                <a href="https://www.gov.uk/government/organisations/competition-and-markets-authority" target="_blank" title="Competition and Markets Authority"><img src="images/reg/cma.png" alt=""></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                                <a href="http://www.cqc.org.uk/" target="_blank" title="Care Quality Commission"><img src="images/reg/care-quality-commission.png" alt=""></a>
                            </li>
                        </ul>
                    </section>

                </div>
            </div>
        </div> -->
    </div>

    <a href="#more" du-smooth-scroll="" class="header-banner__down-arrow"><span></span></a>
</div>

<div id="more" class="container section">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <b-supplier-review-form ng-model="model.council"></b-supplier-review-form>
        </div>
        <div class="col-xs-12 col-sm-4">
            <b-rankings b-supplier="model.council" b-suppliers="model.suppliers"></b-rankings>
        </div>
    </div>
    <b-skimmed-reviews ng-model="model.reviews"></b-skimmed-reviews>
</div>
