<div class="container">
    <section>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 byobs__bubble byobs__bubble-one">
                <div class="row">
                    <h2 class="byobs__title byobs__title--normal">What do you value most in a bank?</h2>
                    <p class="byobs__caption">Select three below and search for your nearest match</p>
                </div>
                <div class="row">
                    <form class="byobs__form" name="form" novalidate
                          ng-submit="form.$valid && model.checked == model.limit && submit(model)">
                        <div class="col-xs-7">
                            <div class="byobs">
                                <div class="row byobs__form-content">
                                    <ul>
                                        <li class="col-xs-4 byobs__list-item" ng-repeat="item in model.form.items">
                                            <label for="{{item.name}}">
                                                <div class="byobs__form-group byobs__item">
                                                    <span>{{item.name}}</span>
                                                    <input class="byobs__form-control" type="checkbox" id="{{item.name}}"
                                                           ng-model="item.picked" ng-change="limitControl(item)"
                                                           ng-disabled="model.checked==model.limit && !item.picked"/>
                                                </div>
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-5">

                            <div class="byobs__byob">
                                <img>
                                <img>
                                <img>
                            </div>

                            <div class="byobs__picked-list">
                                <div ng-repeat="item in model.form.items" class="byobs__list-item">
                                    <div ng-if="item.picked" class="byobs__picked-item">
                                        <label for="{{item.name}}" class="byobs__close-picked-item">x</label>
                                            <span class="byobs__picked-item-text">{{item.name}}</span>

                                    </div>
                                </div>
                            </div>

                            <div class="byob__submit-section">
                                <input id="bankName" name="bankName" required autocomplete="off" type="text"
                                       placeholder="Compare to your bank" class="lpb-search byobs__search-box   " value="bankName" ng-model="model.form.bankName"
                                       uib-typeahead="supplier.name as supplier.name for supplier in search($viewValue)" class="lpb-search"
                                >
                                <!--<button type="submit" class="banner-search-button" alt="Search"><i class="fa fa-search"></i></button>-->

                                <div class="byobs__form-button">
                                    <button type="submit" class="btn btn-lg btn-block">Search</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <p class="text-danger bg-danger"
                                   ng-show="form.$submitted && form.bankName.$error.required">
                                    Bank is required.
                                </p>

                                <p class="text-danger bg-danger"
                                   ng-show="form.$submitted && model.checked < model.limit">
                                    Please select 3 values.
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div ng-show="model.formSubmitted">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-6 byobs__bubble-two">
                    <div class="row">
                        <h2 class="byobs__bubble-two-title">Top 5 nearest matches to your values...</h2>
                        <ul>
                            <li class="col-xs-12" ng-repeat="match in model.responseData.matches">
                                <div class="byobs__form-group">
                                    {{$index+1}}. {{match}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-3 col-xs-offset-1 byobs__our-data byobs__bubble-two">
                    <h2>Our data comes from:</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-1 col-xs-6 byobs__bubble-two">
                    <div ng-if="model.responseData.yourBankRank">
                        <h2 class="byobs__bubble-two-title">How your bank compares</h2>
                        <ul>
                            <li class="col-xs-12">
                                <div class="byobs__form-group">
                                    {{model.responseData.yourBankRank}}. {{model.responseData.yourBank}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<b-media-banner></b-media-banner>