<div class="ed-map">
	<div class="ed-map-search">
		<div class="container">
			<div class="row" ng-class="{ 'ed-map-start': !model.isTouched }">
				<div class="col-xs-12 col-md-8">
					<p class="ems-text">To see schools in your area, please enter your postcode or town name</p>
				</div>
				<div class="col-xs-12 col-md-4">
                    <form class="ed-map-pos" ng-submit="search(model.options)">
                        <div class="form-control banner-search-form bsf-map">
                            <input class="banner-search-input" type="text" placeholder="eg. NH13 4EL" ng-model="model.options.postcode" ng-model-options="{ updateOn: 'blur' }">
                            <button type="submit" class="banner-search-button" alt="Search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>

    <iframe id="mapframe" style="width:100%; height:600px; border:1px solid #CCCCCC;" ></iframe>

    <!--<b-schools-map ng-click="model.isTouched = true" ng-model="model" ng-if="model.schools.length"></b-schools-map>-->
	<div class="ed-map-options" ng-show="model.schools.length">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<form class="form-inline emo-form">
						<div class="form-group emo-group">
							<p class="emo-text">Only show:</p>
						</div>
						<div class="form-group emo-group">
                            <select name="type" class="form-control emo-input" ng-change="change(model.options)" ng-model="model.options.type">
                                <option value="">School Type</option>
                                <option value="Primary">Primary</option>
                                <option value="Secondary">Secondary</option>
                                <option value="Nursery">Nursery</option>
                                <option value="Special">Special</option>
                            </select>
						</div>
						<div class="form-group emo-group">
                            <select name="rating" id="" class="form-control emo-input" ng-change="change(model.options)" ng-model="model.options.rating">
                                <option value="">School Rating</option>
                                <option value="1">1 - Outstanding</option>
                                <option value="2">2 - Good</option>
                                <option value="3">3 - Needs Improvement</option>
                                <option value="4">4 - Inadequate</option>
                            </select>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="ed-map-key">
						<ul class="list-unstyled list-inline emk-list">
							<li class="emk-list-item">
                                <img src="images/key/green-dot.png" srcset="images/key/green-dot.png 1x, images/key/green-dot@2x.png 2x" width="32" alt="Outstanding" />
                                <!-- <span class="emk-item emk-1">1</span> --><span>Outstanding</span>
                            </li>
							<li class="emk-list-item">
                                <img src="images/key/yellow-dot.png" srcset="images/key/yellow-dot.png 1x, images/key/yellow-dot@2x.png 2x" width="32" alt="Good" />
                                <!-- <span class="emk-item emk-2">2</span> --><span>Good</span>
                            </li>
							<li class="emk-list-item">
                                <img src="images/key/orange-dot.png" srcset="images/key/orange-dot.png 1x, images/key/orange-dot@2x.png 2x" width="32" alt="Needs Improvement" />
                                <!-- <span class="emk-item emk-3">3</span> --><span>Needs Improvement</span>
                            </li>
							<li class="emk-list-item">
                                <img src="images/key/purple-dot.png" srcset="images/key/purple-dot.png 1x, images/key/purple-dot@2x.png 2x" width="32" alt="Inadequate" />
                                <!-- <span class="emk-item emk-4">4</span> --><span>Inadequate</span>
                            </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <section class="tariff-ov">
                <div class="tariff-table-responsive-education" ng-if="model.schools.length">
                    <table class="table table-condensed">
                        <caption class="sr-only">Nearest Schools</caption>
                        <thead>
                            <tr class="tariff-head">
                                <th scope="col" class="th-title">School</th>
                                <th scope="col" class="th-title">School Rating</th>
                                <th scope="col" class="th-title th-pers-ex hidden-xs">Ratings</th>
                                <th scope="col" class="th-title">Reviews</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tariff-box" ng-repeat="school in model.schools">
                                <td class="tb-content tb-content-tariff">
									<h4><a ui-sref="education.supplier({ id: school._id })">{{::school.name}}</a></h4>
									<p>{{::school.ofstedRegion ? school.ofstedRegion + ',' : ''}} {{::school.postcode}}</p>
                                    <div class="row">
                                        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-3 col-md-10">
                                            <a ui-sref="education.supplier({ id: school._id })" class="btn btn-primary btn-block btn-sm">Rate school</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="tb-content tbc-ed-rating">
									<b-circle-rating b-rating="school.overallEffectiveness" b-rating-type="ofsted" b-text="Inspectorate overall effectiveness rating"></b-circle-rating>
                                </td>
                                <td class="tb-content tbc-ed-personal hidden-xs">
									<div class="tb-content-ed-rating">
										<b-circle-rating b-rating="school.qualityOfTeaching" b-rating-type="ofsted" b-text="Quality of teaching"></b-circle-rating>
									</div>
									<div class="tb-content-ed-rating">
										<b-circle-rating b-rating="school.behaviourAndSafetyOfPupils" b-rating-type="ofsted" b-text="Behaviour and safety of pupils"></b-circle-rating>
									</div>
									<div class="tb-content-ed-rating">
										<b-circle-rating b-rating="school.leadershipAndManagement" b-rating-type="ofsted" b-text="Leadership and management"></b-circle-rating>
									</div>
                                </td>
                                <td class="tb-content tb-content-tariff">
                                    <div ng-if="::school.latestReview">
                                        <p><a href="" ui-sref="singlereview({ id: school.latestReview.id })">{{::school.latestReview.title}}</a></p>
                                        <p ng-if="::school.latestReview.user">{{::school.latestReview.user.firstName}} {{::school.latestReview.user.lastName}}</p>
                                        <p ng-if="::!school.latestReview.user">Anonymous</p>
                                    </div>
                                    <div ng-if="::!school.latestReview">
                                        <p><a class="review-link" ui-sref="education.supplier({ id: school._id })">{{::school.reviewCount|isNull:0}} reviews</a></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-md-offset-4 col-md-8" ng-if="!model.schools.length">Sorry there aren't any schools near that location.</div>
            </section>
        </div>
    </div>
</div>
