<div class="lp-backimage lpbi-education">
  <div class="reviewer reviewer--education">
    <div class="container reviewer__bubble-container">
      <div class="col-md-8 col-md-offset-2">
        <div class="reviewer__bubble animated">
          <h3 class="reviewer__title reviewer__title--small">What can you teach us about education?</h3>
          <h6 class="reviewer__caption">Tell us about schools in your local area...</h6>
          <b-search-area destination="education.suppliers"></b-search-area>
        </div>
      </div>
    </div>
   </div>
  </div>
  <a href="#more" du-smooth-scroll class="reviewer__down-arrow"><span></span></a>
</div>


<b-skimmed-reviews id="more" ng-model="model.reviews"></b-skimmed-reviews>
<b-regulatory-banner></b-regulatory-banner>
