﻿<div class="provider-overview reviewer reviewer--{{::$root.sector || $root.siteArea || 'home'}}">
    <div class="container">
        <section class="po">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="po-logo">
                        <b-logo ng-model="model.school"></b-logo>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.school.score.overallOpinionPercent" b-text="Overall"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-circle-rating b-rating="model.school.overallEffectiveness" b-rating-type="ofsted" b-text="INSPECTORATE OVERALL EFFECTIVENESS RATING" class="rating-bar"></b-circle-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">OVERALL</p>
                                            <p>This overall score combines your opinion, statistics and parent view results from the Office for Standards in Education (Ofsted) in England to give you an overall view.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.school.score.customerOpinionPercent" b-text="Your opinion"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-circle-rating b-rating="model.school.qualityOfTeaching" b-rating-type="ofsted" b-text="School's quality of teaching" class="rating-bar"></b-circle-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Your opinion</p>
                                            <p>This is your opinion, taken from ratings on the site when five or more reviews have been provided.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!--<b-bar-rating b-rating="100 / model.school.overallEffectiveness" b-text="Service score"></b-bar-rating>-->
                        <!-- todo add back in -->
                        <!--<b-circle-rating b-rating="model.school.overallEffectiveness" b-rating-type="ofsted" b-text="Service score" class="rating-bar"></b-circle-rating>-->
                        <!-- todo add back in -->

                        <b-circle-rating b-rating="model.school.behaviourAndSafetyOfPupils" b-rating-type="ofsted" b-text="Behaviour and safety of pupils" class="rating-bar"></b-circle-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Service score</p>
                                            <p>This is a regulatory matter, that's why we've sourced this information from Government statistical publications from the Office for Standards in Education (Ofsted) in England. For Scotland and Wales, please bear with us until we have collated this figure in your region.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <!-- todo add back in -->
                        <!--<b-bar-rating b-rating="model.school.score.valueForMoneyPercent" b-text="Satisfaction score"></b-bar-rating>-->
                        <!-- todo add back in -->

                        <b-circle-rating b-rating="model.school.leadershipAndManagement" b-rating-type="ofsted" b-text="Leadership and management" class="rating-bar"></b-circle-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Satisfaction score</p>
                                            <p>We are aiming to include Parent View Results from the Office for Standards in Education (Ofsted) in England, so please bear with us until we have collated these results.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-1 po-pop-surround">
                    <div class="po-pop">
                        <span class="qmark qmark-pop" b-qmark><span class="qmark-circle-open">?</span>
                            <div class="pop-main">
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-7">
                                                <p>The dials signify an education supplier's rating, based on your reviews and information gathered from The Office For Standards in Education, Children's Services and Skills (Ofsted), the non-ministerial department of the UK Government responsible for inspecting services for children and young people. For Scotland and Wales, please bear with us until we have collated this figure in your region. By analysing this information and listening to parents, B.heard sets out to change the face of your experience by rewarding education providers that get it right and challenging those that don't.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="qmark qmark-pop qmark-close">x<span class="sr-only">close</span></span>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="po-foot">
            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <p>These rankings combine your opinion, consumer complaints logged with regulator and market pricing scores in order to give you an overall score for each supplier.<br />Please check our <a href="/corporate">corporate page</a> for more details.</p>
                </div>
                <div class="col-xs-12">

                    <section class="regulatory">
                        <p class="text-center"><b>Data provided by</b></p>
                        <ul class="list-inline">
                            <li class="col-xs-6 col-sm-3 col-md-offset-2 col-md-2 text-center">
                                <a href="http://www.ombudsman-services.org/" target="_blank" title="Ombudsman Services"><img src="images/reg/ombudsman-services.png" alt=""></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                                <a href="https://www.ofgem.gov.uk/" target="_blank" title="Ofgem"><img src="images/reg/ofgem.png" alt=""></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                                <a href="https://www.gov.uk/government/organisations/competition-and-markets-authority" target="_blank" title="Competition and Markets Authority"><img src="images/reg/cma.png" alt=""></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                                <a href="http://www.cqc.org.uk/" target="_blank" title="Care Quality Commission"><img src="images/reg/care-quality-commission.png" alt=""></a>
                            </li>
                        </ul>
                    </section>

                </div>
            </div>
        </div> -->
    </div>

    <a href="#more" du-smooth-scroll="" class="header-banner__down-arrow"><span></span></a>
</div>

<div id="more" class="container section">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
          <b-supplier-review-form ng-model="model.school"></b-supplier-review-form>
        </div>
        <div class="col-xs-12 col-sm-4">
            <b-rankings b-supplier="model.school" b-suppliers="model.suppliers"></b-rankings>
        </div>
    </div>
    <b-skimmed-reviews ng-model="model.reviews"></b-skimmed-reviews>
</div>
