﻿<h1>B.heard Review Guidelines</h1>
<h2>B.heard wants your voice to be heard</h2>
<p>As a B.heard user, we want to encourage you to share your opinion on the companies and services that you use, both favourable and unfavourable. At the core, our values are to promote transparency and to offer genuine value on the foundation of integrity.</p>
