﻿<h1>Terms and Conditions</h1>
<p>This website is brought to you by B.heard Limited ('B.heard'). These terms and conditions of use explain how you may use this website ('the Site'). Please read them carefully are in full before using the Site.</p>
