﻿<h1>No spin, just straight talking</h1>
<p>What's the real story on essential services? Who's doing it right,and who needs to pull their socks up?</p>
<%- contentFor('head') %>
<meta name="description" content="Find out more about B.heard, a value comparison website to help individuals make better decisions and deal
more effectively with suppliers. Come check us out!">
