﻿<div class="site-container">
    <% include nav %>
    <div class="container">
        <div class="row layout-component__page">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                <section class="content layout-component__box">
                    <header>
                        <h1 class="layout-component__title pink-text"><%= title %></h1>
                    </header>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><%= message %></p>
                        </div>
                    </div>
                </section>
                <section class="content layout-component__box">
                    <div class="row col-xs-12">
                        <h1 class="layout-component__title">Site map</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <h3 class="layout-component__subtitle">Quick Links</h3>
                            <ul>
                                <li><a target="_self" href="/">Home</a></li>
                                <li><a target="_self" href="/aboutus">About Us</a></li>
                                <li><a target="_self" href="/news">News</a></li>
                                <li><a target="_self" href="/terms">Terms &amp; Conditions</a></li>
                                <li><a target="_self" href="/privacy">Privacy Policy</a></li>
                                <li><a target="_self" href="/cookies">Cookies Policy</a></li>
                                <li><a target="_self" href="/guidelines">Review Guidelines</a></li>
                                <li><a target="_self" href="/opinion">Share Opinions</a></li>
                                <li><a target="_self" href="/seeresults">See Results</a></li>
                                <li><a target="_self" href="/investors">Investors</a></li>
                            </ul>


                            <h3 class="layout-component__subtitle">Your Experience</h3>
                            <ul>
                                <li>Private Sector
                                    <ul>
                                        <li><a target="_self" href="/energy">Energy Companies</a></li>
                                        <li><a target="_self" href="/money">Banks</a></li>
                                        <li><a target="_self" href="/insurance">Insurance Companies</a></li>
                                        <li><a target="_self" href="/phoneandinternet">Phone &amp; Broadband</a></li>
                                    </ul>
                                </li>

                                <li>Public Sector
                                    <ul>
                                        <li><a target="_self" href="/healthcare">Your local GP</a></li>
                                        <li><a target="_self" href="/education">Local Schools</a></li>
                                        <li><a target="_self" href="/government">Local Councils</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h3 class="layout-component__subtitle">Account</h3>
                            <ul>
                                <li><a target="_self" href="/login">Login</a></li>
                                <li><a target="_self" href="/register">Register</a></li>
                                <li><a target="_self" href="/resetpassword">Reset Password</a></li>
                            </ul>

                            <h3 class="layout-component__subtitle">Corporate</h3>
                            <ul>
                                <li><a target="_self" href="/corporate">Corporate</a></li>
                                <li><a target="_self" href="/corporate/goals">Goals &amp; strategy</a></li>
                                <li><a target="_self" href="/corporate/changecoins">Why Changecoin&reg;?</a></li>
                                <li><a target="_self" href="/corporate/investors">Investors</a></li>
                                <li><a target="_self" href="/corporate/company">Company information</a></li>
                                <li><a target="_self" href="/corporate/jobs">Jobs</a></li>
                            </ul>
                            <h3 class="layout-component__subtitle">Charity</h3>

                            <ul>
                                <li><a target="_self" href="/charities/againstbreastcancer">Against Breast Cancer</a></li>
                                <li><a target="_self" href="/charities/crosslight">Crosslight</a></li>
                                <li><a target="_self" href="/charities/emmaus">Emmaus</a></li>
                                <li><a target="_self" href="/charities/insurancecharities">The Insurance Charities</a></li>
                                <li><a target="_self" href="/charities/madeforchange">Made for Change</a></li>
                                <li><a target="_self" href="/charities/mind">Mind</a></li>
                                <li><a target="_self" href="/charities/recyclinglives">Recycling Lives</a></li>
                                <li><a target="_self" href="/charities/spear">Spear</a></li>
                                <li><a target="_self" href="/charities/williamwilberforce">William Wilberforce Trust</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h3 class="layout-component__subtitle">Changecoin&reg;</h3>

                            <ul>
                                <li><a target="_self" href="/changecoins">Changecoin&reg;</a></li>
                                <li><a target="_self" href="/nominate">Nominate your charity</a></li>
                            </ul>

                            <h3 class="layout-component__subtitle">Contact</h3>

                            <ul>
                                <li><a target="_self" href="/contactus">Contact Us</a></li>
                                <li><a target="_self" href="/haveyoursay">Have Your Say</a></li>
                                <li><a target="_self" href="/forcompanies">For Companies</a></li>
                                <li><a target="_self" href="/suggestion">Suggestion</a></li>
                                <li><a target="_self" href="/corporate/company">Company information</a></li>
                                <li><a target="_self" href="/corporate/jobs">Jobs</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <% include footer %>
</div>
