﻿<div class="site-container">
    <% include nav %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <section class="useraccount-main">
                    <header>
                        <h1><%= title %></h1>
                    </header>
                    <div class="row ua-content">
                        <div class="col-xs-12 col-sm-8">
                            <p><%= message %></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <% include footer %>
</div>
