﻿<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <% if (typeof seo === 'undefined' || seo) { %>
            <meta name="fragment" content="!">
        <% } %>
        <meta name="msapplication-config" content="browserconfig.xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="p:domain_verify" content="c1514b0ad5dadff3e5a4879c3a1d5379"/>
        <base href="/">
        <title ng-bind="title || '<%= title %>'"></title>
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Crete+Round:400italic" />
        <link rel="stylesheet" ng-href="/build/css/lib.css" />
        <link rel="stylesheet" ng-href="/build/css/app.css">
        <meta id="googleApiKey" name="googleApiKey" content="<%= googleApiKey %>" />

        <script async defer src="<%= '//maps.google.com/maps/api/js?v=3&key=' + googleApiKey %>"></script>
        <script src="/build/js/lib.js"></script>
        <script src="/build/js/app.js"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date();
                a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m);
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-68932072-1', 'auto');
        </script>
        <%- defineContent('head') %>

        <!-- Hotjar Tracking Code for http://www.bheard.com -->
        <script>
           (function(h,o,t,j,a,r){
               h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
               h._hjSettings={hjid:218055,hjsv:5};
               a=o.getElementsByTagName('head')[0];
               r=o.createElement('script');r.async=1;
               r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
               a.appendChild(r);
           })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    </head>
    <body id="top" class="{{bodyClass}} {{extraClass}}" device-detector>

        <!-- facebook says put this here -->
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '521364038036047',
                    xfbml      : true,
                    version    : 'v2.6'
                });
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <div ui-view></div>
        <%- body %>
    </body>
</html>
