﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title ng-bind="title"><%= title %></title>
        <%- defineContent('head') %>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/changecoins">Changecoin&reg;<sup>&#174;</sup></a></li>
                <li><a href="/news">News</a></li>
                <!--<li><a >Search B.heard</a></li>-->
            </ul>
            <ul>
                <li>
                    <a href="/energy">Energy</a>
                </li>
                <li>
                    <a href="/healthcare">Healthcare</a>
                </li>
                <li>
                    <a href="/money">Money</a>
                </li>
                <li>
                    <a href="/education">Education</a>
                </li>
                <li>
                    <a href="/insurance">Insurance</a>
                </li>
                <li>
                    <a href="/government">Government</a>
                </li>
                <li>
                    <a href="/phoneandinternet">Phone & Internet</a>
                </li>
                <!-- <li>
                    <a href="/pricecomparison">Price Comparison</a>
                </li> -->
                <li>
                    <a href="/haveyoursay">Have your say</a>
                </li>
            </ul>
        </nav>
        <%- body %>
        <footer>
            <p>B.heard uses data provided by</p>
            <ul>
                <li>
                    <a href="http://www.ombudsman-services.org/" target="_blank" title="Ombudsman Services"><img src="/images/reg/ombudsman-services.png" alt=""></a>
                </li>
                <li>
                    <a href="https://www.ofgem.gov.uk/" target="_blank" title="Ofgem"><img src="/images/reg/ofgem.png" alt=""></a>
                </li>
                <li>
                    <a href="http://www.ofcom.org.uk/" target="_blank" title="Ofcom"><img src="/images/reg/ofcom.png" alt=""></a>
                </li>
                <li>
                    <a href="https://www.gov.uk/government/organisations/competition-and-markets-authority" target="_blank" title="Competition and Markets Authority"><img src="/images/reg/cma.png" alt=""></a>
                </li>
                <li>
                    <a href="http://www.cqc.org.uk/" target="_blank" title="Care Quality Commission"><img src="/images/reg/care-quality-commission.png" alt=""></a>
                </li>
                <li>
                    <a href="http://www.fca.org.uk/" target="_blank" title="Financial Conduct Authority">Financial<br />Conduct<br />Authority<!-- <img src="/images/reg/fca.png" alt=""> --></a>
                </li>
            </ul>
            <h3>Say hello</h3>
            <ul>
                <li><a href="mailto:enquiries@bheard.com">enquiries@bheard.com</a></li>
            </ul>
            <h3>Other places</h3>
            <ul>
                <li><a href="https://twitter.com/BheardHQ" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/BHeard-495841170593869/" target="_blank">Facebook</a></li>
            </ul>
            <h3>Come see us</h3>
            <ul>
                <li>
                    <address>Mappin House<br />4 Winsley Street<br />London W1W 8HF<br />United Kingdom</address>
                    +44 (0) 203 286 7217
                </li>
            </ul>
            <h3>Sectors</h3>
            <ul>
                <li><a href="/energy">Energy</a></li>
                <li><a href="/healthcare">Healthcare</a></li>
                <li><a href="/money">Money</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/insurance">Insurance</a></li>
                <li><a href="/government">Government</a></li>
                <li><a href="/phoneandinternet">Phone & Internet</a></li>
                <!-- <li><a href="/pricecomparison">Price Comparison</a></li> -->
            </ul>
            <h3>Company</h3>
            <ul>
                <li><a href="/aboutus">About us</a></li>
                <li><a href="/changecoins">Changecoin&reg;<sup>&#174;</sup></a></li>
                <li><a href="/contactus">Contact us</a></li>
                <li><a href="/corporate">Corporate</a></li>
                <li><a href="/terms">Terms & Conditions</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/cookies">Cookies Policy</a></li>
                <li><a href="/guidelines">Review Guidelines</a></li>
            </ul>
            <p>Copyright &#169; 2015 B.heard. All rights reserved. B.heard Limited is a registered limited company of England and Wales (9082696) located at B.heard Limited, 21 - 27 Lambs Conduit Street, London, WC1N 3GS, United Kingdom. B.heard Limited is registered under the Data Protection Act 1998 (Registration number ZA118881). B.heard Limited is an Appointed Representative of Resolution Compliance Limited which is authorised and regulated by the Financial Conduct Authority (FRN:574048).</p>
        </footer>
    </body>
</html>
