﻿<div class="site-container">
    <div class="header-container">
        <nav class="nav page-not-found" b-scroll ng-class="{'nav--scrolled': scrolledDown}">
            <div class="container">
                <div class="nav__topbar clearfix">
                    <button class="nav__menu-button" ng-click="toggleNav = !toggleNav" ng-class="{'nav__menu-button--open' : toggleNav}" b-mobile-nav>
                        <span class="nav__menu-button__icon-bar"></span>
                        <span class="nav__menu-button__icon-bar"></span>
                        <span class="nav__menu-button__icon-bar"></span>
                        <span class="nav__menu-button__icon-bar"></span>
                    </button>

                    <div class="nav__logo"><a target="_self" class="" ui-sref="home"><span class="sr-only">B.heard</span></a></div>

                    <a target="_self" href="{{getProfileLink()}}" class="nav__login" ng-class="{ 'nav__item--active' : $state.includes('login')}">
                        <div ng-if="currentUser.email" class="nav__gravatar">
                            <img gravatar-src="currentUser.email" gravatar-size="100" /> <!-- define size in style sheet -->
                        </div>
                        <span>Join / Login</span>
                    </a>
                </div>

                <nav class="nav__items">
                    <ul>
                        <li>
                            <a target="_self" href="/opinion">Share Opinions</a>
                        </li>
                        <li>
                            <a target="_self" href="/review">Share Reviews</a>
                        </li>
                        <li>
                            <a target="_self" href="/switch">Switch</a>
                        </li>
                    </ul>
                </nav>
            </div><!--/.container-->
        </nav><!--/.nav-->
    </div>
</div>
