<!-- included in supplierproducts.html. Any functions here will be defined in the supplierproducts directive -->
<div id="credit-cards" class="products-container">
    <div class="single-product cf" ng-repeat="product in products.creditCards">
        <div class="cf">
            <h4>{{product.cardName}}</h4>
            <a ng-if="products.creditCards.length > 1" class="btn pink more-details" href="#" b-product-more-details><span class="fa fa-chevron-down"></span>More</a>
        </div>

        <div class="product-details" ng-class="{'open' : products.creditCards.length == 1}">
            <div>
                <h4 class="product-details__header">Account Details</h4>
                <div ng-if="product.imageURL" class="product-details__image">
                    <img alt="product.cardName" ng-src="{{ product.imageURL }}" />
                </div>
            </div>
            <br />

            <div class="single-info title cf">
                <div class="cell">About this account</div><!--/.cell-->
            </div>

            <div class="single-info cf">
                <div class="cell">Supplier</div><!--/.cell-->
                <div class="cell">{{product.companyName}}</div><!--/.cell-->
            </div><!--/.row-->

            <div class="single-info cf">
                <div class="cell">
                    Balance transfer

                    <b-tooltip-text b-circle b-revealer="?">
                        <p>Balance transfer is where part or all of your card balance with a lender is transferred from one card to another, usually to save money on interest repayments. A balance transfer credit card can be a good way to slow your spending and to take a look at the debt owed.</p>
                    </b-tooltip-text>

                </div><!--/.cell-->
                <div class="cell">
                    <span ng-if="getIntroTrfRate(product)">
                        {{getIntroTrfRate(product).paRate | number}}% for {{getIntroTrfRate(product).ratePeriodMths}} months

                        <br/>

                        Then
                    </span>

                    {{product.rates.balanceTransfers.trfRate.paRate | number}}%

                    <br />

                    <span ng-if="product.rates.balanceTransfers.introTrf.feePct">{{product.rates.balanceTransfers.introTrf.iTrfUpfrontFees.feePct}}% fee</span>
                </div><!--/.cell-->
            </div><!--/.row-->

            <div class="single-info cf">
                <div class="cell">
                    Purchases

                    <b-tooltip-text b-circle b-revealer="?">
                        <p>A purchase rate is the interest rate charged on regular purchases put on a credit card. Some cards give you a period where you are not charged interest on purchases, but after that period elapses you are charged interest, so if you have debt on the card it can start to become expensive.</p>
                    </b-tooltip-text>

                </div><!--/.cell-->

                <div class="cell">
                    <span ng-if="getIntroRate(product)">
                        {{getIntroRate(product).paRate | number}}% for {{getIntroRate(product).ratePeriodMths | number}} months

                        <br />

                        Then
                    </span>

                    {{getStandardRate(product).paRate | number}}% (Variable)
                </div><!--/.cell-->
            </div><!--/.row-->

            <div class="single-info cf">
                <div class="cell">
                    Representative APR

                    <b-tooltip-text b-circle b-revealer="?">
                        <p>APR – Short for Annual Percentage Rate, The APR rate is one way to compare cards. The Representative APR is an advertised rate that a minimum percentage of customers will pay, including all charges such as interest and fees.</p>
                    </b-tooltip-text>
                </div><!--/.cell-->
                <div class="cell">{{getStandardRate(product).apr | number}}% APR (Variable)</div><!--/.cell-->
            </div><!--/.row-->

            <div class=" cf">
                <p class="represent">Representative Example: If you spend £1,200 at a purchase interest rate of {{getStandardRate(product).paRate | number }}% p.a. (variable) {{ product.fee ? product.fee.feeDetail : ''}} your representative rate will be {{getStandardRate(product).apr | number}}% APR (variable). Credit available subject to status.</p>
            </div>

            <div class="product-section benefits" ng-if="product.benefits.length > 0">
                <h4>Benefits</h4>
                <div ng-repeat="benefit in product.benefits">
                    <h5>{{benefit.type}}</h5>
                    <p>{{benefit.note}}</p>
                </div>
            </div>

            <div class="product-section" ng-if="product.loyalty && product.loyalty.loyaltyNote">
                <h4>Loyalty - {{product.loyalty.loyaltyScheme}}</h4>
                <p>{{product.loyalty.loyaltyNote}}</p>
            </div>

            <h4>Charges</h4>

            <div ng-if="charge.detail !== '£0.00'" ng-repeat="charge in product.charges" class="single-info cf">
                <div class="cell">{{charge.type}}</div>
                <div class="cell">{{charge.detail}}</div>
            </div>

            <div class="product-section" ng-if="product.billPayment">
                <h4>Bill Payment</h4>
                <p>{{product.billPayment.minPayMthNote}}</p>
                <p>{{product.billPayment.repaymentNote}}</p>
            </div>

            <div class="product-section">
                <h4>Application Criteria</h4>
                <ul>
                    <li ng-if="product.perAppCriteria.invitationOnlyTick == true">Invitation Only</li>
                    <li ng-if="product.perAppCriteria.managersDiscretionTick == true">Manager's Discretion</li>
                    <li ng-if="product.perAppCriteria.statusNote">{{product.perAppCriteria.statusNote}}</li>
                    <li ng-if="product.perAppCriteria.existCustTick == true">Only available for existing customers ({{product.perAppCriteria.existCustNote}})</li>
                    <li ng-if="product.perAppCriteria.memberTick == true">{{product.perAppCriteria.memberNote}}</li>
                    <li ng-if="product.perAppCriteria.minAgeYrs">Minimum age: {{product.perAppCriteria.minAgeYrs}}</li>
                    <li ng-if="product.perAppCriteria.premierCardTick == true">Premier Card</li>
                    <li ng-if="product.perAppCriteria.creditRepairCardTick == true">Credit repair card</li>
                </ul>
            </div>

            <a class="btn pink" ng-if="product.switchingUrl" ng-href="{{product.switchingUrl}}" target="_blank">Check out their site</a>
        </div><!--/.product-details-->
    </div>

    <div ng-include="'modules/money/views/supplierproducts/disclaimer-intro.html'"></div>

    <div class="product-disclaimer">
        <p><strong>The risks of using credit cards</strong></p>
        <p>
            Although credit cards come with incentives, loyalty schemes and benefits, its important to know that they do come with risk. It can be easy to incur expensive debt on cards, and it is possible to get into financial difficulty if you’re not able to adhere to the terms and conditions of the lender. Lenders will charge you fees, for instance, for late payment or exceeding personal credit card limits. Late repayment can cause you serious money problems, for help, please go to: <a href="http://www.moneyadviceservice.org.uk" target="_blank">http://www.moneyadviceservice.org.uk</a>. Also, your personal credit status may impact your ability to apply for certain credit cards – B.heard Ltd is not able to guarantee or secure credit cards for you. We aim to provide a fair and balanced view of the credit card products, and source our data on a non-advised basis from Moneyfacts Group Plc (FRN: 477500) and Moneyfacts.co.uk Limited (FRN: 486048), which is also Authorised and Regulated by the Financial Conduct Authority. Its important that you weigh up the benefits of a credit card with the risks and drawbacks, if you are not sure which is the right product for you, you should seek advice.
        </p>
    </div>

    <div ng-include="'modules/money/views/supplierproducts/disclaimer-outro.html'"></div>
</div>
