<!-- included in supplierproducts.html. Any functions here will be defined in the supplierproducts directive -->
<div id="current-accounts" class="products-container">
    <div class="single-product cf" ng-repeat="product in products.currentAccounts">
        <div class="cf">
            <h4>{{product.accountName}}</h4>
            <a ng-if="products.currentAccounts.length > 1" class="btn pink more-details" href="#" b-product-more-details><span class="fa fa-chevron-down"></span>More</a>
        </div>

        <div class="product-details" ng-class="{'open' : products.currentAccounts.length == 1}">
            <div class="product-section">
                <div>
                    <h4 class="product-details__header">Account Details</h4>
                    <div ng-if="product.imageURL" class="product-details__image">
                        <img alt="product.cardName" ng-src="{{ product.imageURL }}" />
                    </div>
                </div>

                <div class="single-info title cf">
                    <div class="cell">About this account</div><!--/.cell-->
                </div>

                <div class="single-info cf">
                    <div class="cell">Supplier</div><!--/.cell-->
                    <div class="cell">{{product.companyName}}</div><!--/.cell-->
                </div><!--/.row-->

                <div class="single-info cf">
                    <div class="cell">
                        Interest Rate (AER)

                        <b-tooltip-text b-circle b-revealer="?">
                            <p>Short for the Annual Equivalent Rate, the AER shows how much interest you will earn when your
                            account is in credit.</p>

                            <p>This measure allows you to compare accounts where interest is paid monthly with accounts where
                            interest is paid annually.</p>

                            <p>The results are based on an account being in credit by £1,000.</p>
                        </b-tooltip-text>
                    </div> <!--/.cell -->
                    <div class="cell">
                        {{getCurrentAccountInterestRate(product) | number:2}}%
                         AER (Variable)
                    <!-- <span ng-bind-html="getCurrentAccountInterestRateString(product)"></span> -->
                    </div><!--/.cell-->
                </div><!--/.row-->

                <!-- TODO INTEREST RATE TABLE WITH CALLS TO FUNCTIONS FOR CALCULATING VALUES -->
                <!--<table ng-if="product.inCredits" class="table table-hover">-->
                  <!--<thead>-->
                    <!--<th>Balance</th>-->
                    <!--<th>Introductory rate</th>-->
                    <!--<th>Follow on rate</th>-->
                    <!--<th>Gross AER</th>-->
                  <!--</thead>-->
                  <!--<tbody>-->
                <!--<tr ng-repeat="rate in getCurrentAccountRatesInTiers(product)">-->
                      <!--<td>{{rate.tierLower}}-{{rate.tierUpper}}</td>-->
                    <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->


                <!--<div ng-repeat="rate in getRatesInTiers(product)" class="single-info cf">-->
                  <!-- <div class="cell"><b>£{{rate.tierLower | number}}{{rate.tierUpper > 0 ? ' - £' + (rate.tierUpper | number) : '+'}}</b></div> -->
                  <!-- <div class="cell"><b>{{rate.grossAER}}%</b></div> -->

              <!--</div>-->

                <div ng-if="product.eligibility.ageMinTxt" class="single-info cf">
                    <div class="cell">Eligibility Age</div><!--/.cell-->
                    <div class="cell">{{product.eligibility.ageMinTxt}}</div><!--/.cell-->
                </div><!--/.row-->

                <div ng-if="product.eligibility.criteriaFunding" class="single-info cf">
                    <div class="cell">Eligibility Criteria Funding</div><!--/.cell-->
                    <div class="cell">{{product.eligibility.criteriaFunding}}</div><!--/.cell-->
                </div><!--/.row-->

                <!--<div class="single-info cf">-->
                    <!--<div class="cell">Minimum Opening Balance</div>&lt;!&ndash;/.cell&ndash;&gt;-->
                    <!--<div class="cell"><span>£{{product.facilitySet.minOpenBal}}</span></div>&lt;!&ndash;/.cell&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->

                <!--<div class="single-info cf">-->
                    <!--<div class="cell">Minimum Operating Balance</div>&lt;!&ndash;/.cell&ndash;&gt;-->
                    <!--<div class="cell"><span>£{{product.facilitySet.minOperateBal}}</span></div>&lt;!&ndash;/.cell&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->

                <!--<div class="single-info cf">-->
                    <!--<div class="cell">Maximum Investment</div>&lt;!&ndash;/.cell&ndash;&gt;-->
                    <!--<div class="cell"><span>£{{product.facilitySet.maxInv}}</span></div>&lt;!&ndash;/.cell&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->

                <!--<div class="single-info cf">-->
                    <!--<div class="cell">Card Type</div>&lt;!&ndash;/.cell&ndash;&gt;-->
                    <!--<div class="cell"><span>{{product.facilitySet.cardType}}</span></div>&lt;!&ndash;/.cell&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->

                <!--<div class="single-info cf">-->
                    <!--<div class="cell">Debit System</div>&lt;!&ndash;/.cell&ndash;&gt;-->
                    <!--<div class="cell"><span>{{product.facilitySet.debitSystemType}}</span></div>&lt;!&ndash;/.cell&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->

                <!--<div class="single-info cf">-->
                    <!--<div class="cell">ATM Limit</div>&lt;!&ndash;/.cell&ndash;&gt;-->
                    <!--<div class="cell"><span>{{product.facilitySet.atmLimit}}</span></div>&lt;!&ndash;/.cell&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->

                <!--<div class=" cf">-->
                    <!--<h5 class="represent">Representative Example: If you spend £1,200 at a purchase interest rate of {{getStandardRate(product).paRate | number }}% p.a. (variable) {{ product.fee ? product.fee.feeDetail : ''}} your representative rate will be {{getStandardRate(product).apr | number}}% APR (variable). Credit available subject to status.</h5>-->
                <!--</div>-->
            </div>

            <div ng-if="product.eligibility.setupFee || product.eligibility.introFee ||
                        product.eligibility.stdFee" class="product-section">
                <h4>
                    Fees

                    <b-tooltip-text b-circle b-revealer="?">
                        <p>Some accounts will charge you for using the account. Fees may be charged on a monthly or annual
                        basis.</p>
                    </b-tooltip-text>
                </h4>

                <div ng-if="product.eligibility.setupFee" class="single-info cf">
                    <div class="cell">Setup Fee</div><!--/.cell-->
                    <div class="cell">{{product.eligibility.setupFee}}</div><!--/.cell-->
                </div><!--/.row-->

                <div ng-if="product.eligibility.introFee" class="single-info cf">
                    <div class="cell">Intro Fee</div><!--/.cell-->
                    <div class="cell">{{product.eligibility.introFee}}</div><!--/.cell-->
                </div><!--/.row-->

                <div ng-if="product.eligibility.stdFee" class="single-info cf">
                    <div class="cell">Standard Fee</div><!--/.cell-->
                    <div class="cell">{{product.eligibility.stdFee}}</div><!--/.cell-->
                </div><!--/.row-->

            </div>

            <div class="product-section">
                <h4>Ways To Access Account</h4>

                <!-- TODO: show ways that are not supported with a cross -->

                <ul class="feature-list">
                    <li ng-repeat="op in product.accountOperation" class="feature-list__feature">
                        <i class="fa fa-check feature-list__icon feature-list__icon--yes" aria-visibility="hidden"></i> {{op.channelName}}
                    </li>
                </ul>
            </div>

            <div class="product-section benefits">
                <h4>Benefits</h4>

                <div ng-repeat="(section, benefits) in getCategorisedBenefits(product)">
                    <h5>{{section}}</h5>

                    <div ng-repeat="benefit in benefits">
                        <h6>{{benefit.type}}</h6>
                        <p>{{benefit.note}}</p>
                    </div>
                </div>
            </div>

            <!-- Interest Rates -->
            <div ng-if="product.inCredits" class="product-section">
                <h4>Interest Rates</h4>

                <!-- todo put in some if statements -->
                <div ng-repeat="inCredit in product.inCredits">
                    <!-- todo only show the first inCredit?? Is there ever more than one? -->

                    <div ng-repeat="period in inCredit.periods">
                        <span>Period: {{period.mthsLower}}{{rate.mthsUpper > 0 ? ' - £' + (rate.mthsUpper | number) : '+'}} months</span>

                        <div class="single-info title cf">
                            <div class="cell">Balance</div><!--/.cell-->
                            <div class="cell">
                                AER

                                <b-tooltip-text b-circle b-revealer="?">
                                    <p>The Annual Equivalent Rate (AER) shows how much interest you will earn when your account is in credit.

                                    <p>The AER will vary depending on the frequency of interest payments and whether any compounding effects.</p>

                                    <p>The results are based on an account being in credit by 1,000.</p>
                                </b-tooltip-text>
                            </div><!--/.cell-->
                        </div><!--/.row-->

                        <div ng-repeat="rate in period.rates" class="single-info cf">
                            <div class="cell">£{{rate.tierLower | number}}{{rate.tierUpper > 0 ? ' - £' + (rate.tierUpper | number) : '+'}}</div>
                            <div class="cell">
                                {{rate.aer | number : 2}}%
                                 AER (Variable)</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Overdraft rates -->
            <div ng-if="product.odRateSets" class="product-section">
                <h4>Overdraft Rates</h4>

                <!-- todo only show the first odRateSet?? Is there ever more than one (I think you mentioned this Ramsey and said only use the first because only a few have two) -->
                <div ng-repeat="rateSet in product.odRateSets">
                    <!-- todo put in some if statements -->
                    <div ng-repeat="rateType in rateSet.rateTypes">
                        <h5>{{rateType.type}} Overdraft</h5>

                        <div ng-repeat="period in rateType.ratePeriods">
                            <span>Period: {{ period.mthsLower }}{{rate.mthsUpper > 0 ? ' - £' + (rate.mthsUpper | number) : '+'}} months</span>

                            <div class="single-info title cf">
                                <div class="cell">Overdrawn</div><!--/.cell-->
                                <div class="cell">
                                    EAR

                                    <b-tooltip-text b-circle b-revealer="?">
                                        <p>The overdraft Equivalent Annual Rate (EAR) or an overdraft fee is charged when
                                        you are overdrawn on your account, and will vary depending on whether your
                                        overdraft is authorized or unauthorized.</p>

                                        <p>The EAR shows the interest you will need to pay if you are overdrawn for a year.
                                        The results are based on an account being overdrawn by 500.</p>

                                        <p>We show you the EAR in order of introductory rates, authorized rates and
                                        unauthorized rates, which will vary according to the type of account selected.</p>
                                    </b-tooltip-text>
                                </div><!--/.cell-->
                            </div><!--/.row-->

                            <div ng-repeat="rate in period.rates" class="single-info cf">
                                <div class="cell">£{{rate.tierLower | number}}{{rate.tierUpper > 0 ? ' - £' + (rate.tierUpper | number) : '+'}}</div>
                                <div class="cell">{{rate.yly | number : 2}}% {{rate.ylyType}} ({{rate.type}})</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="btn pink" ng-if="product.switchingUrl" ng-href="{{product.switchingUrl}}" target="_blank">
                Check out their site
            </a>
        </div><!--/.product-details-->
    </div>

    <div ng-include="'modules/money/views/supplierproducts/disclaimer-intro.html'"></div>

    <div class="product-disclaimer">
        <p>
            <strong>The risks of current accounts</strong><br>
            A current account is a bank account where you can deposit or withdraw funds. There are various types of
            current accounts, the most common being:
        </p>
        <ul>
            <li>
                <strong>Standard</strong>: Typically used for payment of your salary, setting up standing orders, direct
                debits and making direct payments. You might be able to apply for a debit card to make withdrawals.
            </li>
            <li>
                <strong>Basic</strong>: These accounts tend to suit people who might not be eligible for a standard
                account, for instance, due to credit status of the applicant.
            </li>
            <li>
                <strong>Packaged</strong>: Some customers may look for additional benefits beyond the standard &amp;
                basic accounts. Extras may include breakdown cover, cashback, or travel &amp; mobile phone insurance.
            </li>
            <li>We do not currently show student and graduate accounts on our site.</li>
        </ul>

        <p>Whether you are approved for a current account will be subject to your credit status.</p>

        <p>
            You may find that accounts have different levels of access when managing a current account, for instance,
            whether you are able to access online, in branch or over the phone.
        </p>
        <p>
            When considering an overdraft, you should be aware of the EAR and fees that you may be subject to, as you
            will need to ensure that you can afford to pay them otherwise it may have an impact your credit.
        </p>
        <p>
            We aim to provide a fair and balanced view of current account products, and source our data on a non-advised
            basis from Moneyfacts Group Plc (FRN: 477500) and Moneyfacts.co.uk Limited (FRN: 486048), which is also
            Authorised and Regulated by the Financial Conduct Authority. Its important that you weigh up the benefits of
            a current account with the risks and drawbacks, if you are not sure which is the right product for you, you
            should seek advice.
        </p>
        <p>
            <strong>Switching current accounts</strong><br>
            In 2013 the
            <a href="https://www.currentaccountswitch.co.uk/Pages/Home.aspx">
                Current Account Switch Service
            </a>
            came into effect, which will ensure that moving between banks, building societies is simple. Since then, it
            has switched over 3 million accounts. The service is free, and more than 40 banks and building societies are
            a part of the service, with over 99% of UK current accounts covered.
        </p>
        <p>
            <strong>Deposit protection</strong><br>
            The <a href="http://www.fscs.org.uk/">Financial Services Compensation Scheme (FSCS)</a>
            is the compensation fund for customers of authorised financial service funds. If you have money in the
            account of a High Street bank, there is a compensation limit of GBP75,000. The limits apply to each depositor for the
            total of their deposits with the organisation, regardless of how many accounts they hold. For joint
            accounts, the compensation limit is GBP150,000. Beyond these limits, your depsoits may be at risk should the
            organisation holding your funds fails.
        </p>
    </div>

    <div ng-include="'modules/money/views/supplierproducts/disclaimer-outro.html'"></div>
</div>
