<div class="product-disclaimer">
    <p>
        B.heard Ltd is a credit broker (not a lender), meaning we are able to show you the products offered by
        lenders.
    </p>
    <p>
        B.heard Ltd is an
        <a href="https://register.fca.org.uk/ShPo_firmdetailsPage?id=001b000003O0c51AAB">
            Appointed Representative
        </a>
        of
        <a href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b000000NMecyAAD">
            Resolution Compliance Limited
        </a>
        which is authorised and regulated by the
        <a href="https://www.fca.org.uk/">
            Financial Conduct Authority
        </a>
        (FRN: 574048) &ndash; this means we’re able to show you the products offered by account providers.
        We don’t take a fee from you if you use our service, instead we are paid by the providers. We always aim
        to keep ourselves independent of providers, and in the future will disclose to you the commission we
        receive should you switch to a particular product. We don’t let the size of the commission affect how
        we present the products to you.
    </p>
    <p>
        Any opinions provided on this page are not regulated by the Financial Conduct Authority, and are not
        reflective of the views of B.heard Ltd. 
    </p>
    <p>
        We aim to provide you with access to a representative range of savings account products to provide a
        fair reflection of the market place. In other words, we are not restricted in showing you the savings
        account market, however, some providers don’t want their products included on comparison sites, certain
        product characteristics such as geographic restrictions or unusual features mean that some products are
        excluded to prevent confusion.
    </p>
    <p>
        Although we try our very best to provide the most accurate data and that any comparison is presented in
        a fair and balanced way and is meaningful, if you’ve been contacted unexpectedly or have been
        given
        <a href="https://www.handbook.fca.org.uk/handbook/CONC/3/3.html">
            misleading information,
        </a>
        you can make a complaint by contacting us at
        <a href="mailto:complaints@bheard.com">
            complaints@bheard.com
        </a>
        or contact us at our address: B.heard Ltd, 21-27 Lambs Conduit Street, London, WC1N 3GS.
    </p>
    <p>
        We will do our best to resolve your complaint immediately, however, in some instances we may not be
        able to. In this case, we’ll let you know and keep you informed of the process through regular updates
        &ndash; we want you to know that you will be treated diligently and impartially. If you are unhappy with
        our response, you have the right to refer to the
        <a href="http://www.financial-ombudsman.org.uk/">
            Financial Ombudsman
        </a>
        (FOS), which is the independent Financial Services body for arbitration. You can find more details on
        our
        <a href="http://www.bheard.com/complaints">complaints</a> page.
    </p>
</div>
