<div class="product-disclaimer">
    <p>
        We suggest you read our <a href="http://www.bheard.com/terms">Terms and Conditions</a>
        and <a href="http://www.bheard.com/privacy">Privacy Policy</a> when using B.heard Ltd’s service.
    </p>
</div>
