<!-- included in supplierproducts.html. Any functions here will be defined in the supplierproducts directive -->
<div id="savings" class="products-container">
    <div class="single-product cf" ng-repeat="product in products.savingsAccounts">
        <div class="cf">
            <h4>{{product.accountName}}</h4>
            <a ng-if="products.savingsAccounts.length > 1" class="btn pink more-details" href="#" b-product-more-details>
                <span class="fa fa-chevron-down"></span>More</a>
        </div>

        <div class="product-details" ng-class="{'open' : products.savingsAccounts.length == 1}">
            <div class="product-section">
                <div>
                    <h4 class="product-details__header">Account Details

                        <div ng-if="product.imageURL" class="product-details__image">
                            <img alt="product.cardName" ng-src="{{product.imageURL}}" />
                        </div>
                    </h4>
                </div>

                <div class="single-info title cf">
                    <div class="cell">About this account</div><!--/.cell-->
                </div>

                <div class="single-info cf">
                    <div class="cell">Supplier</div><!--/.cell-->
                    <div class="cell">{{product.companyName}}</div><!--/.cell-->
                </div><!--/.row-->

                <div class="single-info cf">
                    <div class="cell">Account Type</div><!--/.cell-->
                    <div class="cell">{{product.accountType}} Term</div><!--/.cell-->
                </div><!--/.row-->

                <div ng-if="product.notice" class="single-info cf">
                    <div class="cell">
                        Notice period

                        <b-tooltip-text b-circle b-revealer="?">
                            <p>The notice period is the amount of notice that needs to be given before you are able to receive requested funds.</p>

                            <p>If a withdrawal is needed early, there may be a penalty charge.</p>

                            <p>It is also a good idea to monitor the interest rate in order to ensure you are still getting a good deal!</p>
                        </b-tooltip-text>
                    </div><!--/.cell-->
                    <div class="cell">{{product.notice}}</div><!--/.cell-->
                </div><!--/.row-->

                <div class="single-info cf">
                    <div class="cell">
                        Balance

                        <b-tooltip-text b-circle b-revealer="?">
                            <p>The Min/Max account balance tells you how much money you can put in to savings accounts. Many accounts have a Minimum amount, meaning that when you open the account you will need to deposit at least this amount of money.</p>

                            <p>It also means that you will never be able to withdraw money that takes you below the Minimum account balance, unless you close your account.</p>
                        </b-tooltip-text>
                    </div> <!--/.cell -->
                    <div class="cell">
                        £{{product.minInv}}&ndash;{{product.maxInv == 0 ? 'unlimited' : '£' + (product.maxInv | number) }}
                    </div><!--/.cell-->
                </div><!--/.row-->

                    <div class="single-info cf">
                        <div class="cell">
                            Interest Rate (AER)

                            <b-tooltip-text b-circle b-revealer="?">
                                <p>Short for the Annual Equivalent Rate, the AER shows how much interest you will earn when your account is in credit.</p>

                                <p>This measure allows you to compare accounts where interest is paid monthly with accounts where interest is paid annually.</p>

                                <p>The results are based on an account being in credit by £1,000.</p>
                            </b-tooltip-text>
                        </div> <!--/.cell -->
                        <div class="cell">
                            {{getSavingsAccountInterestRate(product)}} ({{product.rateType}})
                        </div><!--/.cell-->
                    </div><!--/.row-->

                    <div class="single-info cf" ng-if="product.accountFee !== undefined">
                        <div class="cell">
                            Account Fees
                        </div> <!--/.cell -->
                        <div class="cell">
                            <!-- Only seems to apply to non fca products -->
                            {{product.accountFee == 0 ? 'None' : '£' + (product.accountFee | number) }}
                            {{product.accountFeeFrq}}
                        </div><!--/.cell-->
                    </div><!--/.row-->

                    <div class="single-info cf">
                        <div class="cell">
                            Term Days
                            <!--<b-qmark-hover></b-qmark-hover>-->
                        </div> <!--/.cell -->
                        <div class="cell">{{ product.termDays }}</div><!--/.cell-->
                    </div><!--/.row-->

                    <div class="single-info cf">
                        <div class="cell">
                            Notice Days
                            <!--<b-qmark-hover></b-qmark-hover>-->
                        </div> <!--/.cell -->
                        <div class="cell">{{ product.noticeDays }}</div><!--/.cell-->
                    </div><!--/.row-->

                    <!-- TODO: dont think this exists in the model.. fix -->
                    <div class="single-info cf" ng-if="product.intpaidAwayCompoundedType !== undefined">
                        <div class="cell">
                            Interest paid/compounded

                            <b-tooltip-text b-circle b-revealer="?">
                                <p>Interest Paid: Interest will be paid to you each period. You can have your interest paid into a separate easy access savings or bank account if you need to take an income from your savings.</p>

                                <p>Compounded: For Compounded interest, the interest forms part of your savings balance, so the next time you're paid interest you'll earn interest on your original savings amount, plus on interest you've previously earned, too.</p>
                            </b-tooltip-text>
                        </div> <!--/.cell -->
                        <div class="cell">{{ product.intPaidAwayCompoundedType }}</div><!--/.cell-->
                    </div><!--/.row-->

                    <!-- TODO SHOULD THIS BE => 1 ?? -->
                    <div ng-if="product.rates.length > 1">
                        <br />
                        <h5>
                            Interest on this account will be paid
                            {{product.intPaid == 'Anniversary' ? 'on the anniversary' : product.intPaid.toLowerCase()}}
                        </h5>
                        <div class="single-info title cf">
                            <div class="cell">Balance</div><!--/.cell-->
                            <div class="cell">Gross AER</div><!--/.cell-->
                        </div><!--/.row-->

                        <div ng-repeat="rate in product.rates" class="single-info cf">
                            <div class="cell">
                                £{{rate.tierLower | number}}
                                {{rate.tierUpper > 0 ? ' - £' + (rate.tierUpper | number) : '+'}}
                            </div>
                            <div class="cell">{{rate.grossAER}}%</div>
                        </div>
                    </div>
                </div>

                <h4>Ways To Access Your Account</h4>

                <ul class="feature-list">
                    <li ng-repeat="(accessType, supported) in product.access" class="feature-list__feature">
                        <i class="fa feature-list__icon" ng-class="{'fa-check': supported === 'true', 'feature-list__icon--yes': supported === 'true', 'fa-remove': supported === 'false', 'feature-list__icon--no': supported === 'false'}" aria-visibility="hidden"></i>

                        {{
                            {
                                branchTick: 'Branch',
                                teleTick: 'Telephone',
                                postTick: 'Post',
                                iNetTick: 'Internet',
                                mobileAppTick: 'Mobile App'
                            }[accessType]
                        }}
                    </li>
                </ul>

                <h4 ng-if="product.transferOptions">Transfer Options <b-tooltip-text b-circle b-revealer="?">
                    <p>Details of where transfers can be made from</p>
                </b-tooltip-text></h4>

                <!-- TODO: include unsupported -->

                <ul class="feature-list">
                    <li ng-repeat="transferOption in product.transferOptions" class="feature-list__feature">
                        <i class="feature-list__icon feature-list__icon--yes fa fa-check"></i>
                        {{transferOption.transferInDetail}}
                    </li>
                </ul>

                <!-- !! change this expression if more eligibilities are added !! -->
                <div ng-if="product.minAge !== undefined">
                    <h4>Eligibility</h4>

                    <ul>
                        <li>Minimum age: {{product.minAge}}</li>
                    </ul>
                </div>

                <a class="btn pink" ng-if="product.switchingUrl" ng-href="{{product.switchingUrl}}" target="_blank">
                    Check out their site</a>
            </div><!--/.product-details-->
        </div>

        <div ng-include="'modules/money/views/supplierproducts/disclaimer-intro.html'"></div>

        <div class="product-disclaimer">
            <p>
                <strong>The risks of savings accounts</strong><br>
                A current account is a bank account where you can deposit or withdraw funds. There are various types of
                current accounts, the most common being:
            </p>
            <ul>
                <li>
                    <strong>Instant access savings</strong>: These accounts are helpful if you want to earn higher
                    interest than a current account but still want the flexibility to withdraw your funds. Some accounts
                    have an Introductory rate which expire after the introductory period, after which you may have a
                    lower interest rate.
                </li>
                <li>
                    <strong>Cash ISA</strong>: An ISA (or Individual Savings Account), allows you to save money without
                    paying tax on the interest. There is a limit of GBP15,000 for how much you can pay into a Cash ISA
                    in the tax year (starting 6th April ending 5th April of the following year).
                </li>
                <li>
                    <strong>Fixed Rate Savings Bonds</strong>: A savings bond requires you to lock up your money for a
                    set period of time, typically between 6 months and 5 years, and in return you may receive a higher
                    interest rate than those offered with instant access. Although interest rates can be higher, they
                    may be fixed, which means that if interest rates increase during the term you may end up earning
                    more interest than other savings accounts. You may also incur fees if you do try and withdraw funds
                    before the end of the term.
                </li>
            </ul>

            <p>Whether you are approved for a savings account will be subject to your credit status.</p>
            <p>
                You may find that accounts have different levels of access when managing  a savings account, for
                instance, whether you are able to access online, in branch or over the phone.
            </p>
            <p>
                We aim to provide a fair and balanced view of current account products, and source our data on a
                non-advised basis from Moneyfacts Group Plc (FRN: 477500) and Moneyfacts.co.uk Limited (FRN: 486048),
                which is also Authorised and Regulated by the Financial Conduct Authority. Its important that you weigh
                up the benefits of a current account with the risks and drawbacks, if you are not sure which is the
                right product for you, you should seek advice.
            </p>
            <p>
                <strong>Deposit protection</strong><br>
                The <a href="http://www.fscs.org.uk/">Financial Services Compensation Scheme (FSCS)</a> is the
                compensation fund for customers of authorised financial service funds. If you have money in the account
                of a High Street bank, there is a compensation limit of GBP75,000. The limits apply to each depositor for the
                total of their deposits with the organisation, regardless of how many accounts they hold. For joint
                accounts, the compensation limit is GBP150,000. Beyond these limits, your depsoits may be at risk should
                the organisation holding your funds fails.
            </p>
        </div>

        <div ng-include="'modules/money/views/supplierproducts/disclaimer-outro.html'"></div>
    </div>
