<!-- included in supplierproducts.html. Any functions here will be defined in the supplierproducts directive -->
<div id="loans" class="products-container">
    <div class="single-product cf" ng-repeat="product in products.unsecuredLoans">
        <div class="cf">
            <h4>{{product.loanName}}</h4>
            <a ng-if="products.unsecuredLoans.length > 1" class="btn pink more-details" href="#" b-product-more-details><span class="fa fa-chevron-down"></span>More</a>
        </div>

        <div class="product-details" ng-class="{'open' : products.unsecuredLoans.length == 1}">
            <div>
                <h4 class="product-details__header">Account Details</h4>

                <div ng-if="product.imageURL" class="product-details__image">
                    <img alt="product.cardName" ng-src="{{ product.imageURL }}" />
                </div>
            </div>
            <br />

            <div class="single-info title cf">
                <div class="cell">About this account</div><!--/.cell-->
            </div>


            <div class="single-info cf">
                <div class="cell">Supplier</div><!--/.cell-->
                <div class="cell">{{product.companyName}}</div><!--/.cell-->
            </div><!--/.row-->

            <div class="single-info cf">
                <div class="cell">
                    Loan type

                    <b-tooltip-text b-circle b-revealer="?">
                        <p>A personal loan does not require you to put an asset as insurance against the loan and are
                        usually easier to apply for. Personal loans are available for amounts up to £25,000 over a
                        maximum of 10 years.</p>

                        <p>Homeowner loans are available for larger amounts and longer terms than personal loans,
                        however homeowner loans are secured against your property so could result in the loss of your
                        home if you do not keep up repayments.</p>
                    </b-tooltip-text>
                </div><!--/.cell-->
                <div class="cell">{{product.loanType}}</div><!--/.cell-->
            </div><!--/.row-->

            <div class="single-info cf">
                <div class="cell">
                    Loan Size Range

                    <b-tooltip-text b-circle b-revealer="?">
                        <p>This is the range that can be borrowed for the advertised Representative APR. There might be
                        a range of rates for the loan depending on the actual amount borrowed.</p>
                    </b-tooltip-text>
                </div><!--/.cell-->
                <div class="cell">£{{product.rates.aprAdvertisedAdvMin | number}}&ndash;£{{product.rates.aprAdvertisedAdvMax | number}}</div><!--/.cell-->
            </div><!--/.row-->

            <div class="single-info cf">
                <div class="cell">
                    Rate Type

                    <b-tooltip-text b-circle b-revealer="?">
                        <p>Interest on the loan may be fixed (i.e. the rate doesn’t fluctuate throughout the period of
                        the loan) or variable (i.e. the rate will change as market interest rates change)</p>
                    </b-tooltip-text>
                </div><!--/.cell-->
                <div class="cell">{{product.loanRateType}}</div><!--/.cell-->
            </div><!--/.row-->

            <div class="single-info cf">
                <div class="cell">
                    Representative APR

                    <b-tooltip-text b-circle b-revealer="?">
                        <p>APR – Short for Annual Percentage Rate, The APR rate is one way to compare loans. The
                        Representative APR is an advertised rate that a minimum percentage of customers will pay,
                        including all charges such as interest and fees.</p>
                    </b-tooltip-text>
                </div><!--/.cell-->
                <div class="cell">{{product.rates.repAPRAdvertised}}% APR ({{product.loanRateType}})</div><!--/.cell-->
            </div><!--/.row-->

            <h4>Representative Example <b-tooltip-text b-circle b-revealer="?">
                <p>The representative example illustrates the cost of borrowing: it shows what your monthly payments
                will be and how much you will repay in total over the term of the loan. The Representative APR is the
                annual interest you'll be charged, including any fees or charges.</p>
            </b-tooltip-text></h4>

            <p>If you borrow £{{getLoanRepExample(product).exampleAdvance | number}} over
            {{getLoanRepExample(product).exampleTermDays * 12 / 365}} months at a Representative rate of
            {{getLoanRepExample(product).exampleRepresentativeAPR }}% APR and an annual interest rate of
            {{getLoanRepExample(product).exampleAnnualFlatRate }}% fixed, you would pay
            {{getLoanRepExample(product).exampleTermDays * 12 / 365 }} monthly installments of
            £{{getLoanRepExample(product).exampleMonthlyPayment}}. The total amount repayable is
            £{{getLoanRepExample(product).exampleMonthlyPayment * getLoanRepExample(product).exampleTermDays * 12 / 365 |
            number:2}}</p>

            <p>Loan available subject to status.</p>

            <div ng-if="product.rates.rates">
                <h4>Rates</h4>

                <div class="single-info title cf">
                    <div class="cell">Range</div><!--/.cell-->
                    <div class="cell">
                        APR

                        <b-tooltip-text b-circle b-revealer="?">
                            <p>APR – Short for Annual Percentage Rate, The APR rate is one way to compare loans. The
                            Representative APR is an advertised rate that a minimum percentage of customers will pay,
                            including all charges such as interest and fees.</p>
                        </b-tooltip-text>
                    </div><!--/.cell-->
                </div><!--/.row-->

                <div ng-repeat="rate in product.rates.rates" class="single-info cf">
                    <div class="cell">
                        &pound;{{rate.advanceMin | number: 0}} - &pound;{{rate.advanceMax | number: 0}}
                    </div>
                    <div class="cell">{{rate.apr}}%</div>
                </div>
            </div>

            <div ng-if="product.usages.length > 1 || product.repaymentChangeableTick || product.lumpSumPaymentTick || product.repaymentHolidayTick">
                <h4>Features</h4>

                <ul class="feature-list">
                    <li class="feature-list__feature" ng-repeat="usage in product.usages">
                        <i class="feature-list__icon feature-list__icon--yes fa fa-check"></i>
                        {{usage.usageType}}
                    </li>

                    <li class="feature-list__feature">
                        <i class="feature-list__icon fa" ng-class="{'feature-list__icon--yes fa-check': product.repaymentChangeableTick, 'feature-list__icon--no fa-remove': !product.repaymentChangeableTick}"></i>
                        Changeable repayments
                    </li>

                    <li class="feature-list__feature">
                        <i class="feature-list__icon fa" ng-class="{'feature-list__icon--yes fa-check': product.lumpSumPaymentTick, 'feature-list__icon--no fa-remove': !product.lumpSumPaymentTick}"></i>
                        Lump sum payments
                    </li>

                    <li class="feature-list__feature">
                        <i class="feature-list__icon fa" ng-class="{'feature-list__icon--yes fa-check': product.repaymentHolidayTick, 'feature-list__icon--no fa-remove': !product.repaymentHolidayTick}"></i>
                        Repayment holiday available
                    </li>
                </ul>
            </div>

            <div ng-if="product.fees">
                <h4>Fees</h4>
                <div ng-repeat="fee in product.fees">
                    <div>{{fee.feeType}}: {{fee.feePct}}% (£{{fee.feeAmtMin}} minimum fee charged - either flat rate or based on %).</div>
                </div>
            </div>

            <div>
                <h4>Application Criteria</h4>

                <ul>
                    <li ng-if="product.CustomerType">{{product.CustomerType}}</li>
                    <li ng-if="product.AcceptanceCriteriaNote">{{AcceptanceCriteriaNote}}</li>
                    <li ng-if="product.minAgeYrs">Minimum age: {{product.minAgeYrs}}</li>
                </ul>
            </div>
            <a class="btn pink" ng-if="product.switchingUrl" ng-href="{{product.switchingUrl}}" target="_blank">Check out their site</a>
        </div><!--/.product-details-->
    </div>

    <div ng-include="'modules/money/views/supplierproducts/disclaimer-intro.html'"></div>

    <div class="product-disclaimer">
        <p><strong>The risks of personal loans and homeowner loans</strong></p>
        <p>
            We show you personal loans and homeowner loans. A personal loan, referred to also as an unsecured loan, is
            based only on your personal circumstances, such as how much you earn and your monthly outgoings. A homeowner
            loan is secured against your property. You must either own outright or have a mortgage to be eligible for a
            homeowner loan. If you don’t keep up with repayments, your property may be at risk – your home may be
            repossessed if you do not keep up repayments on a mortgage, loan or any debt secured on it. When selecting
            the right loan for you, you should consider all aspects of the loan, including but not limited to; the term
            (typically one to five years), APR (Annual Percentage Rate), fees (such as arrangement fees and early
            redemption fees) and whether you can afford monthly repayments. You should also consider alternatives to
            loans, which can be suggested by your personal financial adviser or if you need free an impartial money
            advice set up by the Government, please go to: <a href="http://www.moneyadviceservice.org.uk"
            target="_blank">http://www.moneyadviceservice.org.uk</a> It's important to note that if you apply for a loan
            and are refused, this could impact your credit rating. You should only apply for loans that you are
            confident you will be accepted for. Credit checks will be performed by a lender as a part of your
            application process, which is important as they will assess how likely it is that you will be able to repay
            your loan. A credit check will involve you sharing personal and financial information, which the lender may
            use when contacting credit reference agencies, which will check whether you have a history of late or
            outstanding payments, bankruptcy, or any County Court Judgements against you. We aim to provide a fair and
            balanced view of loan products, and source our data on a non-advised basis from Moneyfacts Group Plc (FRN:
            477500) and Moneyfacts.co.uk Limited (FRN: 486048), which is also Authorised and Regulated by the Financial
            Conduct Authority. Its important that you weigh up the benefits of a loan with the risks and drawbacks, if
            you are not sure which is the right product for you, you should seek advice.
        </p>
    </div>

    <div ng-include="'modules/money/views/supplierproducts/disclaimer-outro.html'"></div>
</div>
