.about-full {
	width: 100%;
	margin-top: 24px;
	padding: 24px 0;

	&.af-dark {
		background: $brand-primary-dark;
	}

	&.af-light {
		background: $brand-tertiary;
	}
}

.af-content {
	padding-bottom: 18px;
	text-align: center;
	@include clearfix;

	h1, p {
		color: #fff;
	}

	p {
		text-align: centre;
		font-size: ceil(($font-size-base * 1.285)); // ~18px
	}
}

.af-exlg-title {
	padding-bottom: 24px;
	font-size: ceil(($font-size-base * 2.84)); // ~40px
	font-weight: bold;
}

// team section

.about-team {
	position: relative;
	width: 100%;
	background: $brand-primary;
}

.at-lead {

	h2 {
		color: #fff;
	}
}

.at-members {
	margin-bottom: 26px;
}

.at-m-box {
	margin: 0 auto;
	width: 272px;
	height: 374px;
	position: relative;
	@include clearfix;

	.at-m-img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 374px;
		z-index: 5;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.at-m-content {
		display: none;
		padding: 30px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 10;
		text-align: left;
		background: rgba(255, 255, 255, .9);
		overflow-y: scroll;
		@include clearfix;

		h4 {
			font-size: ceil(($font-size-base * 1.5)); // ~20px
			text-align: left;

			span {
				display: inline;
				color: $gray;
			}
		}

		p {
			display: block;
		}
	}

	&:hover {
		
		.at-m-content {
			display: block;
		}
	}
}

// corporate investors page

// team section

.at-content {
	padding-top: 24px;
	padding-bottom: 24px;
	@include clearfix;
}

.at-mem-btn {
	margin-bottom: 24px;
	display: block;
	position: relative;
	border: 2px solid $page-bg;

	&:hover {
		border: 2px solid $gray;
	}

	&.at-mem-btn-selected {
		border: 2px solid $gray;

		&::after {
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -6px;
			width: 0; 
			height: 0; 
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 12px solid $gray;
			content: ' ';

			@media (min-width: $screen-sm-min) {
				margin-left: -12px;
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-top: 18px solid $gray;
			}
		}
	}
}

.at-mem-img {
	width: 100%;
}

.at-member {
	padding: 0;
	margin: 0 0 24px;
	border: 1px solid $gray-light;
	background: #fff;
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		padding: 12px;
	}

	@media (min-width: $screen-md-min) {
		padding: 24px 36px;
	}
}

.atm-head {
	width: 100%;
	@include clearfix;

	h1 {
		color: $brand-quaternary;
	}

	@media (min-width: $screen-sm-min) {
		width: 200px;
	}
}

.atm-content {

	p {
		
	}
}

.atm-social {
	padding: 12px 0;
}

.atm-social ul li {
	padding: 0 4px;
}

.atm-social ul li a {
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	background: $gray-light;
	@include border-radius(50%);
}

.corp-investor {
	margin-bottom: 12px;

	h3, p {
		margin: 0;
		padding: 0;
	}
}

.about-services {
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
}

.as-button {
	margin: 0 auto;
	width: 140px;
	height: 140px;

	.as-b-link {
		display: block;
		position: relative;
		width: 140px;
		height: 140px;
		background-position: 50% 0;
		background-repeat: no-repeat;

		span {
			display: block;
			position: absolute;
			top: 100px;
			left: 0;
			right: 0;
			width: 100%;
			height: 44px;
			line-height: 20px;
			background-color: #fff;
		}

		&:hover {
			background-position: 50% -120px;
		}

		&.asb-energy {
			background-image: url('../images/aboutus/energybutton.png');
		}

		&.asb-healthcare {
			background-image: url('../images/aboutus/healthcarebutton.png');
		}

		&.asb-money {
			background-image: url('../images/aboutus/moneybutton.png');
		}

		&.asb-education {
			background-image: url('../images/aboutus/educationbutton.png');
		}

		&.asb-insurance {
			background-image: url('../images/aboutus/insurancebutton.png');
		}

		&.asb-phone {
			background-image: url('../images/aboutus/phonebutton.png');
		}

		&.asb-price {
			background-image: url('../images/aboutus/pricebutton.png');
		}

		&.asb-government {
			background-image: url('../images/aboutus/governmentbutton.png');
		}

		&.asb-addsector {
			background-image: url('../images/aboutus/addsectorbutton.png');
		}
	}
}

// New - Can probably delete the above
.about-container {
	padding: 30px 0 0;
	text-align: center;

	&--left {
		text-align: left;
	}

	@media (min-width: $screen-sm-min) {
		padding: 60px 0 0;
	}
}

.about__title {
	font-family: $font-family-crete-round;
	font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
	font-size: 22px;
	font-style: italic;
	margin: 0px 0px 30px;
	text-align: center;

	@media (min-width: $screen-sm-min) {
		font-size: 36px;
	}
}

.team__title {
    font-family: $font-family-crete-round;
	font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
	font-style: italic;
	font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

.about-link-section {
	padding: 30px 0;

	&--center {
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {
		padding: 60px 0;
	}
}

.about-links {
	display: block;
	margin-bottom: 20px;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;
	}

	&:hover {
		cursor: pointer; // because not working on democracy page, todo figure out later why

		span {
			color: $brand-quaternary;
		}
        
        .icon {
            &.for-companies {
                background-image: url('../images/aboutus/For-companies-over.png');
            }
            
            &.news {
				background-image: url('../images/aboutus/News-over.png');
            }
            
            &.changecoin {
				background-image: url('../images/aboutus/Changecoin-over.png');                
            }

			&.democracy {
				background-image: url('../images/aboutus/Democracy-2.png');
            }

			// todo maybe move these, they are for the democracy page and there is a tight deadline
			&.d-business {
				background-image: url('../images/democracy2/Business.png');
			}
			&.d-government {
				background-image: url('../images/democracy2/Govt.png');
			}
			&.d-education {
				background-image: url('../images/democracy2/Education.png');
			}
			&.d-media {
				background-image: url('../images/democracy2/Media.png');
			}
			&.d-family {
				background-image: url('../images/democracy2/Family.png');
			}
			&.d-faith {
				background-image: url('../images/democracy2/Faith.png');
			}
			&.d-health {
				background-image: url('../images/democracy2/Health.png');
			}
        }
	}

	h3 {
		font-family: $font-family-crete-round;
		font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
		font-style: italic;
		font-size: 24px;
		margin: 0;
	}

	span {
		color: #b4b4b4;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase; 
	}

	.icon {
		background-size: cover;
		display: block;
		height: 120px;
		margin: 0 auto 20px;
		width: 120px;

		&.for-companies {
			background-image: url('../images/aboutus/For-companies-up.png');
		}

		&.news {
			background-image: url('../images/aboutus/News-up.png');
		}

		&.changecoin {
			background-image: url('../images/aboutus/Changecoin-up.png');
		}


		&.democracy {
			background-image: url('../images/aboutus/Democracy-2-grey.png');

			&--pink {
				background-image: url('../images/aboutus/Democracy-2.png');
			}
		}


		// todo maybe move these, they are for the democracy page and there is a tight deadline
		&.d-business {
			background-image: url('../images/democracy2/Business-grey.png');
		}
		&.d-government {
			background-image: url('../images/democracy2/Govt-grey.png');
		}
		&.d-education {
			background-image: url('../images/democracy2/Education-grey.png');
		}
		&.d-media {
			background-image: url('../images/democracy2/Media-grey.png');
		}
		&.d-family {
			background-image: url('../images/democracy2/Family-grey.png');
		}
		&.d-faith {
			background-image: url('../images/democracy2/Faith-grey.png');
		}
		&.d-health {
			background-image: url('../images/democracy2/Health-grey.png');
		}
	}
}

.team {
	background: #111;

	.member {
		cursor: pointer;
		float: left;
		position: relative;
		width: 50%;

		@media (min-width: $screen-sm-min) {
			width: 33.3333%;
		}

		@media (min-width: $screen-md-min) {
			width: 25%;
		}

		@media (min-width: $screen-lg-min) {
			width: 20%;
		}

		.overlay {
			background: rgba(0,0,0,0.4);
			color: #fff;
			height: 100%;
			left: 0;
			
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
			z-index: 200;

			.overlay__info {
				opacity: 0;
				bottom: 10px;
				padding: 0 10px;
				position: absolute;
				transition: opacity .4s ease-in-out;
				width: 100%;
			}
		}

		&:hover .overlay {
			background: rgba(230,27,114,0.5);
			opacity: 1 !important;

			.overlay__info {
				opacity: 1 !important;
			}
		}

		h3 {
			color: #fff;
			font-family: $font-family-crete-round;
			font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
			font-style: italic;
			font-size: 26px;
			margin: 0;
		}

		img {
			height: auto;
			width: 100%;
		}
	}
}