// todo maybe put this somewhere else
.gravatar {
    &__icon {
        // TODO TEST THIS
        @include image-2x($images-path + "generic-avatar", "png", 80px, 80px);
        height: 80px;
        width: 80px;
        border-radius: 40px;

        // move these (below) elsewhere if want to reuse this (these are used on personalinfo page)
        float: left;
        margin-right: 20px;
    }
}

.user-account {

    &__page {
        margin-top: 120px;
    }

    &__title {
        font-family: $font-family-crete-round;
        font-size: $font-size-h1;
    }

    &__subtitle {
        font-family: $font-family-crete-round;
        font-size: $font-size-h3
    }

    &__box {
        .form-control {
            @include box-shadow(0,0,0,0,$gray-dark,0); // this is overriding bootstrap, maybe better to just remove it
        }

        padding: 0 24px 24px;
        margin-bottom:75px;
        border-radius: $border-radius-med;

        @include box-shadow(
            $boxes-shadow-hor,
            $boxes-shadow-ver,
            $boxes-shadow-rad,
            $boxes-shadow-spr,
            $boxes-shadow-col,
            $boxes-shadow-op
        );
        border: $boxes-border;

        .table-responsive {
            border: none !important;
        }
    }

    &__side-menu {
        // wonder if it would be better to add BEM classes to the a tags instead...
        li a {
            background-color: $gray-med;
            border-radius: $border-radius-small;
            padding: 16px;
            margin-bottom: 14px;

            display: block;

            &.active {
                background-color: $gray-light;
            }

            &:hover {
                background-color: $gray-dark;
                cursor: pointer; cursor: hand;
            }
        }
    }
}