.byobs {

	&__bubble-one {
		margin-bottom: 50px;
	}
	// todo some of this stuff should ideally be abstracted so can be re-used (bubble)
	&__bubble {
		padding: 30px;
		background: #fff;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		color: #1d1d1b;
		position: relative;
		min-height: 310px;

		@media (min-width: $screen-xs-min) {
			padding: 40px;
		}

		@media (min-width: $screen-md-min) {
			min-height: 400px;
		}

		&::after {
			content: "";
			position: absolute;
			border-style: solid;
			border-color: #fff transparent;
			display: block;
			width: 0;

			bottom: -60px;
			left: 60px;
			border-width: 60px 60px 0 0;
			border-radius: 0 0 0 6px;
			@media (min-width: $screen-xs-min) {
				bottom: -100px;
				left: 100px;
				border-width: 100px 100px 0 0;
			}

		}
	}

	&__title {
		font-size: 40px;
		font-weight: bold; // todo better to use a font which does this
		font-style:italic; // todo better to use a font which does this
		&--normal {
			color: black;
		}
	}

	&__caption {
		font-size:30px;
		font-style: italic; // todo better to use a font which does this
	}

	&__byob {
		img {
			float:right;
			background-color: #ececec;
			width: 250px;
			height: 100px;
			border-radius: 12px;

			margin-bottom: 10px;
			padding:5px;

			&:nth-child(1) { content: url('../images/byob/byob1b.png'); }
			&:nth-child(2) { content: url('../images/byob/byob2b.png'); }
			&:nth-child(3) { content: url('../images/byob/byob3b.png'); }
		}
	}

	&__submit-section {
	}

	&__form-content {
		ul {
			list-style:none
		}

		//label {
		//	display: block;
        //
			//span {
			//	float: right;
			//	color: $gray-light;
			//	font-style: italic;
			//}
		//}
	}

	&__form-group {
		margin-bottom: 15px;
	}

	&__search-box {
		max-width: 100%;
		margin-bottom: 20px;
	}

	&__form-button {
		//margin-bottom: 36px;
		button {
			border-radius: 10px;
			color: white;
		}
	}



	// target like this so can use nth-child
	&__list-item {
		&:nth-child(1n) div { background-color: #36a383; }
		&:nth-child(2n) div { background-color: #91227c; }
		&:nth-child(3n) div { background-color: #1aa0e1; }
		&:nth-child(4n) div { background-color: #51496e; }
		&:nth-child(5n) div { background-color: #30a8aa; }
		&:nth-child(6n) div { background-color: #118186; }
		&:nth-child(7n) div { background-color: #375392; }
		&:nth-child(8n) div { background-color: #1fafd6; }
		&:nth-child(9n) div { background-color: #0e6ba8; }
	}

	&__item {
		width: 150px;
		height: 150px;

		border-radius: 12px;

		span {
			display: block;
			color: white;
			font-size: 20px;
			text-align: center;
			font-style: italic;
			// TODO MAKE IT UNSELECTABLE
		}

		input {
			display: none;
		}
	}

	&__picked-list {
		position: absolute;
		right: 0;
	}

	&__picked-item {
		margin-bottom:10px;
		border-radius:12px;
		width: 250px;
		margin-right: 13px;
		height: 100px;
		position:relative;
	}

	&__picked-item-text {
		display: block;
		color: white;
		font-size: 20px;
		text-align: center;
		font-style: italic;
	}

	&__close-picked-item {
		color: #ddd;
		position: absolute;
		font-size: 30px;
		right: 20px;
		top: -6px;
	}

	&__bubble-two {
		background-color: #e3e3e3;
		border-radius: 10px;

	}

	&__bubble-two-title {
		font-size:20px;
		font-weight: bold;
		background-color: grey;
		padding: 5px;
		margin: 18px 10px;
	}

	&__our-data {
		//margin-left: 15px;
	}
}