.cta-content {
	@extend .content-block;
}

.cta-main {

	article {
		padding: 0 24px;

		h2 {
			margin-bottom: 18px;
			color: $brand-primary-dark;
		}

		footer {
			padding-top: 24px;
		}
	}
}

.cta-side {
	padding: 0 24px 24px;
}

.cta-camp-sur {

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		.cta-camp-int:nth-child(2n+1) {
			clear: left;
		}
	}

	@media (min-width: $screen-md-min) {
		.cta-camp-int:nth-child(3n+1) {
			clear: left;
		}
	}
}

.cta-campaign {
	padding: 12px 24px;
	margin-bottom: 24px;

	.cta-cam-img {
		margin: 0 auto;
		text-align: center;
		max-width: 400px;
	}

	.cta-cam-head {
		position: relative;

		h1 {
			margin-bottom: 24px;
			min-height: 60px;
			font-size: ceil(($font-size-base * 2)); // ~28px
		}

		.cta-cam-coins {
			position: absolute;
		    right: 0;
		    top: 0;
		    padding: 3px 4px 2px 22px;
		    border: 1px solid $brand-outstanding;
		    background: url(../images/cta-coins.png) 4px 4px no-repeat;
		    background-size: 16px;
		    @include border-radius(3px);

		    span {
		    	margin-left: 4px;
		    	color: $brand-outstanding;
		    }
		}
	}

	.cta-cam-content {
		min-height: 120px;

		@media (min-width: $screen-md-min) {
			min-height: 260px;
		}
	}

	.cta-cam-foot {
		padding-top: 24px;
		font-weight: bold;

		.cta-cam-numbers {
			display: block;
		}
	}
}

.cta-cam-head-energy {
	background: url('../images/bthechange/ene-head.png') 50% top no-repeat;
}

.cta-cam-head-healthcare {
	background: url('../images/bthechange/med-head.png') 50% top no-repeat;
}

.cta-cam-head-money {
	background: url('../images/bthechange/mon-head.png') 50% top no-repeat;
}

.cta-cam-head-education {
	background: url('../images/bthechange/edu-head.png') 50% top no-repeat;
}

.cta-cam-head-insurance {
	background: url('../images/bthechange/ins-head.png') 50% top no-repeat;
}

.cta-cam-head-government {
	background: url('../images/bthechange/gov-head.png') 50% top no-repeat;
}

.cta-cam-head-phone {
	background: url('../images/bthechange/pho-head.png') 50% top no-repeat;
}

.ambassador-container {
	width: 100%;
	background: $brand-primary-dark;

	.ph-swipe-text {

		h5, p {
			color: #fff;
		}
	}
}

.charity-container {
	padding: 36px 0;
	width: 100%;
	background: $gray-lightest;
}

.charity-list {
	padding: 24px 0;
	margin-bottom: 24px;
	border-top: 1px solid $gray-light;
	border-bottom: 1px solid $gray-light;
	text-align: center;

	p {
		font-size: ceil(($font-size-base * 1.14)); // ~16px
	}

	img {
		margin: 12px 0;
	}
}