.hb-tariff-search {
	padding-top: 0;
	height: 620px;
	background: rgba(255, 255, 255, .95);

	h1 {
		margin-top: 12px;
	}

	@media (min-width: $screen-sm-min) {
		height: 480px;
	}
}

.hb-head-title {
	font-size: $font-size-base;
}

.hb-form-buttons {
	position: absolute;
	bottom: 24px;
	left: 0;
	right: 0;
	margin: 0 12px;

	@media (min-width: $screen-sm-min) {
		margin: 0 60px;
	}
}

.hb-selection {
	padding: 0;
	@include clearfix;

	input[type=radio] {
		visibility: hidden;
	}

	> div {
		text-align: center;
	}

	&.hb-selection-small {
		padding: 8px 0 24px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 36px 0 48px;
	}
}

.hb-icon {
	font-size: ceil(($font-size-base * 1.125)); // ~18px
	vertical-align: top;
}

.hb-icon-search {
	font-size: ceil(($font-size-base * 1.25)); // ~20px
}


.hb-button {
	position: relative;
	width: 80px;
	height: 80px;
	margin-bottom: 32px;
	padding-left: 0;
    padding-top: 80px;
    color: $gray;
    font-size: 12px;
    font-weight: bold;
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: 100px;
		height: 100px;
    	padding-top: 100px;
	}

	&::after {
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		margin: 0 0 0 -40px;
		width: 80px;
		height: 80px;
		background: transparent;
		background-repeat: no-repeat;
		background-size: 58px;
		background-position: 50%;
		opacity: 0.5;
		@include border-radius(50%);

		@media (min-width: $screen-sm-min) {
			margin: 0 0 0 -50px;
			width: 100px;
			height: 100px;
			background-size: 78px;
		}
	}

	&:hover {
		text-decoration: none;
	}

	&:hover::after {
		opacity: 1;
	}

	&.hb-active::after {
		background-repeat: no-repeat;
		background-size: 58px;
		background-position: 50%;
		opacity: 1;

		@media (min-width: $screen-sm-min) {
			background-size: 78px;
		}
	}
}

.hb-button-small {
	position: relative;
	width: 60px;
	height: 60px;
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: 80px;
		height: 80px;
	}

	&::after {
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		margin: 0 0 0 -30px;
		width: 60px;
		height: 60px;
		background: transparent;
		background-repeat: no-repeat;
		background-size: 38px;
		background-position: 50%;
		opacity: 0.5;
		@include border-radius(50%);

		@media (min-width: $screen-sm-min) {
			margin: 0 0 0 -40px;
			width: 80px;
			height: 80px;
			background-size: 58px;
		}
	}

	&:hover::after {
		opacity: 1;
	}

	&.hb-active::after {
		background-repeat: no-repeat;
		background-size: 38px;
		background-position: 50%;
		opacity: 1;

		@media (min-width: $screen-sm-min) {
			background-size: 58px;
		}
	}
}

.hb-button-text {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

.hb-box {
}

.hb-box-head {
	background: $brand-primary;
	@include border-top-radius(2px);
}

.hb-nav {
	border-bottom: 0;
}

.hb-nav > li {
	margin-bottom: 0;
	width: 50%;
	text-align: center;
}

.hb-nav > li.active > a, .hb-nav > li.active > a:hover, .hb-nav > li.active > a:focus {
	border-color: $brand-primary;
	border-bottom: 0;
	color: $gray-dark;
}

.hb-nav > li > a {
	margin-right: 0;
	border: none;
	background: $gray-lighter;
}

.hb-nav > li > a:hover {
	border-color: $brand-primary;
	background: $gray-light;
}

.hb-nav > li > a:hover, .hb-nav > li > a:focus {
	background-color: $gray-light;
}

.hb-box-content {
	padding: 24px;
	background: $page-bg;
	border: 1px solid $brand-primary;
	border-top: 0;
}

.hb-results {
	padding: 36px 0;
}


// energy switching icons

.energylist-dualfuel {

	&::after {
		background-image: url(../images/icons/energylisting/90px-gae-elec-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-gae-elec-pink.png);
	}
}

.energylist-gas {

	&::after {
		background-image: url(../images/icons/energylisting/90px-Gas-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-Gas-pink.png);
	}
}

.energylist-electricity {

	&::after {
		background-image: url(../images/icons/energylisting/90px-electricity-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-electricity-pink.png);
	}
}

.energylist-monthly-direct {

	&::after {
		background-image: url(../images/icons/energylisting/90px-monthly-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-monthly-pink.png);
	}
}

.energylist-quarterly-direct {

	&::after {
		background-image: url(../images/icons/energylisting/90px-quarterly-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-quarterly-pink.png);
	}
}

.energylist-bill {

	&::after {
		background-image: url(../images/icons/energylisting/90px-invoice-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-invoice-pink.png);
	}
}

.energylist-pre-payment {

	&::after {
		background-image: url(../images/icons/energylisting/90px-pre-meter-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-pre-meter-pink.png);
	}
}

.energylist-day {

	&::after {
		background-image: url(../images/icons/energylisting/90px-Day-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-Day-pink.png);
	}
}

.energylist-day-night {

	&::after {
		background-image: url(../images/icons/energylisting/90px-dayNight-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-dayNight-pink.png);
	}
}

.energylist-night {

	&::after {
		background-image: url(../images/icons/energylisting/90px-Night-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-Night-pink.png);
	}
}

.energylist-flat {

	&::after {
		background-image: url(../images/icons/energylisting/90px-Flats-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-Flats-pink.png);
	}
}

.energylist-terrace {

	&::after {
		background-image: url(../images/icons/energylisting/90px-terrace-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-terrace-pink.png);
	}
}

.energylist-semi-detached {

	&::after {
		background-image: url(../images/icons/energylisting/90px-semi-detached-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-semi-detached-pink.png);
	}
}

.energylist-detached {

	&::after {
		background-image: url(../images/icons/energylisting/90px-detached-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-detached-pink.png);
	}
}

.energylist-one-bed {

	&::after {
		background-image: url(../images/icons/energylisting/90px-1-Bed-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-1-Bed-Pink.png);
	}
}

.energylist-two-bed {

	&::after {
		background-image: url(../images/icons/energylisting/90px-2-Bed-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-2-Bed-Pink.png);
	}
}

.energylist-three-bed {

	&::after {
		background-image: url(../images/icons/energylisting/90px-3-Bed-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-3-Bed-Pink.png);
	}
}

.energylist-four-bed {

	&::after {
		background-image: url(../images/icons/energylisting/90px-4-Bed-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-4-Bed-Pink.png);
	}
}

.energylist-five-bed {

	&::after {
		background-image: url(../images/icons/energylisting/90px-5-Bed-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-5-Bed-Pink.png);
	}
}

.energylist-one-person {

	&::after {
		background-image: url(../images/icons/energylisting/90px-Bheard-1-person.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-Bheard-1-person-pink.png);
	}
}

.energylist-two-person {

	&::after {
		background-image: url(../images/icons/energylisting/90px-Bheard-2-person-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-Bheard-2-person-pink.png);
	}
}

.energylist-three-person {

	&::after {
		background-image: url(../images/icons/energylisting/90px-Bheard-3-person-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-Bheard-3-person-pink.png);
	}
}

.energylist-four-person {

	&::after {
		background-image: url(../images/icons/energylisting/90px-Bheard-4-person-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-Bheard-4-person-pink.png);
	}
}

.energylist-five-person {

	&::after {
		background-image: url(../images/icons/energylisting/90px-Bheard-5-person-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/energylisting/90px-Bheard-5-person-pink.png);
	}
}
