.fatherhood {
	&__record-button {
		padding: 10px;
		margin-top: 30px;
		width: 100%;

		span {
			font-size: $font-size-small;
			margin-left: 8px;
			text-transform: uppercase;
			line-height: 29px;

			@media (min-width: $screen-sm-min) {
				font-size: $font-size-base;
			}
		}
	}

	// todo move to a centralised subheading place
	&__subheading {
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		//font-style: italic;
		color: #2a2a2a;
		margin: 40px 0;

		&--white {
			color: white;
		}
	}

	&__bottom-padding {
		padding: 42px 0px;
	}

	&__separator {
		border-top: 1px solid #2a2a2a;
	}

	&__affiliate {
		margin: 0 auto;
	}

	&__solid-line {
		border-top: 2px solid $gray-med;
		margin-top: 70px;
		margin-bottom: 70px;
	}

	&__title {
	}
}
