.forcompanies-page {
    padding: 16px 16px 0;

    &__form,
    &__testimonial {
        margin: 0 auto;
        margin-bottom: 32px;

        max-width: 640px;
    }

    &__form button {
        width: 100%;
    }

    &__label {
        display: block;
    }

    &__disclaimer {
        text-align: center;
        margin-bottom: 0;
    }

    &__header {
        text-align: center;
    }

    &__logos-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logos {
        margin: 32px 0 64px;
        width: 100%;

        max-width: 1200px;
    }

    @media (min-width: 800px) {
        padding-top: 48px;
    }
}
