.insurancelist-carinsurance {
    &::after {
		background-image: url("/build/images/icons/insurancelisting/90px-Car-grey.png");
	}

	&.hb-active::after {
		background-image: url("/build/images/icons/insurancelisting/90px-Car-pink.png");
	}
}

.insurance-switch {

    &__subtitle {
        text-align: center;
    }

    &__disclaimer-wrapper {
        margin: 20px;
    }

    &__disclaimer {
        background: rgba(0,0,0,0.9);
        color: white;
        padding: 4px 10px 2px 10px;
    }

    &__disclaimer-border {
        border: 2px solid #52a6ee;
        border-top: none;
    }

    &__iframe-wrapper {
        width: 800px;
        max-width: 100vw;

        margin: 0 auto;
        padding: 24px 0 45px;

        overflow: auto;
    }
}
