.investors {
	// todo move to a centralised subheading place
	&__subheading {
		text-align: center;
		font-size: $font-size-h1; // todo is this 29?
		font-family: $font-family-crete-round;
		font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
		font-style: italic;
		color: #2a2a2a;
		margin: 40px 0;

		&--white {
			color: white;
		}
	}

	&__bottom-padding {
		padding: 75px 0px;
	}

	&__list-item {
		font-weight: bold;
	}

	&__separator {
		border-top: 1px solid #2a2a2a;
	}

	// refactor 'reviewers' so can reuse instead of override here
	&__caption {
		font-family: $font-family-crete-round;
		font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
		font-style: italic;
		font-size: 20px;
		line-height:24px;
		margin:0px;
		margin-top: 20px;
		color: $brand-accent;
		bottom: 105px;
		left: 30px;
		right: 30px;

		@media (min-width: $screen-xs-min) {
			font-size: 24px;
			line-height: 30px;
		}
		@media (min-width: $screen-sm-min) {
			font-size: 30px;
			line-height:36px;
		}
		@media (min-width: $screen-md-min) {
			position:relative;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}
