.lp-section {
	@extend .content-block;

	h2 {
		text-align: center;
	}
}

.lp-section-content {
	margin: 0;
	padding: 24px 36px 24px 138px;
	min-height: 80px;

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		min-height: 180px;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		padding-top: 36px;
		padding-left: 108px;
		min-height: 140px;
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 24px;
		min-height: 120px;

		p {
			width: 80%;
		}
	}
}

.lp-search {
	padding-top: 24px;

	p {
		font-size: 18px;
	}

	.banner-search-form {
		margin-top: 12px;
	}
}

.lp-contact {
	margin-top: 0;
}

.lp-contact-content {
	padding: 24px 0 36px;
	text-align: center;
	font-size: ceil(($font-size-base * 1.25)); // ~18px
}

.lp-cc-list {
	padding: 0;
	margin: 0;
}


.lp-cc-list li {
	margin: 0;
	padding: 2px 0;
	line-height: 30px;
	border-bottom: 1px solid $gray-lighter;
	@include clearfix;
}

.lp-cc-num {
	display: block;
	margin-top: 7px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	float: left;
	background: $brand-primary-dark;
	color: #fff;
	@include border-radius(50%);
}

.lp-cc-log {
	margin: 0 20px;
	max-width: 120px;
    max-height: 50px;
	float: left;
}

.lp-cc-text-surround {
	float: left;
	display: table;
    height: 50px;
    overflow: hidden;
    width: 180px;
}

.lp-cc-text {
	padding: 0 0 0 15px;
	width: 100%;
	line-height: 20px;
	height: 50px;
	overflow: hidden;
	display: table-cell;
    vertical-align: middle;
}

.lp-cc-rev {
	padding-top: 10px;
	float: right;
}


.lp-rc-review {
	padding: 10px 0 6px;
	border-bottom: 1px solid $gray-lighter;
	@include clearfix;
}

.lp-rc-ava {

	img {
		width: 50px;
		height: 50px;
		@include border-radius(50%);

		@media (min-width: $screen-lg-min) {
			width: 60px;
			height: 60px;
		}
	}
}

.lp-rc-text {

	h3 {
		margin-top: 0;
	}

	p {
		margin-bottom: 0;
	}
}

.lpc-disabled {

	// h2 a {
	// 	color: $gray-lighter;
	// }

	.lp-cc-num {
		background: $gray-lighter;
	}

	.btn-secondary {
		background: $gray-lighter;
		border-color: $gray-light;
	}
}