.mr-form-content {

	.form-group {
		margin-bottom: 36px;
	}

	label {
		display: block;

		span {
			float: right;
			color: $gray-light;
			font-style: italic;
		}
	}
}

.mr-form-button {
	margin-bottom: 36px;
}

.mr-extra-margin {
	margin-top: 20px;
}