// money switching icons

.moneylist-current {

	&::after {
		background-image: url(../images/icons/moneylisting/90px-current-accounts-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/moneylisting/90px-current-accounts-pink.png);
	}
}

.moneylist-saving {

	&::after {
		background-image: url(../images/icons/moneylisting/90px-Savings-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/moneylisting/90px-Savings-pink.png);
	}
}

.moneylist-mortgage {

	&::after {
		background-image: url(../images/icons/moneylisting/90px-Mortgage-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/moneylisting/90px-Mortgage-pink.png);
	}
}

.moneylist-loan {

	&::after {
		background-image: url(../images/icons/moneylisting/90px-invoice-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/moneylisting/90px-invoice-pink.png);
	}
}

.moneylist-credit-card {

	&::after {
		background-image: url(../images/icons/moneylisting/90px-creditcard-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/moneylisting/90px-creditcard-pink.png);
	}
}

.prod-cat {
	color: $gray-dark !important;
	display: block;
	font-weight: 500;
	margin-bottom: 25px;
	text-align: center;

	span {
		display: block;
		height: 90px;
		margin: 0 auto;
		opacity: 0.5;
		width: 90px;
	}


	&:hover span, &.active span {
		opacity: 1;
	}

	&.credit-cards {
		span {
			background-image: url(../images/icons/90px-creditcard-grey.png);
		}

		&.active span {
			background-image: url(../images/icons/90px-creditcard-pink.png);
		}
	}

	&.current-accounts {
		span {
			background-image: url(../images/icons/90px-current-accounts-grey.png);
		}

		&.active span {
			background-image: url(../images/icons/90px-current-accounts-pink.png);
		}
	}

	&.loans {
		span {
			background-image: url(../images/icons/90px-loans-grey.png);
		}

		&.active span {
			background-image: url(../images/icons/90px-loans-pink.png);
		}
	}

	&.savings {
		span {
			background-image: url(../images/icons/90px-savings-grey.png);
		}

		&.active span {
			background-image: url(../images/icons/90px-savings-pink.png);
		}
	}
}

.products-container {
	display: none;

	&.active {
		display: block;
	}
}

// todo move this to a different place so can use on all supplier pages
.back-button-row {
	margin-bottom: 10px;
}

.single-product {
	background: #eee;
	@include border-radius;
	margin-bottom: 10px;
	padding: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	h4 {
		float: left;
	}

	.btn {
		float: right;
		padding-left: 10px;
		padding-right: 30px;
	}
}

.btn {
	&.pink {
		background: $pink;
		color: #fff;

		&:hover {
			background: darken($pink, 5%);
		}

		.fa {
			margin: 0 10px 0 0;
		}

		&.open {
			background: $gray;

            &:hover {
                background: darken($gray, 5%);
            }
		}
	}
}

.product-details {
	background: #fff;
	@include border-radius;
	clear: both;
	display: none;
	margin-top: 15px;
	padding: 20px;

    &.open {
        display: block;
    }

    .represent {
    	font-weight: normal;
    	margin: 10px 0 20px;
    }

    .product-section {
    	margin-bottom: 20px;

    	&.benefits h5 {
    		margin-bottom: 15px;
    	}

    	br {
    		line-height: normal;
    	}
    }

	&__header {
		margin: 0 0 16px;
	}

	h4 {
		float: none;
	}

	.single-info {
		border-bottom: 1px solid #ddd;
		font-weight: normal;
		line-height: 42px;

		.cell {
			color: #333;
		}

		&.title {
			border-width: 2px;
		}

		&:last-of-type {
			border: none;
		}
	}

	&__image {
		float: right;

		img {
			border-radius: 5px; // some have black backgrounds instead of transparent (Ulster) #badDesign #fireThem
			width: 100px;
			height: auto;
			margin-bottom: 10px;

			@media (min-width: $screen-sm-min) {
				width: 130px;
			}
		}
	}

	.cell {
		float: left;
		padding: 0 15px;
		width: 50%;
	}

	.btn {
		display: block;
		float: none;
		margin-top: 20px;
		padding: 10px 12px;
	}

	&__account-access-methods {
		text-indent: 0;
		margin-left: 0;
		padding-left: 0;
	}

	&__account-access-method {
		display: inline-block;
		list-style-type: none;

		&:not(:last-child) {
			margin-right: 24px;
		}
	}

	&__account-access-method-icon {
		margin-right: 2px;

		&.fa-check {
			color: $brand-good;
		}

		&.fa-remove {
			color: $brand-terrible;
		}
	}
}

.product-disclaimer {
    color: black;
    font-weight: 300;
    text-align: justify;
	line-height: 1.1;

    a {
        color: $pink;
        cursor: pointer;
        &:hover {
            color: $brand-primary;
        }
    }

	p {
		line-height: 1.1;
	}
}
