.news {
    
    .reviewer {
        height: 400px;
      }
      
    .tile {
        &__pre-title {
            color: $brand-accent;
            font-size: 16px;
            font-weight:bold;
            margin: 0;
        }
        
        &__title {
            height: auto;
            font-size: 24px;
        }
        
        &__html {
            word-wrap: break-word;
            font-family: $font-family-crete-round;
            font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        }
    }
	img {
		border: 2px solid $gray;
		max-width: 100%;
		height: auto;
	}
}

.news-content {
    h2 {
        font-family: $font-family-crete-round;
        font-weight: 400;
        font-size: 45px;
        margin-top: 0;
    }
    
    h3, h4 {
        font-family: $font-family-crete-round;
        font-weight: 400;
        font-size: 25px;
        margin-top: 0;
    }
    
    a { 
        color: $brand-accent;
        font-weight: bold;
        
        &:hover {
            color: $brand-primary;
        }
    }
    
    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    
    .separator {
        margin-top: 25px;
    }
}

.news-footer {
	padding-top: 13px;

	p {
		color: $brand-accent;
		font-weight: bold;
	}
}