// phone and internet switching icons

.phonelist-internet {

	&::after {
		background-image: url(../images/icons/phonelisting/90px-Broadband-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/phonelisting/90px-Broadband-pink.png);
	}
}
.phonelist-mobile {

	&::after {
		background-image: url(../images/icons/phonelisting/90px-Mobile-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/phonelisting/90px-Mobile-pink.png);
	}
}
.phonelist-phone {

	&::after {
		background-image: url(../images/icons/phonelisting/90px-landline-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/phonelisting/90px-landline-pink.png);
	}
}
.phonelist-tv {

	&::after {
		background-image: url(../images/icons/phonelisting/90px-DTV-grey.png);
	}

	&.hb-active::after {
		background-image: url(../images/icons/phonelisting/90px-DTV-pink.png);
	}
}
