.profile-head {
	margin-bottom: 24px;
	padding-top: 36px;
	position: relative;
	@extend .content-block;

	h2 {
		color: $brand-tertiary;
	}

	.ph-social {
		padding: 24px 0;
	}
}

.ph-main-icon {
	margin: 0 auto;
	width: 180px;
	height: 180px;
	border: 4px solid $gray-lighter;
	text-align: center;
	line-height: 172px;
	@include border-radius(50%);

	img {
		@include border-radius(50%);
		width: 160px;
		height: 160px;
	}
}

.ph-more-info {
	padding: 0 0 0 2px;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: #fff;
	border: 1px solid #ddd;
	display: block;
	text-align: center;
	line-height: 60px;
	@include border-radius(50%);
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 50%;
}

.profile-extended {
	padding: 24px 0;
}

.pe-content h3 {
	margin-top: 0;
}