body.singlereview {
    .single-review {
        margin-bottom: 30px;
    }
    .main-content {
        margin-bottom: 40px;
    }

    .star-review-box {
        margin-bottom: 20px;
        @media (min-width: $screen-sm-min) {
            margin-bottom: 0px;
        }
    }
}