// todo if this is used on other pages, then it will need to be moved

.supplier-page {
    &__affil-or-compare-btn {
        // if the logo was auto height-ed this wouldn't be needed
        @media (min-width: $screen-md-min) {
            position:absolute;
            bottom:0;
            width:100%;
        }
    }

    &__external-ratings {
        margin-bottom: 40px;
    }

    // todo this should be separated into an external component if it will be used on other pages
    &__twitter-box {
        margin-bottom: 40px;
    }

    &__twitter-heading {
        padding: 30px;
    }

    &__twitter-widget {
        // line up the bottom borders
        margin-right: -14px;
        margin-left: -15px;
    }

    &__separator {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}