.ui-demo {
    &__container {
        margin-top: 50px;
        padding: 16px;
    }

    &__heading {
        margin: 16px -16px;
        padding: 8px 16px;
        background: $gray-light;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
        text-shadow: 0 1px white;
    }
}
