<b-card b-title="Choose an insurance product">
    <div class="product-categories">
        <a ng-repeat="category in model.insuranceCategories" class="product-categories__link" ui-sref="{{category.link}}" ui-sref-active="product-categories__link--active">
            <!--<img class="product-categories__img"
            ng-src="/build/images/icons/insurancelisting/{{category.class}}.svg" width="80" height="80">-->
            <img class="product-categories__img" width="80" height="80"
                 ng-src="/build/images/icons/insurancelisting/{{category.key}}.svg">

            <span>{{category.title}}</span>
        </a>
    </div>
</b-card>
