<div class="lp-backimage lpbi-insurance">
    <b-reviewer b-title="How sure are you about your insurance?" b-text="Tell us about it..." b-show-suggestion="false"></b-reviewer>
</div>
<b-skimmed-reviews id="more" ng-model="model.reviews"></b-skimmed-reviews>

<b-regulatory-banner></b-regulatory-banner>