﻿<div class="provider-overview reviewer reviewer--{{::$root.sector || $root.siteArea || 'home'}}">
    <div class="container">
        <section class="po">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="po-logo">
                        <b-logo ng-model="model.company"></b-logo>
                    </div>
                    <div class="supplier-page__affil-or-compare-btn">
                        <a target="_blank" ng-if="::model.company.affiliateUrl"
                           ng-href="{{::model.company.affiliateUrl}}" class="btn pink btn-sm btn-block btn-tariff">
                            LIKE THEM? SEE MORE
                        </a>
                        <a target="_blank" ng-if="!model.company.affiliateUrl && model.company.compareSiteUrl"
                           ng-href="{{::model.company.compareSiteUrl}}" class="btn pink btn-sm btn-block btn-tariff">
                            COMPARE
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <b-bar-rating b-rating="model.company.score.overallOpinionPercent" b-text="OVERALL"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">OVERALL</p>
                                            <p>This overall score combines your opinion, from consumer complaints logged with the <a href="http://www.fca.org.uk/" target="_blank" title="Financial Conduct Authority">Financial Conduct Authority</a> (FCA) and market pricing scores in order to give you an overall view for a supplier.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <b-bar-rating b-rating="model.company.score.customerOpinionPercent" b-text="Your opinion"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Your opinion</p>
                                            <p>This is your opinion, taken from ratings on the site. Until we receive 5 or more reviews, we base this scoring on how swiftly your complaints to the <a href="http://www.fca.org.uk/" target="_blank" title="Financial Conduct Authority">Financial Conduct Authority</a> (FCA) are dealt with.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <b-bar-rating b-rating="model.company.score.customerServicePercent" b-text="Customer complaints"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Customer complaints</p>
                                            <p>This is a regulatory figure, which we've sourced from consumer complaints logged with the <a href="http://www.fca.org.uk/" target="_blank" title="Financial Conduct Authority">Financial Conduct Authority</a> (FCA).</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <b-bar-rating b-rating="model.company.score.valueForMoneyPercent" b-text="Value for money"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Value for money</p>
                                            <p>We want to give a rounded rating, so please bear with us until we have a full listing of market pricing data.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-1 po-pop-surround">
                    <div class="po-pop">
                        <span class="qmark qmark-pop" b-qmark><span class="qmark-circle-open">?</span>
                            <div class="pop-main">
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-7">
                                                <p>The dials signify a company's rating, based on your reviews and information gathered from the <a href="http://www.fca.org.uk/" target="_blank" title="Financial Conduct Authority">Financial Conduct Authority</a> (FCA), a regulator that ensures firms are dealing with financial matters appropriately and honestly. By analysing this information and listening to customers, B.heard sets out to reward suppliers that get it right and challenge those that don't.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="qmark qmark-pop qmark-close">x<span class="sr-only">close</span></span>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <a href="#more" du-smooth-scroll="" class="header-banner__down-arrow"><span></span></a>
</div>

<div id="more" class="container section">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <b-supplier-review-form ng-model="model.company"></b-supplier-review-form>
        </div>
        <div class="col-xs-12 col-sm-4">
            <b-rankings b-supplier="model.company" b-suppliers="model.suppliers"></b-rankings>
        </div>
    </div>
    <b-skimmed-reviews ng-model="model.reviews"></b-skimmed-reviews>
</div>
