<h2 class="insurance-switch__subtitle">Switch {{model.currentState.title | lowercase}} insurance</h2>


<div class="insurance-switch__disclaimer-wrapper">
    <div class="insurance-switch__disclaimer">
        <p>
        <div class="b-tooltip__revealer b-tooltip__revealer--circle"><i class="fa fa-info"></i></div>&nbsp;
        Everything inside the blue border is run, managed, owned and operated
        by insurance comparison experts, Seopa Ltd. The views expressed on the bheard.com website are from the public
        and are not the views held by Seopa Ltd.
        </p>
    </div>

    <div class="insurance-switch__disclaimer-border">
        <div class="insurance-switch__iframe-wrapper">
            <iframe ng-src="{{'https://wl4.quotezone.co.uk/' + model.currentState.key +
                '/index.php?id=237900c75e0b8acf226b69575296b2f3'| trusted}}" name="qz"
                width="800" height="1200"></iframe>
        </div>
    </div>
</div>