<div class="hero hero--home hero--with-nav">
    <div class="hero__bubble-container">
        <b-card b-title="Let your voice and money do the talking" b-subtitle="Rewarding those getting it right and challenging those that are not..." b-speech></b-card>        <!-- <b-reviewer b-title="Let your voice and money do the talking"
            b-text="Rewarding those getting it right and challenging those that are not..."
            b-show-suggestion="false" b-columns="6" b-offset="3" b-no-more="true">
        </b-reviewer> -->
    </div>

    <div class="hero__nav-wrapper">
        <div class="hero__nav">
            <a ng-repeat="siteArea in siteAreas" class="hero__nav-link" ui-sref="{{siteArea.link}}">
                <img class="hero__nav-img" ng-src="/build/images/home/{{siteArea.key}}.svg" width="80" height="80">
                <h3 class="hero__nav-title">{{siteArea.title}}</h3>
                <p class="hero__nav-subtitle">{{siteArea.subtitle}}</p>
            </a>
        </div>
    </div>
</div>