﻿<div class="background-video__home hidden-xs hidden-sm">
  <videogular class="" vg-player-ready="onPlayerReady($API)" vg-theme="config.theme" vg-auto-play="true">
    <vg-media vg-src="config.sources" vg-loop="true"></vg-media>
  </videogular>
</div>
