html {background:#fff;}
body {color:#676a6c; font:13px/1 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; margin:0;}

#header {background:#2f4050; padding:0 20px;}

#logo {color:#fff; font-size:18px; float:left; font-style:italic; font-weight:bold; letter-spacing:-1px; margin:9px 20px 9px 0;}

#nav {float:left;}
#nav ul {list-style:none; margin:0; padding:0;}
#nav ul li a {color:#a7b1c2; display:block; font-size:10px; padding:13px; text-decoration:none; text-transform:uppercase;}
#nav ul li a:active, #nav ul li a:hover {background:#293846; color:#fff;}
#nav > ul > li {float:left; position:relative;}
#nav > ul > li.on {border-top:3px solid #1ab394;}
#nav > ul > li.on > a {background:#293846; color:#fff; padding-top:10px;}
#nav ul li ul {background:#2f4050; display:none; left:0; top:33px; position:absolute; z-index:1;}
#nav ul li:hover ul {display:block;}
#nav ul li ul li {position:static;}
#nav ul li ul li a {padding:13px; white-space:nowrap;}
#nav ul li ul li.on a {background:#293846; color:#fff;}

#options {color:#fff; float:right;}
#options ul {list-style:none; margin:0; padding:0;}
#options ul li {float:left;}

#user {font-size:10px; padding:13px 0;}

#main {background:#f3f3f4; padding:20px;}

#footer {border-top:1px solid #e7eaec; font-size:13px; padding:14px; text-align:center;}

.buttons {margin:0 0 20px; text-align:right;}
.buttons .button {background:#0dc3d3; border:0; border-radius:3px; color:#fff; cursor:pointer; display:inline-block; font-size:14px; outline:0; padding:6px 12px;}
.buttons .button:hover {background:#01b1c1;}
.buttons .button:active {box-shadow:0 2px 5px rgba(0, 0, 0, 0.20) inset;}
.buttons .button[disabled] {background:#0dc3d3; cursor:default; opacity:.65;}
.buttons a.button {text-decoration:none;}

.chart {min-height:650px;}

.clear {clear:both;}

.data {border-right:1px solid #ebebeb; border-spacing:0; margin:0 0 20px; width:100%;}
.data thead tr th.editor-field, .data tbody tr td.editor-field {padding:5px;}
.data thead tr th.editor-field select, .data tbody tr td.editor-field select {border:1px solid #ebebeb; border-radius:1px; box-sizing:border-box; color:#676a6c; font:10px/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; margin:0; outline:0; padding:2px; width:200px;}
.data thead tr th.editor-field select:hover, .data tbody tr td.editor-field select:hover {border-color:#ddd;}
.data thead tr th.checkbox, .data tbody tr td.checkbox {padding:5px; width:24px;}
.data thead tr th.left, .data tbody tr td.left {text-align:left;}
.data thead tr th.option, .data tbody tr td.option {padding:0;}
.data thead tr th.option a, .data tbody tr td.option a {color:#676a6c; display:block; font-weight:600; padding:10px 5px; text-decoration:none; text-transform:uppercase;}
.data thead tr th.option a:hover, .data tbody tr td.option a:hover {color:#0dc3d3;}
.data thead tr th {border-left:1px solid #ebebeb; border-top:1px solid #ebebeb; font-size:13px; font-weight:600; padding:10px 5px; text-align:center; text-transform:uppercase;}
.data thead tr td {padding:0 5px 0 6px;}
.data thead tr:last-child th {border-bottom:1px solid #ddd;}
.data thead tr:last-child td {border-bottom:1px solid #ebebeb;}
.data thead tr.subheadings th {font-size:8px;}
.data thead tr.subheadings th.sibling {border-left-style:dashed;}
.data tbody tr th, .data tbody tr td {border-left:1px solid #ebebeb; border-top:1px solid #ebebeb; padding:10px 5px;}
.data tbody tr:first-child th, .data tbody tr:first-child td {border-top:0;}
.data tbody tr:last-child th, .data tbody tr:last-child td {border-bottom:1px solid #ebebeb;}
.data tbody tr th {font-size:13px; font-weight:600; text-transform:uppercase;}
.data tbody tr th.description {text-align:left; width:30%;}
.data tbody tr th.highlight {color:#0dc3d3;}
.data tbody tr th.subheading {font-size:8px; font-weight:normal;}
.data tbody tr td {font-size:10px; text-align:center;}
.data tbody tr td p {font-size:13px; line-height:1.3; margin:10px 5px !important; text-align:left;}
.data tbody tr td p:first-child {margin-top:0 !important;}
.data tbody tr td p:last-child {margin-bottom:0 !important;}
.data tbody tr.level-1 th, .data tbody tr.level-2 th, .data tbody tr.level-3 th {text-align:left;}
.data tbody tr.level-1.expandable th, .data tbody tr.level-2.expandable th {cursor:pointer;}
.data tbody tr.level-2 th, .data tbody tr.level-2 td, .data tbody tr.level-3 th, .data tbody tr.level-3 td {border-top-style:dashed;}
.data tbody tr.level-2 th {padding-left:30px;}
.data tbody tr.level-3 th {padding-left:50px;}
.data tbody tr.odd th, .data tbody tr.odd td {background:#f9f9f9;}
.data tbody tr:hover th, .data tbody tr:hover td {background:#f5f5f5;}
.data tbody tr td.divider {border-left-color:#ddd;}
.data tbody tr td.edit {cursor:pointer;}
.data tbody tr td.edit.on {background-color:#0dc3d3; color:#fff;}
.data tbody tr td.edit span[contenteditable="true"] {outline:none;}
.data tbody tr td.error {color:red;}
.data tbody tr td.ok {color:green;}
.data tbody tr td.sibling {border-left-style:dashed;}
.data tbody tr td.text {font-size:13px;}
.data tbody tr td.warning {color:orange;}

.editor-label {clear:left; float:left; margin:10px 0 0; text-align:right; width:140px;}
.editor-field {margin:0 0 10px 145px;}
.editor-field input[type=checkbox] {margin:0; outline:0; vertical-align:bottom;}
.editor-field input[type=file] {color:#676a6c; margin:6px 0 0;}
.editor-field input[type=text], .editor-field select {border:1px solid #ebebeb; border-radius:1px; box-sizing:border-box; color:#676a6c; font:13px/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; margin:0; outline:0; padding:5px; width:200px;}
.editor-field input[type=text]:hover, .editor-field select:hover {border-color:#ddd;}
.editor-field .ui-multiselect {outline:0; padding:6px; width:200px !important;}
.editor-field .ui-multiselect-menu input[type=text] {outline:0;}
.editor-field .validate.ng-invalid.ng-dirty, .editor-field .validate.ng-invalid-server {border:1px solid #f00;}
.editor-field .validate.ng-valid.ng-dirty {border:1px solid #009913;}
.editor-field.wide input[type=text] {width:300px;}
.editor-field.wide .ui-multiselect {width:300px !important;}

.search {margin:0 0 10px; overflow:hidden;}
.search .editor {float:left; margin:0 20px 10px 0;}
.search .editor-label {clear:none; float:left; width:auto;}
.search .editor-field {float:left; margin:0 0 0 5px;}

.ui-autocomplete {max-height:200px; max-width:298px; overflow-x:hidden; overflow-y:auto;}
.ui-autocomplete.ui-menu {padding:3px;}
.ui-autocomplete.ui-menu .ui-menu-item {line-height:1.5; padding:5px;}

.widget + .widget {margin:20px 0 0;}
.widget .header {background:#fff; border-top:4px solid #e7eaec; padding:14px;}
.widget .header h1, .widget .header h2, .widget .header h3 {display:inline-block; font-size:14px; font-weight:600; margin:0; padding:0; text-transform:uppercase; vertical-align:middle;}
.widget .tabs {overflow:hidden;}
.widget .tabs ul {list-style-type:none; margin:0; padding:0;}
.widget .tabs ul li {float:left; position:relative;}
.widget .tabs ul li:first-child {margin-left:0;}
.widget .tabs ul li a {background:transparent; color:#a7b1c2; display:block; font-weight:600; padding:18px 14px 14px; text-decoration:none; text-transform:uppercase;}
.widget .tabs ul li a:hover {background:#e7eaec; color:#676a6c;}
.widget .tabs ul li.on a {background:#fff; border-top:4px solid #e7eaec; color:#676a6c; padding-top:14px;}
.widget .body {background:#fff; border-top:1px solid #e7eaec; padding:20px;}
.widget .body form {margin:0 0 20px;}
.widget .body form .buttons {margin-bottom:0;}
.widget .body p {margin:0 0 20px;}
.widget .body .empty {background:#eee; border-radius:3px; margin:0 0 20px; padding:20px; text-align:center;}
.widget .body > :last-child, .widget .body > div[ui-view] > :last-child {margin-bottom:0;}

.input-video-url {width:100%;}