﻿<h1>About us</h1>
<h2>Who we are</h2>
<p>B.heard is the world's first 'value comparison' website. We provide clear, transparent information on utilities providers in key sectors, including energy and finance, to ensure consumers can more fully evaluate whether they are being offered true value, beyond just price.</p>
