.articles-ov {
	margin-top: 24px;
	width: 100%;
	@include clearfix;	
}

.art-box {	
	border: 1px solid $gray-lighter;
	@include box-shadow(0px, 1px, 4px, 0px, $gray-light, 1);
	@include clearfix;

	@media (max-width: $screen-xs-max) {
		margin-bottom: 12px;
	}
}

.art-img {
	position: relative;
	width: 100%;
	float: left;
	clear: both;
}

.art-img-img {
	width: 100%;
	height: auto;
}

.art-img-tag {
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 16px;
	p {
		margin: 0;
		padding: 4px 16px;
		color: #fff;
		background-color: rgba(#000, .3);
	}
}

.art-content {	
	background: $page-bg;
	padding: 0 24px 12px;
	float: left;
	clear: both;
}