.chart {
  clear: both;
  padding: 0;
  width: 100%;
  height: 130px;


  li {
    position: relative;
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    height: 100px;
    margin: 0;
    width: 23%;
    font-size: ceil(($font-size-base * 0.75)); // ~12px

    @media (min-width: $screen-xs-min) {
      margin: 0;
      width: 24%;
    }

    @media (min-width: $screen-sm-min) {
      //margin: 0 0 0 1%;
      width: 22%;
    }

    &.axis {
      margin-left: -5px; // so bars fit in (maybe we should remove this axis)
      width: 0;
      background: transparent;
    }
  }

  .percent {
    width: 100%;
    position: absolute;
    top: -25px;
  }

  .fm-bar-text {
    overflow: hidden;
    // text-transform: uppercase;
    line-height: 1.2;
    width: 100%;
    bottom: -35px;
    position: absolute;
  }

  // todo maybe do this dynamically and account for others
  .fm-0, .fm-4 {
    background: $brand-terrible;
    border: 1px solid $brand-terrible;
  }

  .fm-1, .fm-5 {
    background: $brand-poor;
    border: 1px solid $brand-poor;
  }

  .fm-2, .fm-6 {
    background: $brand-outstanding;
    border: 1px solid $brand-outstanding;
  }

  .fm-3, .fm-7 {
    background: $brand-good;
    border: 1px solid $brand-good;
  }
}