.bthechange {
	position: relative;
}

video#bgvid {
	display: none;

	@media (min-width: $screen-sm-min) {
		display: block;
		position: absolute;
		top: 39%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: 720px;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}

	@media (min-width: $screen-md-min) {
		top: 40%;
		width: 940px;
	}

	@media (min-width: $screen-lg-min) {
		top: 38%;
		width: 1140px;
	}
}

.full-screen-container {
  position: absolute;
  width: 100%;
  height: 835px;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
.background-video__home {
  height:100%;
  width: 100%;
  
  video {
    width: initial;
    min-width: 100%;
    max-width: initial;
    height: initial;
    min-height: 100%;
    max-height: initial;
  }
}