.blog-ov {
	@extend .content-block;
}

.blog-head {
	padding: 0 24px;

	h1 {
		color: $brand-primary;
	}
}

.bh-exlg-title {
	border-bottom: 1px solid $page-content-border;

	h1 {
		font-size: ceil(($font-size-base * 2.84)); // ~40px
		font-weight: bold;
	}
}

.blog-post-ex {
	padding: 12px 24px;
}

.bp-pic {
	text-align: center;
}

.bp-author-pic {
	margin: 20px auto;
	width: 110px;
	height: 110px;
	overflow: hidden;
	@include border-radius(50%);
	
	img {
		width: 110px;
		height: 110px;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 80px;
		height: 80px;
		img {
			width: 80px;
			height: 80px;
		}
	}
}

.bp-article-pic {
	margin: 20px auto;
	width: 110px;
	height: 110px;
	overflow: hidden;

	img {
		width: 110px;
		height: 110px;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 80px;
		height: 80px;
		img {
			width: 80px;
			height: 80px;
		}
	}
}

.bp-intro {
	border-bottom: 1px solid $page-content-border;

	h1 {
		font-size: ceil(($font-size-base * 2.14)); // ~30px
	}
}

.bp-content {
	padding-top: 10px;
	border-bottom: 1px solid $page-content-border;
}

.bp-foot {
	padding-top: 10px;
}


// blog / news sidebar

.blog-info {
	@extend .content-block;
}

.bi-content {
	padding: 0 24px;
}