.button {
	@include border-radius;

	display: block;
	min-width: 80px;
	padding: 10px;

	background: $pink;
	border: none;

	color: white;
	font-size: 14px;
	text-align: center;

	transition: background-color 120ms linear, opacity 120ms linear;


	&:hover, &:focus {
		color: white;
		background: lighten($pink, 10%);
		box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
	}

	&--purple {
		background: $brand-other;

		&:hover, &:focus {
			background: darken($brand-other, 5%);
		}
	}

	&:active {
		background: darken($pink, 5%);
		box-shadow: inset 0 2px rgba(0, 0, 0, 0.2);
		transition-duration: 0ms;
	}

	.button--inline {
		display: inline-block;
	}

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}
