.cards-container {
    background: #fff;
    padding-top: 13px;

    @media(min-width: 768px) {
        padding-top: 40px;
    }
}

.card-container {
    margin: 20px 0;
}

.card-wrapper {
    padding: 10px;
}

.card {
    @include box-shadow();
    border: $boxes-border;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    &__image {
        width: 100%;
    }

    &__main-container {
        padding: 24px;
    }

    &__title {
        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        font-size: 25px;
        height: auto;
        margin: 0 0 24px;
        line-height: 1.2;

    }

    &__buttons {

    }

    &__multiplechoice-button {
        cursor: pointer;
        background-color: $pink;
        margin-bottom: 8px;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        line-height: 1.5;
        padding: 5px 10px;
        &:hover {
            background: darken($pink, 5%);
            color: #fff;
        }
    }

    // Yes No
    &__yesno-button {
        cursor:pointer;
        font-size: 48px;
        margin: 0 4px;
        //  &:hover {
        //        transform: scale(1.005, 1.005);
        //        @include box-shadow($radius: 9px, $color: darken($gray-dark, 10%));
        ////        box-shadow: 0 2px 9px 0 rgba(0,0,0,0.25);
        //    }

        &--yes {
            color: $brand-outstanding;
            &:hover {
                color: darken($brand-outstanding, 5%);
            }
        }

        &--no {
            color: $brand-terrible;
            &:hover {
                color: darken($brand-terrible, 5%);
            }
        }
    }

    &__yesno-stat, &__sentiment-stat {
        // override for directive
        .rating-bar {
            height: auto !important;
            min-height: auto !important;
            margin: auto 10px;
        }
    }

    &__likert-button {
        cursor:pointer;
        font-size: 48px;
        //margin: 0 4px;
        //  &:hover {
      //        transform: scale(1.005, 1.005);
      //        @include box-shadow($radius: 9px, $color: darken($gray-dark, 10%));
      ////        box-shadow: 0 2px 9px 0 rgba(0,0,0,0.25);
      //    }

        &--stronglydisagree {
            color: $brand-terrible;
        }

        &--disagree {
            color: $brand-poor;
        }

        &--skip {
            color: $brand-average;
        }

        &--agree {
            color: $brand-good;
        }

        &--stronglyagree {
            color: $brand-outstanding;
        }

    }

    &__multiplechoice-stat {
        padding-top: 8px;
    }

    &__likert-stat {
      &--text {
      }

      &--stronglydisagree {
        height: 11px;
        background-color: #c8424e;
        width: 11px;
        display: inline-block;
      // background-color: $brand-terrible;
      }

      &--disagree {
          color: $brand-poor;
      }

      &--skip {
          color: $brand-average;
      }

      &--agree {
          color: $brand-good;
      }

      &--stronglyagree {
          color: $brand-outstanding;
      }

    }

    &__back {
        float: left;
        margin-left: 5px;
        cursor: pointer;
    }

    &__stats {
        &__caption {
            font-style: italic;
            font-size: 12px;
            text-align: left;
            margin-bottom: 4px;
        }

        .progress {
            margin-bottom: 8px;
        }

        .progress-bar {
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.5);

            &-stronglydisagree {
                background-color: $brand-terrible;
            }

            &-disagree {
                background-color: $brand-poor;
            }

            &-skip {
                background-color: $brand-average;
            }

            &-agree {
                background-color: $brand-good;
            }

            &-stronglyagree {
                background-color: $brand-outstanding;
            }
        }

    }
}