.main-banner {
	width: 100%;
}

.carousel {
	width: 100%;
	background: #eee;
}

.head-box {
	padding: 24px 12px 24px;
	width: 100%;
	height: 180px;
	// overflow: hidden;
	
	p, li {
		font-size: ceil(($font-size-base * 1)); // ~16px
	}

	@media (min-width: $screen-sm-min) {
		padding: 24px 48px;
		height: 250px;
	}

	@media (min-width: $screen-md-min) {
		padding: 60px 84px 24px;
		height: 330px;
	}

	@media (min-width: $screen-lg-min) {
		padding: 72px 96px 24px;
		height: 350px;
	}

	.hb-large-text {
		margin: 0;
		color: #000;
		font-size: ceil(($font-size-base * 1.5)); // ~24px
		line-height: 1.2;
		font-weight: 700;
		font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", Times, serif !important;

		@media (min-width: $screen-sm-min) {
			font-size: ceil(($font-size-base * 1.75)); // ~28px
		}

		@media (min-width: $screen-md-min) {
			font-size: ceil(($font-size-base * 2)); // ~32px
			line-height: 40px;
		}

		@media (min-width: $screen-lg-min) {
			font-size: ceil(($font-size-base * 2.5)); // ~40px
			line-height: 48px;
		}
	}

	.banner-button {
		padding-top: 24px;
	}
}

.head-box.hb-compare {
    height: 420px;

	@media (min-width: $screen-sm-min) {
		height: 380px;
	}
}

.head-box-action {
	padding-top: 0;
	text-align: center;
	height: 310px;

	h1 {
		font-size: ceil(($font-size-base * 2)); // ~32px
	}

	h1, p, li {
		color: #fff;
	}

	@media (min-width: $screen-sm-min) {
		height: 290px;
	}

	@media (min-width: $screen-md-min) {
		padding: 0 0 24px;
		height: 320px;
	}

	.hb-large-text {
		color: #fff;
	}
}

.hba-bvalued {
	height: 210px;

	@media (min-width: $screen-sm-min) {
		height: 190px;
	}

	@media (min-width: $screen-md-min) {
		height: 220px;
	}
}

.hb-action-head {
	display: inline-block;
    padding: 35px 55px 0;
	background-repeat: no-repeat;
	background-position: right top;
}

.hb-ah-bheard {
	background-image: url('../images/icons/icon-bheard.png');
}

.hb-ah-binformed {
	background-image: url('../images/icons/icon-binformed.png');
}

.hb-ah-bvalued {
	background-image: url('../images/icons/icon-bcounted.png');
}


// adding search icon into input

.banner-search-form {
  padding: 0;
  margin-top: 36px;
  height: auto;
  position: relative;
  @include clearfix;

  &.bsf-map {
    margin-top: 0;
  }

  .dropdown-menu {
    right: 0;
  }
}

.banner-search-input {
	border: 0;
	background-color: transparent; // otherwise corners of parent get cut off
	padding: 12px 48px 10px 12px;
	font-size: ceil(($font-size-base * 1.25)); // ~20px
	line-height: 24px;
	width: 100%;
}

.banner-search-button {
  border: 0;
  padding: 12px 14px 10px;
  font-size: ceil(($font-size-base * 1.25)); // ~20px
  line-height: 24px;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
}

.hb-home {
	background: transparent;
	height: 220px;

	@media (min-width: $screen-sm-min) {
		height: 200px;
	}

	@media (min-width: $screen-md-min) {
		height: 300px;
	}
}
