.b-card {

    &__content {
        padding: 24px;

        background: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        border-radius: 8px;

        .b-card--compact & {
            border-radius: 4px;
            padding: 12px;
        }
    }

    &__title {
        font-family: $font-family-crete-round;
        font-style: italic;
        font-size: 28px;

        margin: 0 0 12px;

        &--large {
            font-size: 40px;
        }
    }

    &__subtitle {
        font-family: $font-family-crete-round;
        font-size: 18px;
        color: $brand-accent;

        margin: 0;
    }

    &__content--has-content &__subtitle {
        margin: 0 0 24px;
    }

    &__tail {
        display: none;
    }

    &--speech {

        .b-card__tail {
            display: block;
            width: 48px;

            margin-left: 24px;

            filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.2));
        }
    }
}
