.changecoin {
	&__icon {
		// TODO TEST THIS
		@include image-2x($images-path + "Changecoin-counter", "png", 80px, 80px);
		height: 80px;
		width: 80px;
		border-radius: 40px;

		// move these (below) elsewhere if want to reuse this (these are used on personalinfo page)
		float: left;
		margin-right: 20px;
	}

	&__modal {
		background-color: white;
	}

	&__counter {
		font-size: 48px; //todo move to variable
		color: $brand-changecoin;
		font-family: $font-family-crete-round;
		font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
		font-style: italic;
	}

	&__table {
		//border-collapse: separate;
		//border-color: white;

		tbody {
			border-top: 1px solid #fff !important;
			border-bottom: 1px solid #fff !important;
		}
	}

	&__table-header {
		background-color: $gray-med;
		@include table-border-radius($border-radius-small);

		th {
			border-bottom: none !important;
			font-weight: normal;
		}
	}

	&__table-item {

		&:nth-child(odd) {
			background-color: white;
		}

		&:nth-child(even) {
			background-color: $gray-light;
		}
	}

	&__table-item-row {
		@include table-border-radius($border-radius-small);

		td {
			//border: none !important;
			border-top: 4px solid #fff !important;
			border-bottom: 4px solid #fff !important;
		}
	}
}

.cc-give {
	margin-top: 50px;
	position: relative;
	width: 100%;
  //background: $gray-light;
}

.cc-give-lead {

	h2, p, a {
		color: #fff;
	}
}

.cc-charities {
	padding-bottom: 13px;
}

.cc-c-item {
}

.cc-c-box {
	margin: 0 auto;
	width: 70%;
	border-color: $gray-light;
	overflow: hidden;
	@include border-radius(2px);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		margin: 0;
		width: auto;
	}
}

.cc-cb-img {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	height: 60px;
	// height: 220px;
	background-position: 50%;
	background-repeat: no-repeat;
	@include border-top-radius(2px);

	// &.cc-cbi-energy {
	// 	background-image: url('../images/changecoins/energypic.png');
	// }

	// &.cc-cbi-education {
	// 	background-image: url('../images/changecoins/educationpic.png');
	// }

	// &.cc-cbi-healthcare {
	// 	background-image: url('../images/changecoins/healthcarepic.png');
	// }

	.cc-cb-inset {
		width: 90px;
		height: 90px;
		position: absolute;
		right: 30px;
		bottom: -30px;
	}
}

.cc-cb-content {
	float: left;
	clear: both;
	width: 100%;
	height: 470px;
	padding: 30px;
	text-align: left;
	background: #fff;

	@media (max-width: $screen-xs-max) {

		p {
			font-size: ceil(($font-size-base * 0.875)); // ~14px
		}
	}

	@media (min-width: $screen-sm-min) {
		min-height: 370px;
	}
}

.cc-cb-button {
	float: left;
	clear: both;
	width: 100%;
	padding: 2px 17px 30px;
	background: #fff;
}


// change coins video

.cc-vid {
	margin-top: 8px;
	width: 100%;
	height: auto;
}

.cc-extra-top {
	margin-top: 20px;
}