.community-qs {
	@extend .content-block;
}

.com-head {
	padding: 0 24px;
}

.com-ques-ex {
	padding: 48px 24px 24px;
	border-bottom: 1px solid $page-content-border;
	&:last-child {
		border: none;
	}
}

.cq-info {
	position: relative;
	@media (max-width: $screen-xs-max) {
		height: 100px;
	}
}

.cq-circle {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 50%;
	@include border-radius(50%);
	p {
		margin: -16px 0 0 0;
		padding: 0 25%;
		width: 100%;
		line-height: 16px;
		color: #fff;
		text-align: center;
		position: absolute;
		left: 0;
		top: 50%;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 60px;
		height: 60px;
	}
}

.cq-votes {
	background: #c912c9;
	margin-left: -90px;

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		margin-left: -70px;
	}
}

.cq-views {
	background: #8c12c9;
	margin-left: 10px;
}