.cookie-consent {
    position: relative;
    z-index: 1000;

    &__container {
        background: #000;
        opacity: 0.8;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;

        color: #fff;
        font-size: 12px;
    }

    &__buttons {
        text-align: center;
    }

    &__text {
        text-align: center;
    }

    &__agree {
        color: $pink;
        &:hover {
            color: $pink;
        }
    }

    &__learn-more {
        color: #fff;
        margin-left: 10px;
        &:hover {
            color: #fff;
        }
    }
}