.cust-opinion {
    margin-top: 0;
}

.products {
    display: none;
    margin: 0 auto 30px;

    background: white;

    &.animated,
    .button.animated {
        display: block;

        animation-duration: 0.5s;
        animation-fill-mode: both;
    }

    &__header {
        margin: 0 0 32px;
    }
}

.co-bubble {
    @include border-radius;
    @include box-shadow;

    position: relative;

    display: none;
    margin: 0 auto 60px;
    padding: 24px;
	padding-bottom: 32px;

    background: white;
    border: $boxes-border;

    &__header {
        margin: 0 0 16px;
    }

    &.cob-login {
        .cob-certified {
            margin-bottom: 40px;
        }

        .disabled {
            opacity: 0.5;
        }

        .cobl-btns {
            margin-bottom: 25px;
            padding: 0;
            float: none;
        }

        .cobl-register,
        .cobl-login {
            input[type="checkbox"] {
                display: block;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        border-style: solid;
        display: block;
        width: 0;
        bottom: -60px;
        left: 0px;
        border-width: 60px 60px 0 0;
        border-radius: 0 0 0 6px;
        border-color: transparent #ffffff transparent transparent;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        box-shadow: -1px 5px 1px -2px rgba(0, 0, 0, 0.4);
    }

    h3 {
        font-family: $font-family-crete-round;
        font-style: italic;

        a {
            color: $brand-primary;
        }
    }

    textarea {
        @include border-radius(5px);

        border: $gray-lighter solid 2px;
        padding: 12px;
        resize: none;
        width: 100%;

        font-family: $font-family-crete-round;
        font-style: italic;

        min-height: 200px;
    }

    .star-review-box {
        float: none;
        width: auto;
    }

    .star-rating {
        width: auto;

        > label::before {
            font-size: 42px;
        }

        &:not(:checked) {
            > label::before {
                content: "★ ";
            }
        }
    }

    .btn-anon {
        color: white;
        background: $gray;

        &:hover:not(.disabled) {
            background: $gray-dark;
        }
    }

    .button-container {
        @include border-radius(5px);

        position: absolute;
        bottom: -50px;
        right: 0;

        line-height: 42px;
        padding: 0;

        background-color: $gray;

        &:hover,
        &:focus {
            background: $gray-dark;
        }

        a {
            color: white;
            height: 100%;
            padding: 0 24px;
            display: inline-block;

            .fa {
                margin-left: 24px;
            }
        }
    }

    .button {
        float: left;

        display: none;
        font-size: 22px;

        opacity: 0;
    }

    button {
        margin: 0 5px 5px 0;
    }

    &.animated,
    .button.animated {
        display: block;

        animation-duration: 0.5s;
        animation-fill-mode: both;
    }
}

/////


.co-box {
    padding: 0 0 24px;
    margin: 0;
    background-color: $page-bg;
    border-top: 0;
    @extend .content-block;
    @include clearfix;
}

.co-box-head {
    background: transparent;
}

.co-nav {
    border-bottom: 1px solid $page-bg;
}

.co-nav > li {
    margin-bottom: 0;
    width: 33.33%;
    text-align: center;
}

.co-nav > li.active > a, .co-nav > li.active > a:hover, .co-nav > li.active > a:focus {
    color: $brand-primary;
    background-color: $page-bg;
    border: none;
}

.co-nav > li > a {
    margin-right: 0;
    border: none;
    color: #fff;
    background: $brand-primary;
    line-height: 2;
    @include border-top-radius(6px);
}

.co-nav > li > a:hover {
    border-color: $brand-primary;
}

.co-nav > li > a:hover, .co-nav > li > a:focus {
    background-color: #46185a;
}

.cbc-logo {
    display: inline;
}

.co-box-content {
    padding: 24px 24px 0;
    margin: 0;
    background-color: $page-bg;
    @include clearfix;

    .cbc-logo {
        display: block;
        margin: 6px 0 18px;

        img {
            width: 30%;
            height: auto;
        }
    }

    .sup-no-logo {
        font-size: ceil(($font-size-base * 2)); // ~28px
        margin-bottom: 24px;
        margin-top: 6px;
    }
}

.co-form {
    padding: 24px 0 0 0;
    @include clearfix;

    @media (min-width: $screen-md-min) {
        padding: 0;
    }
}

.opinion-stars {
    padding: 6px 0 0;
    @include clearfix;

    &.op-s-first {
        padding-top: 12px;
    }
}

.op-stars-label {
    margin-top: 6px;
}

.star-review-box {
    float: left;
    margin-left:10px;
    //    width: 160px;
    @include clearfix;

    .star-list {
        margin: 0 auto;
        padding: 0;
        //            width: 145px;
        list-style: none;

        @media (min-width: $screen-sm-min) {
            margin: 0;
            float: right;
        }

        .star-item {
            list-style: none;
            float: right;
            padding: 0;
            margin: 0;
            overflow: hidden;
            white-space:  nowrap;
            font-size: 200%;
            line-height: 1;
            color: $gray-light;

            &::before {
                content: '★ ';
                font-size: ceil(($font-size-base * 1.25)); // ~20px

                @media
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi) {
                    font-size: ceil(($font-size-base * 1.25)); // ~20px
                }
            }
        }
    }

    .sl1 {
        .si1 {
            color: $brand-terrible;
        }
    }

    .sl2 {
        .si1, .si2 {
            color: $brand-poor;
        }
    }

    .sl3 {
        .si1, .si2, .si3 {
            color: $brand-average;
        }
    }

    .sl4 {
        .si1, .si2, .si3, .si4 {
            color: $brand-good;
        }
    }

    .sl5 {
        .si1, .si2, .si3, .si4, .si5 {
            color: $brand-outstanding;
        }
    }
}


.star-rating {
    display: inline-block;
}

.star-rating:not(:checked) > input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.star-rating:not(:checked) > label {
    width: initial;
    float: right;
    padding:  0;
    overflow: hidden;
    white-space:  nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1;
    color: $gray-light;
}

.star-rating:not(:checked) > label::before {
    content: '★ ';
    font-size: ceil(($font-size-base * 1.75)); // ~28px
}

.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
    color: $brand-average;
}

.star-rating > input:checked + label:hover,
.star-rating > input:checked + label:hover ~ label,
.star-rating > input:checked ~ label:hover,
.star-rating > input:checked ~ label:hover ~ label,
.star-rating > label:hover ~ input:checked ~ label {
    color: $brand-average;
}

.star-rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

// star colours

.sr5 > input:checked ~ label,
.sr5:not(:checked) > label:hover,
.sr5:not(:checked) > label:hover ~ label,
.sr5 > input:checked + label:hover,
.sr5 > input:checked + label:hover ~ label,
.sr5 > input:checked ~ label:hover,
.sr5 > input:checked ~ label:hover ~ label,
.sr5 > label:hover ~ input:checked ~ label {
    color: $brand-outstanding;
}

.sr4 > input:checked ~ label,
.sr4:not(:checked) > label:hover,
.sr4:not(:checked) > label:hover ~ label,
.sr4 > input:checked + label:hover,
.sr4 > input:checked + label:hover ~ label,
.sr4 > input:checked ~ label:hover,
.sr4 > input:checked ~ label:hover ~ label,
.sr4 > label:hover ~ input:checked ~ label {
    color: $brand-good;
}

.sr3 > input:checked ~ label,
.sr3:not(:checked) > label:hover,
.sr3:not(:checked) > label:hover ~ label,
.sr3 > input:checked + label:hover,
.sr3 > input:checked + label:hover ~ label,
.sr3 > input:checked ~ label:hover,
.sr3 > input:checked ~ label:hover ~ label,
.sr3 > label:hover ~ input:checked ~ label {
    color: $brand-average;
}

.sr2 > input:checked ~ label,
.sr2:not(:checked) > label:hover,
.sr2:not(:checked) > label:hover ~ label,
.sr2 > input:checked + label:hover,
.sr2 > input:checked + label:hover ~ label,
.sr2 > input:checked ~ label:hover,
.sr2 > input:checked ~ label:hover ~ label,
.sr2 > label:hover ~ input:checked ~ label {
    color: $brand-poor;
}

.sr1 > input:checked ~ label,
.sr1:not(:checked) > label:hover,
.sr1:not(:checked) > label:hover ~ label,
.sr1 > input:checked + label:hover,
.sr1 > input:checked + label:hover ~ label,
.sr1 > input:checked ~ label:hover,
.sr1 > input:checked ~ label:hover ~ label,
.sr1 > label:hover ~ input:checked ~ label {
    color: $brand-terrible;
}


.star-rating > input#overall-opinion-1:checked ~ label, .star-rating > input#customer-service-1:checked ~ label, .star-rating > input#value-for-money-1:checked ~ label {
    color: $brand-terrible!important;
}

.star-rating > input#overall-opinion-2:checked ~ label, .star-rating > input#customer-service-2:checked ~ label, .star-rating > input#value-for-money-2:checked ~ label {
    color: $brand-poor!important;
}

.star-rating > input#overall-opinion-3:checked ~ label, .star-rating > input#customer-service-3:checked ~ label, .star-rating > input#value-for-money-3:checked ~ label {
    color: $brand-average!important;
}

.star-rating > input#overall-opinion-4:checked ~ label, .star-rating > input#customer-service-4:checked ~ label, .star-rating > input#value-for-money-4:checked ~ label {
    color: $brand-good!important;
}

.star-rating > input#overall-opinion-5:checked ~ label, .star-rating > input#customer-service-5:checked ~ label, .star-rating > input#value-for-money-5:checked ~ label {
    color: $brand-outstanding!important;
}
