.cust-review-section {
	@include clearfix;
}

// default 'review bubbles'
.bubble {

    // min-height:375px;

    // @media(min-width: $screen-md-min) {
    //   min-height:456px;
    // }

    // overrides
    .skimmed-review {
        @include border-radius(10px);
        //@include box-shadow(0, 1px, 3px, 0, #000, 0.15);

        // this is the 'tail'
        &::after {
            left: 0px;
        }
    }
}

// overrides above with different styles
.bubble-1, .bubble-5, .bubble-9, .bubble-13 {
    .cust-review {
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;

        &::after {
            //left: 171px;
            left: 32%;
            border-width: 61px 0 0 61px;
            border-radius: 0 0 6px 0;
        }
    }
}

// overrides above with different styles
.bubble-2, .bubble-6, .bubble-10, .bubble-14 {
    .cust-review {
        border-radius: 45px;
        -moz-border-radius: 45px;
        -webkit-border-radius: 45px;

        &::after {
            //left: 101px;
            left: 36%;
            border-width: 61px 41px 0px 41px;
            border-radius: 0px 0px 50px 0px;
        }
    }
}

.cr-icon {
  border-top: 1px solid #ddd;
	margin: 0;
	padding: 15px 0;
	float: left;
	@include clearfix;

	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
}

.cr-icon-img {
	margin: 0 15px 0 0;
	width: 45px;
	height: 45px;
	overflow: hidden;
	float: left;
	@include border-radius(50%);

	img {
		width: 48px;
		height: 48px;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 45px;
		height: 45px;
		img {
			width: 45px;
			height: 45px;
		}
	}
}

.cr-icon-info {
  margin-top: 4px;
  max-height: 48px;
  float: left;
  overflow: hidden;

	p {
		padding: 0;
		margin: 0;
		color: $gray;
		font-size: 14px;
    font-weight: 700;
		line-height: 18px;
	}
}

.cr-content {
	margin: 0;
	padding: 0;
}

.cr-review-large {
	padding: 24px 12px 24px;
	border-bottom: 1px solid $gray-lighter;
}

.cr-review-head {
	color: $gray-darker;
}


.cr-footer {
	padding-top: 24px;
}

.cr-f-helpful {
	margin: 0;
	padding: 0;
	text-align: center;
	border: 1px solid $gray-light;
}