.don-content {
	padding: 24px 0;
	text-align: center;
}

.dc-head {
}

.dc-cc-num {
	border: 1px dashed $gray-light;
	background: $gray-lightest;
	@include border-radius(6px);

	p {
		padding: 24px 0;
		margin: 0;
		font-size: ceil(($font-size-base * 3)); // ~42px
		color: $brand-outstanding;
		font-weight: bold;

		img {
			position: relative;
			top: -5px;
		}
	}
}

.dc-cc-done {
	padding: 24px 0;
	text-align: center;
}

.dc-cc-d {
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 0;
	@include border-radius(50%);
	color: #fff;
	background: $brand-outstanding;
	font-size: 12px;

	i {
		display: block;
		font-size: ceil(($font-size-base * 3)); // ~42px
		line-height: 60px;
	}
}

.dc-img {
	padding: 24px 0;
}

.dc-state {
	padding: 24px 0;
	border-top: 1px solid $gray-light;
	border-bottom: 1px solid $gray-light;

	.large-subhead {
		padding: 0;
		margin: 0;
	}
}

.dc-state-num {
	font-weight: bold;
}

.dc-form {
	padding: 12px 0 0;

	.btn-lg {
		padding-top: 6px;
		padding-bottom: 5px;
	}
}

.dc-form-label {
	display: block;
}

.dc-account {
	padding: 24px 0;
	background: $gray-lightest;
}