.ed-map {
	padding: 0 0 24px;
	width: 100%;
	@include clearfix;
}

.ed-map-search {
	padding: 70px 0 24px;
	background: #222;
}

.ems-text {
	color: #fff;
	font-weight: bold;

	@media (min-width: $screen-sm-min) {
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		margin: 0;
		padding: 0;
		font-size: ceil(($font-size-base * 0.9)); // ~15px
		font-weight: bold;
		line-height: 48px;
		text-align: right;
	}
}

.ems-input {
	height: 48px;
	border-color: $brand-primary;
}

.ems-button {
  height: 48px;
  display: block;
  line-height: 48px;
}

.ed-map-gmap {
	min-height: 240px;
	background: $gray-light;
}

.ed-map-gmap-big {
	min-height: 480px;
	background: $gray-light;
}

.ed-map-options {
	background: $gray-lightest;
}

.emo-form {
	padding: 24px 0;
	text-align: center;
}

.emo-group {
	padding: 0 6px;
	text-align: center;
}

.emo-text {
	margin: 0;
	padding: 0;
}

.emo-input {
	background: $gray-light;
	color: #000;

	option {
		background: #fff;
	}
}

.ed-map-key {
	padding: 12px 0 24px;
	text-align: center;
}

.emk-list-item {
	margin: 0;
	padding: 0 6px;
	text-align: center;

	img {
		float: left;
	}

	span {
		display: block;
		float: left;
		line-height: 32px;
	}
}

.emk-item {
	margin-right: 6px;
	width: 20px;
	height: 20px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	letter-spacing: -1px;
	@include border-radius(50%);
}

.emk-1 {
	background: #8cc152;
}

.emk-2 {
	background: #ffae37;
}

.emk-3 {
	background: #ff1700;
}

.emk-4 {
	background: #a2195b;
}


// google map search box when page is opened

.ed-map-start {

	& > div {
		width: 100%;
		text-align: center;		
	}

	p {
		text-align: center;
	}

	.ed-map-pos {
		position: absolute;
	    left: 0;
	    top: 230px;
	    width: 90%;
	    margin-left: 5%;
	    padding: 2px;
	    border: 1px solid #cccccc;
	    z-index: 10;
	    background: #fff;

		@media (min-width: $screen-md-min) {
		    left: 50%;
		    top: 230px;
		    width: 800px;
		    margin-left: -400px;
		}
	}
}


// google map pop up styles

.googft-card-view {
	@include clearfix;
}

.goog-card-rating {
	padding: 12px 0;
	width: 100%;
	text-align: center;

	@media (min-width: $screen-sm-min) {
		padding: 24px 12px 24px 0;
		min-width: 84px;
		width: 20%;
		float: left;
	}
}

.goog-card-rate {
	display: block;
	margin: 0 auto 6px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-weight: bold;
	font-size: ceil(($font-size-base * 2)); // ~32px
	background: $brand-good;
	@include border-radius(50%);

	&.goog-card-rate-1 {
		background: $brand-good;
	}

	&.goog-card-rate-2 {
		background: $brand-average;
	}

	&.goog-card-rate-3 {
		background: $brand-poor;
	}

	&.goog-card-rate-4 {
		background: $brand-terrible;
	}

	&.goog-card-rate-gp {
		font-size: 24px;
	}

	&.goog-card-rate-gp-1 {
		background: $brand-outstanding;
	}

	&.goog-card-rate-gp-2 {
		background: $brand-outstanding;
	}

	&.goog-card-rate-gp-3 {
		background: $brand-good;
	}

	&.goog-card-rate-gp-4 {
		background: $brand-good;
	}

	&.goog-card-rate-gp-5 {
		background: $brand-average;
	}
	
	&.goog-card-rate-gp-6 {
		background: $brand-average;
	}

	&.goog-card-rate-gp-7 {
		background: $brand-poor;
	}

	&.goog-card-rate-gp-8 {
		background: $brand-poor;
	}

	&.goog-card-rate-gp-9 {
		background: $brand-terrible;
	}

	&.goog-card-rate-gp-10 {
		background: $brand-terrible;
	}
}

.goog-card-info {
	padding: 12px 0;
	width: 100%;

	@media (min-width: $screen-sm-min) {
		padding: 24px 0 24px 12px;
		width: 75%;
		float: left;
	}
}