.emoji {

    display: inline-block;

    &:hover {
        -webkit-box-shadow: 0px 0px 5px -1px #666;
        -moz-box-shadow: 0px 0px 5px -1px #666;
        box-shadow: 0px 0px 5px -1px #666;
        border-radius: 99px;
    }

    &__happy {
        $w: 30px;
        $h: 30px;
        width: $w;
        height: $h;
        @include image-2x($images-path + "emojis/happy", "png", $w, $h);
    }
    &__worried {
        $w: 30px;
        $h: 30px;
        width: $w;
        height: $h;
        @include image-2x($images-path + "emojis/worried", "png", $w, $h);
    }
    &__angry {
        $w: 30px;
        $h: 30px;
        width: $w;
        height: $h;
        @include image-2x($images-path + "emojis/angry", "png", $w, $h);
    }
    &__neutral {
        $w: 30px;
        $h: 30px;
        width: $w;
        height: $h;
        @include image-2x($images-path + "emojis/neutral", "png", $w, $h);
    }
}