.feature-list {
    margin: 16px 0;

    // remove default left indent
    padding-left: 0;

    // better appearance when wrapped
    line-height: 32px;

    &__feature {
        display: inline-block;
        list-style-type: none;

        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__icon {
        margin-right: 2px;

        &--yes {
            color: $brand-good;
        }

        &--no {
            color: $brand-terrible;
        }
    }
}
