.gradients {
    // put any absolute-ly positioned gradients inside a div with relative positioning
    &__bg {
        position: relative;
        background: white;
    }

    &__small-top {
        width: 100%;
        height: 75px;
        position: absolute;
        left: 0;
        top: 0;

        background: rgb(128, 128, 128); /* Old browsers */
        background: -moz-linear-gradient(top,  rgb(128, 128, 128) 0%, rgb(255, 255, 255) 13%, rgb(255, 255, 255) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgb(128, 128, 128) 0%, rgb(255, 255, 255) 13%, rgb(255, 255, 255) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgb(128, 128, 128) 0%, rgb(255, 255, 255) 13%, rgb(255, 255, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}