.hero {
    $img-size: 64px;
    $img-size-large: 80px;
    $img-size-super-large: 144px;
    $img-margin-bottom: 16px;

    $link-width: 100px;
    $link-width-large: 280px;
    $link-margin-bottom: 16px;

    $breakpoint-wide: 512px;
    $breakpoint-super-wide: 1440px;

    $hero-path: $images-path + "hero/";

    $scrim: linear-gradient(transparent 45%, rgba(0, 0, 0, 0.8));

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    max-height: 480px;

    // use percentage units to avoid creating horizontal scrollbar
    width: 100%;

    padding-top: $navbar-height;

    background-size: cover;

    &--with-nav {
        height: auto;
        max-height: none;

        @media (min-width: $breakpoint-wide) {
            height: 100vh;
        }
    }

    // TODO: container vs wrapper ??

    &__bubble-container,
    &__bubble-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        max-width: 480px;

        padding: 16px;

        @media (min-width: $breakpoint-wide) {
            flex: 3;
            padding: 0;
        }
    }

    &__nav-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;

        background: black;

        @media (min-width: $breakpoint-wide) {
            flex: 2;
            background: none;
        }
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;

        width: 100%;

        padding: 16px 0 0;

        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            /*
            **  These are used to determine the width of the icons where there are a defined number of items
            **  eg the first rule set below specifies that the 'row layout' where there are 3 items should be 2-1 on mobile one row of 3 where 3 will fit comfortably on one row
            **
            ** For reference, the 'row layouts' are as follows:
            **  No. items   |   Mobile layout   |   'tablet layout' |   wide layout
            **[ 1   |   1   |   1   |   1
            **  2   |   2   |   2   |   2  ] Included for completeness but not specified explicitly
            **  3   |   2-1 |   3   |   3
            **  4   |   2-2 |   4   |   4
            **  5   |   3-2 |   5   |   5
            **  6   |   3-3 |   6   |   6
            **  7   | 3-3-1 |   4-3 |   7
            */

            &:first-child:nth-last-child(3) ~ a, &:first-child:nth-last-child(3) {
                width: 50%;

                @media(min-width: $link-width * 3) {
                    width: 33%;
                }

                @media(min-width: $link-width-large * 3) {
                    width: $link-width-large;
                }
            }

            &:first-child:nth-last-child(4) ~ a, &:first-child:nth-last-child(4) {
                width: 50%;

                @media(min-width: $link-width * 4) {
                    width: $link-width;
                }
            }

            &:first-child:nth-last-child(5) ~ a, &:first-child:nth-last-child(5) {
                width: 33.33%;

                @media(min-width: $link-width * 5) {
                    width: $link-width;
                }
            }

            &:first-child:nth-last-child(6) ~ a, &:first-child:nth-last-child(6) {
                width: 33.33%;

                @media(min-width: $link-width * 6) {
                    width: $link-width;
                }
            }

            &:first-child:nth-last-child(7) ~ a, &:first-child:nth-last-child(7)
            {
                width: 33.33%;

                @media(min-width: $link-width * 4) {
                    width: 25%;
                }

                @media(min-width: $link-width * 7) {
                    width: $link-width;
                }

            }

            padding: 0 8px;
            margin-bottom: $link-margin-bottom;

            text-align: center;
            color: white;

            &:hover {
                color: $pink;

                .hero__nav-img {
                    filter: none;
                }
            }
        }

        &-img {
            width: $img-size;
            height: $img-size;

            margin-bottom: $img-margin-bottom;

            // remove pink color -> white
            filter: brightness(100);

            @media (min-width: $breakpoint-wide) {
                width: $img-size-large;
                height: $img-size-large;
            }

            @media (min-width: $breakpoint-super-wide) {
                width: $img-size-super-large;
                height: $img-size-super-large;
            }
        }

        &-title {
            font-size: 20px;
            color: inherit;
            margin-top: 0;

            @media (min-width: $breakpoint-super-wide) {
                font-size: 28px;
            }
        }

        &-subtitle {
            display: none;
            color: inherit;
            opacity: 0.7;

            @media (min-width: $breakpoint-wide) {
                display: block;
            }
        }

        @media (min-width: $breakpoint-wide) {
            width: 100%;
            max-width: 900px;
        }

        @media (min-width: $breakpoint-super-wide) {
            max-width: none;
        }
    }

    &--generic {
        background-image: $scrim, url($hero-path + "generic.jpg");
    }

    &--home {
        background-image: $scrim, url($hero-path + "home.jpg");

        @media (min-width: $breakpoint-wide) {
            // height: 80vh;
        }
    }

    &--switch {
        background-image: $scrim, url($hero-path + "switch.jpg");
    }

    &--opinion {
        max-height: 360px;

        @media (min-width: 768px) {
            max-height: 300px;
        }

        background-image: $scrim, url($hero-path + "opinion.jpg");
        background-position: center right;
    }

    &--review {
        background-image: $scrim, url($hero-path + "review.jpg");
    }
}
