.icons {
    &__record-video {
        &--small {
            $w: 30px; $h: 30px;
            width: $w; height: $h;
            @include image-2x($images-path + "opinion/icons/record-video-small", "png", $w, $h);
        }
    }

    // Fatherhood page
    &__fatherhood-csj {
        $w: 150px; $h: 100px;
        width: $w; height: $h;
        @include image-2x($images-path + "opinion/icons/Fatherhood-CSJ-logo", "png", $w, $h);
    }

    &__fatherhood-values {
        $w: 150px; $h: 100px;
        width: $w; height: $h;
        @include image-2x($images-path + "opinion/icons/Fatherhood-values-logo", "png", $w, $h);
    }

    &__fatherhood-bheard {
        $w: 150px; $h: 100px;
        width: $w; height: $h;
        @include image-2x($images-path + "opinion/icons/Fatherhood-Bheard-logo", "png", $w, $h);
    }

    &__fatherhood-yougov {
        $w: 150px; $h: 100px;
        width: $w; height: $h;
        @include image-2x($images-path + "opinion/icons/Fatherhood-YouGov-logo", "png", $w, $h);
    }
}
