.infographics {
    &__people {
        $wid: 330px;
        $hei: 330px;
        @include image-2x($images-path + "opinion/icons/68percent-unsupported", "png", $wid, $hei);
        width: $wid;
        height: $hei;

        margin: 0 auto;

        @media (min-width: $screen-md-min) {
            margin: 0 auto;
        }
    }

    &__pie-one {
        $wid: 330px;
        $hei: 330px;
        @include image-2x($images-path + "opinion/icons/64PC-prepared", "png", $wid, $hei);
        width: $wid;
        height: $hei;

        margin: 0 auto;

        @media (min-width: $screen-md-min) {
            margin: 0 auto;
        }
    }

    &__pie-two {
        $wid: 330px;
        $hei: 330px;
        @include image-2x($images-path + "opinion/icons/46PC-un-prepared", "png", $wid, $hei);
        width: $wid;
        height: $hei;

        margin: 0 auto;

        @media (min-width: $screen-md-min) {
            margin: 0 auto;
        }
    }
}