.input-box {
    min-height: 50px;
    padding: 15px;
    font-size: 18px;
    
    @include box-shadow($vertical: 0); 
    display: block;
    width: 100%;
    line-height: 1.42857;
    color: #999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color;
    
    &:focus {
        border-color: #66afe9;
        outline: 0;
    }
    
    &--textarea {
        height: auto;
    }
}