label {
    display: block;
    width: 100%;

    color: $gray-dark;
    font-weight: normal;
    font-size: 14px;

    > input {
        margin-top: 4px;
    }
}

.input-text {
    @include border-radius;

    display: block;
    width: 100%;
    padding: 6px;

    font: inherit;
    color: $gray-darker;
    font-weight: normal;
    font-size: medium;

    background-color: white;
    border: 1px solid $gray-med;

    box-shadow: inset 0 1px 2px $gray-light;

    &:focus {
        border-color: $pink;
    }
}

button[type="submit"] {
    margin: 16px 0;
}
