// landing page reviews
.landingpage {
	&__reviews {
		padding-top: 42px;
		width: 100%;
		min-height: 300px;
		//background: $gray-light;


		.container {

		        .ng-enter {
		          -webkit-transition: 2s;
		          transition: 2s;

		          opacity: 0;
		        }

		        .ng-enter-active {
		          opacity: 1;
		        }


		    }
	}

	&__content {
		p {
			text-align: center;
		}
	}
}