//.lp-boxes {
//  width: 100%;
//  background-size: cover;
//  background-color: $gray-light;
//  @include clearfix;
//  padding-top: 70px;
//
//
//  @media (min-width: $screen-sm-min) {
//    padding-top: 30px;
//  }
//
//  @media (min-width: $screen-md-min) {
//    padding-top: 40px;
//  }
//}
//
//.lpbx-energy {
//    background-color: $brand-energy;
//}
//
//.lpbx-healthcare {
//    background-color: $brand-healthcare;
//}
//
//.lpbx-money {
//    background-color: $brand-money;
//}
//
//.lpbx-education {
//    background-color: $brand-education;
//}
//
//.lpbx-insurance {
//    background-color: $brand-insurance;
//}
//
//.lpbx-government {
//    background-color: $brand-government;
//}
//
//.lpbx-phone {
//    background-color: $brand-phone;
//}
//
//.lpbx-haveyoursay {
//    background-color: $brand-home;
//}
//.lpbx-changecoins, .lpbx-blog, .lpbx-forcompanies {
//    background-color: $brand-home;
//}

.lpbx-home {
	// @include bg-gradient($brand-primary, #f1f5f7, 10%);
	background-color: transparent;
}

.lpbx-singlereview {
  background-color: $brand-home;
	padding: 26px 0;

	.lpbx-find-co {
		margin-top: 26px;
	}
}

.lp-box {
	margin-left: -13px;
    margin-right: -13px;
    padding: 13px;
	text-align: center;
	@include clearfix;

	h2 {
		margin-top: 0;
	}

	@media (min-width: $screen-sm-min) {
		margin: 0;
    margin-top:26px;
		margin-bottom: 26px;
		padding: 25px 17px;
		text-align: left;
		@include border-radius(3px);
	}

	@media (min-width: $screen-md-min) {
		margin: 0;
    margin-top:26px;
		margin-bottom: 26px;
		padding: 25px 17px;
		text-align: left;
	}
}

.about-team-image {
    width:100%;
}

.lpbx-text-content {
	background: #fff;
	border-color: $gray-lighter;

}

.lpbx-aboutus {
    margin-bottom: 0px;
}

.lpbx-blog {

	h2 {
		font-weight: bold;
	}
}

.lpbx-search {
	text-align: center;
	@include clearfix;

	h2, h3 {
		font-weight: 700;
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 40px;
		background-image: url('../images/new-arrow.png');
		background-repeat: no-repeat;

		&.lpbx-s-home {
			margin-left: -26px;
			text-align: left;
			background: transparent;

			p {
				margin: 30px 0 0;
				font-size: ceil(($font-size-base * 1.5)); // ~24px
			}

			.lpbx-s-arrow {
				position: relative;

				&::after {
					position: absolute;
					display: block;
					content: ' ';
					width: 60px;
					height: 60px;
					background: url('../images/search-arrow.png');
					-ms-transform: rotate(180deg); /* IE 9 */
				    -webkit-transform: rotate(180deg); /* Safari */
				    transform: rotate(180deg);
				    top: -40px;
    				left: 315px;
				}
			}
		}

		&.lpbx-s-healthcare {
			background-position: 55px 155px;
		}

		&.lpbx-s-education {
			background-position: 55px 155px;
		}

		&.lpbx-s-government {
			background-position: 55px 155px;
		}
	}

	.banner-search-form {
		margin-top: 0;
	}
}

.lpbx-search-op {
	padding: 13px 0;
	width: 100%;
	float: left;
	clear: both;

	@media (min-width: $screen-md-min) {
		font-style: italic;
	}
}

.lpbx-home {

	.lpbx-find-co {
		background: darken($brand-primary, 20%);
	}
}

.lpbx-find-co {
	padding: 26px;
	background: #000;
	border-color: #000;
	@include border-radius(0);
	@include clearfix;

	h3 {
		margin-top: 0;
		color: #fff;
		font-weight: bold;
	}

	@media (min-width: $screen-sm-min) {
		padding: 26px 130px;
		margin: 0 -78px;
		@include border-radius(0);
	}

	@media (min-width: $screen-md-min) {
		padding: 26px;
		margin: -24px 0 26px;
		@include border-radius(3px);
	}
}

.lpbx-rank {
	margin-top: -24px;
	background: $gray-lightest;
	border-color: #fff;
	@include clearfix;
}

.lpbx-r-list {
	margin-top: 13px;
	width: 100%;

	li {
		margin-bottom: 13px;
		width: 100%;
		height: 72px;
		background: #fff;
        border-radius: 5px;
		@include clearfix;
	}
	
	.lpbx-rl-num {
		padding: 12px 0;
		text-align: center;
		line-height: 48px;
		font-size: ceil(($font-size-base * 1.5)); // ~24px
	}

	.lpbx-rl-img {
		text-align: center;
		height: 72px;
		line-height: 72px;

		img {
			max-width: 100%;
			max-height: 72px;

			@media (min-width: $screen-md-min) {
				width: auto;
				height: 72px;
			}
		}
	}

	.lpbx-rl-but {
		padding-top: 12px;
	}
}

.lpbx-alert {
	background: #fff;
	border-color: $gray-light;
	@include clearfix;

	img {
		width: auto;
		max-height: 80px;
	}

	p {
		margin: 0;
	}

	&.lpbxa-gov {

		a {
			color: $brand-government;
		}
	}
}

.lpbx-review {

	@media (min-width: $screen-md-min) {
		margin-top: -24px;
	}

	h2, p {
		color: #fff;
	}

	&.lpbx-rev-energy {
		background: darken($brand-energy, 20%);

		.sml-sb-button {
			color: $brand-energy;
		}
	}

	&.lpbx-rev-healthcare {
		background: darken($brand-healthcare, 20%);

		.sml-sb-button {
			color: $brand-healthcare;
		}
	}

	&.lpbx-rev-money {
		background: darken($brand-money, 20%);

		.sml-sb-button {
			color: $brand-money;
		}
	}

	&.lpbx-rev-education {
		background: darken($brand-education, 20%);

		.sml-sb-button {
			color: $brand-education;
		}
	}

	&.lpbx-rev-insurance {
		background: darken($brand-insurance, 20%);

		.sml-sb-button {
			color: $brand-insurance;
		}
	}

	&.lpbx-rev-phone {
		background: darken($brand-phone, 20%);

		.sml-sb-button {
			color: $brand-phone;
		}
	}

	&.lpbx-rev-phoneandinternet {
		background: darken($brand-phone, 20%);

		.sml-sb-button {
			color: $brand-phone;
		}
	}

	&.lpbx-rev-price {
		background: darken($brand-price, 20%);

		.sml-sb-button {
			color: $brand-price;
		}
	}

	&.lpbx-rev-government {
		background: darken($brand-government, 20%);

		.sml-sb-button {
			color: $brand-government;
		}
	}
}

// adding search icon into input

.sml-search-box {
	padding: 0;
	height: auto;
	position: relative;
	@include clearfix;

	@media (min-width: $screen-md-min) {
		margin-top: 12px;
	}
}

.sml-sb-input {
	padding: 6px 43px 6px 13px;
	border: 0;
	width: 100%;
}

.sml-sb-button {
	border: 0;
	background: none;
	position: absolute;
	right: 5px;
	top: 0;
	height: 31px;
    line-height: 31px;
	font-size: ceil(($font-size-base * 1.5)); // ~24px

	&.ssb-down {
		top: 6px;
	}
}


// new homepage section
.lp-upper {
	min-height: 420px;
}

.lp-lower {
	padding-top: 30px;

	h2, h3 {
		font-weight: bold;
	}

	p {
		margin-top: 20px;
		font-size: ceil(($font-size-base * 1.125)); // ~18px
	}

	.lpl-icon {
		height: 140px;
		background-size: 80%;
	}

	.lpli-price {
		background: url('../images/landing-banners/home/price-only-icon.png') 50% 20px no-repeat;
	}

	.lpli-more {
		background: url('../images/landing-banners/home/or-more-icon.png') 50% 20px no-repeat;
	}

	.lpl-primary {
		color: $brand-primary;
	}
}