.logo__telegraph {
    content: url($images_path + '/media/telegraph.png');
    &:hover {
        opacity: 0.7;
    }
    vertical-align: bottom;
    height: 30px;
    padding-top:3px;
}

.logo__which {
    content: url($images_path + 'logos/which-logo.jpg');
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    margin: 0 auto;
    vertical-align: bottom;
    height: 90px;
    padding-top:3px;
}

.logo__trustpilot {
    content: url($images_path + 'logos/trustpilot-logo.png');
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    margin: 0 auto;
    vertical-align: bottom;
    height: 85px;
    padding-top:3px;
}