.media-container {

}

.media {
	margin-top: 60px;
	padding-bottom: 60px;
    background: #fff;
    padding:60px auto;
	@include clearfix;

	.footer-large {
		font-size: 14px;
		margin-bottom: 24px;
		color: #888;
	}

	.reg-text-link {
		color: #999;
		display: block;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		padding: 15px 0;

		@media (min-width: $screen-md-min) {
			font-size: 23px;
			line-height: 22px;
			padding: 14px 0;
		}

		&:hover {
			color: #666;
		}
  	}

	ul li {
		text-align: center;
        margin: 10px auto;

		@media (max-width: $screen-xs-max) {
			margin-bottom: 13px;
		}

		img {
			max-width: 100%;
      padding: 20px;
		}
	}

	.media-text-link {
		display: block;
		padding-top: 10px;
		color: #000;
		font-size: 14px;
		line-height: 12px;

		&:hover {
			color: #000;
		}
	}

    &:first-child {
        margin-top: 60px;
        padding-top:20px;
    };
}

.media-ft,
.media-daily-express,
.media-bbc-radio,
.media-evening-standard,
.media-independent,
.media-daily-mail,
.media-startups,
.media-bdaily {
    img {
        opacity: 0.5;
    }

    img:hover {
        opacity: 1;
    }
}

.reg-text-link {
  color: #999;
  display: block;
  font-size: 23px;
  font-weight: 700;
  line-height: 22px;
  padding: 12px 0;
}
