b-pages {
    display: block;
}

.b-pages {
    &--animated {
        position: relative;

        .b-pages__page {
            display: block;

            opacity: 0;
            visibility: hidden;

            position: absolute;
            top: 0;
            left: 0;

            transition-property: transform, opacity, visibility;
            transition-duration: 420ms, 120ms, 420ms;
            transition-timing-function: $ease-out, linear;

            will-change: transform, opacity;

            &--before {
                transform: translateX(-100%);
            }

            &--after {
                transform: translateX(100%);
            }

            &--selected {
                transform: none;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__page {
        display: none;

        &--selected {
            display: block;
        }
    }
}
