.provider-overview {
	width: 100%;
	background: $gray-light;
	height: auto !important;
    padding: 70px 0 20px;

	@media (min-width: $screen-sm-min) {
		height: 100vh;
		padding: 140px 0 140px;
	}
}

.po {
	@include border-radius(10px);
	position: relative;
	background: #fff;
	padding: 0 25px;
	overflow: hidden;

	@media (min-width: $screen-sm-min) {
		padding: 0 25px 15px;
	}

	@media (min-width: $screen-md-min) {
		padding: 26px;
		height: 300px;
	}
}

.po-logo {
	position: relative;

	@media (min-width: $screen-md-min) {
		height: 248px;
	}

	.cbc-logo {
	    text-align: center;
		display: block;

		@media (min-width: $screen-md-min) {
		    position: absolute;
		    width: 100%;
		    top: 50%;
	    	transform: translateY(-50%);
		}
	}

	.sup-no-logo {
		font-size: 20px;
		font-weight: bold;
		margin: 20px 0 15px;
		text-align: center;

		@media (min-width: $screen-md-min) {
			margin: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
		}
	}

	.tbl-img {
		margin: 0 auto;
	    height: 100px;

	    @media (min-width: $screen-sm-min) {
			height: auto;
		}
	}
}

.po-bar-circle {
	margin-bottom: 26px;
	width: 100%;
	height: 209px;

	@media (min-width: $screen-sm-min) {
		height: 250px;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 0;
	}

	.rb-toptext, .tbc-ed-rate-title {
		font-weight: bold;
		margin-bottom: 10px;

		@media (min-width: $screen-md-min) {
			margin-bottom: 23px;
		}
	}

	// this affects the 'circle ratings' when they are on the individual supplier ratings pages
	.tbc-ed-rate {
		width: 110px;
		height: 110px;
		line-height:110px;
		font-size: 35px;
		margin-bottom: 10px;
	}
}

.po-circle-pop {

	.qp-circle {
		position: initial;
		color: $brand-primary;
		background: #fff;
		border: 3px solid $brand-primary;
		width: 40px;
		height: 40px;
		line-height: 33px;
		font-size: ceil(($font-size-base * 1.25)); // ~20px

		.qmark-circle-open {
			cursor: pointer;
			display: block;
		}

		.pop-sub {
			position: absolute;
			display: none;
			padding: 13px;
			text-align: left;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #fff;
			z-index: 10;
			border: none;
			color: #000;
			@include border-radius(3px);

			@media (min-width: $screen-sm-min) {
				border: 3px solid #ebf0f3;
				bottom: 0;
				top: 0;
			}

			@media (min-width: $screen-md-min) {
				border: 3px solid #ebf0f3;
				bottom: -13px;
				top: -13px;
			}

			.ps-text {
				height: auto;
				text-align: left;
				font-size: ceil(($font-size-base * 0.75)); // ~12px
				line-height: 14px;

				@media (min-width: $screen-sm-min) {
					height: 167px;
				}

				p a {
					text-decoration: underline;
				}

				.pst-title {
					text-align: center;
					font-weight: bold;
					font-size: 20px;
					padding: 10px 0 10px;

					@media (min-width: $screen-sm-min) {
						font-size: 12px;
						padding: 0;
					}
				}
			}

			.ps-close {
				margin-top: 15px;
				text-align: center;

				@media (min-width: $screen-sm-min) {
					margin-top: 30px;
				}

				.qmark-circle-close {
					cursor: pointer;
				}
			}
		}

		&:hover {
			cursor: default;
		}
	}
}

.po-pop-surround {
	position: initial;
	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.po-pop {

	.qmark-open {
		cursor: pointer;
	}

	.qmark {
		position: initial;
		width: 20px;
		height: 20px;
		line-height: 20px;

		a {
			color: #fff;
			text-decoration: underline;
		}

		.pop-main {
			position: absolute;
			display: none;
			width: 100%;
			height: 302px;
			padding: 26px;
			text-align: left;
			color: #fff;
			top: 0;
			left: 0;
			right: 0;
			background-color: rgba(#000, .8);
			z-index: 10;
		}

		&:hover {
			cursor: default;
		}
	}
}

.po-foot {
	padding: 26px;
	text-align: center;

	.regulatory {
		margin: 13px 0;
		padding: 0;
	}
}
