$img-size: 64px;
$img-size-large: 72px;

$link-width: 100px;
$link-width-large: 100px;

$link-margin-bottom: 24px;

.see-results-banner {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    // override .header-banner
    padding: 0;

    background-size: auto calc(100% - (80px * 2));
    background-position: top left;

    // TODO: BEM pls
    .bubble {
        top: initial;

        padding: 16px;

        &__title {
            font-size: 20px;
        }

        &__subtitle {
            font-size: 14px;
            margin: 0;
        }

        @media (min-width: 420px) {
            padding: 24px;
        }
    }
}

.bubble-container {
    // take maximum space
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // cancel out navbar height and add whitespace
    margin-top: $navbar-height;
    padding: 32px 16px;

    @media (min-width: 420px) {
        padding: 48px 24px;
    }
}

/*
sector nav layouts where viewport width >=
    0px:               2 columns of 3 rows
    ($link-width * 3): 3 columns of 2 rows
    ($link-width * 6): 1 row of 6 items
*/

.sector-nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background: black;

    // avoid getting too close to the bubble
    margin-top: 16px;
}

.product-categories {
    display: flex;
    justify-content: space-around;

    // wraps items to obtain the desired number of rows
    flex-wrap: wrap;
    width: 100%;

    margin-top: 24px;

    &__link {
        display: flex;
        flex: 0 0 33.3333%;

        @media (min-width: $screen-md-min) {
            flex: 0 0 10%; // 10 per row
        }

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: $link-width;
        margin-bottom: $link-margin-bottom;

        color: $gray;
        font-size: 12px;
        font-weight: bold;
        text-align: center;

        &:hover:not(&--active) {
            color: initial;

            .product-categories__img {
                // darken images
                opacity: 0.75;
            }
        }

        &--active {
            color: $pink;

            .product-categories__img {
                filter: none;
                opacity: 1;
            }

            &:hover {
                color: $pink;
            }
        }
    }

    &__img {
        // whitespace between text
        margin-bottom: 12px;

        width: $img-size;
        height: $img-size;

        // make icons grey
        filter: grayscale(100%) contrast(150%);
        opacity: 0.5;
    }
}

@media (min-width: 480px) {
    .bubble {
        // account for padding so bubble doesn't jump during resize
        width: 480px - (32px * 2);
    }
}

@media (min-width: ($link-width * 3)) {
    .product-categories {
        // keep icons aligned to top for consistency
        align-items: flex-start;

        // 3 links per row
        width: 100%;

        // subtract 1px so 4 items aren't allowed
        max-width: ($link-width * 4) - 1px;
    }
}

@media (min-width: ($link-width-large * 6)) {
    .see-results-banner {
        height: 100vh;

        background-size: cover;

        .bubble {
            top: initial;

            &__title {
                font-size: 28px;
            }

            &__subtitle {
                font-size: 18px;
                margin: 0;
            }
        }
    }

    .sector-nav-wrapper {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
    }

    .product-categories {
        // links spread across horizontally
        width: 100%;

        // to prevent excess space between items
        max-width: 1080px;

        padding-bottom: 24px;

        &__link {
            width: $link-width-large;
        }

        &__img {
            width: $img-size-large;
            height: $img-size-large;
        }
    }
}

@media (min-height: 640px) {
    // containers take equal space

    .sector-nav-wrapper {
        flex: 1;
    }

    .bubble-container {
        flex: 1;
    }
}
