$radcolour: null;

$step: 1; // step of % for created classes
$loops: 100;
$increment: (360 / $loops);
$half: round($loops / 2);
@for $i from 0 through $loops {
  .rad-prog-#{$i*$step} {
    @if $i < 21 {
    $radcolour: $brand-terrible;
  }
    @if $i > 20 and $i < 41 {
    $radcolour: $brand-poor;
  }
    @if $i > 40 and $i < 61 {
    $radcolour: $brand-average;
  }
    @if $i > 60 and $i < 81 {
    $radcolour: $brand-good;
  }
    @if $i > 80 and $i < 101 {
    $radcolour: $brand-outstanding;
  }
    .rad-offset {
    stroke-dashoffset: 629 / ( 360 / ( $increment * $i ) );
    }
    .rad-line {
    stroke: $radcolour;
    }
  }
}

.tbc-rating-outstanding .rad-ani .rad-line {
  stroke: $brand-outstanding !important;
}

.tbc-rating-good .rad-ani .rad-line {
  stroke: $brand-good !important;
}

.tbc-rating-average .rad-ani .rad-line {
  stroke: $brand-average !important;
}

.tbc-rating-poor .rad-ani .rad-line {
  stroke: $brand-poor !important;
}

.tbc-rating-terrible .rad-ani .rad-line {
  stroke: $brand-terrible !important;
}

/* Load animation */

@-webkit-keyframes
load { 0% {
stroke-dashoffset:0
}
}
@-moz-keyframes
load { 0% {
stroke-dashoffset:0
}
}
@keyframes
load { 0% {
stroke-dashoffset:0
}
}

.rating-bar-circle {
  width: 100%;
  text-align: center;
}

/* Container */

.rating-bar {
  margin: 0 auto;
  padding-top: 13px;
  min-height: 150px;
  position: relative;
  display: inline-block;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    height: 200px;
  }
}

.rating-bar-main {
  padding: 12px 24px;
  margin-bottom: 12px;
  border: 1px solid $gray-lighter;
  background: #fff;

  @media (min-width: $screen-sm-min) {
    padding: 12px 12px;
    margin-bottom: 0;
  }

  @media (min-width: $screen-md-min) {
    padding: 12px 24px;
  }
}

// TBC

.tbc-text {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background: $gray-lighter;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  @include border-radius(50%);

  @media (min-width: $screen-sm-min) {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 22px;
  }

  @media (min-width: $screen-md-min) {
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 24px;
  }
}

// Item

.rad-ani {
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: 100;
}

.rad-ani::after {
  margin: 0;
  padding: 0;
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 70px;
  font-size: 26px;
  letter-spacing: -1px;
  color: $gray;

  @media (min-width: $screen-sm-min) {
    height: 90px;
    line-height: 90px;
    font-size: 28px;
  }

  @media (min-width: $screen-md-min) {
    height: 110px;
    line-height: 110px;
    font-size: 30px;
  }
}

.rating-bar-small .rad-ani::after {
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: $gray;
}

.rating-bar-tariff .rad-ani::after {
  height: 90px;
  line-height: 90px;
  font-size: 32px;
  font-weight: bold;
  color: $gray;
}

.rating-bar svg {
  width: 68px;
  height: 68px;
  overflow: visible;

  @media (min-width: $screen-sm-min) {
    width: 88px;
    height: 88px;
  }

  @media (min-width: $screen-md-min) {
    width: 108px;
    height: 108px;
  }
}

.rating-bar-small svg {
  width: 59px;
  height: 59px;

  .tbc-text {
    width: 59px;
    height: 59px;
    line-height: 59px;
    font-size: $font-size-base;
  }
}

.rating-bar-small {

  .rb-bottext {
    font-size: ceil(($font-size-base * 0.65)); // ~11px
  }
}

.rating-bar-tariff svg {
  width: 89px;
  height: 89px;
}

.rating-bar svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.rating-bar svg:nth-child(2) path {
  fill: none;
  stroke-width: 24;
  stroke-dasharray: 629;
  stroke: rgba(#ddd, 1);
  -webkit-animation: load 2s;
  -moz-animation: load 2s;
  -o-animation: load 2s;
  animation: load 2s;
}

.rb-toptext {
  font-size: ceil(($font-size-base * 0.75)); // ~12px

  @media (min-width: $screen-sm-min) {
    height: auto;
  }
}

.rb-bottext {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: ceil(($font-size-base * 0.875)); // ~14px

  &.rb-bottext-Outstanding {
    color: $brand-outstanding;
  }

  &.rb-bottext-Good {
    color: $brand-good;
  }

  &.rb-bottext-Average {
    color: $brand-average;
  }

  &.rb-bottext-Poor {
    color: $brand-poor;
  }

  &.rb-bottext-Terrible {
    color: $brand-terrible;
  }
}
