.rankings-sidebar {
    &__header {
        margin: 0 0 16px;
    }

    &__container {
        margin-bottom: 20px;
    }

    &__single-rank {
        @include box-shadow(0px, 2px, 0px, 0px, $gray-light, 0.5);
        padding: 4px 0;
        transition: background 80ms linear;

        &:hover {
            background: #f7f7f7;
            transition: none;
        }
    }
}

.ss-rank-value--none {
    color: $gray-med;
}
