.regulatory {
  background:white;
	margin-top: 60px;
	padding-bottom: 60px;
	@include clearfix;

	.footer-large {
		font-size: 18px;
		margin-bottom: 24px;
		color: #333;
	}

	ul li {
		text-align: center;
    margin-bottom:25px;

		@media (max-width: $screen-xs-max) {
			margin-bottom: 13px;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.reg-text-link {
		color: #999;
		display: block;
		font-size: 23px;
		font-weight: 700;
		line-height: 22px;
		padding: 12px 0;

		&:hover {
			color: #000;
		}
  	}
  
  p {
    color: $gray-light;
  }
}