.reviewer {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url($images-path + "landing-banners/shared/shared-banner-background.jpg");
  height: 100vh;
  position: relative;

  @media (min-width: $screen-sm-min) {
    height: 80vh;
  }

  &__down-arrow {
      height: 72px;
      width: 72px;
      background: no-repeat center center scroll;
      background-image: url($images-path + "icons/down-arrow.png");
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto 2vh;
  }
}

.reviewer--home {
  background-image: url($images-path + "landing-banners/home/home-banner-background.jpg");
}

.reviewer--energy {
  background-image: url($images-path + "landing-banners/energy/energy-banner-background.jpg");
}

.reviewer--healthcare {
    background-image: url($images-path + "landing-banners/healthcare/healthcare-banner-background.jpg");
}

.reviewer--money {
    background-image: url($images-path + "landing-banners/money/money-banner-background.jpg");
}

.reviewer--education {
    background-image: url($images-path + "landing-banners/education/education-banner-background.jpg");
}

.reviewer--insurance {
    background-image: url($images-path + "landing-banners/insurance/insurance-banner-background.jpg");
}

.reviewer--government {
    background-image: url($images-path + "landing-banners/government/government-banner-background.jpg");
}

.reviewer--phoneandinternet {
    background-image: url($images-path + "landing-banners/phone/phone-banner-background.jpg");
}

.reviewer--blog {
    background-image: url($images-path + "landing-banners/healthcare/healthcare-banner-background.jpg");
}

.reviewer--haveyoursay, .reviewer--forcompanies {
//    background-image: url($images-path + "landing-banners/shared/shared-banner-background.jpg");
}

.reviewer__list-item {
  font-size: 25px;
  font-style:italic;
}

.reviewer__bubble-container {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;
    z-index: 250;

    @media (min-width: $screen-sm-min) {
      width: 746px;
    }

    @media (min-width: $screen-md-min) {
      width: 966px;
    }

    @media (min-width: $screen-lg-min) {
      width: 1166px;
    }
}

.reviewer__bubble {
  display:none;
  padding: 20px;
  background: #fff;
  @include border-radius(10px);
  @include box-shadow(0, 1px, 3px, 0, #000, 0.15);
  color: #1d1d1b;
  position: relative;
  max-height: 75vh;

  &--visible {
    display:block;
  }

  @media (min-width: $screen-xs-min) {
    padding: 30px;
  }

  @media (min-width: $screen-md-min) {
    margin: 0;
  }


  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;

    bottom: -40px;
    left: 60px;
    border-width: 41px 41px 0 0;
    border-radius: 0 0 0 4px;
    @media (min-width: $screen-xs-min) {
      bottom: -44px;
      left: 60px;
      border-width: 45px 45px 0 0;
    }
  }

  .po-pop {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .star-rating, .star-list {
    float: none;
    margin-top: 10px;
  }

  .star-rating>label::before, .star-list>li::before {
    font-size: 40px !important;
    @media (min-width: $screen-xs-min) {
      font-size: 50px !important;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 60px !important;
    }
  }
}

.reviewer__bubble--short {
  min-height: 0;
}

.reviewer__title {
  font-family: $font-family-crete-round;
  font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
  font-style: italic;
  font-size: 28px;
  margin: 0 0 5px;
}

.reviewer__title--small {
  font-size: 43px;
  @media(min-width: $screen-sm-min) {
    font-size: 60px;
  }
}

.reviewer__title--smaller {
  font-size: 38px;
  @media(min-width: $screen-sm-min) {
    font-size: 60px;
  }
}

.reviewer__caption {
  font-family: $font-family-crete-round;
  font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
  font-style: italic;
  font-size: 18px;
  margin: 0 0 11px;
  color: $brand-accent;
}

.reviewer__caption--short {
  position:relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.reviewer__image {
  display:none;
//  width: 300px;
//  margin-right: 20px;
//  margin-top: 10px;
//  float: left;
}

.reviewer__image--home {
  display:none;
//  content: url('../images/landing-banners/home/home-bubble-image.png');
}

.reviewer__search-box {
  position: relative;
}

.reviewer__search-input {
  padding: 15px;
  border-radius: 10px;
  border: solid 2px $gray-light;
  width: 100%;
  -webkit-appearance: none;
}

.reviewer__search-button {
  border: 0;
  padding: 12px 14px 10px;
  font-size: 15px;
  line-height: 24px;
  background: none;
  position: absolute;
  right: 5px;
  top: 4px;
  color: $gray;

  @media (min-width: $screen-xs-min) {
    font-size: 25px;
    right: 10px;
    top: 5px;
  }
}

.reviewer__organisation-name {
  color: $brand-accent;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.reviewer__organisation-name--semi {
  opacity: 0.7;
}

.reviewer__record-button {
  background:$brand-accent;
  width: 200px;
  float: left;
  margin-bottom:10px;
  margin-right:10px;
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}

.reviewer__record-container {
  min-height: 0;
  font-size: 18px;
  font-family: $font-family-crete-round;
  font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
  font-style: italic;
  padding: 10px;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    min-height: 200px;
  }

  h4 {
    color:white!important;
    display: inline;

    @media (min-width: $screen-sm-min) {
      display: block;
    }
  }
}

.modal-content, .modal-dialog {
  background: transparent;
  box-shadow: none;
  border: none;
}

.reviewer__review-text {
  border: $gray-lighter solid 6px;
  @include border-radius(5px);
  padding: 13px;
  resize: none;
  font-size: 18px;
  font-family: $font-family-crete-round;
  font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
  font-style: italic;
  min-height: 150px;
  line-height: 26px;
  width: calc(100% - 215px);


  @media (max-width: $screen-xs-max) {
    width: 100%;
  }

  @media (min-width: $screen-sm-min) {
    font-size: 22px;
    min-height: 200px;
  }

  &:focus, &.ng-dirty {
    color: #000;
  }
}

.reviewer__star-display {
  @include clearfix;

  .star-display__list {
    width: auto;
    padding-left:0px;
  	.star-item {
  		list-style: none;
      display:inline;
  	  padding: 0;
  	  margin: 0;
  	  overflow: hidden;
  	  white-space:  nowrap;
  	  font-size: 200%;
  	  line-height: 1;
  	  color: $gray-light;

  		&::before {
  			content: '★';
  			font-size: 38px;
        @media (min-width: $screen-xs-min) {
          font-size: 50px;
        }
        @media (min-width: $screen-sm-min) {
          font-size: 60px;
        }
  		}
    }
  }

	.star-display__list--1 {
		.si1 {
			color: $brand-terrible;
		}
	}

	.star-display__list--2 {
		.si1, .si2 {
			color: $brand-poor;
		}
	}

	.star-display__list--3 {
		.si1, .si2, .si3 {
			color: $brand-average;
		}
	}

	.star-display__list--4 {
		.si1, .si2, .si3, .si4 {
			color: $brand-good;
		}
	}

	.star-display__list--5 {
		.si1, .si2, .si3, .si4, .si5 {
			color: $brand-outstanding;
		}
	}
}

.reviewer__star-display--semi {
  opacity: 0.7;
}

.reviewer__input-review-container {
  margin-top: 10px;
}

.reviewer__review-summary-text {
  width: 100%;
  font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
  font-size: 20px;
  font-family: $font-family-crete-round;
  font-style: italic;
  line-height: 24px;
  margin-top: 0;
  overflow: auto;

  @media (min-width: $screen-sm-min) {
    font-size: 26px;
    line-height: 30px;
  }
}

.reviewer__review-summary-text--semi {
  opacity: 0.7;
}
.reviewer__certify {
  position: relative;
  margin-top: 20px;

  label span, input:checked + label span {
    width: 50px;
    height: 50px;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
  }
}

.reviewer__thanks-subtitle {
  font-family: $font-family-crete-round;
  font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
  font-style: italic;
  font-size: 20px;
  line-height:24px;
  margin:0px;
  margin-top: 20px;
  color: #000;
  margin-bottom: 20px;
  @media (min-width: $screen-xs-min) {
    font-size: 26px;
    line-height:30px;
  }
}

.reviewer__thanks-switch {
  display: none;

  @media (min-width: $screen-md-min) {
    display: inline-block;
    margin-right:20px;
  }
}

.reviewer__thanks-switch-btn {
  display:inline-block;
  text-align: center;
  background-color: $brand-home;
  border: solid 1px rgba(255,255,255,0.3);
  color: #fff;
  @include border-radius(5px);
  padding: 12px 30px;

  &:active, &:hover, &:focus {
    color: #fff;
    text-decoration: none;
    background-color: $brand-primary;
  }
}

.reviewer__thanks-switch-btn--energy {
  background-color: $brand-energy;
}

.reviewer__thanks-switch-btn--healthcare {
  background-color: $brand-healthcare;
}

.reviewer__thanks-switch-btn--money {
  background-color: $brand-money;
}

.reviewer__thanks-switch-btn--education {
  background-color: $brand-education;
}

.reviewer__thanks-switch-btn--insurance {
  background-color: $brand-insurance;
}

.reviewer__thanks-switch-btn--phoneandinternet {
  background-color: $brand-phone;
}

.reviewer__thanks-switch-btn--government {
  background-color: $brand-government;
}

.reviewer__thanks-organisation-name {
  display: inline-block;
  background-color: $brand-accent;
  border: solid 1px rgba(255,255,255,0.3);
  color: #fff;
  @include border-radius(5px);
  padding: 10px 30px;
  font-size: 20px;

  &:active, &:hover, &:focus {
    color: #fff;
    text-decoration: none;
    background-color: $brand-primary;
  }
}

.reviewer__thanks-share {
  display: inline-block;
}
.reviewer__thanks-share-btn {
  font-size: 28px;
  @include border-radius(5px);
  padding: 4px 14px 2px;
  margin-right: 10px;
}

.reviewer__progress-buttons-container {
  position: absolute;
  right: 0;
  bottom: -57px;
  z-index:2;
}

.reviewer__progress-button {
  color: #fff;
  background-color: rgba(0,0,0, 0.3);
  @include border-radius(5px);
  line-height:42px;
  border:none;

  &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
//    color: #fff;
  }
}

.reviewer__progress-button-next {
  display: none;
  padding-left:20px;
  background-color: $brand-accent;

  &:hover, &:focus {
    background-color: darken($brand-accent, 6.5%);
  }
}

.reviewer__progress-button-next--disabled {
  display: inline-block;
  opacity: 0.6;

  &:hover, &:focus {
    background-color: $brand-accent;
  }
}

.reviewer__progress-button-next--enabled {
  background-color: $brand-accent;
  cursor:pointer;
  opacity: 1;

  &:hover, &:focus {
    background-color: darken($brand-accent, 6.5%);
  }
}

.reviewer__progress-button-prev--visible {
  display: inline-block;
  padding: 0 15px;
  cursor:pointer;
  margin-right: 10px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.reviewer__progress-button-submit--disabled {
  padding: 2px 25px 3px;
  display: inline-block;
  background-color: $brand-accent;
  opacity: 0.6;

  &:hover, &:focus {
    opacity: 1;
  }
}

.reviewer__progress-button-submit--enabled {
  background-color: $brand-accent;
  border: solid 1px transparent;
  cursor:pointer;
  &:hover, &:focus {
    background-color: darken($brand-accent, 6.5%);
  }
}

.fa-chevron-right.reviewer__button-icon {
  margin: 0 5px 0 9px;
}

// Animation
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
}

.animated--inline {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}

// Overlay
.overlay {
  background: #000;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.3s, opacity .3s, bottom 0s .3s;
  z-index: -10;

  &.open {
    opacity: .6;
    z-index: 200;
  }

  &.closed {
    opacity: 0;
    z-index: -10;
  }
}
