.reviewer2 {
    position: relative;

    width: 100%;
    height: 320px;

    &__nav {
        position: absolute;
        top: calc(100% - 64px);
        left: 0;
        z-index: 2;

        display: flex;
        justify-content: flex-end;
        width: 100%;

        &-prev {
            margin-right: 16px;
        }

        &-first,
        &-last {
            visibility: hidden;
        }
    }

    &__pages {
        width: 100%;
    }

    &__list-item {
        font-size: 25px;
        font-style: italic;
    }

    &__bubble {
        display:none;
        padding: 20px;
        background: #fff;
        @include border-radius(10px);
        @include box-shadow(0, 1px, 3px, 0, #000, 0.15);
        color: #1d1d1b;
        position: relative;
        max-height: 75vh;

        &--visible {
            display:block;
        }

        @media (min-width: $screen-xs-min) {
            padding: 30px;
        }

        @media (min-width: $screen-md-min) {
            margin: 0;
        }


        &::after {
            content: "";
            position: absolute;
            border-style: solid;
            border-color: #fff transparent;
            display: block;
            width: 0;

            bottom: -40px;
            left: 60px;
            border-width: 41px 41px 0 0;
            border-radius: 0 0 0 4px;
            @media (min-width: $screen-xs-min) {
                bottom: -44px;
                left: 60px;
                border-width: 45px 45px 0 0;
            }
        }

        .po-pop {
            position: absolute;
            right: 15px;
            top: 15px;
        }

        .star-rating, .star-list {
            float: none;
            margin-top: 10px;
        }

        .star-rating>label::before, .star-list>li::before {
            font-size: 40px !important;
            @media (min-width: $screen-xs-min) {
                font-size: 50px !important;
            }
            @media (min-width: $screen-sm-min) {
                font-size: 60px !important;
            }
        }
    }

    &__search-box {
        margin-bottom: 8px;
    }

    &__caption--short {
        position:relative;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__search-box {
        position: relative;
    }

    &__search-input {
        padding: 15px;
        border-radius: 10px;
        border: solid 2px $gray-light;
        width: 100%;
        -webkit-appearance: none;
    }

    &__search-button {
        border: 0;
        padding: 12px 14px 10px;
        font-size: 15px;
        line-height: 24px;
        background: none;
        position: absolute;
        right: 5px;
        top: 4px;
        color: $gray;

        @media (min-width: $screen-xs-min) {
            font-size: 25px;
            right: 10px;
            top: 5px;
        }
    }

    &__organisation-name {
        color: $brand-accent;
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }

    &__organisation-name--semi {
        opacity: 0.7;
    }

    &__record-button {
        background:$brand-accent;
        width: 200px;
        float: left;
        margin-bottom:10px;
        margin-right:10px;
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }

    &__record-container {
        min-height: 0;
        font-size: 18px;
        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        padding: 10px;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            min-height: 200px;
        }

        h4 {
            color:white!important;
            display: inline;

            @media (min-width: $screen-sm-min) {
                display: block;
            }
        }
    }

    .modal-content, .modal-dialog {
        background: transparent;
        box-shadow: none;
        border: none;
    }

    &__review-text {
        border: $gray-lighter solid 6px;
        @include border-radius(5px);
        padding: 13px;
        resize: none;
        font-size: 18px;
        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        min-height: 150px;
        line-height: 26px;
        width: calc(100% - 215px);


        @media (max-width: $screen-xs-max) {
            width: 100%;
        }

        @media (min-width: $screen-sm-min) {
            font-size: 22px;
            min-height: 200px;
        }

        &:focus, &.ng-dirty {
            color: #000;
        }
    }

    &__star-display {
        @include clearfix;

        .star-display__list {
            width: auto;
            padding-left:0px;
            .star-item {
                list-style: none;
                display:inline;
                padding: 0;
                margin: 0;
                overflow: hidden;
                white-space:  nowrap;
                font-size: 200%;
                line-height: 1;
                color: $gray-light;

                &::before {
                    content: '★';
                    font-size: 38px;
                    @media (min-width: $screen-xs-min) {
                        font-size: 50px;
                    }
                    @media (min-width: $screen-sm-min) {
                        font-size: 60px;
                    }
                }
            }
        }

        .star-display__list--1 {
            .si1 {
                color: $brand-terrible;
            }
        }

        .star-display__list--2 {
            .si1, .si2 {
                color: $brand-poor;
            }
        }

        .star-display__list--3 {
            .si1, .si2, .si3 {
                color: $brand-average;
            }
        }

        .star-display__list--4 {
            .si1, .si2, .si3, .si4 {
                color: $brand-good;
            }
        }

        .star-display__list--5 {
            .si1, .si2, .si3, .si4, .si5 {
                color: $brand-outstanding;
            }
        }
    }

    &__star-display--semi {
        opacity: 0.7;
    }

    &__input-review-container {
        margin-top: 10px;
    }

    &__review-summary-text {
        width: 100%;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-size: 20px;
        font-family: $font-family-crete-round;
        font-style: italic;
        line-height: 24px;
        margin-top: 0;
        overflow: auto;

        @media (min-width: $screen-sm-min) {
            font-size: 26px;
            line-height: 30px;
        }
    }

    &__review-summary-text--semi {
        opacity: 0.7;
    }
    &__certify {
        position: relative;
        margin-top: 20px;

        label span, input:checked + label span {
            width: 50px;
            height: 50px;
            position:absolute;
            margin:auto;
            top:0;
            bottom:0;
        }
    }

    &__thanks-subtitle {
        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        font-size: 20px;
        line-height:24px;
        margin:0px;
        margin-top: 20px;
        color: #000;
        margin-bottom: 20px;
        @media (min-width: $screen-xs-min) {
            font-size: 26px;
            line-height:30px;
        }
    }

    &__thanks-switch {
        display: none;

        @media (min-width: $screen-md-min) {
            display: inline-block;
            margin-right:20px;
        }
    }

    &__thanks-switch-btn {
        display:inline-block;
        text-align: center;
        background-color: $brand-home;
        border: solid 1px rgba(255,255,255,0.3);
        color: #fff;
        @include border-radius(5px);
        padding: 12px 30px;

        &:active, &:hover, &:focus {
            color: #fff;
            text-decoration: none;
            background-color: $brand-primary;
        }
    }

    &__thanks-switch-btn--energy {
        background-color: $brand-energy;
    }

    &__thanks-switch-btn--healthcare {
        background-color: $brand-healthcare;
    }

    &__thanks-switch-btn--money {
        background-color: $brand-money;
    }

    &__thanks-switch-btn--education {
        background-color: $brand-education;
    }

    &__thanks-switch-btn--insurance {
        background-color: $brand-insurance;
    }

    &__thanks-switch-btn--phoneandinternet {
        background-color: $brand-phone;
    }

    &__thanks-switch-btn--government {
        background-color: $brand-government;
    }

    &__thanks-organisation-name {
        display: inline-block;
        background-color: $brand-accent;
        border: solid 1px rgba(255,255,255,0.3);
        color: #fff;
        @include border-radius(5px);
        padding: 10px 30px;
        font-size: 20px;

        &:active, &:hover, &:focus {
            color: #fff;
            text-decoration: none;
            background-color: $brand-primary;
        }
    }

    &__thanks-share {
        display: inline-block;
    }
    &__thanks-share-btn {
        font-size: 28px;
        @include border-radius(5px);
        padding: 4px 14px 2px;
        margin-right: 10px;
    }

    &__progress-buttons-container {
        position: absolute;
        right: 0;
        bottom: -57px;
        z-index:2;
    }

    &__progress-button {
        color: #fff;
        background-color: rgba(0,0,0, 0.3);
        @include border-radius(5px);
        line-height:42px;
        border:none;

        &:hover, &:focus {
            background-color: rgba(255, 255, 255, 0.8);
            text-decoration: none;
            //    color: #fff;
        }
    }

    &__progress-button-next {
        display: none;
        padding-left:20px;
        background-color: $brand-accent;

        &:hover, &:focus {
            background-color: darken($brand-accent, 6.5%);
        }
    }

    &__progress-button-next--disabled {
        display: inline-block;
        opacity: 0.6;

        &:hover, &:focus {
            background-color: $brand-accent;
        }
    }

    &__progress-button-next--enabled {
        background-color: $brand-accent;
        cursor:pointer;
        opacity: 1;

        &:hover, &:focus {
            background-color: darken($brand-accent, 6.5%);
        }
    }

    &__progress-button-prev--visible {
        display: inline-block;
        padding: 0 15px;
        cursor:pointer;
        margin-right: 10px;
        background-color: #fff;
        color: #000;
        text-align: center;
    }

    &__progress-button-submit--disabled {
        padding: 2px 25px 3px;
        display: inline-block;
        background-color: $brand-accent;
        opacity: 0.6;

        &:hover, &:focus {
            opacity: 1;
        }
    }

    &__progress-button-submit--enabled {
        background-color: $brand-accent;
        border: solid 1px transparent;
        cursor:pointer;
        &:hover, &:focus {
            background-color: darken($brand-accent, 6.5%);
        }
    }

    .fa-chevron-right.__button-icon {
        margin: 0 5px 0 9px;
    }

    // Animation
    .animated {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: block;
    }

    .animated--inline {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: inline-block;
    }

    // Overlay
    .overlay {
        background: #000;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity 0.3s, opacity .3s, bottom 0s .3s;
        z-index: -10;

        &.open {
            opacity: .6;
            z-index: 200;
        }

        &.closed {
            opacity: 0;
            z-index: -10;
        }
    }
}
