.search-area {
    
    &__search-box {
        position: relative;
    }
    
    &__search-input {
        padding: 15px;
        font-size: 15px;
        border-radius: 10px;
        border: solid 2px $gray-light;
        width: 100%;
        -webkit-appearance: none;

        @media (min-width: $screen-md-min) {
          font-size: 20px;
        }
    }
    
    &__search-button {
        border: 0;
        padding: 12px 14px 10px;
        font-size: 15px;
        line-height: 24px;
        background: none;
        position: absolute;
        right: 5px;
        top: 4px;  
        color: $gray;

        @media (min-width: $screen-sm-min) {
            font-size: 20px;
        }
        
        @media (min-width: $screen-md-min) {
            right: 10px;
            top: 5px;
        }
    }
}