// todo refactor and merge with skimmed review
.src-bubble {
	background: #fff;
  @include border-radius(10px);
  padding: 35px 25px; // currently keep margin top and bottom at 35 or the margin tail will appear over the top
  position: relative;

  @include box-shadow();
  border: $boxes-border;

  &::after {
      content: "";
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;
      bottom: -59px;
      left: 0px;
      border-width: 60px 60px 0 0;
      border-radius: 0 0 0 6px;
      border-color: transparent #ffffff transparent transparent;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: -1px 5px 1px -2px rgba(0,0,0,0.4);
  }

  .src-title {
    h3 {
      font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
      margin: 0 0 25px;
      font-style: italic;
      font-weight: 700;
      font-size:28px;
    }
  }
  .src-text {
    font-style: italic;
    font-weight:bold;
    margin-bottom:25px;
  }
}

.srcs-i::before {
    font-size:30px!important;

    @media(min-width: $screen-sm-min) {
      font-size:25px!important;
    }

    @media(min-width: $screen-md-min) {
      font-size:30px!important;
    }
}

.src-f-helpful {

  span{
    padding:10px;
    color:black;
    width: 38px;
    height: 38px;
    @include border-radius(50%);
    border:solid 2px #000;
  }

  a {
    color: black;

    &:hover {
      text-decoration:none;
      cursor:pointer;
    }
  }

  p {
    display:inline;
    margin-left:15px;
  }

}
