.skimmed-review {
    //    @include clearfix;
    background: #fff;
    @include border-radius(10px);
    color: #1d1d1b;
    position: relative;

    @include box-shadow();
    border: $boxes-border;

    padding: 25px;
    margin-bottom: 60px;
    min-height:350px;

    @media (min-width: $screen-lg-min) {
      min-height:397px;
    }

    &:nth-of-type(1) {
        margin-top: 0;
    }

    // this is the 'tail'
    &::after {
        content: "";
        position: absolute;
        bottom: -43px;
        border-radius: 0 0 0 3px;
        border: 22px solid;
        border-color: transparent transparent #ffffff transparent;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        box-shadow: -1px 5px 1px -2px rgba(0,0,0,0.4);
    }

    &--only-video {
        min-height: 200px;
        height: 266px;
    }
}


.skimmed-review__title {
    height: 14px;
    overflow: hidden;
    max-height: 44px;

    margin: 0px 0 0;
    font-size: $font-size-base;
    max-width: 200px;
    height: 18px;
    font-weight: bold;

    a {
        color: $brand-accent;
    }

    @media (min-width: $screen-sm-min) {
        height: 18px;
    }

    @media (min-width: $screen-md-min) {
        margin: 0;
    }
}


.skimmed-review__star-display {
    @include clearfix;

    .star-display__list {
        width: auto;
        padding-left:0px;
        margin:0;
        .star-item {
            list-style: none;
            display:inline;
            padding: 0;
            margin: 0;
            overflow: hidden;
            white-space:  nowrap;
            font-size: 200%;
            line-height: 1;
            color: $gray-light;

            &::before {
                content: '★';
                font-size: 20px;
                letter-spacing: -5px;
                @media (min-width: $screen-xs-min) {
                    //          font-size: 50px;
                }
                @media (min-width: $screen-sm-min) {
                    //          font-size: 60px;
                }
            }
        }
    }

    .star-display__list--1 {
        .si1 {
            color: $brand-terrible;
        }
    }

    .star-display__list--2 {
        .si1, .si2 {
            color: $brand-poor;
        }
    }

    .star-display__list--3 {
        .si1, .si2, .si3 {
            color: $brand-average;
        }
    }

    .star-display__list--4 {
        .si1, .si2, .si3, .si4 {
            color: $brand-good;
        }
    }

    .star-display__list--5 {
        .si1, .si2, .si3, .si4, .si5 {
            color: $brand-outstanding;
        }
    }
}


.skimmed-review__text {
    padding-top: 4px;
    border: none 0;
    overflow: hidden;
    font-family: $font-family-crete-round;
    font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
    font-style: italic;
    margin: 10px 0;
    font-size: 20px;
    line-height: 21px;
    margin: 0;

    color: black!important;



    @media (min-width: $screen-xs-min) {
        font-size: 18px;
    }

    @media (min-width: $screen-md-min) {
        font-size: 15px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 19px;
    }
}

.skimmed-review__text--link {
    font-weight: bold;
    color: $brand-accent;
}

.skimmed-review__videogular-container {
    width: 100%;
    margin: 10px auto 65px;
    overflow: hidden;
    background-color: transparent;
    max-width: 100%;

    &--only-video {
        margin: 0;
    }

    video {
        max-width: 100%;
    }
}

.skimmed-review__video-overlay .overlayPlayContainer {
    font-size: 60px;
    @media (min-width: $screen-xs-min) {
        font-size: 70px;
    }

    .play::before {
        color: white;
        font-family: "FontAwesome";
        content: "\f01d";
    }
}
