.speech-bubble {
    padding:20px;
    background: #fff;
    @include border-radius(10px);
    @include box-shadow(0px, 1px, 4px, 0px, $gray, 0.5);
    position: relative;
    margin: 0 13px;

    @media (min-width: $screen-xs-min) {
      width: 70%;
      margin: 0 auto;
    }

    @media (min-width: $screen-sm-min) {
      width: 50%;
      margin: 0 auto;
    }

    // used on investors page where there is more text
    &--full-width {
        top: 10%; //

        @media (min-width: $screen-xs-min) {
            top: 15%;
            margin: 0 auto;
        }

        @media (min-width: $screen-sm-min) {
            top: 15%;
            width: 100%;
            margin: 0 auto;
        }
    }

    &::after {
      content: "";
      position: absolute;
      border-style: solid;
      border-color: #fff transparent;
      display: block;
      width: 0;

      bottom: -40px;
      left: 60px;
      border-width: 41px 41px 0 0;
      border-radius: 0 0 0 6px;
      @media (min-width: $screen-xs-min) {
        bottom: -60px;
        left: 100px;
        border-width: 61px 61px 0 0;
      }
  }

  &--nospeech {
    &::after {
      content: none !important;
    }
  }

  &--small {
    padding: 15px;
  }

  &__title {
      font-family: $font-family-crete-round;
      font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
      font-style: italic;
      font-size: 29px;
      margin: 0 auto 10px;

      &--large {
          font-size: 40px;
      }

      &--med {
          font-size: 28px; //
      }
  }

  &__subtitle {
      font-family: $font-family-crete-round;
      font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
      font-style: italic;
      color: $brand-accent;
      font-size: 18px;
  }

  &__button {
      color: #fff;
      background: $brand-accent;
      text-align: center;
      display: block;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;

      &:hover, &:focus {
          color: #fff;
          background: darken($brand-accent, 5%);
      }
  }

  &__record-video-icon {
      display: inline-block;
      background-size: cover;
      background-image: url("/build/images/opinion/icons/record-video-small.png");
      width: 35px;
      height: 35px;
      vertical-align: middle;
      margin-right: 10px;
      &:hover, &:focus {
          color: $brand-primary;

      }
  }

  &__record-video-button {
      display:block;
      color: #fff;
      font-size: 14px;
      padding: 10px;
      background: $brand-accent;
      border: none;
      border-radius: 5px;
      width: 100%;
  }

  &__play-video-icon {
      display: inline-block;
      background-size: cover;
      background-image: url("/build/images/icons/play-video.png");
      margin: -2px 5px 0 0;
      width: 35px;
      height: 35px;
      vertical-align: middle;
  }

  &__play-video-button {
      display:block;
      font-family: $font-family-crete-round;
      font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
      font-style: italic;
      color: $brand-accent;
      font-size: 22px;
      margin: 10px auto 0;
      padding: 20px 5px;
      background: none;
      border: none;

      &:hover, &:focus {
          color: darken($brand-accent, 10%);
      }

      &:active {
          color: darken($brand-accent, 10%);
      }
  }
}

.bubble {
  @include border-radius(10px);
  @include box-shadow(0px, 1px, 4px, 0px, $gray, 0.5);

  background: #fff;
  padding: 30px;
  position: relative;
  top: 50%;
  width: 100%;

  &__title {
    font-family: $font-family-crete-round;
    font-size: 28px;
    margin: 0 0 16px;

    &--large {
        font-size: 40px;
    }
  }

  &__subtitle {
    font-family: $font-family-crete-round;
    color: $brand-accent;
    font-size: 18px;
  }
}

.bubble::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;

  bottom: -40px;
  left: 60px;
  border-width: 41px 41px 0 0;
  border-radius: 0 0 0 6px;
}
