.survey {

    &__vs {
        display: block;
        position: relative;
        margin: 20px auto 50px auto;

        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        font-size: $font-size-big;
        text-align: center;

        @media (min-width: $screen-md-min) {
            margin: 0;
            font-size: $font-size-h1;
            position: absolute;
            top: 33%;
            right: 0;
        }
    }

    &__opinions-link {
        $wid: 60px;
        $hei: 60px;
        @include image-2x($images-path + "opinion/icons/Research-pink", "png", $wid, $hei);
        width: $wid;
        height: $hei;

        margin: 20px auto 10px auto;
    }

    &__percentile {
        display: block;
        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        font-size: $font-size-h1;
        text-align: center;
    }

    &__info-text {
        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        text-align: center;
    }


    &__leave-opinions {
        display: block;
        color: $pink;
        text-align: center;
    }
}


.survey__container {
    padding: 20px; 
}

.survey__title {
    font-family: $font-family-crete-round;
    font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
    font-style: italic;
    margin: 60px auto 15px;
    text-align: center;
    font-size: 32px;
}

.survey__subtitle {
    font-family: $font-family-crete-round;
    font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
    font-style: italic;
    text-align: center;
    font-size: 24px;
    
    a {
        color: $pink;
        &:hover {
            color: darken($brand-accent, 10%);
        }
    }
}

.survey__frame-container {
    position: relative;
    padding-bottom: 665px;
    margin-bottom: 30px;
    height: 0;
    overflow: hidden;
}

.survey__frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
//    display: block;
//    width: 100vw;
//    height: 100vh;
//    max-width: 100%;
//    margin: 0;
//    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

