.profile-list {
	margin: 0 12px 24px 12px;
	height: 80px;

	@media (min-width: $screen-sm-min) {
		height: 220px;
	}
}

.swiper-container-vertical {
	height: 347px;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.ss-ranking {
  .swiper-button-next, .swiper-button-prev {
      background: none;
      font-size: 28px;
      left: 50%;
      top: auto;
      margin: 0;
      bottom: -35px;
      height: auto;
      transform: translateX(-50%);
      width: 27px;
  }

  .swiper-button-prev {
      bottom: auto;
      top: -35px;
  }
}

.rankings-info {
  margin-top: 50px;
}

.ssi-main {
  text-align: center;

  label{
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
    opacity:0.6;
  }
  span {
    float:left;
    display: block;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background: url('../images/icons/information-black.png') 0px center no-repeat;
    background-size: cover;
    z-index:0;
  }
  
  &:hover {
		cursor: default;

    .ssi-pop {
      display:block;
      
    }
  }
}

.ssi-pop {
  display:none;
  background:#fff;
  @include border-radius;
  border: 1px solid #999;
  padding: 20px;
  margin-top: 5px;

  label{
    font-weight: normal;
    color: #000;
    font-size: 20px;
  }
  
  p {
    font-size: 14px;

    &:last-of-type {
      margin: 0;
    }
  }
}

.about-team {

	.swiper-button-next {
		top: 50%;
	    right: 5%;
	}

	.swiper-button-prev {
		top: 50%;
	    left: 5%;
	}
}

.swiper-slide {
    text-align: center;
    background: #fff;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.ph-swipe-content {
	margin: 0 auto;
	width: 36px;

	@media (min-width: $screen-sm-min) {
		width: 90px;
	}

	@media (min-width: $screen-md-min) {
		width: 140px;
	}
}

.ph-swipe-icon {
	margin: 0 auto;
	width: 36px;
	height: 36px;
	border: 1px solid $gray-lighter;
	text-align: center;
	line-height: 34px;
	@include border-radius(50%);

	img {
		@include border-radius(50%);
		width: 30px;
		height: 30px;
	}

	@media (min-width: $screen-sm-min) {
		width: 90px;
		height: 90px;
		border: 2px solid $gray-lighter;
		line-height: 86px;

		img {
			@include border-radius(50%);
			width: 78px;
			height: 78px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 140px;
		height: 140px;
		border: 4px solid $gray-lighter;
		line-height: 132px;

		img {
			@include border-radius(50%);
			width: 120px;
			height: 120px;
		}
	}
}

.ph-swipe-text {

	h5 {
		font-weight: bold;
		margin-bottom: 10px;
	}

	p {
		font-size: floor(($font-size-base * 0.9)); // ~12px
	}
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: .5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}