// tariff listings

// just to say I hate this file and I wish I could spend hours refactoring it so it BEMd and so the class names make
// sense and so it doesn't contain so much deep nesting *angry face*

.tariff-ov {
	margin-top: 24px;
	padding-bottom: 24px;
	width: 100%;
	@include clearfix;
}

.tariff-table-responsive-energy {

	@media (max-width: $screen-sm-max) {

		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			border: 1px solid #ccc;
		}

		td {
			border: none;
		}

		td::before {
			display: block;
			margin-bottom: 12px;
			width: 100%;
			font-weight: bold;
			line-height: 24px;
			text-align: center;
		}

		td:nth-of-type(2)::before {
			content: "Supplier information";
		}

		td:nth-of-type(3)::before {
			content: "Supplier rating";
		}

		td:nth-of-type(4)::before {
			content: "Fuel mix";
		}

		// td:nth-of-type(5)::before {
		// 	content: "Est. annual price";
		// }

		td.tb-content-well::before,
		td.tb-content-more::before {
			content: " ";
			margin: 0;
		}

		td.tb-content.tb-buttons {
			padding-bottom: 18px;
			clear: both;
		}

		td.tb-content-more {
			padding-top: 18px;
		}
	}
}

.tariff-table-responsive-insurance {

	@media (max-width: $screen-sm-max) {

		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			border: 1px solid #ccc;
		}

		td {
			border: none;
		}

		td::before {
			display: block;
			margin-bottom: 12px;
			width: 100%;
			font-weight: bold;
			line-height: 24px;
			text-align: center;
		}

		td.tb-content-well::before,
		td.tb-content-more::before {
			content: " ";
			margin: 0;
		}

		td.tb-content.tb-buttons {
			padding-bottom: 18px;
			clear: both;
		}

		td.tb-content-more {
			padding-top: 18px;
		}
	}
}

.tariff-table-responsive-money {

	@media (max-width: $screen-sm-max) {

		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			border: 1px solid #ccc;
		}

		td {
			border: none;
		}

		td::before {
			display: block;
			margin-bottom: 12px;
			width: 100%;
			font-weight: bold;
			line-height: 24px;
			text-align: center;
		}

		td:nth-of-type(3)::before {
			content: "Account rating";
		}

		td:nth-of-type(4)::before {
			content: "Account features";
		}

		td.tb-content-well::before,
		td.tb-content-more::before {
			content: " ";
			margin: 0;
		}

		td.tb-content.tb-buttons {
			padding-bottom: 18px;
			clear: both;
		}

		td.tb-content-more {
			padding-top: 18px;
		}
	}
}

.tariff-table-responsive-education {

	@media (max-width: $screen-sm-max) {

		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			border: 1px solid #ccc;
		}

		td {
			border: none;
		}

		td::before {
			display: block;
			margin-bottom: 12px;
			width: 100%;
			font-weight: bold;
			line-height: 24px;
			text-align: center;
		}

		td:nth-of-type(3)::before {
			content: "Ratings";
		}

		td:nth-of-type(4)::before {
			content: "Reviews";
			clear: both;
		}

		td.tb-content-well::before,
		td.tb-content-more::before {
			content: " ";
			margin: 0;
		}

		td.tb-content.tb-buttons {
			padding-bottom: 18px;
			clear: both;
		}

		td.tb-content-more {
			padding-top: 18px;
		}
	}
}

.tariff-table-responsive-tariff-table-responsive-government {

	@media (max-width: $screen-sm-max) {

		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			border: 1px solid #ccc;
		}

		td {
			border: none;
		}

		td::before {
			display: block;
			margin-bottom: 12px;
			width: 100%;
			font-weight: bold;
			line-height: 24px;
			text-align: center;
		}

		td:nth-of-type(3)::before {
			content: "Rank";
		}

		td:nth-of-type(4)::before {
			content: "Reviews";
			clear: both;
		}

		td.tb-content-well::before,
		td.tb-content-more::before {
			content: " ";
			margin: 0;
		}

		td.tb-content.tb-buttons {
			padding-bottom: 18px;
			clear: both;
		}

		td.tb-content-more {
			padding-top: 18px;
		}
	}
}

.tariff-table-responsive-healthcare {

	@media (max-width: $screen-sm-max) {

		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			border: 1px solid #ccc;
		}

		td {
			border: none;
		}

		td::before {
			display: block;
			margin-bottom: 12px;
			width: 100%;
			font-weight: bold;
			line-height: 24px;
			text-align: center;
		}

		td:nth-of-type(3)::before {
			content: "Personal Experience";
		}

		td:nth-of-type(4)::before {
			content: "Reviews";
			clear: both;
		}

		td.tb-content-well::before,
		td.tb-content-more::before {
			content: " ";
			margin: 0;
		}

		td.tb-content.tb-buttons {
			padding-bottom: 18px;
			clear: both;
		}

		td.tb-content-more {
			padding-top: 18px;
		}
	}
}

.tariff-table-responsive-phoneandinternet {

	@media (max-width: $screen-sm-max) {

		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			border: 1px solid #ccc;
		}

		td {
			border: none;
		}

		td::before {
			display: block;
			margin-bottom: 12px;
			width: 100%;
			font-weight: bold;
			line-height: 24px;
			text-align: center;
		}

		td:nth-of-type(2)::before {
			content: "Supplier information";
		}

		td:nth-of-type(3)::before {
			content: "Supplier rating";
		}

		// td:nth-of-type(5)::before {
		// 	content: "Est. annual price";
		// }

		td.tb-content-well::before,
		td.tb-content-more::before {
			content: " ";
			margin: 0;
		}

		td.tb-content.tb-buttons {
			padding-bottom: 18px;
			clear: both;
		}

		td.tb-content-more {
			padding-top: 18px;
		}
	}
}

.tb-logo {
	padding-top: 12px;
	position: relative;

	@media (max-width: $screen-sm-max) {
		width: 100%;
		text-align: center;
	}

    p {
        display: inline-block;
        margin-right: 10px;
        margin-top: 14px;
    }
}

.tbl-img {
    display: inline-block;
	vertical-align: top;

	@media (min-width: $screen-md-min) {
		width: 80%;
		height: auto;
	}
}

.tariff-head {

	th.th-title {
		padding: 0 24px;
		width: 16.666%;
		height: 40px;
		vertical-align: middle;
		text-align: center;
		//color: #fff;
		border: 0;
		position: relative;

		&:first-child {
			text-align: left;
		}

		&.th-pers-ex {
			width: 49.998%;
		}

		&.tht-fm {
			width: 33%;
		}
	}
}

.tariff-box {
	margin-top: 12px;
	background: #fff;
	border-bottom: 1px solid $gray-light;
  -webkit-border-radius: 5px!important;
  border-radius: 5px!important;

	&:first-child {
		margin-top: 0;
	}

	td.tb-content {
		padding: 2px 24px;
		border: 0;

		a {
			font-weight: bold;
		}

		@media (min-width: $screen-md-min) {
			padding: 18px 24px;
		}
	}

	.tb-company-name {
		display: none;

		@media (min-width: 480px) {
			display: initial;
		}
	}

	td.tb-content-tariff {
    .btn {
      background-color: $brand-accent;
      border-color: $brand-accent;

      &:hover {
        background-color: #69135b;
        border-color: #69135b;
      }
    }
		@media (min-width: $screen-md-min) {
			padding: 18px 12px;
		}
	}

	td.tbc-gov-agency {
		width: 18%;
	}

	td.tb-content-rating {
		text-align: center;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			width: 33.3333%;
			float: left;
		}
	}

	td.tbc-money-rating, td.tbc-money-features {
		text-align: center;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			width: 50%;
			float: left;
		}
	}

	td.tb-content-features {

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			width: 33.333%;
			float: left;
		}

		@media (min-width: $screen-md-min) {
			padding-top: 44px;
		}
	}

	td.tb-content-fuel {

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			width: 66.666%;
			float: left;
		}

		@media (min-width: $screen-md-min) {
			width: 350px;
			padding-top: 44px;
		}
	}

	td.tb-content-price {
		text-align: center;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			width: 33.3333%;
			float: left;
		}

		@media (min-width: $screen-md-min) {
			padding-top: 34px;
		}
	}

	td.tbc-ed-rating {
		text-align: center;
  		padding-top: 12px;

  		.tbc-ed-rate {
  			width: 100px;
		    height: 100px;
		    line-height: 100px;
		    font-size: ceil(($font-size-base * 3)); // ~48px
  		}
	}

	td.tbc-ed-personal {
		display: block;

		@media (min-width: $screen-md-min) {
			padding: 12px 0;
		}
	}
}

// what does this class name even mean.. :(
.tb-content-ed-rating {
	margin: 0;
	padding: 6px 12px 0;
	width: 20%;
	float: left;
	text-align: center;

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		padding: 12px 0;

		p {
			font-size: ceil(($font-size-base * 0.75)); // ~12px
		}
	}
}

.rating-circle {

	.tbc-text {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 18px;
	}
}

.tbc-ed-rate {
	margin: 0 auto 6px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-weight: bold;
	font-size: ceil(($font-size-base * 1.5)); // ~24px
	background: $gray-light;
	@include border-radius(50%);

	&.tbc-ed-rate-1 {
		background: #8cc152;
	}

	&.tbc-ed-rate-2 {
		background: #ffae37;
	}

	&.tbc-ed-rate-3 {
		background: #ff1700;
	}

	&.tbc-ed-rate-4 {
		background: #a2195b;
	}

	&.tbc-ed-rate-default {
		background: $gray-light;
	}
}

.tbc-ed-rate-txt-1 {
	color: #8cc152;
}

.tbc-ed-rate-txt-2 {
	color: #ffae37;
}

.tbc-ed-rate-txt-3 {
	color: #ff1700;
}

.tbc-ed-rate-txt-4 {
	color: #a2195b;
}

.tbc-ed-rate-txt {
	font-size: ceil(($font-size-base * 0.875)); // ~14px
}

.tbc-ed-rate-title {
	font-size: ceil(($font-size-base * 0.75)); // ~12px
}

.feature-icon {
	display: block;
	margin: 0 auto 12px;
	width: 32px;
	height: 32px;
	background: $gray;
	@include border-radius(50%);

	&.fi-fixed {
		background-image: url(../images/tariffs/energy/32px-FixedPrice-Lgrey.png);
	}

	&.fi-monthly {
		background-image: url(../images/tariffs/energy/32px-Monthly-Lgrey.png);
	}

	&.fi-pie {
		background-image: url(../images/tariffs/energy/32px-pie-grey.png);
	}

	&.fi-quarterly {
		background-image: url(../images/tariffs/energy/32px-Quarterly-Lgrey.png);
	}
}

.annual-price {
	font-size: ceil(($font-size-base * 2.25)); // ~36px
	font-weight: bold;
	color: #662382;
}

.btn-tariff {
	margin-top: 12px;
}

.tariff-extra {

	td.tb-content-more {
		padding: 4px 0 8px;
		border: 0;
		text-align: center;

		a {
			font-weight: bold;
		}
	}

	td.tb-content-well {
		padding: 0;
		border: 0;
	}
}


/** this is temporary until bootstrap styles are overwritten **/

.well {
	margin-bottom: 0;

	p {
		white-space: normal;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 24px;
	}
}


// Individual tariff page

.tariff-features {
	@extend .content-block;
}

.tf-content {
	padding: 12px 24px 0;
}

.list-tf-icons {
	margin: 0;
	padding: 12px 0;
}

.tf-icon {
	display: block;
	margin: 0 12px 12px 0;
	padding: 0;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: $gray-lightest;
	@include border-radius(50%);

	&:hover {
		background: $gray-lighter;
	}
}

.tariff-buttons {
	margin-top: 24px;
}


// question mark pop over

.qmark-pop {

	&:hover, .active {
		cursor: pointer;

		.tb-supp-pop {
			display: block !important;
		}
	}
}

// hover (?) on supplier listings pages
.org-rating-hover {
	&__centered-text {
		text-align: center;
	}

	&__divider {
		border-right: 1px solid $brand-primary;
	}

	// these override the barrating directive and should be abstracted out into components instead of lots of nesting
	.rating-bar {
		padding-top: 0;
		max-width: 67px;
		max-height: 110px;

		.rb-toptext {
		    font-size: 12px;
		    line-height: 13px;
		    padding: 0;
		    margin: 0 0 5px;
		    text-align: center;
		    height: 26px;
		}

		.tbc-text {
			width: 60px;
			height: 60px;
			line-height: 60px;
			font-size: 18px;
		}
	}
}