.tiles-container {
    background: #fff;
    padding: 60px 0;
}

.tiles-filter {
    padding-bottom: 20px;
    &__button {
        display:inline-block;
    
        input[type="checkbox"] {
            display:none;
        }
        
        input[type="checkbox"] + label  {
            display:inline-block;
            color: $brand-accent;
            background: #fff;
            text-align: center;
            border-radius: 5px;
            padding: 10px;
            font-size: 14px;
            border: $brand-accent solid 1px;
            margin: 5px 3px;
            
            &:hover, &:focus {
                color: darken($brand-accent, 5%);
                background: darken(#fff, 5%);
                cursor: pointer;
            }
        }
        
        input[type="checkbox"]:checked + label {
            color: #fff;
            background: $brand-accent;
        }
    }
    
    
}
.tile {
    @include box-shadow();
    border: $boxes-border;
    border-radius: 5px;
    cursor: pointer;
    padding: 30px;
    margin-bottom: 40px;

    * {
        cursor: pointer;
    }
    
    &:hover {
        transform: scale(1.005, 1.005);
        @include box-shadow($radius: 9px, $color: darken($gray-dark, 10%));
//        box-shadow: 0 2px 9px 0 rgba(0,0,0,0.25);
    }
    
    &__title {
        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        font-size: 24px;
        height: auto;
        margin: 0 0 24px;

        @media (min-width: $screen-sm-min) {
            font-size: 18px;
            height: 55px;
        }

        @media (min-width: $screen-md-min) {
            font-size: 20px;
            height: 45px;
        }

        @media (min-width: $screen-lg-min) {
            font-size: 28px;
            height: 60px;
        }
    }
    
    &__image {
        @include border-radius;
        width: 100%;
    }
    
    &__subtitle {
        font-family: $font-family-crete-round;
        font-weight: 400; // needs to correspond with the import from google fonts (or won't work in safari)
        font-style: italic;
        font-size: 18px;
        margin-top: 10px;
    }
}

.featured__thumbnails {
    margin-bottom: 30px;
}

.featured__thumbnail {
    display: block;
    float: left;
    padding: 30px 30px 40px;
    width: 100%;

    border: 1px solid $gray-light;

    &:hover {
        opacity: 0.9;
        background: $gray-darker;
    }

    @media (min-width: $screen-xs-min) {
        width: 50%;
    }

    @media (min-width: $screen-sm-min) {
        width: 50%;
    }

    @media (min-width: $screen-md-min) {
        width: 25%;
    }
    background: white;
    .bubble {
        color: $gray-dark;
        background: white;

        &::before {
            border-color: $gray-light transparent transparent $gray-light;
        }
    }


    &.featured__thumbnail--blue {
        background: #1f5ed3;

        .bubble {
            background: #1f5ed3;

            &::before {
                border-color: #1f5ed3 transparent transparent #1f5ed3;
            }
        }
    }

    &.featured__thumbnail--green {
        background: #4abb1d;

        .bubble {
            background: #4abb1d;

            &::before {
                border-color: #4abb1d transparent transparent #4abb1d;
            }
        }
    }

    &.featured__thumbnail--pink {
        background: #e61b72;

        .bubble {
            background: #e61b72;

            &::before {
                border-color: #e61b72 transparent transparent #e61b72;
            }
        }
    }

    &.featured__thumbnail--orange {
        background: #e97a20;

        .bubble {
            background: #e97a20;

            &::before {
                border-color: #e97a20 transparent transparent #e97a20;
            }
        }
    }

    .bubble {
        border: 3px solid #fff;
        text-align: center;
        padding: 18px;

        h1 {
            color: $gray-dark;
            font-size: 18px;

        }

        &::before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: 63px;
            bottom: -22px;
            border: 11px solid;
            border-color: #fff transparent transparent #fff;
            z-index: 1;
        }

        &::after {
            border-width: 30px 30px 0 0;
            bottom: -30px;
            //box-shadow: -1px 5px 1px -2px rgba(0,0,0,0.4);

            content: "";
            position: absolute;
            //bottom: -43px;
            border-radius: 0 0 0 3px;
            //border: 22px solid;
            left: 42px;
            border-color: transparent transparent #ffffff transparent;
            transform-origin: 0 0;
            transform: rotate(-45deg);
            box-shadow: -1px 5px 1px -2px rgba(0,0,0,0.1);
        }
    }
}