.b-tooltip {
    $transition-duration-enter: 320ms;
    $transition-delay-enter: 240ms;

    $transition-duration-exit: 180ms;
    $transition-delay-exit: 480ms;

    $transition-duration-desktop-enter: 240ms;
    $transition-duration-desktop-exit: 120ms;

    position: relative;

    display: inline-block;

    cursor: pointer;

    .b-tooltip__scrim {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;

        width: 100vw;
        height: 100vh;

        background: linear-gradient(0deg, black, transparent);
        opacity: 0;

        pointer-events: none;
        transition: opacity $transition-duration-exit linear;
        transition-delay: $transition-delay-exit;

        will-change: opacity;

        @media (min-width: 640px) {
            display: none;
        }
    }

    .b-tooltip__revealer:hover ~ .b-tooltip__scrim {
        opacity: 0.25;
        transition-delay: $transition-delay-enter;
    }

    &__revealer {
        display: inline-block;

        padding: 0 8px;

        border: 1px dashed $gray;
        border-radius: 12px;

        &--no-border {
            padding: 0;
            border: 0;
        }

        &--circle {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            width: 24px;
            height: 24px;

            border-radius: 50%;
        }
    }

    &__content-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 4;

        width: 100vw;
        padding: 16px;

        transform: translateY(100%);
        visibility: hidden;

        transition-property: transform, visibility;
        transition-duration: $transition-duration-exit;
        transition-timing-function: $ease-exit;
        transition-delay: $transition-delay-exit;

        // hopefully this gets us a layer
        will-change: transform, visibility;

        pointer-events: none;

        @media (min-width: 640px) {
            position: absolute;
            top: 0;
            left: 0;

            width: 50vw;

            padding: 0;

            opacity: 0;
            transform: scale(0.8);
            transform-origin: top left;

            transition-property: transform, visibility, opacity;
            transition-duration: $transition-duration-desktop-exit;

            will-change: transform, visibility, opacity;
        }

        &--suspended {
            @media (min-width: 640px) {
                // position below revealer
                top: calc(100% + 8px);

                // demonstrate distance travelled from reveler
                transform: translateY(-16px);
            }
        }

        .b-tooltip__revealer:hover ~ &,
        &:hover {
            visibility: visible;
            transform: none;

            transition-duration: $transition-duration-enter;
            transition-timing-function: $ease-enter;

            // small delay before opening to prevent accidental triggering
            transition-delay: $transition-delay-enter;

            @media (min-width: 640px) {
                transition-duration: $transition-duration-desktop-enter;
                opacity: 1;
            }
        }
    }

    &__content {
        // only take needed space
        display: inline-block;
        width: 100%;

        line-height: initial;

        pointer-events: auto;

        @media (min-width: 640px) {
            width: auto;
        }

        @media (min-width: 800px) {
            max-width: 800px * 0.5;
        }
    }
}
