// Normal input box //todo eventually standardise, e.g. replace banner-search-form in _carousel.scss
$input-box-grey: #ccc;
.standard-input {
    padding: 0;
    margin-top: 36px;
    height: auto;
    position: relative;
    @include clearfix;
    border: 3px solid $input-box-grey;
    border-radius: 10px;

    &__input {
        border: 0;
        background-color: transparent;
        padding: 12px 48px 10px 12px;
        font-size: 30px;
        font-weight: normal;
        line-height: 60px;
        width: 100%;
        resize: none; // hide the resize box for text area
    }

    &__button {
        border: 0;
        padding: 21px;
        font-size: 40px;
        line-height: 30px;
        background: none;
        position: absolute;
        right: 0;
        top: 0;

        i {
          color: $input-box-grey;
        }
    }

    &.bsf-map {
        margin-top: 0;
    }

    .dropdown-menu {
        right: 0;
    }
}

// button
.standard-button {
    font-size: 35px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    @include border-radius(10px);
    min-width: 250px;
    padding: 10px 20px;
    border: none;

    &:hover {
        color: black;
        text-decoration:none;
    }
}

// Circle tick box component
.tick-circle {
    &__checkbox {
        display: none;

        & + label span {
            display: inline-block;
            vertical-align: middle;
            width: 45px;
            height: 45px;
            background: url('../images/icons/tick-box-blank.png') 0px center no-repeat;
            background-size: cover;
            float: left;
            margin-right: 10px;
        }

        &:checked + label span {
            width: 45px;
            height: 45px;
            background: url('../images/icons/tick-box-active.png') 0px center no-repeat;
            background-size: cover;
        }
    }

    &__label {
        cursor: pointer;
        line-height: 24px;
        color: #000;

        a {
            color: $brand-primary!important;
        }
    }
    
    &__text {
      padding-left:65px;
    }
}