// todo may be deprecated

.video-reviews {
    
    &__container {
    	padding-top: 42px;
    	width: 100%;
    	min-height: 300px;
        margin-bottom: 30px;
        
        .slick-slider {
            padding: 0 30px;
        }
    }
    
    &__slide-button {
        font-size: 30px;
            position: absolute;
            top: 50%;
            transform: translateY(-30px);
            display: block;
            padding: 0;
            cursor: pointer;
            color: $gray;
            border: none;
            outline: none;
            background: #eee;
        
            
            &__next {
                right: 0;
            }
            
            &__prev {
                left: 0;
            }
    }
    
    &__record {
        &__button {
            text-align: center;
            margin: 0 auto;
            display:block;
            background:#fff;
            border:none;
            padding: 20px;
            
            &:hover {
                .video-reviews__record__caption {
                    color: darken($brand-accent, 10%);
                }
            };
        }
        
        &__icon {
            height: 72px;
            width: 72px;
            background: no-repeat center center scroll;
            display:inline-block;
            background-image: url($images-path + "/opinion/icons/record-big-pink.png");
        }
        
        &__caption {
            color: $brand-accent;
        }
        
    }
}

.video-review {
    &__container {
        margin-bottom: 16px;
    }
    
    &__bubble {
        background: #fff;
        @include border-radius(5px);
        @include box-shadow(0, 1px, 3px, 0, #000, 0.15);

//                position: relative;
//                //padding: 24px auto 0!important;
//                //    margin-bottom: 24px;
//
//                padding: 25px;
//                margin-bottom: 60px;
//                min-height:350px;
//
//                @media (min-width: $screen-lg-min) {
//                  min-height:397px;
//                }
//
//                &:nth-of-type(1) {
//                    margin-top: 0;
//                }
//
//                // this is the 'tail'
        &::after {
            content: "";
            position: absolute;
            background:#fff;
            @include box-shadow(-2px, 1px, 3px, 0, #000, 0.15);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            bottom: -10px;
            left: 40px;
            border-width: 20px 20px 0 0;
            border-style: solid;
            border-color: transparent transparent #fff #fff;
            display: block;
//            width: 0;
//            border-radius: 0 0 0 6px;
            
        }
    }
    
    &__video-container {
        padding: 20px;
        height: 251px;
        //height: 198px;

        videogular vg-media {
            min-height: 146px;
        }
    }

}