﻿<div class="header-banner header-banner--home">
    <div class="speech-bubble">
        <h3 class="speech-bubble__title speech-bubble__title--large fatherhood__title">
            What does it mean to be a good father?
        </h3>
        <a href="#more" du-smooth-scroll class="btn pink fatherhood__record-button">
            <div class="pull-left icons__record-video icons__record-video--small"></div>
            <span>Record your response</span>
        </a>
    </div>
    <a href="#more" du-smooth-scroll class="header-banner__down-arrow"><span></span></a>

</div>

<div class="gradients__bg">
    <div class="gradients__small-top"></div>
    <div id="more" class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="investors__subheading fatherhood__title">What does it mean to be a good father?</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div style="text-align: center;">
                    <style type="text/css">#vpm-iframe {
                        width: 260px;
                        height: 325px;
                        margin: 10px 0
                    }

                    #vpm-iframe.fix-iframe {
                        width: 640px;
                        height: 480px;
                        margin: 10px 0
                    }

                    @media (min-width: 501px) {
                        #vpm-iframe {
                            width: 500px;
                            height: 375px;
                            margin: 10px 0
                        }
                    }

                    @media (min-width: 641px) {
                        #vpm-iframe {
                            width: 640px;
                            height: 480px;
                            margin: 10px 0
                        }
                    }</style>

                    <iframe allowfullscreen="" frameborder="0" height="480" id="vpm-iframe" scrolling="no"
                            src="https://www.voxpopme.com/record/d342530fde8d84cd3586df6841fa89e1?layout=simple" width="100%"></iframe>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="investors__subheading fatherhood__title"><a href="/opinion/fatherhood#more">See results</a></h2>
            </div>
        </div>
    </div>

    <hr class="fatherhood__solid-line">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="icons__fatherhood-csj fatherhood__affiliate"></div>
            </div>
            <div class="col-md-3">
                <div class="icons__fatherhood-yougov fatherhood__affiliate"></div>
            </div>
            <div class="col-md-3">
                <div class="icons__fatherhood-values fatherhood__affiliate"></div>
            </div>
            <div class="col-md-3">
                <div class="icons__fatherhood-bheard fatherhood__affiliate"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="fatherhood__bottom-padding"></div>
            </div>
        </div>
    </div>

</div>