﻿<h1>What can you teach us about education in your area?</h1>
<p>Are the schools, colleges and universities in your area a class apart? Or a case for intervention?</p>
<%- contentFor('head') %>
<meta name="description" content="With help from B.heard's community of teachers, parents and students, you can you find the best schools,
colleges and universities">
