﻿<div class="provider-overview reviewer reviewer--{{::$root.sector || $root.siteArea || 'home'}}">
    <div class="container">
        <section class="po">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="po-logo">
                        <b-logo ng-model="model.energySupplier"></b-logo>
                    </div>
                    <div class="supplier-page__affil-or-compare-btn">
                        <a target="_blank" ng-if="::model.energySupplier.affiliateUrl"
                           ng-href="{{::model.energySupplier.affiliateUrl}}" class="btn pink btn-sm btn-block btn-tariff">
                            LIKE THEM? SEE MORE
                        </a>
                        <a target="_blank" ng-if="!model.energySupplier.affiliateUrl && model.energySupplier.compareSiteUrl"
                           ng-href="{{::model.energySupplier.compareSiteUrl}}" class="btn pink btn-sm btn-block btn-tariff">
                            COMPARE
                        </a>
                    </div>
                </div>
                
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <b-bar-rating b-rating="model.energySupplier.score.overallOpinionPercent" b-text="OVERALL"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark>
                                <span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">OVERALL</p>
                                            <p>This overall score combines your opinion, published consumer complaints logged with energy regulatory <a href="https://www.ofgem.gov.uk/" target="_blank" title="Ofgem">Ofgem</a> and market pricing scores in order to give you an overall view for a supplier.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <b-bar-rating b-rating="model.energySupplier.score.customerOpinionPercent" b-text="Your opinion"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Your opinion</p>
                                            <p>This is your opinion, taken from ratings on the site. Until we receive 5 or more reviews, we base this scoring on how swiftly your complaints to <a href="https://www.ofgem.gov.uk/" target="_blank" title="Ofgem">Ofgem</a> are dealt with.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <b-bar-rating b-rating="model.energySupplier.score.customerServicePercent" b-text="Customer complaints"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Customer complaints</p>
                                            <p>This figure has been sourced from the amount of published consumer complaints logged with energy regulatory <a href="https://www.ofgem.gov.uk/" target="_blank" title="Ofgem">Ofgem</a>.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 no-relative-xs">
                    <div class="po-bar-circle rating-bar-circle">
                        <b-bar-rating b-rating="model.energySupplier.score.valueForMoneyPercent" b-text="Value for money"></b-bar-rating>
                        <div class="po-circle-pop">
                            <span class="qmark qmark-pop qp-circle" b-qmark><span class="qmark-circle-open">i</span>
                                <div class="pop-sub">
                                    <div class="row">
                                        <div class="col-xs-12 ps-text">
                                            <p class="pst-title">Value for money</p>
                                            <p>This scoring is driven by verified market pricing data made available to us by Energyhelpline. To arrive at our scoring for each supplier, we consider the best value monthly direct debit tariff across Electricity, Gas and Dual Fuel tariffs.</p>
                                        </div>
                                        <div class="col-xs-12 ps-close">
                                            <span class="qmark qmark-pop qp-circle qmark-circle-close">x<span class="sr-only">close</span></span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-1 po-pop-surround">
                    <div class="po-pop">
                        <span class="qmark qmark-pop" b-qmark><span class="qmark-circle-open">?</span>
                            <div class="pop-main">
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-7">
                                                <p>The dials signify a company's rating, based on your reviews and information gathered from the UK energy regulator, <a href="https://www.ofgem.gov.uk/" target="_blank" title="Ofgem">Ofgem</a> (the Office of Gas and Energy Markets). By analysing this information and listening to customers, B.heard sets out to reward suppliers that get it right and challenge those that don't.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="qmark qmark-pop qmark-close">x<span class="sr-only">close</span></span>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="po-foot">
            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <p>These rankings combine your opinion, consumer complaints logged with regulator and market pricing scores in order to give you an overall score for each supplier.<br />Please check our <a href="/corporate">corporate page</a> for more details.</p>
                </div>
                <div class="col-xs-12">

                    <section class="regulatory">
                        <p class="text-center"><b>Data provided by</b></p>
                        <ul class="list-inline">
                            <li class="col-xs-6 col-sm-3 col-md-offset-2 col-md-2 text-center">
                                <a href="http://www.ombudsman-services.org/" target="_blank" title="Ombudsman Services"><img src="images/reg/ombudsman-services.png" alt=""></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                                <a href="https://www.ofgem.gov.uk/" target="_blank" title="Ofgem"><img src="images/reg/ofgem.png" alt=""></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                                <a href="https://www.gov.uk/government/organisations/competition-and-markets-authority" target="_blank" title="Competition and Markets Authority"><img src="images/reg/cma.png" alt=""></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                                <a href="http://www.cqc.org.uk/" target="_blank" title="Care Quality Commission"><img src="images/reg/care-quality-commission.png" alt=""></a>
                            </li>
                        </ul>
                    </section>

                </div>
            </div>
        </div> -->
    </div>

    <a href="#more" du-smooth-scroll="" class="header-banner__down-arrow"><span></span></a>
</div>

<div id="more" class="container section">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="">
                <b-supplier-review-form ng-model="model.energySupplier"></b-supplier-review-form>
            </div>

            <div class="speech-bubble speech-bubble--full-width speech-bubble--nospeech speech-bubble--small
                supplier-page__external-ratings">
                <h3 class="speech-bubble__title speech-bubble__title--med">How do they rate them?</h3>
                <span class="speech-bubble__subtitle">Click on the logos to see more</span>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <a ng-href="{{model.energySupplier.whichUrl}}">
                            <div class="logo__which"></div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <a ng-href="{{model.energySupplier.trustPilotUrl}}">
                            <div class="logo__trustpilot"></div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="speech-bubble speech-bubble--full-width speech-bubble--nospeech speech-bubble--small
            supplier-page__twitter-box">
                <h3 class="speech-bubble__title speech-bubble__title--med supplier-page__twitter-heading">
                    Twitter Buzz
                </h3>
                <twitter-timeline class="supplier-page__twitter-widget"
                                  twitter-timeline-id="model.energySupplier.twitterTimelineId"
                                  twitter-timeline-options='
                                  {"chrome": "noheader", "theme": "light",
                                   "height": "450", "linkColor": "#e71d72"}'>
                </twitter-timeline>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <b-rankings b-supplier="model.energySupplier" b-suppliers="model.suppliers"></b-rankings>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <hr class="supplier-page__separator">
        </div>
    </div>
    <div class="row">
        <b-skimmed-reviews ng-model="model.reviews"></b-skimmed-reviews>
    </div>
</div>
