﻿<div class="lp-backimage lpbi-energy">
  <b-reviewer b-title="Left cold by your energy provider?" b-text="Tell us about it…" b-show-suggestion="false"></b-reviewer>
</div>
<b-skimmed-reviews id="more" ng-model="model.reviews"></b-skimmed-reviews>
<b-regulatory-banner></b-regulatory-banner>