<div class="donate-pop">
	<section class="don-content">
		<header class="dc-head">
			<h1>Move to a new energy supplier</h1>
		</header>
		<div class="row" id="friPostodeBox">
			<div class="col-xs-offset-1 col-xs-10">
				<form class="form-inline dc-form" id="friPostcodeForm" name="form" novalidate ng-submit="form.$valid && submit(model)">
					<label id="friPostcodeLabel" class="dc-form-label" for="ehl_postcode">Enter your postcode:</label>
					<div class="form-group">
						<input class="form-control" id="ehl_postcode" name="postcode" required type="text" ng-minlength="5" ng-maxlength="8" ng-pattern="/^[0-9A-Z]*\s?[0-9A-Z]*$/i" ng-model="model.postcode" ng-model-options="{ updateOn: 'blur' }" />
						<p class="text-danger bg-danger" ng-show="form.$submitted && form.postcode.$invalid">"Postcode" is required</p>
					</div>
					<button type="submit" id="friSubmit" class="btn btn-secondary btn-lg">Go</button>
				</form>
			</div>
		</div>
	</section>	
</div>
