<div class="container">

    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>The Do Tank - Expert/Ambassador Panel</h1>
            <p>Leading the debate on secure, sustainable and affordable energy for all.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <section class="profile-list">
                <b-swiper ng-model="model.profiles"></b-swiper>
            </section>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <a href="" class="btn btn-tertiary btn-exlg btn-block">Join the panel</a>
        </div>
    </div>

</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-7">

            <!-- blog posts -->
            <section class="blog-ov">

                <header class="blog-head">
                    <h1>Latest from our ambassador blog</h1>
                </header>

                <article class="blog-post-ex">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 bp-pic">
                            <aside class="bp-author-pic">
                                <img src="images/temp/jack.jpg" alt="" />
                            </aside>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <header class="col-xs-12 bp-intro">
                                <h1><a href="">Lorem ipsum dolor sit amet</a></h1>
                            </header>
                            <div class="col-xs-12 bp-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim alias distinctio fugiat quia unde autem maiores quos ea voluptas, facere sit odit molestias, animi voluptatibus minima. Tenetur repudiandae architecto eaque dignissimos neque molestiae sed perferendis necessitatibus amet, ipsa.</p>
                                <p><a href="">Read more</a></p>
                            </div>
                            <footer class="col-xs-12 bp-foot">
                                <p class="small">By <a href="">Christian Guy</a> on 29 August 2015, <a href="">10 Comments</a>&amp;<a href="">10 Shares</a></p>
                            </footer>
                        </div>
                    </div>
                </article>

                <article class="blog-post-ex">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 bp-pic">
                            <aside class="bp-author-pic">
                                <img src="images/temp/jack.jpg" alt="" />
                            </aside>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <header class="col-xs-12 bp-intro">
                                <h1><a href="">Lorem ipsum dolor sit amet</a></h1>
                            </header>
                            <div class="col-xs-12 bp-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim alias distinctio fugiat quia unde autem maiores quos ea voluptas, facere sit odit molestias, animi voluptatibus minima. Tenetur repudiandae architecto eaque dignissimos neque molestiae sed perferendis necessitatibus amet, ipsa.</p>
                                <p><a href="">Read more</a></p>
                            </div>
                            <footer class="col-xs-12 bp-foot">
                                <p class="small">By <a href="">Christian Guy</a> on 29 August 2015, <a href="">10 Comments</a>&amp;<a href="">10 Shares</a></p>
                            </footer>
                        </div>
                    </div>
                </article>

                <article class="blog-post-ex">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 bp-pic">
                            <aside class="bp-author-pic">
                                <img src="images/temp/jack.jpg" alt="" />
                            </aside>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <header class="col-xs-12 bp-intro">
                                <h1><a href="">Lorem ipsum dolor sit amet</a></h1>
                            </header>
                            <div class="col-xs-12 bp-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim alias distinctio fugiat quia unde autem maiores quos ea voluptas, facere sit odit molestias, animi voluptatibus minima. Tenetur repudiandae architecto eaque dignissimos neque molestiae sed perferendis necessitatibus amet, ipsa.</p>
                                <p><a href="">Read more</a></p>
                            </div>
                            <footer class="col-xs-12 bp-foot">
                                <p class="small">By <a href="">Christian Guy</a> on 29 August 2015, <a href="">10 Comments</a>&amp;<a href="">10 Shares</a></p>
                            </footer>
                        </div>
                    </div>
                </article>
                
            </section>
            <!-- end of blog posts -->

        </div>
        <div class="col-xs-12 col-sm-5">

            <aside class="blog-info">

                <div class="bi-content">
                    <header>
                        <h1 class="bi-head">Social</h1>
                    </header>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Insert Twitter feed</p>
                        </div>
                    </div>
                </div>
                
            </aside>

        </div>
    </div>

</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <section class="cta-content cta-campaign">
                <div class="cta-cam-head cta-cam-head-energy">
                    <h3>A major campaign about energy</h3>
                </div>
                <div class="cta-cam-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vel fugiat incidunt officia, tempora, in natus molestias ipsa ad necessitatibus placeat enim maxime quae voluptates ducimus accusantium.</p>
                </div>
                <div class="cta-cam-foot">
                    <div class="row">
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">123 </span>Supporters</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">46 </span>Shares</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">10 </span>Companies</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <section class="cta-content cta-campaign">
                <div class="cta-cam-head cta-cam-head-healthcare">
                    <h3>A major campaign about healthcare</h3>
                </div>
                <div class="cta-cam-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vel fugiat incidunt officia, tempora, in natus molestias ipsa ad necessitatibus placeat enim maxime quae voluptates ducimus accusantium.</p>
                </div>
                <div class="cta-cam-foot">
                    <div class="row">
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">123 </span>Supporters</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">46 </span>Shares</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">10 </span>Companies</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <section class="cta-content cta-campaign">
                <div class="cta-cam-head cta-cam-head-money">
                    <h3>A major campaign about money</h3>
                </div>
                <div class="cta-cam-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vel fugiat incidunt officia, tempora, in natus molestias ipsa ad necessitatibus placeat enim maxime quae voluptates ducimus accusantium.</p>
                </div>
                <div class="cta-cam-foot">
                    <div class="row">
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">123 </span>Supporters</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">46 </span>Shares</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">10 </span>Companies</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <section class="cta-content cta-campaign">
                <div class="cta-cam-head cta-cam-head-education">
                    <h3>A major campaign about education</h3>
                </div>
                <div class="cta-cam-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vel fugiat incidunt officia, tempora, in natus molestias ipsa ad necessitatibus placeat enim maxime quae voluptates ducimus accusantium.</p>
                </div>
                <div class="cta-cam-foot">
                    <div class="row">
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">123 </span>Supporters</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">46 </span>Shares</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">10 </span>Companies</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <section class="cta-content cta-campaign">
                <div class="cta-cam-head cta-cam-head-insurance">
                    <h3>A major campaign about insurance</h3>
                </div>
                <div class="cta-cam-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vel fugiat incidunt officia, tempora, in natus molestias ipsa ad necessitatibus placeat enim maxime quae voluptates ducimus accusantium.</p>
                </div>
                <div class="cta-cam-foot">
                    <div class="row">
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">123 </span>Supporters</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">46 </span>Shares</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">10 </span>Companies</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <section class="cta-content cta-campaign">
                <div class="cta-cam-head cta-cam-head-government">
                    <h3>A major campaign about government</h3>
                </div>
                <div class="cta-cam-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vel fugiat incidunt officia, tempora, in natus molestias ipsa ad necessitatibus placeat enim maxime quae voluptates ducimus accusantium.</p>
                </div>
                <div class="cta-cam-foot">
                    <div class="row">
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">123 </span>Supporters</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">46 </span>Shares</p>
                        </div>
                        <div class="col-xs-4">
                            <p><span class="cta-cam-numbers">10 </span>Companies</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div  class="col-xs-12">

            <section class="regulatory">
                <p class="text-center">B.heard utilises data provided by the following regulatory bodies.</p>
                <ul class="list-inline">
                    <li class="col-xs-6 col-sm-3 col-md-offset-2 col-md-2 text-center">
                        <a href="http://www.ombudsman-services.org/" target="_blank" title="Ombudsman Services"><img src="images/reg/ombudsman-services.png" alt=""></a>
                    </li>
                    <!-- <li class="col-xs-6 col-sm-4 col-md-2 text-center">
                        <a href="http://www.fca.org.uk/" target="_blank" title="Financial Conduct Authority"><img src="images/reg/fca.png" alt=""></a>
                    </li> -->
                    <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                        <a href="https://www.ofgem.gov.uk/" target="_blank" title="Ofgem"><img src="images/reg/ofgem.png" alt=""></a>
                    </li>
                    <!-- <li class="col-xs-6 col-sm-4 col-md-2 text-center">
                        <a href="http://www.ofcom.org.uk/" target="_blank" title="Ofcom"><img src="images/reg/ofcom.png" alt=""></a>
                    </li> -->
                    <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                        <a href="https://www.gov.uk/government/organisations/competition-and-markets-authority" target="_blank" title="Competition and Markets Authority"><img src="images/reg/cma.png" alt=""></a>
                    </li>
                    <li class="col-xs-6 col-sm-3 col-md-2 text-center">
                        <a href="http://www.cqc.org.uk/" target="_blank" title="Care Quality Commission"><img src="images/reg/care-quality-commission.png" alt=""></a>
                    </li>
                </ul>
            </section>

        </div>
    </div>
</div>