<!-- TODO: Store product data in model -->

<b-card b-title="Choose an energy product">
    <div class="product-categories">
        <a class="product-categories__link" ui-sref="energy.suppliers({type: 'dual'})" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/energylisting/gas-electricity.svg">

            <span>Dual Fuel (Gas &amp; Electricity)</span>
        </a>

        <a class="product-categories__link" ui-sref="energy.suppliers({type: 'gas'})" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/energylisting/gas.svg">

            <span>Gas</span>
        </a>

        <a class="product-categories__link" ui-sref="energy.suppliers({type: 'electricity'})" ui-sref-active="product-categories__link--active">
            <img class="product-categories__img" width="80" height="80" src="/build/images/icons/energylisting/electricity.svg">

            <span>Electricity</span>
        </a>
    </div>
</b-card>
