﻿<h1>Are your services the good, the bad or the ugly?</h1>
<p>At B.heard, you can speak out, get the low-down from real people just like you, and have your say.</p>
<%- contentFor('head') %>

<!-- Facebook opengraph -->
<meta property="og:title" content="I just left a review on #bheard. You can too!" />
<meta property="og:image" content="https://bheard.com/images/landing-banners/home/banner-facebook.jpg" />
<meta property="og:site_name" content="B.heard"/>
<meta property="fb:app_id" content="521364038036047" />
<meta property="og:url" content="https://bheard.com" />
<!--<meta property="og:url" content="" />-->
<!--<meta property="og:image:type" content="image/jpeg">-->
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:description" content="At B.heard, you can speak out, get the low-down from real people just like you, and have your say." />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_GB" />
<!-- End Facebook opengraph -->
