﻿<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">

              <h3 class="footer--title"><a href="/contactus">Contact us</a></h3>

                <h3 class="footer--title">Other places</h3>
                <ul class="footer--social clearfix">
                    <li><a href="https://twitter.com/BheardHQ" target="_blank"><span class="footer--icon"><i class="fa fa-twitter"></i></span> <span class="sr-only">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/BHeard-495841170593869/" target="_blank"><span class="footer--icon"><i class="fa fa-facebook"></i></span> <span class="sr-only">Facebook</span></a></li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-3">
                <h3 class="footer--title" data-toggle="collapse" href="#collapseFooterAddress" aria-expanded="false" aria-controls="collapseFooterAddress">Come see us</h3>
                <div class="collapse" id="collapseFooterAddress">
                    <ul class="list-unstyled">
                        <li>
                            <address>B.heard HQ<br />Mappin House<br />4 Winsley Street<br />London W1W 8HF<br />United Kingdom</address>
                            +44 (0) 203 286 7217
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-2">
                <h3 class="footer--title" data-toggle="collapse" href="#collapseFooterSectors" aria-expanded="false" aria-controls="collapseFooterSectors">Sectors</h3>
                <div class="collapse" id="collapseFooterSectors">
                    <ul class="list-unstyled">
                        <li><a href="/energy" target="_top">Energy</a></li>
                        <li><a href="/healthcare" target="_top">Healthcare</a></li>
                        <li><a href="/money" target="_top">Money</a></li>
                        <li><a href="/education" target="_top">Education</a></li>
                        <li><a href="/insurance" target="_top">Insurance</a></li>
                        <li><a href="/government" target="_top">Government</a></li>
                        <li><a href="/phoneandinternet" target="_top">Phone &amp; Internet</a></li>
                        <!-- <li><a href="/pricecomparison">Price Comparison</a></li> -->
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-2">
                <h3 class="footer--title" data-toggle="collapse" href="#collapseFooterCompany" aria-expanded="false" aria-controls="collapseFooterCompany">Company</h3>
                <div class="collapse" id="collapseFooterCompany">
                    <ul class="list-unstyled">
                        <li><a href="/aboutus" target="_top">About us</a></li>
                        <li><a href="/news" target="_top">News</a></li>
                        <li><a href="/forcompanies" target="_top">For Companies</a></li>
                        <li><a href="/haveyoursay" target="_top">Have your say</a></li>
                        <li><a href="/corporate" target="_top">Corporate</a></li>
                        <li><a href="/sitemap" target="_top">Sitemap</a></li>
                    </ul>
                </div>
            </div>

            <!-- It would appear that for FCA approval, we need this as separate links. -->
            <div class="col-sm-6 col-md-2">
                <h3 class="footer--title" data-toggle="collapse" href="#collapseFooterLegal" aria-expanded="false" aria-controls="collapseFooterLegal">Legal</h3>
                <div class="collapse" id="collapseFooterLegal">
                    <ul class="list-unstyled">
                        <li><a href="/terms" target="_top">Terms &amp; Conditions</a></li>
                        <li><a href="/cookies" target="_top">Cookies Policy</a></li>
                        <li><a href="/guidelines" target="_top">Review Guidelines</a></li>
                        <li><a href="/privacy" target="_top">Privacy Policy</a></li>
                        <li><a href="/complaints" target="_top">Complaints</a></li>
                    </ul>
                </div>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="footer--copyright">
                <p>Copyright &#169; 2016 B.heard. All rights reserved. B.heard Limited is a registered limited company of England and Wales (9082696) located at B.heard Limited, 21 - 27 Lambs Conduit Street, London, WC1N 3GS, United Kingdom. B.heard Limited is registered under the Data Protection Act 1998 (Registration number ZA118881). B.heard Limited is an Appointed Representative of Resolution Compliance Limited which is authorised and regulated by the Financial Conduct Authority (FRN:574048).</p>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</footer>

<script>
$('h3[data-toggle="collapse"]').click(function(e){
  if ($(window).width() >= 768){  
    e.stopPropagation();
  }    
});
</script>