﻿<div class="nav--standalone--mobile">
  <div class="header-container">

	        <div ui-view="nav"></div>

<nav class="navbar navbar-default">
    <div class="navbar-header" id="site-top">
        <ul class="navbar-primary list-unstyled list-inline">
          <li class="navbar-toggle collapsed nav-menu navbar-right" aria-expanded="false" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"><a class="nbp-link" href=""><span class="nav-icon ni-me"><i class="fa icon-me"></i></span></a></li>
        </ul>
          <div class="nav-brand"><a class="navbar-brand" href="" ui-sref="home" title="B.heard"><span class="sr-only">B.heard</span></a></div>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-main">
        <ul class="navbar-nav navbar-secondary navbar-hover">
            <li ng-class="{ 'active': $state.includes('energy') }">
                <a href="" id="homePage-Energy" ui-sref="energy.home" class="nav-main-link nml-en" data-toggle="collapse" data-target=".collapse.in" target="_top">Energy</a>
            </li>
            <li ng-class="{ 'active': $state.includes('healthcare') }">
                <a href="" id="homePage-Healthcare" ui-sref="healthcare.home" class="nav-main-link nml-he" data-toggle="collapse" data-target=".collapse.in" target="_top">Healthcare</a>
            </li>
            <li ng-class="{ 'active': $state.includes('money') }">
                <a href="" id="homePage-Money" ui-sref="money.home" class="nav-main-link nml-mo" data-toggle="collapse" data-target=".collapse.in" target="_top">Money</a>
            </li>
            <li ng-class="{ 'active': $state.includes('education') }">
                <a href="" id="homePage-Education" ui-sref="education.home" class="nav-main-link nml-ed" data-toggle="collapse" data-target=".collapse.in" target="_top">Education</a>
            </li>
            <li ng-class="{ 'active': $state.includes('insurance') }">
                <a href="" id="homePage-Insurance" ui-sref="insurance.home" class="nav-main-link nml-in" data-toggle="collapse" data-target=".collapse.in" target="_top">Insurance</a>
            </li>
            <li ng-class="{ 'active': $state.includes('government') }">
                <a href="" id="homePage-Government" ui-sref="government.home" class="nav-main-link nml-go" data-toggle="collapse" data-target=".collapse.in" target="_top">Local Gov.</a>
            </li>
            <li ng-class="{ 'active': $state.includes('phoneandinternet') }">
                <a href="" id="homePage-Phone&Internet" ui-sref="phoneandinternet.home" class="nav-main-link nml-ph" data-toggle="collapse" data-target=".collapse.in" target="_top">Phone & Internet</a>
            </li>
            <!-- <li ng-class="{ 'active': $state.includes('pricecomparison') }">
                <a href="" id="homePage-PriceComparison" ui-sref="pricecomparison.home" class="nav-main-link nml-pr">Price Comparison</a>
            </li> -->
            <li ng-class="{ 'active': $state.includes('haveyoursay') }">
                <a href="" id="homePage-HaveYourSay" ui-sref="haveyoursay" class="nav-main-link nml-ha" data-toggle="collapse" data-target=".collapse.in" target="_top">Have your say</a>
            </li>
            <li class="nav-final" ng-class="{ 'active': $state.includes('forcompanies') }">
                <a href="" id="homePage-ForCompanies" ui-sref="forcompanies" class="nav-main-link nml-co" data-toggle="collapse" data-target=".collapse.in" target="_top">For Companies</a>
            </li>
        </ul>
    </div>
</nav>
</div>
</div>