﻿<div class="no-feature">
    <div class="site-container">
        <div class="header-container">
            <nav class="nav ">
                <div class="container">
                    <div class="nav__topbar clearfix">
                        <button class="nav__menu-button">
                            <span class="nav__menu-button__icon-bar"></span>
                            <span class="nav__menu-button__icon-bar"></span>
                            <span class="nav__menu-button__icon-bar"></span>
                            <span class="nav__menu-button__icon-bar"></span>
                        </button>
                        
                        <div class="nav__logo"><a class="" ui-sref="home"><span class="sr-only">B.heard</span></a></div>

                        <a href="https://www.bheard.com/login" class="nav__login" target="_top">
                            <span>Join / Login</span>
                        </a>
                    </div>

                    <nav class="nav__items">
                        <ul>
                            <li>
                                <a href="https://www.bheard.com/opinion" class="nav__item" target="_top">Share Opinions</a>
                            </li>
                            <li>
                                <a href="https://www.bheard.com/review" target="_top">Share Reviews</a>
                            </li>
                            <li>
                                <a href="https://www.bheard.com/switch" target="_top">Switch</a>
                            </li>         
                        </ul>
                    </nav>
                </div><!--/.container-->
            </nav><!--/.nav-->
        </div>
    </div>
</div>