<div class="no-feature">
    <div class="site-container">
        <div class="header-container">
            <nav class="nav ">
                <div class="container">
                    <div class="nav__topbar clearfix">
                        <button class="nav__menu-button">
                            <span class="nav__menu-button__icon-bar"></span>
                            <span class="nav__menu-button__icon-bar"></span>
                            <span class="nav__menu-button__icon-bar"></span>
                            <span class="nav__menu-button__icon-bar"></span>
                        </button>
                        
                        <div class="nav__logo"><a class="" ui-sref="home"><span class="sr-only">B.heard</span></a></div>

                        <a href="https://www.bheard.com/login" class="nav__login" target="_top">
                            <span>Join / Login</span>
                        </a>
                    </div>

                    <nav class="nav__items">
                        <ul>
                            <li>
                                <a href="https://www.bheard.com/" class="nav__item" target="_top">
                                    <!-- <span class="fa fa-chevron-down"></span> -->Your Experience
                                </a>

                                <!-- <div class="nav__item--subnav clearfix">
                                    <div class="col-xs-6">
                                        <h5>Private Sector</h5>
                                        <ul>
                                            <li><a href="https://bheard.com/energy" target="_top">Energy Companies</a></li>
                                            <li><a href="https://bheard.com/money" target="_top">Banks</a></li>
                                            <li><a href="https://bheard.com/insurance" target="_top">Insurance Companies</a></li>
                                            <li><a href="https://bheard.com/phoneandinternet" target="_top">Phone &amp; Broadband</a></li>

                                        </ul>
                                    </div>

                                    <div class="col-xs-6">
                                        <h5>Public Sector</h5>
                                        <ul>
                                            <li><a href="https://bheard.com/healthcare" target="_top">Your local GP</a></li>
                                            <li><a href="https://bheard.com/education" target="_top">Local Schools</a></li>
                                            <li><a href="https://bheard.com/government" target="_top">Local Councils</a></li>
                                        </ul>
                                    </div>
                                </div> --><!--/.nav__item-subnav-->
                            </li>
                            <li>
                              <a href="https://www.bheard.com/opinion" target="_top">Share Opinions</a>
                            </li>
                            <li>
                                <a href="https://www.bheard.com/seeresults" target="_top">See results</a>
                            </li>         
                        </ul>
                    </nav>
                </div><!--/.container-->
            </nav><!--/.nav-->
        </div>
    </div>
</div>