// todo this may need to be somewhere else

$vfmcolour: null;

$step: 1; // step of % for created classes
$loops: 100;

@for $i from 0 through $loops {
  .av-#{$i*$step} {
  	&::after {
		@if $i < 21 {
		$vfmcolour: $brand-terrible;
		}
		@if $i > 20 and $i < 41 {
		$vfmcolour: $brand-poor;
		}
		@if $i > 40 and $i < 61 {
		$vfmcolour: $brand-average;
		}
		@if $i > 60 and $i < 81 {
		$vfmcolour: $brand-good;
		}
		@if $i > 80 and $i < 101 {
		$vfmcolour: $brand-outstanding;
		}
		$vfmwidth: percentage($i / $loops);

		color: $vfmcolour;
		width: $vfmwidth;
  	}
  }
}

.account-value {
	width: 100%;
}

.av-cont {
	margin: 0 auto;
    position: relative;
    font-size: 36px;
    width: 107px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    font-weight: bold;

	&::before {
		display: block;
	    content: '£££££';
	    position: absolute;
	    left: 0;
	    top: 0;
		color: $gray-light;
		width: 100%;
    	text-align: left;
	}

	&::after {
		display: block;
	    content: '£££££';
	    position: absolute;
	    left: 0;
	    top: 0;
	    overflow: hidden;
	    white-space: nowrap;
	    text-align: left;
	}
}