// todo this may need to be elsewhere

.side-section {
	@extend .content-block;
}

.ss-content {
	padding: 12px 24px 0;

	.ss-content-head {
		margin-bottom: 36px;
	}
}



.ss-icon {
	text-align: center;
}

.ss-icon-pic {
	margin: 0 auto 20px;
	width: 90px;
	height: 90px;
	overflow: hidden;
	@include border-radius(50%);
	
	img {
		width: 90px;
		height: 90px;
	}

	@media (max-width: $screen-xs-max) {
		width: 60px;
		height: 60px;
		img {
			width: 60px;
			height: 60px;
		}
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 60px;
		height: 60px;
		img {
			width: 60px;
			height: 60px;
		}
	}
}

.ss-usage {
	text-align: center;
}


// supplier ranking

.ss-ranking {
	position: relative;
}

.ss-rank-list {
	margin-bottom: 24px;
	height: 348px!important;
	width: 100%;
	@include clearfix;
}

.ss-rank-list-item {
	margin: 0;
	padding: 12px 0;
	@extend .content-block;
	@include clearfix;

	&:first-child {
		margin-top: 0;
	}
}

.ss-rank-list-item-active {
}

.ss-rank-num {
	width: 25%;
	height: 60px;
	text-align: center;
	float: left;

	p {
		margin: 0;
		padding: 0;
		line-height: 60px;
		color: $brand-primary;
		font-size: floor(($font-size-base * 2.3)); // ~32px
	}
}

.ss-rank-logo {
	width: 50%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	float: left;

	@media (min-width: $screen-sm-min) {
		height: 60px;
	}

	img {
		height: 60px;
		width: auto;
	}

	.ss-rl-link {
		display: table;
		height: 60px;
		width: 100%;
	}

	.sup-no-logo {
		display: inline-block;
		line-height: 20px;
		width: 100%;
		text-align: center;
		vertical-align: middle;
		overflow: hidden;
	}
}

.ss-rank-value {
	width: 25%;
	height: 60px;
	float: left;

	p {
		margin: 0;
		padding: 0;
		line-height: 60px;
	}
}


.ss-sr-circles {
	@include clearfix;
}

// make it right banner

.make-it-right {
	margin-top: 57px;
	background: url(../images/illustrations/Illustrationof_a_man-small.png) 90% 54px no-repeat;
	background-size: 50px;
}