// Reset links

a {
  color: initial;;
  text-decoration: none;

  &:hover,
  &:focus {
    color: initial;
    text-decoration: none;
  }
}

input:focus , textarea:focus {
	border-color: $brand-accent;
 	outline: 0;
}