<div class="container ua-container layout-component__page" ng-show="!model.formSubmitted">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <section class="useraccount-main layout-component__box">
                <header>
                    <h1 class="layout-component__title">Forgot password?</h1>
                </header>
                <div class="row ua-content">
                    <div class="col-xs-12 col-sm-8">
                        <form name="form" novalidate ng-submit="form.$valid && submit(model)">
                            <div class="form-group row col-xs-12 col-sm-10">
                                <!--<label for="email">Email</label>-->
                                <input class="form-control" id="email" name="email" placeholder="Email" required type="email" ng-model="model.form.email" ng-model-options="{ updateOn: 'blur' }" b-server-validate />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && (form.email.$error.required || form.email.$error.email)">"Email" is required</p>
                                <p class="text-danger bg-danger" ng-repeat="errorMessage in form.email.$error.server">{{errorMessage}}</p>
                            </div>
                            <div class="row col-xs-12 col-sm-10 ua-button">
                                <button type="submit" class="btn pink btn-exlg btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div ng-show="model.formSubmitted">
    <div class="container layout-component__page">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <section class="useraccount-main layout-component__box">
                    <header>
                        <h1 class="pull-left layout-component__title">Thank you</h1>
                    </header>
                    <div class="row ua-content">
                        <div class="col-xs-12 col-sm-8">
                            <p>We've sent you an email with instructions on how to reset your password.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>