<div class="container ua-container layout-component__page" ng-show="!model.formSubmitted">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <section class="useraccount-main layout-component__box">
                <header>
                    <h1 class="layout-component__title">Change your password</h1>
                </header>
                <div class="row ua-content">
                    <div class="col-xs-12 col-sm-8">
                        <p>Update your personal information</p>
                        <form name="form" novalidate ng-submit="form.$valid && submit(model)">
                            <fieldset>
                                <div class="form-group">
                                    <label for="uaNewPassword">New password</label>
                                    <input type="password" class="form-control" id="uaNewPassword" placeholder="New password" name="newPassword" required ng-model="model.form.newPassword" ng-model-options="{ updateOn: 'blur' }">
                                    <p class="text-danger bg-danger" ng-show="form.$submitted && form.newPassword.$error.required">"New password" is required</p>
                                </div>
                                <div class="form-group">
                                    <label for="uaReNewPassword">Retype new password</label>
                                    <input type="password" class="form-control" id="uaReNewPassword" placeholder="New password" name="confirmNewPassword" required ng-model="model.form.confirmNewPassword" ng-model-options="{ updateOn: 'blur' }" b-match="model.form.newPassword">
                                    <p class="text-danger bg-danger" ng-show="form.$submitted && form.confirmNewPassword.$error.required">"Retype new password" is required</p>
                                    <p class="text-danger bg-danger" ng-show="form.$submitted && form.confirmNewPassword.$error.match">"Retype new password" must match "New password"</p>
                                </div>
                                <div class="row col-xs-12 col-sm-10 ua-button">
                                    <button type="submit" class="btn btn-secondary btn-block">Submit</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div ng-show="model.formSubmitted">
    <div class="container layout-component__page">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <section class="useraccount-main layout-component__box">
                    <header>
                        <h1 class="pull-left layout-component__title">Thank you</h1>
                    </header>
                    <div class="row ua-content">
                        <div class="col-xs-12 col-sm-8">
                            <p>Please <a ui-sref="login">login to B.heard</a>.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>