// read: http://csswizardry.com/2013/04/shame-css/

// MAKE SURE ANYTHING PUT IN THIS FILE HAS A REFERENCE TO WHERE IT'S BEEN USED SO WE KNOW WHAT NEEDS TO CHANGE
// THE AIM OF THIS FILE IS TO BE EMPTY
// todo put this in a 'various' or 'components' file
.pink-text {
    color: $pink;
}
.small-bold {
    font-weight: bold;
    font-size: $font-size-smallish;
}