body {
    color: $text-color;
    font-family: $font-family-sans-serif;
}

h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-h1;
    font-family: $font-family-crete-round;
}

h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-h2;
    font-family: $font-family-crete-round;
}

h3 {
    font-size: $font-size-h3;
    font-weight: $font-weight-h3;
    font-family: $font-family-crete-round;
}

h4 {
    font-size: $font-size-h4;
    font-weight: $font-weight-h4;
}

h5 {
    font-size: $font-size-h5;
    font-weight: $font-weight-h5;
}

h6 {
    font-size: $font-size-h6;
    font-weight: $font-weight-h6;
}

p {
    font-size: $font-size-base;
    font-weight: 400;
}

small {
    font-size: $font-size-small;
}
