// THIS SHOULD STAY IN THE TOP LEVEL DIRECTORY BECAUSE IT SHOULD BE CORE TO ALL THE FILES AND SHOULD BE USED
// AS MUCH AS POSSIBLE (IF IT IS BURIED IN A DIFFERENT FOLDER, PEOPLE WON'T USE IT)

// grid margins

$grid-gutter-width: 26px; // divided in half for each column


// nav bar collapse point

$grid-float-breakpoint: 992px;


// B.heard brand colours

$gray-base: #000;
$gray-darker: lighten($gray-base, 20%); // #333
$gray-dark: lighten($gray-base, 40%); // #666
$gray: lighten($gray-base, 60%); // #999
$gray-med: lighten($gray-base, 80%);
$gray-light: #eee;
$gray-lighter: lighten($gray-base, 90%); // #e6e6e6
$gray-lightest: lighten($gray-base, 95%); // #f2f2f2

$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$brand-primary: #941B80; // purple
$brand-primary-dark: #29235c; // dark blue

$brand-secondary: #8CC152; // green turquoise
$brand-tertiary: #1d70b7; // blue
$brand-quaternary: #e61b72; // bright red / pink
$brand-quinary: #a2195b; // dark red / violet
$brand-senary: #662382; // dark purple

$brand-outstanding: #3bb28f; // green turqoise
$brand-good: #84ba52; // green
$brand-average: #edb648; // light orange
$brand-poor: #d76a2c; // dark orange
$brand-terrible: #c8424e; // dull red

$brand-inverse: #fff; // white

$brand-twitter: #55acee; // twitter colour
$brand-facebook: #3b5998; // facebook colour
$brand-google: #db4437; // google colour

$brand-home: #27a9ab; // home blue - home, for companies
$brand-energy: #4ab15c; // energy green
$brand-healthcare: #2fa482; // healthcare green
$brand-money:  #008187; // money green blue
$brand-education: #355194; // education blue
$brand-insurance: #51486f; // insurance purple
$brand-phone: #06afd8; // phone forget me not blue
$brand-price: #F4A635; // price yellow
$brand-byob: #118186;
$brand-government: #006aaa; // government blue
$brand-other: #941B80;
$brand-accent: #e61b72;

$brand-changecoin: #22A9AC;

$pink: #e71d72;

$page-bg: #fbfbfb;
$page-content-border: #ece5ef;

$headings-color: $gray-darker;

$navbar-default-color: #84276e;
$navbar-default-bg: $gray-lightest;
$navbar-default-border: darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color: #000;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: transparent;//lighten($navbar-default-link-color, 60%);
$navbar-default-link-active-color: #000;
$navbar-default-link-active-bg: transparent;;//lighten($navbar-default-link-color, 60%);


// brand fonts

$text-color: $gray-base;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-crete-round: 'Crete Round', serif;
//$headings-font-family: "Century Gothic W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 100;

$font-size-base: 16px;

$font-size-big: ceil(($font-size-base * 3)); // ~48px

$font-size-h1: ceil(($font-size-base * 2.5));
$font-size-h2: ceil(($font-size-base * 2));
$font-size-h3: ceil(($font-size-base * 1.75));
$font-size-h4: ceil(($font-size-base * 1.5));
$font-size-h5: ceil(($font-size-base * 1.2));
$font-size-h6: ceil(($font-size-base * 1));

// roughly even line thickness, getting slightly bolder at smaller sizes in
// order to differentiate between paragraphs and headings

$font-weight-h1: 200;
$font-weight-h2: 200;
$font-weight-h3: 300;
$font-weight-h4: 300;
$font-weight-h5: 400;
$font-weight-h6: 600;

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	$font-size-h1: ceil(($font-size-base * 2.5)); // ~40px
	$font-size-h2: ceil(($font-size-base * 1.75)); // ~28px
	$font-size-h3: ceil(($font-size-base * 1.5)); // ~24px
	$font-size-h4: ceil(($font-size-base * 1.25)); // ~20px
	$font-size-h5: ceil(($font-size-base * 1.125)); // ~18px
	$font-size-h6: ceil(($font-size-base * 1.05)); // ~17px
}

$font-size-small: ceil(($font-size-base * 0.75)); // ~12px
$font-size-smallish: ceil(($font-size-base * 0.85)); // ~14px


// Glyphicon font location

$icon-font-path: "../fonts/";

// images path
$images-path: "/build/images/";

// buttons

$border-radius-base: 3px;
$border-radius-large: 8px;
$border-radius-small: 3px;
$border-radius-med: 5px;

$btn-default-color: #b3b2b2;
$btn-default-bg: #fff;
$btn-default-border: #b3b2b2;

$btn-secondary-color: #fff;
$btn-secondary-bg: $brand-secondary;
$btn-secondary-border: darken($btn-secondary-bg, 5%);

$btn-tertiary-color: #fff;
$btn-tertiary-bg: $brand-tertiary;
$btn-tertiary-border: darken($btn-tertiary-bg, 5%);

$btn-quaternary-color: #fff;
$btn-quaternary-bg: $brand-quaternary;
$btn-quaternary-border: darken($btn-quaternary-bg, 5%);

$btn-quinary-color: #fff;
$btn-quinary-bg: $brand-quinary;
$btn-quinary-border: darken($btn-quinary-bg, 5%);

$btn-inverse-color: $brand-primary;
$btn-inverse-bg: $brand-inverse;
$btn-inverse-border: $brand-primary;

$btn-inverse-secondary-color: $brand-secondary;
$btn-inverse-secondary-bg: $brand-inverse;
$btn-inverse-secondary-border: $brand-secondary;

$btn-inverse-tertiary-color: $brand-tertiary;
$btn-inverse-tertiary-bg: $brand-inverse;
$btn-inverse-tertiary-border: $brand-tertiary;

$btn-inverse-outstanding-color: $brand-outstanding;
$btn-inverse-outstanding-bg: $brand-inverse;
$btn-inverse-outstanding-border: $brand-outstanding;


$btn-twitter-color: #fff;
$btn-twitter-bg: $brand-twitter;
$btn-twitter-border: darken($btn-twitter-bg, 5%);

$btn-facebook-color: #fff;
$btn-facebook-bg: $brand-facebook;
$btn-facebook-border: darken($btn-facebook-bg, 5%);

$btn-google-color: #fff;
$btn-google-bg: $brand-google;
$btn-google-border: darken($btn-google-bg, 5%);


$btn-energy-color: #fff;
$btn-energy-bg: $brand-energy;
$btn-energy-border: darken($btn-energy-bg, 5%);

$btn-healthcare-color: #fff;
$btn-healthcare-bg: $brand-healthcare;
$btn-healthcare-border: darken($btn-healthcare-bg, 5%);

$btn-money-color: #fff;
$btn-money-bg: $brand-money;
$btn-money-border: darken($btn-money-bg, 5%);

$btn-education-color: #fff;
$btn-education-bg: $brand-education;
$btn-education-border: darken($btn-education-bg, 5%);

$btn-insurance-color: #fff;
$btn-insurance-bg: $brand-insurance;
$btn-insurance-border: darken($btn-insurance-bg, 5%);

$btn-phone-color: #fff;
$btn-phone-bg: $brand-phone;
$btn-phone-border: darken($btn-phone-bg, 5%);

$btn-price-color: #fff;
$btn-price-bg: $brand-price;
$btn-price-border: darken($btn-price-bg, 5%);

$btn-government-color: #fff;
$btn-government-bg: $brand-government;
$btn-government-border: darken($btn-government-bg, 5%);

$btn-border-radius-ex-large: 4px;


// navigation variables

$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;

$navbar-inverse-bg: #fff;

$navbar-inverse-link-active-color: #fff;
$navbar-inverse-link-hover-color: darken($navbar-inverse-bg,20%);
$navbar-inverse-brand-hover-bg: darken($navbar-inverse-bg,25%);

// not constant so adjust when necessary
$navbar-height: 54px;

// Border Variables
$boxes-border: 1px solid $gray-med;
// for box-shadow mixin // todo is there a way of having this as one?
$boxes-shadow-hor: 0px;
$boxes-shadow-ver: 3px;
$boxes-shadow-rad: 3px;
$boxes-shadow-spr: -1px;
$boxes-shadow-col: $gray-dark;
$boxes-shadow-op: 1;

// clearer naming

$box-shadow-x: $boxes-shadow-hor;
$box-shadow-y: $boxes-shadow-ver;
$box-shadow-blur: $boxes-shadow-rad;
$box-shadow-spread: $boxes-shadow-spr;
$boxes-shadow-color: $boxes-shadow-col;
$boxes-shadow-opacity: $boxes-shadow-op;

// easing functions

// quad easings (mild)

$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// quart easings (spicy)

$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

// standard easings

$ease-in: $ease-in-quart;
$ease-out: $ease-out-quart;
$ease-in-out: $ease-in-out-quart;

// semantic names

$ease-enter: $ease-out-quart;
$ease-exit: $ease-in-quad;
