﻿<h1>Against Breast Cancer</h1>
<a href="http://www.againstbreastcancer.org.uk/get-involved/fundraising/recycling/515/mobile-phone-recycling/" target="_blank" title="Link to Against Breast Cancer charity info page"><img src="/images/charities/againstbreastcancer.png" alt="Against Breast Cancer" /></a>
<h2>Why we chose Against Breast Cancer in Phone & Internet</h2>
<p>Against Breast Cancer has the vision to see an increased survival rate of all breast cancer patients and to discover the vaccine against breast cancer. We really admire such big visions, and the personal story of Dr Anthony & Patricia Leatham, founders of the charity.</p>
<h2>How we are helping</h2>
<p>Against Breast Cancer raises innovatively raised funds through recycling of mobile phones – we think this is great because it makes use of otherwise old and unused equipment, and because ultimately it provides vital funds for breast cancer research. Your changcoins help to support Against Breast Cancer, whether its through making use of old mobile phones or through a cash donation to the charity.</p>
<h2>About change coins</h2>
<p>Change Coins help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Change Coins that you can use to support frontline charities with cold hard cash.</p>
<%- contentFor('head') %>
<meta property="og:title" content="<%= title %>" />
<meta property="og:image" content="https://bheard.com/images/charities/againstbreastcancer-lg.png" />
<meta property="og:site_name" content="B.heard"/>
<meta property="og:url" content="https://bheard.com/charities/againstbreastcancer" />
<meta property="og:description" content="Change Coins help you make a positive social impact while inspiring companies to make a difference. Against Breast Cancer has the vision to see an increased survival rate of all breast cancer patients and to discover the vaccine against breast cancer." />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
