﻿<h1>Crosslight</h1>
<a href="http://www.crosslightadvice.org/" target="_blank" title="Link to Crosslight charity info page"><img src="/images/charities/crosslight.png" alt="Crosslight" /></a>
<h2>Why we chose Crosslight in Money</h2>
<p>Crosslight provides advice to anyone who is suffering under the burden of debt. The service they provide is completely free, and as a licensed centre, they are able to work with all creditors. Although the charity is London based, anyone is welcome.</p>
<p>If you are looking for debt advice and aren't able to access Crosslight's resources, you can <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator" target="_blank">click here to find free debt advice near you</a>.</p>
<h2>How we are helping</h2>
<p>We want to see people being freed from the burden of debt, and believe that Crosslight's work (as well as the work of many other amazing advice services across the UK) is a very practical way of relieving this burden. Your Changecoin&reg; allow us to support Crosslight in this mission.</p>
<h2>About change coins</h2>
<p>Change Coins help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Change Coins that you can use to support frontline charities with cold hard cash.</p>
<p>How does it work? Each time you change supplier, we receive a commission from your new supplier. Some commissions are larger than others – to make it clear that we don't favour the suppliers who hand out the biggest commissions, we only take an averaged amount from each commission and use what's left over to top up the Change Coin fund. When you spend your Change Coin balance on your chosen campaigns, we donate a proportional amount from the cash fund to the deserving charity.</p>
<%- contentFor('head') %>
<meta property="og:title" content="<%= title %>" />
<meta property="og:image" content="https://bheard.com/images/charities/crosslight-lg.png" />
<meta property="og:site_name" content="B.heard"/>
<meta property="og:url" content="https://bheard.com/charities/crosslight" />
<meta property="og:description" content="Change Coins help you make a positive social impact while inspiring companies to make a difference. Crosslight provides advice to anyone who is suffering under the burden of debt. The service they provide is completely free, and as a licensed centre, they are able to work with all creditors. Although the charity is London based, anyone is welcome." />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
