﻿<h1>Emmaus</h1>
<h2>Why we chose Emmaus in Local Government</h2>
<p>Emmaus looks to end homelessness. There are a wide range of reasons that people become homeless, one of the common reasons contributing to this can be a relationship breakdown, or for younger individuals, being asked to leave home by their parents. Emmaus doesn't just offer a bed for the night, they offer a home and meaningful work in social enterprises.</p>
<h2>How we are helping</h2>
<p>Your changcoins help support Emmaus' communities, which provide a home and meaningful work to those people who have experienced homelessness and exclusion. There are currently 25 Emmaus communities spread across the UK supporting around 623 formerly homeless people, and we hope that your Changecoin&reg; help Emmaus reach their target of offering at least 750 companion places by 2017.</p>
<h2>About change coins</h2>
<p>Change Coins help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Change Coins that you can use to support frontline charities with cold hard cash.</p>
<a href="https://www.emmaus.org.uk/" target="_blank" title="Link to Emmaus charity info page"><img src="/images/charities/emmaus.png" alt="Emmaus" /></a>
<%- contentFor('head') %>
<meta property="og:title" content="<%= title %>" />
<meta property="og:image" content="https://bheard.com/images/charities/emmaus-lg.png" />
<meta property="og:site_name" content="B.heard"/>
<meta property="og:url" content="https://bheard.com/charities/emmaus" />
<meta property="og:description" content="Change Coins help you make a positive social impact while inspiring companies to make a difference. Emmaus looks to end homelessness. There are a wide range of reasons that people become homeless, one of the common reasons contributing to this can be a relationship breakdown, or for younger individuals, being asked to leave home by their parents." />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
