﻿<h1>The Insurance Charities</h1>
<a href="http://www.theinsurancecharities.org.uk/" target="_blank" title="Link to The Insurance Charities charity info page"><img src="/images/charities/insurancecharities.png" alt="The Insurance Charities" /></a>
<h2>Why we chose The Insurance Charities in Insurance</h2>
<p>The Insurance Charities supports those individuals who may not have sufficient income to meet essential costs, whether it be a piece of equipment to help someone with reduced mobility, a therapy /other treatment for a particular condition, or any other pressing matter. The charity provides practical support for managing cash-flow, and assists with the application for state support for which individuals are entitled.</p>
<h2>How we are helping</h2>
<p>The Insurance Charities provides support for individuals who are past and present employees in the Insurance industry. We think that anyone who is struggling to meet their essential costs should have access to basic state support, and your Changecoin&reg; help to achieve this through The Insurance Charities.</p>
<h2>About change coins</h2>
<p>Change Coins help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Change Coins that you can use to support frontline charities with cold hard cash.</p>
<%- contentFor('head') %>
<meta property="og:title" content="<%= title %>" />
<meta property="og:image" content="https://bheard.com/images/charities/insurancecharities-lg.png" />
<meta property="og:site_name" content="B.heard"/>
<meta property="og:url" content="https://bheard.com/charities/insurancecharities" />
<meta property="og:description" content="Change Coins help you make a positive social impact while inspiring companies to make a difference. The Insurance Charities supports those individuals who may not have sufficient income to meet essential costs, whether it be a piece of equipment to help someone with reduced mobility, a therapy /other treatment for a particular condition, or any other pressing matter." />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
