﻿<h1>Mind</h1>
<a href="http://www.mind.org.uk/about-us/" target="_blank" title="Link to Mind charity info page"><img src="/images/charities/mind.png" alt="Mind" /></a>
<h2>Why we chose Mind in Healthcare</h2>
<p>Mind raises the awareness of mental health, campaigning to improve services and promote understanding. The charity takes a local approach, supporting 400,000 people across England & Wales in housing, crisis helplines, drop-in centres, employment and training schemes, counselling & befriending.</p>
<h2>How we are helping</h2>
<p>We love our health system, and want to see changes in attitudes towards mental health. Your Changecoin&reg; allow us to support Mind's work of supporting individuals with mental health problems, as well as influencing government policy.</p>
<h2>About change coins</h2>
<p>Change Coins help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Change Coins that you can use to support frontline charities with cold hard cash.</p>
<%- contentFor('head') %>
<meta property="og:title" content="<%= title %>" />
<meta property="og:image" content="https://bheard.com/images/charities/mind-lg.png" />
<meta property="og:site_name" content="B.heard"/>
<meta property="og:url" content="https://bheard.com/charities/mind" />
<meta property="og:description" content="Change Coins help you make a positive social impact while inspiring companies to make a difference. Mind raises the awareness of mental health, campaigning to improve services and promote understanding." />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
