<h1>Recycling Lives</h1>
<a href="http://www.recyclinglives.org/" target="_blank" title="Link to Recycling Lives charity info page"><img src="/images/charities/recyclinglives.png" alt="Recycling Lives" /></a>
<p>The Recycling Lives charity acts as a safety net for vulnerable and marginalised people. They offer accommodation, education, training and work experience to homeless and long-term unemployed individuals, with the aim of helping them back into full-time work and finding them a place to call their own.</p>
<p>Recycling Lives operates a tailored, six-stage process that is designed to help some of the most marginalised people in our communities into employment and independent living. Through a unique mixture of training, support, work experience – not to mention plenty of enthusiasm from the charity’s Residents themselves – they help people to rebuild their lives in safe, constructive environment.</p>
<p>While each of their Residents is on individual path to independent living, each stage of the programme lasts around five weeks. As well as weekly support sessions, they carry out a full review at the completion of every stage, covering everything from life in the charity, work placements and personal wellbeing to future goals and aspirations.</p>
<p>Residents get a weekly allowance during their time in the charity, part of which is paid into savings ready for when they move into independent living. And, from Stage Two onwards, Residents also have the opportunity to become Resident Representatives, taking on more responsibility in exchange for additional savings.</p>
<%- contentFor('head') %>
<meta property="og:title" content="<%= title %>" />
<meta property="og:image" content="https://bheard.com/images/charities/recyclinglives-lg.png" />
<meta property="og:site_name" content="B.heard"/>
<meta property="og:url" content="https://bheard.com/charities/recyclinglives" />
<meta property="og:description" content="Change Coins help you make a positive social impact while inspiring companies to make a difference. The Recycling Lives charity acts as a safety net for vulnerable and marginalised people." />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
