﻿<h1>The Centre for Social Justice</h1>
<img src="/images/charities/centre-social-justice.png" alt="The Centre for Social Justice" width="100%" />
<h2>Why we chose The Centre for Social Justice</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero fuga, culpa eius assumenda ex inventore eum sunt sed rem nisi necessitatibus dolorum ipsam voluptatibus distinctio quidem, error dolore facilis aliquid sint explicabo odit laborum. Debitis.</p>
<h2>How we are helping</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque voluptate adipisci sapiente est odio amet magnam quisquam reprehenderit maxime.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur temporibus repellendus laborum beatae atque, aliquam iste nulla cum, nesciunt enim voluptatum pariatur, facere officiis earum adipisci minus aspernatur iusto. Aliquid deserunt explicabo assumenda nam earum optio ab aut nostrum repellendus.</p>
<h2>About change coins</h2>
<p>Change Coins help you make a positive social impact while inspiring companies to make a difference. Each time you make yourself heard by commenting, leaving a review or sharing, we give you Change Coins that you can use to support frontline charities with cold hard cash.</p>
<%- contentFor('head') %>
<meta property="og:title" content="<%= title %>" />
<meta property="og:image" content="https://bheard.com/images/charities/centre-social-justice-lg.png" />
<meta property="og:site_name" content="B.heard"/>
<meta property="og:url" content="https://bheard.com/charities/socialjustice" />
<meta property="og:description" content="Change Coins help you make a positive social impact while inspiring companies to make a difference." />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
