﻿<h1>Spear</h1>
<a href="http://spearcourse.org/" target="_blank" title="Link to Spear charity info page"><img src="/images/charities/spear.png" alt="Spear" /></a>
<h2>Preparing Young People</h2>
<p>The Spear course is a pre-employment training course.</p>
<ul>
    <li>Spear equips young people with the hard skills they need to find a job, including CV writing and interview training</li>
    <li>Their approach also tackles the attitudinal and behavioural issues that employers cite as major barriers to long-term success in their young recruits</li>
    <li>Each Spear attendee leaves with increased confidence, skills to find work and a City & Guilds Level 1 Qualification in Customer Service.</li>
</ul>
<p>Ten years ago Spear started in West London with one small class of five students. Of those who graduate from the course, 75% are still in employment or training a year later.</p>
<h2>Equipping Employers</h2>
<p>Spear's experienced recruitment team work with forward-thinking businesses to place Spear candidates – those who have shown particularly strong aptitude, attitude and motivation – into suitable vacancies.</p>
<p>Spear are experts in coaching, helping employers create a culture where entry-level staff grow and achieve their full potential:</p>
<ul>
    <li>Entry-level employees receive in-work coaching</li>
    <li>Their managers receive training to equip them with coaching tools to tackle performance issues, enhance motivation and improve staff retention.</li>
</ul>
<p>We are a trusted partner for many businesses as they seek to build teams that are diverse, motivated and high-performing from the ground up. Spear's end-to-end service supports your business every step of the way.</p>
<p>Spear was a Guardian Charity Awards 2013 winner and highly commended by the Centre for Social Justice Awards in 2009.</p>
<%- contentFor('head') %>
<meta property="og:title" content="<%= title %>" />
<meta property="og:image" content="https://bheard.com/images/charities/spear-lg.png" />
<meta property="og:site_name" content="B.heard"/>
<meta property="og:url" content="https://bheard.com/charities/spear" />
<meta property="og:description" content="Change Coins help you make a positive social impact while inspiring companies to make a difference. Spear's experienced recruitment team work with forward-thinking businesses to place Spear candidates – those who have shown particularly strong aptitude, attitude and motivation – into suitable vacancies." />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
