﻿<h1>William Wilberforce Trust</h1>
<a href="http://www.williamwilberforcetrust.org/" target="_blank" title="Link to William Wilberforce charity info page"><img src="/images/charities/william-wilberforce-trust.png" alt="William Wilberforce Trust" /></a>
<h2>How they work</h2>
<p>Caring for Ex-Offenders coordinates a link between someone coming out of prison and their local church community in order to better assist the individual's successful resettlement into society. CFEO does this by training a Caring for Ex-Offenders team in a church near to where an ex-offender is relocating, in order to mentor and support them. The mentor establishes a relationship with the individual whilst they are still in prison, visits them if possible, meets them at the gate on release, helps them attend initial appointments and obtain basic needs.</p>
<p>Integrating into a community after time spent in prison can be a daunting challenge, and every individual requires a number of necessary elements to successfully live a transformed life. The Caring for Ex-Offenders team signposts ex-offenders to the resources that can help them achieve housing, employment, education, recovery from addictions, family relationships, healthcare, and debt and benefits advice. Local churches also offer a variety of resources, and willing congregation members are available to assist and direct ex-offenders through these areas, including writing CVs, filling in forms and going to interviews.</p>
<p>Through these opportunities and steps, each CFEO team is able to offer friendship and help individuals recently released from prison purposefully achieve their goals for resettlement, be less likely to offend, and live as a part of a stable community.</p>
<p><b><i>"27% fewer crimes were committed by offenders who had experienced restorative conferencing, compared with those offenders who did not"</i></b></p>
<%- contentFor('head') %>
<meta property="og:title" content="<%= title %>" />
<meta property="og:image" content="https://bheard.com/images/charities/william-wilberforce-trust-lg.png" />
<meta property="og:site_name" content="B.heard"/>
<meta property="og:url" content="https://bheard.com/charities/williamwilberforce" />
<meta property="og:description" content="Change Coins help you make a positive social impact while inspiring companies to make a difference. The William Wilberforce Trust works through the local church to confront injustice and poverty and care for those in need." />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
