<div class="row">
    <div class="col-xs-12">
        <section class="head-box">
            <div class="row row-spacer">
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <p class="hb-large-text">Make what you say, pay</p>
                </div>
            </div>
            <div class="row row-spacer">
                <div class="col-xs-12 col-sm-7 col-md-6">
                    <h2>Why Changecoin&reg;</h2>

                    <p>Changecoin&reg; help you to B.thechange by rewarding the charities and campaigns you care about. To earn Changecoin&reg;, all you have to do is make yourself heard.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <a class="btn btn-default btn-exlg btn-block" ui-sref="nominate">Nominate a charity</a>
                </div>
            </div>
        </section>
    </div>
</div>