<div class="donate-pop layout-component__box changecoin__modal" ng-show="!model.formSubmitted">
	<section class="don-content">
		<header class="dc-head">
			<h1 class="layout-component__title">Give your Changecoin&reg;</h1>
		</header>
		<div class="row" ng-if="model.form.charityId == 7">
			<div class="col-xs-12">
				<div class="dc-img">
					<img src="images/charities/spear.png" alt="Spear" />
				</div>
			</div>
		</div>
		<div class="row" ng-if="model.form.charityId == 8">
			<div class="col-xs-12">
				<div class="dc-img">
					<img src="images/charities/mind.png" alt="Mind" />
				</div>
			</div>
		</div>
		<div class="row" ng-if="model.form.charityId == 3">
			<div class="col-xs-12">
				<div class="dc-img">
					<img src="images/charities/crosslight.png" alt="Crosslight" />
				</div>
			</div>
		</div>
		<div class="row" ng-if="model.form.charityId == 5">
			<div class="col-xs-12">
				<div class="dc-img">
					<img src="images/charities/william-wilberforce-trust.png" alt="William Wilberforce Trust" />
				</div>
			</div>
		</div>
		<div class="row" ng-if="model.form.charityId == 9">
			<div class="col-xs-12">
				<div class="dc-img">
					<img src="images/charities/insurancecharities.png" alt="The Insurance Charities" />
				</div>
			</div>
		</div>
		<div class="row" ng-if="model.form.charityId == 10">
			<div class="col-xs-12">
				<div class="dc-img">
					<img src="images/charities/emmaus.png" alt="Emmaus" />
				</div>
			</div>
		</div>
		<div class="row" ng-if="model.form.charityId == 11">
			<div class="col-xs-12">
				<div class="dc-img">
					<img src="images/charities/againstbreastcancer.png" alt="Against Breast Cancer" />
				</div>
			</div>
		</div>
		<div class="row" ng-if="model.form.charityId == 13">
			<div class="col-xs-12">
				<div class="dc-img">
					<img src="images/charities/madeforchange.png" alt="Made for Change" />
				</div>
			</div>
		</div>
		<div class="row" ng-if="model.form.charityId == 14">
			<div class="col-xs-12">
				<div class="dc-img">
					<img src="images/charities/madeforchange.png" alt="Recycling Lives" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
				<div class="dc-state">
					<p class="large-subhead">Changecoin&reg; statement</p>
					<p class="large-subhead dc-state-num">{{currentUser.changeCoins}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10">
				<form class="form-inline dc-form" name="form" novalidate ng-submit="form.$valid && submit(model)">
					<label class="dc-form-label" for="cc-num">How many Changecoin&reg; would you like to give:</label>
					<div class="form-group">
						<input class="form-control" id="cc-num" min="1" name="amount" required type="number" ng-model="model.form.amount" ng-pattern="/^\d+$/" b-server-validate />
                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.amount.$error.required">"Amount" is required</p>
						<p class="text-danger bg-danger" ng-show="form.$submitted && form.amount.$error.min">"Amount" must be greater than 0</p>
						<p class="text-danger bg-danger" ng-show="form.$submitted && form.amount.$error.pattern">"Amount" must be a whole number</p>
						<p class="text-danger bg-danger" ng-repeat="errorMessage in form.amount.$error.server">{{errorMessage}}</p>
					</div>
					<button type="submit" class="btn pink btn-lg">Give Changecoin&reg;</button>
				</form>
			</div>
		</div>
	</section>	
</div>
<div class="donate-pop" ng-show="model.formSubmitted">
	<section class="don-content">
		<header class="dc-head">
			<h1>Thank you for giving</h1>
		</header>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
				<div class="dc-cc-num">
					<p>{{model.form.amount}} <img src="images/cta-coins.png" alt="Changecoin&reg;" width="40" /></p>
				</div>
				<div class="dc-cc-done">
					<span class="dc-cc-d">
						<i class="fa fa-check"></i>
						Done!
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
				<div class="dc-state">
					<p class="large-subhead">Changecoin&reg; statement</p>
					<p class="large-subhead dc-state-num">{{currentUser.changeCoins}}</p>
				</div>
			</div>
		</div>
		<div class="dc-form">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
					<a class="btn btn-secondary btn-lg btn-block" ui-sref="changecoins" ng-click="$close()">Give to another charity</a>
				</div>
			</div>
		</div>
	</section>
	<div class="dc-account">
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
				<a class="btn btn-inverse-grey btn-block" ui-sref="account.changecoinsaccount" ng-click="$close()">View my account</a>
			</div>
		</div>
	</div>
</div>
