<div class="lp-backimage">
    <b-banner-without-search b-title="Let's hear it for charity" b-text="With B.heard, you're not only helping people choose the right service, but also supporting great charities."></b-banner-without-search>
    <div class="lp-boxes cc-extra-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="lp-box lpbx-text-content layout-component__box">
                        <div class="col-xs-12">
                            <h2 class="layout-component__title">Introducing Changecoin&reg;...</h2>
                            <p>Each time you comment, leave a review or share on B.heard, you'll get Changecoin&reg; that you can use to support frontline charities.</p>
                        </div>
                    </div>
                    <div class="lp-box lpbx-text-content layout-component__box">
                        <div class="col-xs-12">
                            <h2 class="layout-component__subtitle ">How does it work?</h2>
                            <p>When you rate and review your service providers, we can then create a collective voice to help shape the type of services we all want and to help companies to provide them.</p>
                            <p>When you've built up a bank of Changecoin&reg;, you can then donate them to one of our chosen charities.</p>
                        </div>
                    </div>
                    <div class="lp-box lpbx-text-content layout-component__box">
                        <div class="col-xs-12">
                            <h2 class="layout-component__subtitle">How we give</h2>
                            <p>The campaigns we support deliver a specific, tangible impact. They all do great work in the areas where we're pushing for better service - energy, education, healthcare, money and financial services, government and phone &amp; internet.</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cc-give">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 swiper-container">
                <div class="swiper-wrapper cc-charities">
                    <div class="swiper-slide cc-c-item layout-component__box">
                        <div class="cc-c-box">
                            <div class="cc-cb-img cc-cbi-education">
                                <img class="cc-cb-inset" src="images/charities/spear-lg.png" alt="" />
                            </div>
                            <div class="cc-cb-content">
                                <h4 class="layout-component__title">Education: Spear</h4>
                                <p>Spear is an award winning employment initiative that has helped over 2,500 young people into employment or education.</p>
                                <p>The Spear team equip young people with the hard skills they need to find a job. We think they are helping create a future worth having and back them with our B.thechange Education campaign.</p>
                                <p><a ui-sref="charities.spear">Spear</a></p>
                            </div>
                            <div class="cc-cb-button" ng-show="currentUser">
                                <div class="col-xs-12">
                                    <a class="btn pink btn-block" ui-sref="changecoins.donate({ id: 7 })">Give <img style="margin-top: -3px;" src="images/icons/cc-icon-nav.png" width="14" height="20" alt="Changecoin&reg;" /> <span class="hidden-xs">to this charity</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide cc-c-item layout-component__box">
                        <div class="cc-c-box">
                            <div class="cc-cb-img cc-cbi-healthcare">
                                <img class="cc-cb-inset" src="images/charities/mind-lg.png" alt="" />
                            </div>
                            <div class="cc-cb-content">
                                <h4 class="layout-component__title">Healthcare: Mind</h4>
                                <p>Mind exists to provide advice and support to empower anyone experiencing a mental health problem.</p>
                                <p>For over 60 years the charity has campaigned to improve services, raise awareness and promote understanding. Mind's policy work influences government so that people with mental health problems can get the support they need and the respect they deserve.</p>
                                <p><a ui-sref="charities.mind">Mind</a></p>
                            </div>
                            <div class="cc-cb-button" ng-show="currentUser">
                                <div class="col-xs-12">
                                    <a class="btn pink btn-block" ui-sref="changecoins.donate({ id: 8 })">Give <img style="margin-top: -3px;" src="images/icons/cc-icon-nav.png" width="14" height="20" alt="Changecoin&reg;" /> <span class="hidden-xs">to this charity</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide cc-c-item layout-component__box">
                        <div class="cc-c-box">
                            <div class="cc-cb-img cc-cbi-money">
                                <img class="cc-cb-inset" src="images/charities/crosslight-lg.png" alt="" />
                            </div>
                            <div class="cc-cb-content">
                                <h4 class="layout-component__title">Money: Crosslight</h4>
                                <p>Crosslight Debt Advice is an independent debt and money advice charity which exists to help anyone suffering under the burden of debt, whatever the cause. Cross-lights offers advice, education, practical assistance, and ongoing support to anyone who needs it, regardless of background or circumstance.</p>
                                <p><a ui-sref="charities.crosslight">Crosslight</a></p>
                            </div>
                            <div class="cc-cb-button" ng-show="currentUser">
                                <div class="col-xs-12">
                                    <a class="btn pink btn-block" ui-sref="changecoins.donate({ id: 3 })">Give <img style="margin-top: -3px;" src="images/icons/cc-icon-nav.png" width="14" height="20" alt="Changecoin&reg;" /> <span class="hidden-xs">to this charity</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide cc-c-item layout-component__box">
                        <div class="cc-c-box">
                            <div class="cc-cb-img cc-cbi-insurance">
                                <img class="cc-cb-inset" src="images/charities/insurancecharities-lg.png" alt="" />
                            </div>
                            <div class="cc-cb-content">
                                <h4 class="layout-component__title">Insurance: The Insurance Charities</h4>
                                <p>The Insurance Charities gives vital financial and practical support to past and present employees of the insurance industry, and their dependent relatives, who are suffering financial hardship. Expert advice helps many people find the right support and direct financial assistance is provided to meet a wide range of needs.</p>
                                <p><a ui-sref="charities.insurancecharities">The Insurance Charities</a></p>
                            </div>
                            <div class="cc-cb-button" ng-show="currentUser">
                                <div class="col-xs-12">
                                    <a class="btn pink btn-block" ui-sref="changecoins.donate({ id: 9 })">Give <img style="margin-top: -3px;" src="images/icons/cc-icon-nav.png" width="14" height="20" alt="Changecoin&reg;" /> <span class="hidden-xs">to this charity</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide cc-c-item layout-component__box">
                        <div class="cc-c-box">
                            <div class="cc-cb-img cc-cbi-government">
                                <img class="cc-cb-inset" src="images/charities/emmaus-lg.png" alt="" />
                            </div>
                            <div class="cc-cb-content">
                                <h4 class="layout-component__title">Local Government: Emmaus</h4>
                                <p>Emmaus supports people to work their way out of homelessness, providing meaningful work as well a stable home for as long as someone needs it.</p>
                                <p>Companions of Emmaus Communities work full time collecting renovating and reselling donated furniture in your local area, with over 30 Companion rooms across the UK.</p>
                                <p><a ui-sref="charities.emmaus">Emmaus</a></p>
                            </div>
                            <div class="cc-cb-button" ng-show="currentUser">
                                <div class="col-xs-12">
                                    <a class="btn pink btn-block" ui-sref="changecoins.donate({ id: 10 })">Give <img style="margin-top: -3px;" src="images/icons/cc-icon-nav.png" width="14" height="20" alt="Changecoin&reg;" /> <span class="hidden-xs">to this charity</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide cc-c-item layout-component__box">
                        <div class="cc-c-box">
                            <div class="cc-cb-img cc-cbi-phone">
                                <img class="cc-cb-inset" src="images/charities/againstbreastcancer-lg.png" alt="" />
                            </div>
                            <div class="cc-cb-content">
                                <h4 class="layout-component__title">Phone &amp; Internet: Against Breast Cancer</h4>
                                <p>Against Breast Cancer funds pioneering research into new treatments, tools for earlier diagnosis and advice to reduce the risk of recurrence and secondary spread. Working with expert scientists, the charity wants to increase the survival rates of all breast cancer patients and ultimately, discover a vaccine against breast cancer.</p>
                                <p><a ui-sref="charities.againstbreastcancer">Against Breast Cancer</a></p>
                            </div>
                            <div class="cc-cb-button" ng-show="currentUser">
                                <div class="col-xs-12">
                                    <a class="btn pink btn-block" ui-sref="changecoins.donate({ id: 11 })">Give <img style="margin-top: -3px;" src="images/icons/cc-icon-nav.png" width="14" height="20" alt="Changecoin&reg;" /> <span class="hidden-xs">to this charity</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide cc-c-item layout-component__box">
                        <div class="cc-c-box">
                            <div class="cc-cb-img cc-cbi-phone">
                                <img class="cc-cb-inset" src="images/charities/madeforchange-lg.png" alt="" />
                            </div>
                            <div class="cc-cb-content">
                                <h4 class="layout-component__title">Government: Made for Change</h4>
                                <p>An innovative collaboration between London College of Fashion and the Ministry of Justice has been established at HMP Holloway, a female prison in London.<br />The Fashion Training and Manufacture Unit is a social enterprise initiative aimed at providing skills and meaningful employment for serving and recently released offenders.</p>
                                <p><a ui-sref="charities.madeforchange">Made for Change</a></p>
                            </div>
                            <div class="cc-cb-button" ng-show="currentUser">
                                <div class="col-xs-12">
                                    <a class="btn pink btn-block" ui-sref="changecoins.donate({ id: 13 })">Give <img style="margin-top: -3px;" src="images/icons/cc-icon-nav.png" width="14" height="20" alt="Changecoin&reg;" /> <span class="hidden-xs">to this charity</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide cc-c-item layout-component__box">
                        <div class="cc-c-box">
                            <div class="cc-cb-img cc-cbi-phone">
                                <img class="cc-cb-inset" src="images/charities/recyclinglives-lg.png" alt="" />
                            </div>
                            <div class="cc-cb-content">
                                <h4 class="layout-component__title">Healthcare: Recycling Lives</h4>
                                <p>Recycling Lives funds pioneering research into new treatments, tools for earlier diagnosis and advice to reduce the risk of recurrence and secondary spread. Working with expert scientists, the charity wants to increase the survival rates of all breast cancer patients and ultimately, discover a vaccine Recycling Lives.</p>
                                <p><a ui-sref="charities.recyclinglives">Recycling Lives</a></p>
                            </div>
                            <div class="cc-cb-button" ng-show="currentUser">
                                <div class="col-xs-12">
                                    <a class="btn pink btn-block" ui-sref="changecoins.donate({ id: 14 })">Give <img style="margin-top: -3px;" src="images/icons/cc-icon-nav.png" width="14" height="20" alt="Changecoin&reg;" /> <span class="hidden-xs">to this charity</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

            <div class="col-xs-12 cc-give-lead">
                <p class="text-right"><a ui-sref="nominate"><i>Nominate a charity</i></a></p>
            </div>
        </div>
    </div>
</div>
<!--<b-media-banner></b-media-banner>-->
<!-- Initialize Swiper -->
<script>
var swipercc = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    slidesPerView: 3,
    paginationClickable: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 26
})
$(window).resize(function(){
  var ww = $(window).width()
  if (ww>992) swipercc.params.slidesPerView = 3;
  if (ww>768 && ww<=992) swipercc.params.slidesPerView = 2;
  if (ww<=768) swipercc.params.slidesPerView = 1;
  swipercc.update()
})
$(window).trigger('resize')
</script>
