<div class="lp-backimage lpbi-changecoins">
    <b-banner b-title="Nominate your favourite charity" b-text="Tell us about a charity you think we should be supporting."></b-banner>
    <div class="lp-boxes lpbx-home">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <div class="lp-box lpbx-text-content">
                        <div class="make-right-container">
                            <div class="row">
                                <div class="col-xs-12" ng-show="!model.formSubmitted">
                                    <form class="make-right" name="form" ng-submit="form.$valid && submit(model)" novalidate>
                                        <section>
                                            <header>
                                                <h1>Nominate your charity</h1>
                                            </header>
                                            <div class="row mr-form-content">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="charityName">Charity name</label>
                                                        <input class="form-control" id="charityName" name="charityName" ng-maxlength="140" ng-model="model.form.charityName" ng-model-options="{ updateOn: 'blur' }" required type="text">
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.charityName.$error.required">"Charity name" is required</p>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.charityName.$error.maxlength">"Charity name" must be 140 characters or less</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="whySupport">Why should we support them?</label>
                                                        <textarea class="form-control" id="whySupport" name="whyShouldWeSupportThem" ng-maxlength="1000" ng-model="model.form.whyShouldWeSupportThem" ng-model-options="{ updateOn: 'blur' }" required rows="5"></textarea>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.whyShouldWeSupportThem.$error.required">"Why should we support them?" is required</p>
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.whyWeShouldSupportThem.$error.maxlength">"Why should we support them?" must be 1000 characters or less</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="emailAdd">Email address? <span class="small">optional</span></label>
                                                        <input class="form-control" id="emailAdd" name="email" ng-model="model.form.email" ng-model-options="{ updateOn: 'blur' }" placeholder="Email address" type="email">
                                                        <p class="text-danger bg-danger" ng-show="form.$submitted && (form.email.$error.required || form.email.$error.email)">"Email" is required</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mr-form-button">
                                                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                                    <button type="submit" class="btn btn-quinary btn-lg btn-block">Nominate charity</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p class="text-center">By clicking on "Nominate charity" you are agreeing to our <a ui-sref="terms">Terms &amp; Conditions</a></p>
                                                </div>
                                            </div>
                                        </section>
                                    </form>
                                </div>
                                <div class="col-xs-12" ng-show="model.formSubmitted">
                                    <p>We've received your nomination, thank you!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
