<div class="container ua-container layout-component__page">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <section class="useraccount-main layout-component__box">
                <header>
                    <h1 class="layout-component__title">Login to your account</h1>
                </header>
                <div class="row ua-content">
                    <div class="col-xs-12 col-sm-8">
                        <form name="form" novalidate ng-submit="form.$valid && login(model)">
                            <div class="row col-xs-12 col-sm-10 form-group">
                                <!--<label for="email">Email</label>-->
                                <input class="form-control" id="email" name="email" placeholder="Email" required type="email" ng-model="model.email" ng-model-options="{ updateOn: 'blur' }" b-server-validate />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && (form.email.$error.required || form.email.$error.email)">"Email" is required</p>
                                <p class="text-danger bg-danger" ng-repeat="errorMessage in form.email.$error.server">{{errorMessage}}</p>
                            </div>
                            <div class="row col-xs-12 col-sm-10 form-group">
                                <!--<label for="password">Password</label>-->
                                <input class="form-control" id="password" name="password" placeholder="Password" required type="password" ng-model="model.password" ng-model-options="{ updateOn: 'blur' }" b-server-validate />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && form.password.$error.required">"Password" is required</p>
                                <p class="text-danger bg-danger" ng-repeat="errorMessage in form.password.$error.server">{{errorMessage}}</p>
                                <p class="pull-right extra-margin-tb-sm"><a ui-sref="resetpassword">Forgot password?</a></p>
                                <p class="extra-margin-tb-sm"><a id="register-now-link" ui-sref="register">Register</a></p>

                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 ua-button">
                                    <button id="login-submit" type="submit" class="btn pink btn-exlg btn-block">Login</button>
                                    <button type="button" class="btn btn-twitter btn-block" ng-click="loginWithTwitter()"><i class="fa fa-twitter"></i> Login with twitter</button>
                                    <button type="button" class="btn btn-facebook btn-block" ng-click="loginWithFacebook()"><i class="fa fa-facebook-square"></i> Login with facebook</button>
                                    <button type="button" class="btn btn-google btn-block" ng-click="loginWithGoogle()"><i class="fa fa-google-plus"></i> Login with google</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
