﻿<h1>We'd like your counsel on local councils...</h1>
<p>Is your council simply rubbish? Or do they run the borough like a well-oiled machine?</p>
<%- contentFor('head') %>
<meta name="description" content="Share your opinion, review customer service and value for money for your local council with B.heard. Read
our users' reviews to find the best place to live">
