<div class="news">
  <b-banner-without-search b-title="News" b-text="Your opinion on the subjects that matter"></b-banner-without-search>
  <div class="tiles-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="tiles-filter">
            <div class="tiles-filter__button" ng-repeat="category in categories">
              <input type="checkbox" id="{{category.name}}" ng-model="category.selected" ng-click="toggleFilter($index)"/>
              <label for="{{category.name}}" >#{{category.name | removeSpaces }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" infinite-scroll="more(model)">
          <div masonry>
            <div class="masonry-brick col-xs-12 col-sm-4" ng-repeat="post in model.posts">
              <a href="" ui-sref="newspost({id: post.id })">
                <div class="tile">
                  <h4 class="tile__pre-title">{{::getNewsCategory(post)}}</h4>
                  <h3 class="tile__title">{{::post.title}}</h3>
                  <div ng-bind-html="::post.content | limitHtml : model.maxNumberOfChars" class="tile__html"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>