<div class="container layout-component__page">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="layout-component__box">
        <div class="news-content">
          <h2>{{::model.post.title}}</h2>
          <div ng-bind-html="::model.post.content"></div>
        </div>
        <div class="news-footer">
          <p>{{::model.post.published|date:'dd MMM yyyy'}}</p>
        </div>
        <div class="news-social">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div fb-like="'https://bheard.com/news/' + model.post.id"></div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div tweet="model.post.title + ' #bheard'" tweet-url="'https://bheard.com/news/' + model.post.id"></div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div google-plus="'https://bheard.com/news/' + model.post.id"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>