﻿<div class="reviewer reviewer--{{::$root.sector || $root.siteArea || 'home'}}">
  <div class="container reviewer__bubble-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        
        <div class="reviewer__bubble animated lpb-bubble lpbb-{{::$root.sector || 'home'}}">
          <img class="reviewer__image reviewer__image--home hidden-sm hidden-xs" />
          <div>
            <h3 class="reviewer__title" ng-bind-html="::title"></h3>
            <br />
            <h6 class="reviewer__caption">{{::text}}</h6>
            <form>
              <div class="reviewer__search-box">
                <input autocomplete="off" type="text" placeholder="Search and review company/organisation" class="reviewer__search-input" id="search" ng-model="name" uib-typeahead="supplier as supplier.name for supplier in search($viewValue)" uib-typeahead-on-select="select($item)">
                <button type="submit" class="reviewer__search-button" alt="Search"><i class="fa fa-pencil"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>