﻿<div class="reviewer reviewer--{{::$root.sector || $root.siteArea || 'home'}}">
  <div class="container reviewer__bubble-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="reviewer__bubble animated">
          <img class="reviewer__image reviewer__image--{{::$root.sector || 'home'}} hidden-sm hidden-xs" />
          <div>
            <h3 class="reviewer__title" ng-bind-html="::title"></h3>
            <h6 class="reviewer__caption">{{::text}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
