<ul class="chart">
    <li class="axis">
    </li>
    <!-- todo make this work without overloading happening -->
    <li ng-repeat="d in data" class="bar fm-{{$index}}"
        style="height: {{d.value|percentage:0}}; width: {{100/data.length|percentage:0}};" title="{{d.value|percentage:0}}">
        <div class="percent">{{d.value|number:0}}<span>%</span></div>
        <div class="fm-bar-text">{{d.name}}</div>
    </li>
</ul>