<div class="rating-bar" ng-class="{ 'rating-bar-small': size === 'small' }">
    <div ng-if="rating != null">
        <p class="rb-toptext" ng-show="text">{{text}}</p>
        <div class="rad-ani rad-prog-{{rating|number:0}}" data-percent="{{rating|percentage:0}}">
            <svg viewBox="-10 -10 220 220">
                <g fill="none" stroke-width="22" transform="translate(100,100)">
                    <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" class="rad-line" />
                    <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" class="rad-line" />
                    <path d="M 86.6,50 A 100,100 0 0,1 0,100" class="rad-line" />
                    <path d="M 0,100 A 100,100 0 0,1 -86.6,50" class="rad-line" />
                    <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" class="rad-line" />
                    <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" class="rad-line" />
                </g>
            </svg>
            <svg viewBox="-10 -10 220 220">
                <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" class="rad-offset"></path>
            </svg>
        </div>
        <p class="rb-bottext rb-bottext-{{::rating|ratingText}}" ng-if="showRatingText">{{::rating|ratingText}}</p>
    </div>
    <div ng-if="rating == null">
        <p class="rb-toptext" ng-show="text">{{text}}</p>
        <div class="tbc-text">TBC</div>
    </div>
</div>