<div class="b-card" ng-class="{'b-card--speech': speech !== undefined, 'b-card--compact': compact !== undefined}">
    <div class="b-card__content" ng-class="{'b-card__content--has-content': hasContent}">
        <h2 ng-if="title" class="b-card__title">{{title}}</h2>

        <p ng-if="subtitle" class="b-card__subtitle">{{subtitle}}</p>

        <ng-transclude></ng-transclude>
    </div>

    <svg class="b-card__tail" viewBox="0 0 48 48" height="48" width="48">
        <path style="fill:#fff;fill-opacity:1" d="M 0,0 0,48 48,0 Z" />
    </svg>
</div>
