﻿<div class="lp-box lpbx-alert" ng-show="donation">
    <div class="col-xs-4">
        <img src="images/icons/cc-icon-nav.png" alt="Changecoin&reg;" />
    </div>
    <div class="col-xs-8" ng-switch on="donation.event">
        <p ng-switch-when="register">Somebody just earned <!-- {{::donation.coins}} --> Changecoin&reg; for registering</p>
        <p ng-switch-when="reviewsubmission">Somebody just earned <!-- {{::donation.coins}} --> Changecoin&reg; for writing a review</p>
    </div>
    <div class="col-xs-12">
        <p class="small pull-right"><i>{{::donation.entryDate|date:'dd MMM yyyy HH:mm:ss'}}</i></p>
    </div>
</div>