<div class="rating-circle" ng-class="{ 'rating-circle-small': size === 'small' }">
    <div ng-if="rating != null">
        <p class="tbc-ed-rate-title">{{text}}</p>
        <div class="tbc-ed-rate" ng-class="{ 'tbc-ed-rate-1': rating >= 1 && rating <= 9, 'tbc-ed-rate-2': rating >= 10 && rating <= 19, 'tbc-ed-rate-3': rating >= 20 && rating <= 29, 'tbc-ed-rate-4': rating >= 29 && rating <= 38, }" ng-if="!ratingType">{{rating}}</div>
        <p class="tbc-ed-rate-txt" ng-if="showRatingText && !ratingType">{{rating|ratingText}}</p>
        <div class="tbc-ed-rate tbc-ed-rate-{{rating}}" ng-if="ratingType === 'ofsted'">{{rating}}</div>
        <p class="tbc-ed-rate-txt tbc-ed-rate-txt-{{rating}}" ng-if="showRatingText && ratingType === 'ofsted'">{{rating|ofstedRatingText}}</p>
    </div>
    <div ng-if="rating == null">
        <p class="tbc-ed-rate-title">{{text}}</p>
        <div class="tbc-text">TBC</div>
    </div>
</div>
