﻿<div class="site-container">
	<div class="header-container">
    <div ui-view="nav"></div>
	</div>
	<div class="banner-container">
		<div class="container">
        	<div ui-view="banner"></div>
        </div>
    </div>
</div>
<div ui-view class="main-content main-content--{{::$root.sector || $root.siteArea || 'home'}}"></div>
<div ui-view="footer"></div>
<div toast></div>
<!-- <div ui-view="full-screen" class="full-screen-container"></div> -->