﻿<div class="lp-box lpbx-find-co">
    <div class="row">
        <div class="col-xs-12">
            <h3>Find the best value companies</h3>
        </div>
        <div class="col-xs-12">
            <form name="form" novalidate ng-submit="form.$valid && submit(sector, postcode)">
                <div class="row row-spacer">
                    <div class="col-xs-12 col-sm-6 col-md-12 btn-xs-spacer">
                        <select class="form-control" name="sector" required ng-model="sector">
                            <option value="">Sector</option>
                            <option value="energy">Energy</option>
                            <option value="healthcare">Healthcare</option>
                            <option value="money">Money</option>
                            <option value="education">Education</option>
                            <!--<option value="insurance">Insurance</option>-->
                            <option value="phoneandinternet">Phone&amp;Internet</option>
                            <!--<option value="priceComparison">Price Comparison</option>-->
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="form-control sml-search-box">
                            <input autocomplete="off" type="text" placeholder="Postcode" class="sml-sb-input" id="search" ng-model="postcode">
                            <button type="submit" class="sml-sb-button" alt="Search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-md btn-block" alt="Search">Search Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
