﻿<p class="sup-no-logo" ng-if="!show">
	<a ng-if="noLink == false" ui-sref="{{supplier.sector}}.supplier({ id: supplier._id, '#': urlFragment })">{{supplier.name}}</a>
	<span ng-if="noLink == true">{{supplier.name}}</span>
</p>
<div class="cbc-logo" ng-if="show">
	<a ng-if="noLink == false" ui-sref="{{supplier.sector}}.supplier({ id: supplier._id, '#': urlFragment })">
		<img alt="{{supplier.name}}" class="tbl-img img-responsive" ng-show="show"
			 ng-src="{{src}}" ng-srcset="{{src}} 1x, {{src2x}} 2x" b-error="$parent.show = false" />
	</a>
	<img ng-if="noLink == true" alt="{{supplier.name}}" class="tbl-img img-responsive" ng-show="show"
		 ng-src="{{src}}" ng-srcset="{{src}} 1x, {{src2x}} 2x" b-error="$parent.show = false" />
</div>
