﻿<aside class="side-section make-it-right">
    <div class="ss-content">
    	<header class="row-spacer">
    		<h1>Make it right</h1>
    	</header>
    	<div class="row row-spacer">
	        <div class="col-xs-9">
	            <p>Have a frustrating experience with a company or service?</p>
	            <p>Tell us about it and we can help.</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12">
	            <a ui-sref="makeitright" class="btn btn-inverse btn-lg btn-block">Make it right</a>
	        </div>
		</div>
    </div>
</aside>