﻿<div class="media-container ">
     <!-- <div class="col-xs-12">  -->
       <section class="media">
         <ul class="list-inline">

  <li class="col-xs-6 col-sm-4 col-md-2 text-center media-daily-mail">
      <a href="http://www.dailymail.co.uk/news/article-3405808/BT-hire-1-000-British-staff-bring-call-centres-home-India-boost-customer-service.html" target="_blank" title="Daily Mail"><img src="images/media/daily-mail-dark.png" alt=""></a>
  </li>
           <li class="col-xs-6 col-sm-4 col-md-2 text-center media-bbc-radio">
               <a href="" target="_blank" title="BBC Radio"><img src="images/media/bbc-radio-dark.png" alt=""></a>
           </li>
           <li class="col-xs-6 col-sm-4 col-md-2 text-center media-ft">
               <a href="http://www.ft.com/cms/s/0/7fd90660-820e-11e5-a01c-8650859a4767.html" target="_blank" title="Financial Times"><img src="images/media/ft-dark.png" alt=""></a>
           </li>
           <li class="col-xs-6 col-sm-4 col-md-2 text-center media-evening-standard">
               <a href="http://www.standard.co.uk/business/tom-teichman-britain-s-mostsuccessful-digital-startup-backer-a3103176.html" target="_blank" title="London Evening Standard"><img src="images/media/evening-standard-dark.png" alt=""></a>
           </li>


  <li class="col-xs-6 col-sm-4 col-md-2 text-center media-independent">
      <a href="http://www.independent.co.uk/news/uk/home-news/the-worst-places-to-live-in-the-uk-a6770546.html" target="_blank" title="The Independent"><img src="images/media/independent-dark.png" alt=""></a>
  </li>
           <li class="col-xs-6 col-sm-4 col-md-2 text-center media-daily-express">
               <a href="http://www.express.co.uk/life-style/property/625791/Worst-place-to-live-UK-Humberside-Hull" target="_blank" title="Daily Express"><img src="images/media/daily-express-dark.png" alt=""></a>
           </li>
           <!-- <li class="col-xs-6 col-sm-4 col-md-1 text-center media-startups">
               <a href="http://startups.co.uk/b-heard-oscar-vickerman/" target="_blank" title="Startups"><img src="images/media/startups-light.png" alt=""></a>
           </li> -->
         </ul>
       </section>
  <!-- </div> -->
</div>
