﻿<nav class="nav" b-scroll ng-class="{'nav--scrolled': scrolledDown}">
    <div class="container">
        <div class="nav__topbar clearfix">
            <button class="nav__menu-button" ng-click="toggleNav = !toggleNav" ng-class="{'nav__menu-button--open' : toggleNav}" b-mobile-nav>
                <span class="nav__menu-button__icon-bar"></span>
                <span class="nav__menu-button__icon-bar"></span>
                <span class="nav__menu-button__icon-bar"></span>
                <span class="nav__menu-button__icon-bar"></span>
            </button>

            <div class="nav__logo"><a class="" ui-sref="home"><span class="sr-only">B.heard</span></a></div>

            <a href="{{getProfileLink()}}" class="nav__login" ng-class="{ 'nav__item--active' : $state.includes('login')}">
                <div ng-if="currentUser.email" class="nav__gravatar">
                    <img gravatar-src="currentUser.email" gravatar-size="100" /> <!-- define size in style sheet -->
                </div>
                <span>Join / Login</span>
            </a>
        </div>

        <nav class="nav__items" ng-class="{'nav__items--open' : toggleNav}">
            <ul>
                <li>
                    <a ui-sref="opinion" ng-click="collapseMenu()"
                       ng-class="{ 'nav__item--active' : $state.includes('opinion')}">Share Opinions</a>
                </li>
                <li>
                    <a ui-sref="review"  ng-click="collapseMenu()"
                       ng-class="{ 'nav__item--active' : $state.includes('review')}">Share Reviews</a>
                </li>
                <li>
                    <a ui-sref="switch" ng-click="collapseMenu()"
                       ng-class="{ 'nav__item--active' : $state.includes('switch')}">Switch</a>
                </li>
            </ul>
        </nav>
    </div><!--/.container-->
</nav><!--/.nav-->
