<aside class="rankings-sidebar" ng-show="::suppliers.length">
    <h3 class="rankings-sidebar__header">Rankings</h3>

    <div class="rankings-sidebar__container">
        <div class="rankings-sidebar__single-rank" ng-repeat="supplier in ::suppliers">
            <a ng-click="jumpToTop()" ui-sref="{{::supplier.sector }}.supplier({ id: supplier._id, '#': urlFragment })">
                <div class="clearfix">
                    <div class="ss-rank-num">
                        <p>#{{::supplier.rank}}</p>
                    </div>
                    <div class="ss-rank-logo">
                        <b-logo ng-model="supplier" b-url-fragment="urlFragment"></b-logo>
                    </div>
                    <div class="ss-rank-value" ng-class="{'ss-rank-value--none': supplier.reviewCount == null}">
                        <p class="small">{{::supplier.reviewCount|isNull:'No'}} Review{{supplier.reviewCount !== 1 ? 's' : ''}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <a class="button margin--bottom10 button--purple" ng-if="::supplier.sector != 'insurance'"
       ui-sref="{{::supplier.sector}}.suppliers">
        VIEW ALL RANKINGS
    </a>
    <a target="_blank" ng-if="::supplier.compareSiteUrl"
       ng-href="{{::supplier.compareSiteUrl}}" class="button">
        LIKE THEM? SEE MORE
    </a>
    <a target="_blank" ng-if="!supplier.compareSiteUrl && supplier.affiliateUrl"
       ng-href="{{::supplier.affiliateUrl}}" class="button">
        COMPARE
    </a>

    <div class="rankings-info">
        <div class="ss-info">
            <div class="ssi-main">
                <label><span></span>How our ranking works</label>
                <div class="ssi-pop">
                    <p>These rankings combine your opinion, consumer complaints logged with the regulator in each
                        sector and market pricing scores in order to give you an overall score for each supplier.
                        <br /><br />Please check our <a href="/corporate">corporate page</a> for more details.</p>
                </div>
            </div>
        </div>
    </div>
</aside>