﻿<div class="media-container ">
    <section class="media">
        <ul class="list-inline">
            <li class="col-xs-12 col-sm-2 text-center">
                <a href="https://www.ofgem.gov.uk/" target="_blank" title="Ofgem"><img src="images/reg/ofgem.png" alt=""></a>
            </li>
            <li class="col-xs-12 col-sm-2 text-center">
                <a href="http://www.ofcom.org.uk/" target="_blank" title="Ofcom"><img src="images/reg/ofcom.png" alt=""></a>
            </li>
            <li class="col-xs-12 col-sm-2 text-center">
                <a href="https://www.gov.uk/government/organisations/competition-and-markets-authority" target="_blank" title="Competition and Markets Authority"><img src="images/reg/cma.png" alt=""></a>
            </li>
            <li class="col-xs-12 col-sm-2 text-center">
                <a class="reg-text-link" href="http://www.fca.org.uk/" target="_blank" title="Financial Conduct Authority">Financial<br />Conduct<br />Authority<!-- <img src="images/reg/fca.png" alt=""> --></a>
            </li>
            <li class="col-xs-12 col-sm-2 text-center">
                <a href="https://www.ombudsman-services.org/" target="_blank" title="Ombudsman Services"><img src="images/reg/ombudsman-services-1.png" alt=""></a>
            </li>
            <li class="col-xs-12 col-sm-2 text-center">
                <a href="http://www.financial-ombudsman.org.uk/" target="_blank" title="Ombudsman Financial Services"><img src="images/reg/ombudsman-services-2.png" alt=""></a>
            </li>
        </ul>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center footer-large">Data sources used by Bheard<br />Please check our <a ui-sref="corporate">corporate page</a> for more details</p>
            </div>
        </div>
    </section>
</div>