<section class="cust-opionion">
  
  <form name="form" ng-show="!model.submittedReview" ng-submit="form.$valid && submitReview()" novalidate>
      <div class="modal-bubble animated fadeInUp">
          <h3>Who do you want to talk about?</h3>
          <div class="form-control banner-search-form">
              <input autocomplete="off" type="text" placeholder="Search organisations to review" class="banner-search-input" id="splash-search" ng-model="name" uib-typeahead="supplier as supplier.name for supplier in search($viewValue)" uib-typeahead-on-select="select($item)">
          </div>
          <div class="button-container">
              <a href="javascript:void(0);" class="button next js-next-btn" ng-class="{'animated fadeInUp' : name || model.review.suggestedCompanyName}">Next <span class="fa fa-arrow-right"></span></a>
          </div>
      </div><!-- modal-bubble -->

      <div class="modal-bubble">
          <h3>Tell us what you think?</h3>
          <textarea id="tell-us" name="organisation" placeholder="Type here to review" ng-model="model.review.text" required="required"></textarea>
          <div class="button-container">
              <a href="javascript:void(0);" class="button prev js-prev-btn animated fadeInUp"><span class="fa fa-arrow-left"></span> Previous</a>
              <a href="javascript:void(0);" class="button next js-next-btn" ng-class="{'animated fadeInUp' : model.review.text}">Next <span class="fa fa-arrow-right"></span></a>
          </div>
      </div><!-- modal-bubble -->

      <div class="modal-bubble">
          <div class="cf">
              <h3>Would you recommend them?</h3>
              <b-star-rating ng-model="model.review.overallOpinion" b-mode="recommend" required></b-star-rating>
          </div>
          <div class="button-container">
              <a href="javascript:void(0);" class="button prev js-prev-btn animated fadeInUp"><span class="fa fa-arrow-left"></span> Previous</a>
              <a href="javascript:void(0);" class="button next js-next-btn" ng-class="{'animated fadeInUp' : model.review.overallOpinion}">Next <span class="fa fa-arrow-right"></span></a>
          </div>
      </div><!-- modal-bubble -->

      <div id="review-review" class="modal-bubble">
          <h3>Your review</h3>

          <h4>Organisation</h4>

          <p>{{name.name ? name.name : name}}</p>

          <h4>Content</h4>
          <p>{{model.review.text}}</p>

          <h4>Would you recommend them?</h4>
          <fieldset class="star-rating {{highlight ? 'sr' + highlight : ''}}">
              <legend class="sr-only">Please rate:</legend>
              
              <label ng-repeat="i in [5, 4, 3, 2, 1]" class="sr-star{{i}}" ng-class="{'highlight' : model.review.overallOpinion >= i}" title="{{mode === 'recommend' ? (i|recommendText) : (i|ratingText:5)}}"><span class="sr-only">{{i}} stars</span></label>
          </fieldset>

          <label class="small">
              <input name="isCertified" ng-model="model.review.isCertified" required type="checkbox"> I certify this review is based on my own experience and is my genuine opinion in accordance with B.heard's <a href="" target="_blank" ui-sref="guidelines">User Guidelines</a>
          </label>
          <p class="text-danger bg-danger" ng-show="form.$submitted && form.isCertified.$invalid">Please certify this review is based on your own experience and is your genuine opinion</p>

          <div class="button-container">
              <a href="javascript:void(0);" class="button prev js-prev-btn animated fadeInUp"><span class="fa fa-arrow-left"></span> Previous</a>
              <button type="submit" class="button submit js-submit-btn animated fadeInUp"><span class="fa fa-check"></span> Submit your review</button>
          </div>
      </div>

      <div id="review-submitted">
          <span class="fa fa-check"></span>
          <h2 style="margin-bottom: 30px;">Thank you for your review</h2>

          <h2>Well done. Want to let people know?</h2>
          <div class="social-links">
              <div fb-like="'https://bheard.com'"></div>
              <div tweet="'I just left a review on #bheard. You can too!'" tweet-url="'https://bheard.com'"></div>
              <div google-plus="'https://bheard.com'"></div>
          </div>
          <h2>Want to see what everyone else thinks?</h2>

          <div ng-if="!name._id">
              <a href="#" onclick="jQuery('.js-modal-close').trigger('click')" class="button">{{name}}</a>
          </div>
          <div ng-if="name._id">
              <a ng-href="{{$state.href(name.sector + '.supplier', {id: name._id})}}" class="button">{{name.name}}</a>
          </div>

      </div>
  </form>
    <!-- <h2>Your opinion</h2> 
    <div class="co-box">
         <form name="form" ng-show="!model.submittedReview" ng-submit="form.$valid && submitReview(model)" novalidate>
            <div class="co-box-content">
                <div class="row">
                    <div class="col-xs-12">
                        <b-logo ng-model="supplier"></b-logo>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <fieldset ng-disabled="!supplier">
                            <p><b>How would you rate this organisation?</b></p>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="opinion-stars op-s-first">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                                <p class="op-stars-label">Would you recommend?:</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                                <div class="star-review-box">
                                                    <b-star-rating ng-model="model.review.overallOpinion" b-mode="recommend" required></b-star-rating>
                                                </div>
                                            </div>
                                            <div class="col-xs-12" ng-show="form.$submitted && form.overallOpinion.$invalid">
                                                <p class="text-danger bg-danger">Please rate this organisation before submitting your review</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="opinion-stars">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                                <p class="op-stars-label">Rating of service:</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                                <div class="star-review-box">
                                                    <b-star-rating ng-model="model.review.customerService" required></b-star-rating>
                                                </div>
                                            </div>
                                            <div class="col-xs-12" ng-show="form.$submitted && form.customerService.$invalid">
                                                <p class="text-danger bg-danger">Please rate the customer service before submitting your review</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="opinion-stars">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                                <p class="op-stars-label" ng-if="supplier.sector === 'energy' || supplier.sector === 'money' || supplier.sector === 'insurance' || supplier.sector === 'phoneandinternet'">Value for money:</p>
                                                <p class="op-stars-label" ng-if="supplier.sector === 'healthcare' || supplier.sector === 'education' || supplier.sector === 'government'">Is it a satisfying experience?:</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                                <div class="star-review-box">
                                                    <b-star-rating ng-model="model.review.valueForMoney" required></b-star-rating>
                                                </div>
                                            </div>
                                            <div class="col-xs-12" ng-show="form.$submitted && form.valueForMoney.$invalid">
                                                <p class="text-danger bg-danger">Please rate value for money before submitting your review</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <fieldset class="co-form">
                            <p><b>Could you say a little more? <span class="small">(Optional)</span></b></p>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="review">Review Title</label>
                                        <input class="form-control" id="review" name="reviewTitle" ng-maxlength="140" ng-model="model.review.title" placeholder="eg. I use this supplier" type="text" />
                                        <p class="text-danger bg-danger" ng-show="form.reviewTitle.$error.maxlength">"Review Title" must be 140 characters or less</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="pros">Review Content</label>
                                        <textarea class="form-control" id="pros" name="reviewContent" ng-maxlength="1200" ng-model="model.review.text" placeholder="eg. The Pros about this supplier are..." rows="5"></textarea>
                                        <p class="text-danger bg-danger" ng-show="form.reviewContent.$error.maxlength">"Review Content" must be 1200 characters or less</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row row-spacer">
                            <div class="col-xs-12 col-lg-offset-3 col-lg-9">
                                <div class="checkbox">
                                    <label class="small">
                                        <input name="isCertified" ng-model="model.review.isCertified" required type="checkbox"> I certify this review is based on my own experience and is my genuine opinion in accordance with B.heard's <a href="" target="_blank" ui-sref="guidelines">User Guidelines</a>
                                    </label>
                                    <p class="text-danger bg-danger" ng-show="form.$submitted && form.isCertified.$invalid">Please certify this review is based on your own experience and is your genuine opinion</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-5 col-lg-offset-1 col-lg-5">
                        <button class="btn btn-default btn-block btn-sm-spacer" ng-click="submitAnonymousReview(model)" type="submit">Submit anonymous review</button>
                    </div>
                    <div class="col-xs-12 col-md-2 col-lg-1">
                        <p class="text-center">or</p>
                    </div>
                    <div class="col-xs-12 col-md-5 col-lg-5">
                        <button class="btn btn-primary btn-block" ng-click="loginAndSubmitReview(model)" ng-if="!$root.currentUser" type="button">Login&amp;submit review</button>
                        <button class="btn btn-twitter btn-block" ng-click="loginWithTwitterAndSubmitReview(model)" ng-if="!$root.currentUser" type="submit"><i class="fa fa-twitter"></i> Login with twitter&amp;submit</button>
                        <button class="btn btn-facebook btn-block" ng-click="loginWithFacebookAndSubmitReview(model)" ng-if="!$root.currentUser" type="submit"><i class="fa fa-facebook-square"></i> Login with facebook&amp;submit</button>
                        <button class="btn btn-google btn-block" ng-click="loginWithGoogleAndSubmitReview(model)" ng-if="!$root.currentUser" type="submit"><i class="fa fa-google-plus"></i> Login with google&amp;submit</button>
                        <button class="btn btn-primary btn-block" ng-click="submitAuthenticatedReview(model)" ng-if="$root.currentUser" type="submit">Submit review</button>
                        <p class="pull-right small" ng-if="!$root.currentUser"><a href="" ng-click="registerAndSubmitReview(model)">Not registered?</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-offset-3 col-lg-9">
                        <fieldset class="" ng-if="model.mode === 'register'">
                            <header class="lp-head">
                                <h2>Register and submit</h2>
                            </header>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="reg-first-name">First name</label>
                                        <input class="form-control" id="reg-first-name" name="firstName" required type="text" ng-model="model.register.firstName" ng-model-options="{ updateOn: 'blur' }" />
                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.firstName.$error.required">"First name" is required</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="reg-last-name">Last name</label>
                                        <input class="form-control" id="reg-last-name" name="lastName" required type="text" ng-model="model.register.lastName" ng-model-options="{ updateOn: 'blur' }" />
                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.lastName.$error.required">"Last name" is required</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reg-email">Email</label>
                                <input class="form-control" id="reg-email" name="unconfirmedEmail" required type="email" ng-model="model.register.unconfirmedEmail" ng-model-options="{ updateOn: 'blur' }" b-server-validate />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && (form.unconfirmedEmail.$error.required || form.unconfirmedEmail.$error.email)">"Email" is required</p>
                                <p class="text-danger bg-danger" ng-repeat="errorMessage in form.unconfirmedEmail.$error.server">{{errorMessage}}</p>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="reg-password">Password</label>
                                        <input class="form-control" id="reg-password" name="password" required type="password" ng-model="model.register.password" ng-model-options="{ updateOn: 'blur' }" />
                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.password.$error.required">"Password" is required</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="reg-conf-password">Confirm Password</label>
                                        <input class="form-control" id="reg-conf-password" name="confirmPassword" required type="password" ng-model="model.register.confirmPassword" ng-model-options="{ updateOn: 'blur' }" b-match="model.register.password" />
                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.confirmPassword.$error.required">"Confirm password" is required</p>
                                        <p class="text-danger bg-danger" ng-show="form.$submitted && form.confirmPassword.$error.match">"Confirm password" must match "Password"</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 lp-button">
                                    <button class="btn btn-secondary btn-block" type="submit">Register and submit</button>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="" ng-if="model.mode === 'login'">
                            <header class="lp-head">
                                <h2>Login and submit</h2>
                            </header>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input b-server-validate class="form-control" id="email" name="email" ng-model="model.login.email" ng-model-options="{ updateOn: 'blur' }" required type="email" b-server-validate />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && (form.email.$error.required || form.email.$error.email)">"Email" is required</p>
                                <p class="text-danger bg-danger" ng-repeat="errorMessage in form.email.$error.server">{{errorMessage}}</p>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" name="password" ng-model="model.login.password" ng-model-options="{ updateOn: 'blur' }" required type="password" b-server-validate />
                                <p class="text-danger bg-danger" ng-show="form.$submitted && form.password.$error.required">"Password" is required</p>
                                <p class="text-danger bg-danger" ng-repeat="errorMessage in form.password.$error.server">{{errorMessage}}</p>
                                <p class="pull-right small"><a ui-sref="resetpassword">Forgot password?</a></p>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 lp-button">
                                    <button class="btn btn-secondary btn-block" type="submit">Login and submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>
        <div class="co-box-content" ng-show="model.submittedReview">
            <div class="row row-spacer">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                    <h1 class="text-center">Thank you for your <b>{{::supplier.name}}</b> review</h1>
                    <p class="text-center" ng-show="model.review.isAnonymous">Your review will appear on the site once it has been approved.</p>
                    <p class="text-center" ng-show="!model.review.isAnonymous">Your review will appear on the site once it has been approved and you will receive {{::$root.changeCoinEvents.reviewsubmission}} Changecoin&reg;.</p>
                    <p class="text-center">You can read what others say about {{::supplier.name}} below.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <a class="btn btn-inverse-tertiary btn-block" ui-sref="{{::supplier.sector}}.home">Search for another supplier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
     </div>  -->
</section>
