<div class="reviewer2">
    <div class="reviewer2__nav">
        <button class="reviewer2__nav-prev button" ng-class="{'reviewer2__nav-first': isFirst()}" ng-click="goToPrevPage()" ng-disabled="!canGoPrev()">Back</button>
        <button class="reviewer2__nav-next button" ng-class="{'reviewer2__nav-last': isLast()}" ng-click="goToNextPage()" ng-disabled="!canGoNext()">Next</button>
    </div>

    <form name="review-form" ng-show="!model.submittedReview" ng-submit="form.$valid && submitReview()">
        <b-pages id="reviewer2-pages" b-animated class="reviewer2__pages" b-selected="organisation">
            <b-card b-speech b-title="{{title}}" b-subtitle="{{caption}}" class="b-pages__page" b-name="organisation">
                <div class="reviewer2__search-box">
                    <input class="input-text" autocomplete="off" type="text" placeholder="Search and review" class="reviewer2__search" id="search" ng-model="$parent.$parent.$parent.$parent.name" uib-typeahead="supplier as supplier.name for supplier in search($viewValue)" uib-typeahead-on-select="select($item)" ng-keypress="($event.which === 13) ? goToNextPage() : 0">
                </div>
            </b-card>

            <b-card b-speech class="b-pages__page" b-name="rating">
                <h2>{{name.name || name}}</h2>
            </b-card>

            <b-card b-speech class="b-pages__page" b-name="text">
                Test
            </b-card>

            <b-card b-speech class="b-pages__page" b-name="summary">
                Test
            </b-card>
        </b-pages>
    </form>
</div>
