﻿<div class="reviewer reviewer--{{::$root.sector || $root.siteArea || 'home' }}">
  <form name="reviewForm" ng-show="!model.submittedReview" ng-submit="form.$valid && submitReview()" novalidate>
    <div class="container reviewer__bubble-container">
      <div class="col-md-{{columns}} col-md-offset-{{offset}}">
        
        <!-- Choose organisation -->
        <div class="reviewer__bubble" ng-class="{'animated' : model.page == 1, 'fadeInLeft' : model.prevPage == 2}">
          <img class="reviewer__image reviewer__image--{{::$root.sector || $root.siteArea || 'home' }} hidden-sm hidden-xs" />
          <h3 class="reviewer__title" ng-bind-html="::title"></h3>
          <h6 class="reviewer__caption" ng-bind-html="::text"></h6>
          <div class="reviewer__search-box">
            <input autocomplete="off" type="text" placeholder="Search and review company/organisation" class="reviewer__search-input" id="search" ng-model="name" uib-typeahead="supplier as supplier.name for supplier in search($viewValue)" uib-typeahead-on-select="select($item)" ng-keypress="($event.which ===13)?goToNextPage():0">
            <button type="submit" class="reviewer__search-button" alt="Search"><i class="fa fa-pencil"></i></button>
          </div>
          <div class="reviewer__progress-buttons-container">
            <button href="#top" class="reviewer__progress-button reviewer__progress-button-next" ng-click="goToNextPage()" ng-class="{'animated--inline fadeIn' : name || model.review.suggestedCompanyName}" du-smooth-scroll>Next <span class="fa fa-chevron-right reviewer__button-icon"></span></button>
          </div>
        </div>
        
        <!-- Rating -->
        <div class="reviewer__bubble" ng-class="{'animated' : model.page == 2, 'fadeInRight' : model.prevPage == 1, 'fadeInLeft' : model.prevPage == 3}">
          <h4 class="reviewer__organisation-name">{{name.name ? name.name : name}}</h4>
          <h3 class="reviewer__title">How do you rate them?</h3>
          <b-star-rating class="so-star-rating" ng-model="model.review.overallOpinion" b-mode="recommend" required ng-click="goToPageFrom(3, 2)"></b-star-rating>
          
          <div class="reviewer__progress-buttons-container animated">
            <button href="#top" class="reviewer__progress-button reviewer__progress-button-prev--visible" ng-click="goToPrevPage()" du-smooth-scroll><span class="fa fa-chevron-left reviewer__button-icon"></span></button>
            <button href="#top" class="reviewer__progress-button reviewer__progress-button-next reviewer__progress-button-next--disabled" ng-disabled="!model.review.overallOpinion" ng-class="{'animated--inline reviewer__progress-button-next--enabled' : model.review.overallOpinion}" ng-click="isDisabled || goToNextPage()" du-smooth-scroll>Next <span class="fa fa-chevron-right reviewer__button-icon"></span></button>
          </div>
        </div>
        
        
        <!-- Review text -->
        <div class="reviewer__bubble" ng-class="{'animated' : model.page == 3, 'fadeInRight' : model.prevPage == 2, 'fadeInLeft' : model.prevPage == 4}">
          <h4 class="reviewer__organisation-name">{{name.name ? name.name : name}}</h4>
          <h3 class="reviewer__title">Share your experience of them?</h3>
          <div class="reviewer__input-review-container">
            <div class="reviewer__record-button " ng-click="openRecordPopup()">
              <div class="reviewer__record-container"><h4>Record it.</h4>
                <h4>Takes 30 seconds</h4>
              </div>
            </div>
            <textarea id="review-text" class="reviewer__review-text" placeholder="Or type it here..." ng-model="model.review.text" focus-if="model.page == 3" required="required"></textarea>
          </div>
          <div class="reviewer__progress-buttons-container animated">
            <button href="#top" class="reviewer__progress-button reviewer__progress-button-prev--visible" ng-click="goToPrevPage()" du-smooth-scroll><span class="fa fa-chevron-left reviewer__button-icon"></span></button>
            <button href="#top" class="reviewer__progress-button reviewer__progress-button-next reviewer__progress-button-next--disabled" ng-disabled="!model.review.text" ng-class="{'animated_inline reviewer__progress-button-next--enabled' : model.review.text}" ng-click="isDisabled || goToNextPage()" du-smooth-scroll>Next <span class="fa fa-chevron-right reviewer__button-icon"></span></button>
          </div>
        </div>
        
        
        <!-- Review summary -->
        <div class="reviewer__bubble" ng-class="{'animated' : model.page == 4, 'fadeInRight' : model.prevPage == 3}">
          <h4 class="reviewer__organisation-name" ng-class="{'reviewer__organisation-name--semi' : !model.review.isCertified}">{{name.name ? name.name : name}}</h4>
          <div class="reviewer__star-display" ng-class="{'reviewer__star-display--semi' : !model.review.isCertified}">
              <ul class="star-display__list star-display__list--{{model.review.overallOpinion}}">
                  <li class="star-item si1"></li>
                  <li class="star-item si2"></li>
                  <li class="star-item si3"></li>
                  <li class="star-item si4"></li>
                  <li class="star-item si5"></li>
              </ul>
          </div>
          <h3 class="reviewer__review-summary-text" ng-class="{'reviewer__review-summary-text--semi' : !model.review.isCertified}">{{model.review.text | limitTo:90 | trim}}{{model.review.text.length > 90 ? '...' : ''}}</h3>

          <div class="reviewer__certify tick-circle" ng-click="model.review.isCertified = true; model.reviewSubmitted || submitReview()">
              <input class="tick-circle__checkbox" name="isCertified" id="isCertified" ng-model="model.review.isCertified" required type="checkbox">
              <label class="tick-circle__label" for="isCertified"><span></span>
                <div class="tick-circle__text">I certify this review is based on my own experience and is my genuine opinion in accordance with <a href="" target="_blank" ui-sref="guidelines">B.heard's User Guidelines</a>
                </div>
              </label>
          </div>  
          
          
          <div class="reviewer__progress-buttons-container animated">
            <button href="#top" class="reviewer__progress-button reviewer__progress-button-prev--visible" ng-click="goToPrevPage()" du-smooth-scroll><span class="fa fa-chevron-left reviewer__button-icon"></span></button>
            <button href="#top" class="reviewer__progress-button reviewer__progress-button-submit--disabled" ng-disabled="!(model.review.text && (name.name || name) && model.review.overallOpinion && model.review.isCertified)" ng-class="{'animated--inline reviewer__progress-button-submit--enabled' : model.review.isCertified}" ng-click="isDisabled || submitReview()" du-smooth-scroll>SUBMIT</button>
          </div>
        </div>
        
        <!-- Thanks page -->
        <div class="reviewer__bubble" ng-class="{'animated' : model.page == 5, 'fadeInRight' : model.prevPage == 4}">
          <img class="reviewer__image reviewer__image--{{::$root.sector || $root.siteArea || 'home' }} hidden-sm hidden-xs" />
          <div>
            <h3 class="reviewer__title">{{ getThanksTitle() }} </h3>
            <div class="reviewer__thanks-others" ng-if="name._id">
              <h6 class="reviewer__thanks-subtitle">See what other people think about...</h6>
              <a class="reviewer__thanks-organisation-name" ng-href="{{getShareUrl()}}" target="_blank">{{name.name}}</a>
            </div>
            <div class="reviewer__thanks-switch" ng-show="getSwitchData().buttons.length > 0">
              <h6 class="reviewer__thanks-subtitle" ng-bind="getSwitchData().subtitle"></h6>
              <div>
                <a class="reviewer__thanks-switch-btn reviewer__thanks-switch-btn--{{name.sector}}" ng-bind="getSwitchData().buttons[1].label" ng-href="{{getSwitchData().buttons[1].url}}" target="_blank">{{button}}</a>
                <a class="reviewer__thanks-switch-btn reviewer__thanks-switch-btn--{{name.sector}}" ng-hide="getSwitchData().buttons[2] == null" ng-bind="getSwitchData().buttons[2].label" ng-href="{{getSwitchData().buttons[2].url}}" target="_blank">{{button}}</a>
              </div>
            </div>
            <div class="reviewer__thanks-share">
            <h6 class="reviewer__thanks-subtitle">Share</h6>
              <button class="btn btn-facebook reviewer__thanks-share-btn" ng-click="shareOnFB()"><i class="fa fa-facebook-square"></i></button>
              <button class="btn btn-twitter reviewer__thanks-share-btn" ng-click="shareOnTwitter()"><i class="fa fa-twitter"></i></button>
              <button class="btn btn-google reviewer__thanks-share-btn" ng-click="shareOnGooglePlus()"><i class="fa fa-google-plus"></i></button>
            </div>
          </div>
        </div>          
      </div>
    </div>
  </form>
  
  <a ng-show="nomore == false" href="#more" du-smooth-scroll class="reviewer__down-arrow"><span></span></a>

  <a href="#" class="overlay" ng-class="{'closed': model.page === 5}"></a>
</div>