﻿<form name="form" ng-submit="submit(options)">
  <div class="search-area__search-box">
    <input autocomplete="off" type="text" placeholder="e.g. SG15 6XP" class="search-area__search-input" name="postcode" ng-model="options.postcode">
    <button type="submit" class="search-area__search-button" alt="Search"><i class="fa fa-search"></i></button>
  </div>
</form>