﻿<div class="lp-box lpbx-rank">
    <div class="col-xs-12" ng-switch on="$root.sector">
        <h2 ng-switch-when="energy">See the best UK suppliers, according to people like you</h2>
        <h2 ng-switch-when="money">The best banks and building societies, according to people like you.</h2>
        <h2 ng-switch-when="insurance">Best insurance providers as rated by people like you</h2>
        <h2 ng-switch-when="phoneandinternet">Here are the top providers, as ranked by people like you</h2>
    </div>
    <div class="col-xs-12">
        <ul class="list-unstyled lpbx-r-list" ng-if="::suppliers.length">
            <li ng-repeat="supplier in ::suppliers|limitTo:10">
                <span class="col-xs-2 col-md-1 lpbx-rl-num">{{::supplier.rank}}.</span>
                <span class="col-xs-5 col-md-8 lpbx-rl-img">
                    <b-logo ng-model="supplier"></b-logo>
                </span>
                <span class="col-xs-5 col-md-3 lpbx-rl-but">
                    <a href="" class="btn btn-{{::$root.sector}} btn-lg btn-block" ui-sref="{{::$root.sector}}.supplier({ id: supplier._id })">Review</a>
                </span>
            </li>
        </ul>
        <p ng-if="::!suppliers.length">There are currently no rankings.</p>
    </div>
    <div class="col-xs-12" ng-if="$root.sector === 'energy' || $root.sector === 'money' || $root.sector === 'phoneandinternet'" ng-switch on="$root.sector">
        <a href="" class="btn btn-energy btn-exlg btn-block" ng-switch-when="energy" ui-sref="energy.suppliers">View all suppliers</a>
        <a href="" class="btn btn-money btn-exlg btn-block" ng-switch-when="money" ui-sref="money.products.currentaccounts">View all banking products</a>
        <a href="" class="btn btn-phoneandinternet btn-exlg btn-block" ng-switch-when="phoneandinternet" ui-sref="phoneandinternet.suppliers">View all networks</a>
    </div>
</div>
