﻿<div class="" ng-switch on="$root.sector">
                        <input autocomplete="off" type="text" placeholder="Supplier name" class="banner-search-input" id="search" ng-model="name" uib-typeahead="supplier as supplier.name for supplier in search($viewValue)" uib-typeahead-on-select="select($item)">
                        <button type="submit" class="sml-sb-button ssb-down" alt="Search"><i class="fa fa-search"></i></button>
</div>
