﻿<section class="cust-review-section" ng-show="::reviews.length">
    <div class="row">
        <header class="col-xs-12">
            <h2>Latest reviews</h2>
        </header>
        <div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="review in ::reviews">
            <b-semi-skimmed-review ng-model="review"></b-semi-skimmed-review>
        </div>
    </div>
</section>
