﻿<div class="single-review sr-{{::$root.sector || $root.siteArea || 'home'}}">
    <div class="container">
        <div class="src-bubble">
            <div class="row">
                <div class="col-xs-12 src-title">
                    <div class="sr-content">
                        <h3>{{::review.supplier.name}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 src-text">
                    <div class="sr-content">{{::review.text}}</div>
                </div>
            </div>
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="star-review-box">
                            <ul class="star-list sl{{::review.overallOpinion}}">
                                <li class="star-item si5 srcs-i"></li>
                                <li class="star-item si4 srcs-i"></li>
                                <li class="star-item si3 srcs-i"></li>
                                <li class="star-item si2 srcs-i"></li>
                                <li class="star-item si1 srcs-i"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-4 col-xs-offset-4 col-md-offset-0 col-md-2">
                        <div class="src-f-helpful">
                            <a ng-click="helpful(review)" ng-disabled="review.isRated"><span
                                    class="fa fa-thumbs-o-up"></span> Helpful?</a>
                            <p>{{review.helpful}}</p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <div class="src-f-helpful">
                            <a ng-click="unhelpful(review)" ng-disabled="review.isRated"><span
                                    class="fa fa-thumbs-o-down"></span> Unhelpful?</a>
                            <p>{{review.unhelpful}}</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
