﻿<div class="skimmed-review">
  <h4 class="skimmed-review__title"><a href="" ui-sref="{{::review.supplier.sector}}.supplier({ id: review.supplier._id })">{{::review.supplier.name}}</a></h4>
  <div class="skimmed-review__star-display">
    <ul class="star-display__list star-display__list--{{::review.overallOpinion}}">
      <li class="star-item si1"></li>
      <li class="star-item si2"></li>
      <li class="star-item si3"></li>
      <li class="star-item si4"></li>
      <li class="star-item si5"></li>
    </ul>
  </div>
  <h3 ng-if="::!review.videoUrl" class="skimmed-review__text">{{::review.text|limitTo:160|trim}}{{::review.text.length > 160 ? '...' : ''}} <span ng-if="::review.text.length > 160">
      <a href="" ui-sref="singlereview({ id: review._id })" class="skimmed-review__text--link">more</a></span>
  </h3>

  <videogular ng-if="::review.videoUrl" class="skimmed-review__videogular-container" vg-theme="::videoConfig.theme" vg-player-ready="playerReady($API)" vg-update-state="stateChange($state)">
    <vg-media vg-src="::videoConfig.sources" vg-tracks="::videoConfig.tracks"></vg-media>
      <vg-overlay-play class="skimmed-review__video-overlay"></vg-overlay-play>
  </videogular>

  <div class="cr-icon">
      <img ng-if="::!review.user || !review.user.isSocial" class="cr-icon-img" ng-src="{{getUserPictureUrl()}}" alt="Anonymous Avatar" />
      <img ng-if="::review.user && review.user.isSocial" class="cr-icon-img" ng-src="{{getUserPictureUrl()}}" alt="{{::review.user.firstName}}'s Avatar" />
      <div class="cr-icon-info">
          <p ng-if="::!review.user">Anonymous<br />User</p>
          <p ng-if="::review.user">{{::review.user.firstName}}<br />{{::review.user.lastName}}</p>
      </div>
  </div>
</div>
