﻿<div class="landingpage__reviews lplr-{{::$root.sector || 'home'}}">
    <div class="container">
        <div class="row" ng-if="visibleReviews.length">
            <div class="col-xs-12 col-sm-6 col-md-3" ng-animate="'animate'" ng-repeat="review in visibleReviews">
                <b-skimmed-review review="review" video-players="videoPlayers" index="$index" set-playing="setVideoPlaying($index)"></b-skimmed-review>
            </div>
        </div>
        <div class="row landingpage__content" ng-if="!visibleReviews.length">
            <div class="col-xs-12">
                <p>There are currently no reviews.</p>
            </div>
        </div>
    </div>
</div>
