﻿<fieldset class="star-rating {{highlight ? 'sr' + highlight : ''}}">
    <legend class="sr-only">Please rate:</legend>
    <input id="{{id + '-' + i}}" name="{{name}}" type="radio" value="{{i}}" ng-model="$parent.rating" ng-repeat-start="i in [5, 4, 3, 2, 1]" ng-required="isRequired" />
    <label class="sr-star{{i}}" for="{{id + '-' + i}}" title="{{mode === 'recommend' ? (i|recommendText) : (i|ratingText:5)}}" ng-mouseout="mouseout()" ng-mouseover="mouseover(i)" ng-repeat-end><span class="sr-only">{{i}} stars</span></label>
</fieldset>