<section class="cust-opinion">

  <form name="form" ng-show="!model.submittedReview" ng-submit="form.$valid && submitReview(model)" novalidate>

      <div class="co-bubble" ng-class="{'animated' : model.page1}">
          <h3 class="co-bubble__header">How do you rate them?</h3>
          <div class="cf">
              <b-star-rating class="so-star-rating" ng-model="model.review.overallOpinion" b-mode="recommend" required></b-star-rating>
          </div>
          <textarea id="tell-us" name="organisation" placeholder="Write what you think here" ng-model="model.review.text" required="required"></textarea>
          <div class="button-container button next js-next-btn" ng-class="{'animated fadeInUp' : model.review.text && model.review.overallOpinion }" ng-click="goToSecondPage(model)">
              <a href="javascript:void(0);" class="" >Next<span class="fa fa-chevron-right"></span></a>
          </div>
      </div>

      <div class="co-bubble cob-login" ng-class="{'animated fadeIn' : model.page2}">
          <h3>Are you human?</h3>

          <div class="cob-certified tick-circle">
            <input class="tick-circle__checkbox" id="isCertified" name="isCertified" ng-model="model.review.isCertified" required type="checkbox">
            <label class="tick-circle__label" for="isCertified"><span></span>
              <div class="tick-circle__text">
                I certify this review is based on my own experience and is my genuine opinion in accordance with <a href="" target="_blank" ui-sref="guidelines">B.heard's User Guidelines</a>
              </div>
            </label>
          </div>

          <h3 ng-class="{'disabled' : !model.review.isCertified }">Login to earn <a href="" target="_blank" ui-sref="changecoins">Changecoin&reg;</a></h3>

          <div class="col-xs-12 cobl-btns" ng-class="{'disabled' : !model.review.isCertified }">
              <button class="btn btn-primary" ng-class="{'disabled' : !model.review.isCertified }" ng-click="submitAuthenticatedReview(model)" ng-if="$root.currentUser" type="submit">Submit review</button>
              <button class="btn btn-primary" ng-class="{'disabled' : !model.review.isCertified }" ng-click="loginAndSubmitReview(model)" ng-if="!$root.currentUser" type="button">B.heard Login</button> or
              <button class="btn btn-twitter" ng-class="{'disabled' : !model.review.isCertified }" ng-click="loginWithTwitterAndSubmitReview(model)" ng-if="!$root.currentUser" type="submit"><i class="fa fa-twitter"></i></button>
              <button class="btn btn-facebook" ng-class="{'disabled' : !model.review.isCertified }" ng-click="loginWithFacebookAndSubmitReview(model)" ng-if="!$root.currentUser" type="submit"><i class="fa fa-facebook-square"></i></button>
              <button class="btn btn-google" ng-class="{'disabled' : !model.review.isCertified }" ng-click="loginWithGoogleAndSubmitReview(model)" ng-if="!$root.currentUser" type="submit"><i class="fa fa-google-plus"></i></button>

              <button class="btn btn-anon" ng-class="{'disabled' : !model.review.isCertified }" ng-click="submitAnonymousReview(model)" type="submit">Or submit anonymously</button>
              <p class="small" ng-class="{'disabled' : !model.review.isCertified }" ng-if="!$root.currentUser"><a href="" ng-click="registerAndSubmitReview(model)">Not registered?</a></p>
          </div>


      <div class="cobl-register" ng-if="model.mode === 'register'">
        <h3>Register and submit</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="reg-first-name">First name</label>
                    <input class="form-control" id="reg-first-name" name="firstName" required type="text" ng-model="model.register.firstName" ng-model-options="{ updateOn: 'blur' }" />
                    <p class="text-danger bg-danger" ng-show="form.$submitted && form.firstName.$error.required">"First name" is required</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="reg-last-name">Last name</label>
                    <input class="form-control" id="reg-last-name" name="lastName" required type="text" ng-model="model.register.lastName" ng-model-options="{ updateOn: 'blur' }" />
                    <p class="text-danger bg-danger" ng-show="form.$submitted && form.lastName.$error.required">"Last name" is required</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="reg-email">Email</label>
            <input class="form-control" id="reg-email" name="unconfirmedEmail" required type="email" ng-model="model.register.unconfirmedEmail" ng-model-options="{ updateOn: 'blur' }" b-server-validate />
            <p class="text-danger bg-danger" ng-show="form.$submitted && (form.unconfirmedEmail.$error.required || form.unconfirmedEmail.$error.email)">"Email" is required</p>
            <p class="text-danger bg-danger" ng-repeat="errorMessage in form.unconfirmedEmail.$error.server">{{errorMessage}}</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="reg-password">Password</label>
                    <input class="form-control" id="reg-password" name="password" required type="password" ng-model="model.register.password" ng-model-options="{ updateOn: 'blur' }" />
                    <p class="text-danger bg-danger" ng-show="form.$submitted && form.password.$error.required">"Password" is required</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="reg-conf-password">Confirm Password</label>
                    <input class="form-control" id="reg-conf-password" name="confirmPassword" required type="password" ng-model="model.register.confirmPassword" ng-model-options="{ updateOn: 'blur' }" b-match="model.register.password" />
                    <p class="text-danger bg-danger" ng-show="form.$submitted && form.confirmPassword.$error.required">"Confirm password" is required</p>
                    <p class="text-danger bg-danger" ng-show="form.$submitted && form.confirmPassword.$error.match">"Confirm password" must match "Password"</p>
                </div>
            </div>
        </div>
        <div class="row checkbox">
          <div class="col-xs-12">
            <label>
                <input id="reg-terms" name="hasAgreedToTermsAndConditions" required type="checkbox" ng-model="model.register.hasAgreedToTermsAndConditions"> I agree to B.heard's <a href="" target="_blank" ui-sref="terms">Terms&amp;Conditions</a> and <a href="" target="_blank" ui-sref="guidelines">User Guidelines</a>
            </label>
            <p class="text-danger bg-danger" ng-show="form.$submitted && form.hasAgreedToTermsAndConditions.$invalid">Please agree to B.heard's Terms&amp;Conditions and User Guidelines</p>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12 lp-button">
                <button class="btn btn-secondary btn-block" type="submit">Register and submit</button>
            </div>
        </div>
      </div>
      <div class="cobl-login" ng-if="model.mode === 'login'">
        <div>
              <h3>Login and submit</h3>
          <div class="form-group">
              <label for="email">Email</label>
              <input b-server-validate class="form-control" id="email" name="email" ng-model="model.login.email" ng-model-options="{ updateOn: 'blur' }" required type="email" b-server-validate />
              <p class="text-danger bg-danger" ng-show="form.$submitted && (form.email.$error.required || form.email.$error.email)">"Email" is required</p>
              <p class="text-danger bg-danger" ng-repeat="errorMessage in form.email.$error.server">{{errorMessage}}</p>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" id="password" name="password" ng-model="model.login.password" ng-model-options="{ updateOn: 'blur' }" required type="password" b-server-validate />
              <p class="text-danger bg-danger" ng-show="form.$submitted && form.password.$error.required">"Password" is required</p>
              <p class="text-danger bg-danger" ng-repeat="errorMessage in form.password.$error.server">{{errorMessage}}</p>
              <p class="pull-right small"><a ui-sref="resetpassword">Forgot password?</a></p>
          </div>
          <div class="row">
              <div class="col-xs-12 lp-button">
                  <button class="btn btn-secondary btn-block" type="submit">Login and submit</button>
              </div>
          </div>
        </div>
      </div>

    </div>


  </form>
      <div class="co-bubble" ng-class="{'animated fadeIn' :model.submittedReview}" >
          <h3>Thank you for your review</h3>
          </div>

      </div>
</section>
