﻿<div class="col-xs-12 col-md-8">
    <div class="lp-box lpbx-search lpbx-s-home">
        <div class="col-xs-12">
            <form>
                <div class="form-control banner-search-form">
                    <input autocomplete="off" type="text" placeholder="Search organisations to review" class="banner-search-input" id="search" ng-model="name" uib-typeahead="supplier as supplier.name for supplier in search($viewValue)" uib-typeahead-on-select="select($item)">
                    <button type="submit" class="banner-search-button" alt="Search"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="col-xs-12">
            <p class="lpbx-s-arrow"><b>B.heard, don't be silenced.</b></p>
        </div>
    </div>
</div>
