﻿<section class="profile-list">
<div class="col-xs-offset-1 col-xs-10 swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="item in items">
            <div class="ph-swipe-content">
                <div class="ph-swipe-icon">
                    <a href="" title="{{::item.title}} - {{::item.text}}"><img ng-src="{{::item.image}}" alt="{{::item.title}}" /></a>
                </div>
                <div class="ph-swipe-text hidden-xs">
                    <h5>{{::item.title}}</h5>
                    <p>{{::item.text}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="swiper-button-container"><div class="swiper-button-prev"></div></div>
<div class="swiper-button-next"></div>
</section>