﻿<div class="lp-box lpbx-alert">
    <div class="col-xs-4">
        <img src="images/logos/energy/british-gas.png" srcset="images/logos/energy/british-gas.png 1x, images/logos/energy/british-gas@2x.png 2x" alt="British Gas" />
    </div>
    <div class="col-xs-8">
        <p>Somebody switched their energy supplier to British Gas</p>
    </div>
    <div class="col-xs-12">
        <p class="small pull-right"><i>50 seconds ago</i></p>
    </div>
</div>
