<div class="b-tooltip">
    <div class="b-tooltip__revealer" ng-class="{'b-tooltip__revealer--circle': circle !== undefined}">{{revealer}}</div>
    <div class="b-tooltip__scrim"></div>

    <div class="b-tooltip__content-wrapper" ng-class="{'b-tooltip__content-wrapper--suspended': suspended !== undefined}">
        <b-card b-compact class="b-tooltip__content">
            <ng-transclude></ng-transclude>
        </b-card>
    </div>
</div>
