﻿<div class="cust-review">
    <div class="row">
        <div class="col-xs-12 cr-title">
            <h3>Your Review</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="cr-icon">
                <div class="cr-icon-img">
                    <img ng-attr-alt="{{::review.user.firstName}} {{::review.user.lastName}}" ng-if="::!review.user" src="images/default-avatar.png" />
                    <img ng-attr-alt="{{::review.user.firstName}} {{::review.user.lastName}}" ng-if="::review.user && !review.user.isSocial" ng-src="https://www.gravatar.com/avatar/{{::review.user.hash}}" />
                    <img ng-attr-alt="{{::review.user.firstName}} {{::review.user.lastName}}" ng-if="::review.user && review.user.twitterId" ng-src="{{::review.user.twitterPictureUrl}}" />
                    <img ng-attr-alt="{{::review.user.firstName}} {{::review.user.lastName}}" ng-if="::review.user && review.user.facebookId && !review.user.twitterId" ng-src="https://graph.facebook.com/{{::review.user.facebookId}}/picture" />
                    <img ng-attr-alt="{{::review.user.firstName}} {{::review.user.lastName}}" ng-if="::review.user && review.user.googleId && !review.user.twitterId && !review.user.facebookId" ng-src="{{::review.user.googlePictureUrl}}" />
                </div>
                <div class="cr-icon-info">
                    <p ng-if="::!review.user">Anonymous</p>
                    <p ng-if="::review.user">{{::review.user.firstName}} {{::review.user.lastName}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="cr-stars">
                <div class="star-review-box">
                    <ul class="star-list sl{{::review.overallOpinion}}">
                        <li class="star-item si5"></li>
                        <li class="star-item si4"></li>
                        <li class="star-item si3"></li>
                        <li class="star-item si2"></li>
                        <li class="star-item si1"></li>
                    </ul>
                </div>
                <div>
                    <p class="cr-s-text">{{::review.overallOpinion|ratingText:5}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="cr-content">
                <div class="cr-review">

                    <!--scroll to top here too?-->
                    <h4 class="cr-review-head"><a href="" ui-sref="singlereview({ id: review._id })">{{::review.title|limitTo:70|trim}}</a></h4>
                    <p>{{::review.text|limitTo:170|trim}}{{::review.text.length > 170 ? '...' : ''}} <span ng-if="::review.text.length > 170" class="cr-more"><a href="" ui-sref="singlereview({ id: review._id })">more</a></span></p>
                </div>
                <div class="cr-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="row row-spacer">
                                <div class="col-xs-8">
                                    <a class="btn btn-inverse btn-block btn-xs btn-xs-spacer" ng-click="helpful(review)" ng-disabled="review.isRated">Helpful?</a>
                                </div>
                                <div class="col-xs-4">
                                    <p class="cr-f-helpful">{{review.helpful}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row row-spacer">
                                <div class="col-xs-8">
                                    <a class="btn btn-inverse-grey btn-block btn-xs btn-xs-spacer" ng-click="unhelpful(review)" ng-disabled="review.isRated">Unhelpful?</a>
                                </div>
                                <div class="col-xs-4">
                                    <p class="cr-f-helpful">{{review.unhelpful}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p class="text-right">{{::review.created|date:'dd MMM yyyy'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
