﻿<div class="video-reviews__container">
  <div class="container">
    <div class="row" ng-if="reviews.length">
        <div class="col-xs-12 col-sm-6 col-md-3 video-review__container"  ng-repeat="review in reviews">
          <b-video-review review="review" players="players" index="$index"></b-video-review>
        </div>
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.video-reviews__container-->