﻿<div class="skimmed-review skimmed-review--only-video">
  <videogular ng-if="::review.videoUrl" class="skimmed-review__videogular-container skimmed-review__videogular-container--only-video"
              vg-theme="::videoConfig.theme" vg-player-ready="playerReady($API)" vg-update-state="stateChange($state)" vg-can-play="canPlay()" vg-preload="'metadata'">

      <!-- todo check if tracks is needed -->
      <vg-media vg-src="::videoConfig.sources" vg-tracks="::videoConfig.tracks"></vg-media>

      <vg-overlay-play class=""></vg-overlay-play>
    </videogular>
</div>