<div class="video-modal">
  <videogular class="" vg-player-ready="onPlayerReady($API)" vg-theme="::config.theme" vg-auto-play="true">
    <vg-media vg-src="::config.sources"></vg-media>
    <vg-overlay-play class="skimmed-review__video-overlay"></vg-overlay-play>
  </videogular>
</div>